<p>Mis estadísticas jugando a las diferentes entregas de la saga Assassin's Creed:</p>

<ul>
    <li>Assassin's Creed II - 79,57% (24,5 horas)</li>
    <li>Assassin's Creed II Brotherhood - 46,04% (13 horas)</li>
    <li><a href="/2012/01/juegos-assassins-creed-revelations-demo.html">Assassin's Creed II Revelations</a> - 58,69% (12 horas)</li>
    <li><a href="/2014/09/juegos-assassins-creed-iii-xbox-360.html">Assassin's Creed III</a> - 37%  (15 horas)</li>
    <li><a href="/2015/02/juegos-assassins-creed-iv-black-flag.html">Assassin's Creed IV</a> - 62% (25 horas)</li>
    <li><a href="/2017/08/juegos-assassins-creed-rogue.html">Assassin's Creed Rogue</a> (25 horas)</li>
    <li><a href="/2017/07/juegos-assassins-creed-unity-ps4.html">Assassin's Creed Unity</a> - 44% (33 horas)</li>
    <li><a href="/2017/08/juegos-assassins-creed-syndicate-ps4.html">Assassin's Creed Syndicate</a> - <strong>88%</strong> (<strong>40 horas</strong>)</li>
</ul>
