---
layout: post
title: "¿Adiós cámara de fotos?"
summary: "¿Tiene sentido tener una cámara de fotos en 2020?"
header_image: /uploads/2020/11/canon-s5-is.jpg
main_image: /uploads/2020/11/canon-ixus.jpg
tags: [fotografía, personal, reflexiones]

---

<p>Si la memoria no me traiciona, mi primera cámara de fotos propia fue una <a href="https://www.sonriaalacamara.com/item/werlisa-club-color">Werlisa Club Color</a> que algún familiar (no recuerdo quién) me regaló por mi primera comunión. He de reconocer que he tenido que buscar en Internet para saber cuál era el modelo. Sólo recordaba la marca, Werlisa, y que el botón era de color verde.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/werlisa-club-color.jpg', 'caption': 'Werlisa Club Color (foto de <a href="https://www.photomuseum.es/index.php/es/component/k2/item/264-werlisa-club-color-tipo-b">Photomuseum</a>)', 'position': 'center'} %}

<p>Sin embargo, no fue esa la cámara con la que disparé mis primeras fotos. Había en casa otra cámara compacta, más antigua, de la que casi no tengo recuerdos y que, por tanto, no he podido localizar. Y mis padres también tenían una réflex de Canon, una AT-1 o similar, que mi padre tuvo la santa paciencia de enseñarme a manejar. Recordemos que todos los controles eran manuales: el enfoque, la velocidad de obturación, por no hablar del montaje y desmontaje del carrete y el mismo hecho de pasarlo hasta la siguiente foto. El manejo del carrete daría para un post entero. Tanto si no lo colocabas bien como si lo velabas al extraerlo, podías arruinar las fotos de unas vacaciones. No obstante, yo siempre que podía intentaba hacer las fotos con la réflex. Quedaban muchísimo mejor, aunque no podías saberlo hasta que las llevabas a revelar.</p>

<p>Mucho más tarde, ya en este siglo, por fin me compré mi primera cámara de fotos digital, una Canon Powershot A70, en 2003. Cinco años más tarde, en 2008, con la A70 averiada por un fallo de diseño (el objetivo dejaba de desplegarse por un problema mecánico), pasé a una Canon S3 IS, que me salió defectuosa (tenía un píxel muerto en el sensor) pero con la que me hice todas las fotos de un viaje a Francia antes de devolverla y comprar la que tengo hasta ahora, una Canon S5 IS. Con tal historial de defectos, ¿por qué no he cambiado de marca? No sé, manías.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/canon-s5-is.jpg', 'alt': 'Canon S5 IS', 'position': 'center'} %}

<p>En casa no es que fuéramos unos fotógrafos empedernidos, pero cada año llenábamos como poco un álbum con los momentos más importantes: principalmente los cumpleaños, las vacaciones, las fiestas navideñas y alguna visita especial a algún museo o localidad, o bien alguna reunión familiar. Como contrapartida, conservo pocas o ninguna foto del colegio, ni tampoco de la academia de música o de inglés, cuestión que me atormenta de tanto en tanto.</p>

<p>Cuento todo este rollazo para poner un poco de contexto sobre la reflexión que quería hacer a continuación. El año pasado, en febrero, nació nuestro primer hijo Óscar. Obviamente nos hemos hartado de hacerle fotos y vídeos. Pues bien, la primera foto con una cámara "de verdad" (la I5) se la hice a finales de junio. Y no sé cuántas le habré hecho desde entonces, pero no muchas más. ¿Con qué le hacemos las fotos? Con los móviles.</p>

<p>Las cámaras llevan meses metidas en el cajón. No sólo la mía, que se podría decir que es un poco más "incómoda". Es que mi mujer tiene una IXUS y tampoco la usa. Todo con el móvil. Es cierto que las fotos quedan muy bien cuando las ves en la pantalla del smartphone, y luego al revisarlas en el ordenador te das cuenta de los defectos. Pero es lo más cómodo. Sacrificas calidad a cambio de poder compartirlas instantáneamente con tus familiares y amigos, tenerlas disponibles desde cualquier lugar en la palma de tu mano e, incluso, de que las propias aplicaciones te recuerden las fotos que hiciste hace uno, dos o diez años.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/canon-ixus.jpg', 'alt': 'Canon IXUS', 'position': 'center'} %}

<p>El mes pasado estuvimos una semana en la playa y, como ya me rondaba este pensamiento por la cabeza, me llevé la IXUS. Resultado: se pasó el viaje en la maleta.</p>

<p>No abandono mi viejo sueño de comprar una buena cámara réflex. Porque, cuando he tenido ocasión de usar una, se pueden llegar a hacer unas fotos espectaculares. Ni comparación con aquella vieja AT-1 de los 80. Pero tampoco me gustaría gastar el dinero para tenerla metida en un cajón, visto lo visto. Y una réflex cuesta sus buenos billetes, más si te metes en algo de cierta calidad y compras uno o dos objetivos adicionales.</p>

<p>Otro día hablamos de imprimir las fotos. Porque hacemos muchas fotos pero, al menos yo, no las contemplamos con calma, como se hacía antaño, en las tardes de lluvia del invierno, saboreando aquellos álbumes que condensaban los momentos más importantes del año. No sé si es por la abrumadora cantidad o por la ausencia de soporte físico, pero es un ritual que se ha perdido.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/albumes-de-fotos.jpg', 'alt': 'Álbumes de fotos', 'position': 'center'} %}

<p>PS: Hasta las fotos de este blog hace años que las hago con el móvil.</p>
