---
layout: post
title: "Mi 2020 en videojuegos"
summary: "Resumen estadístico de mi año 2020 jugando a videojuegos."
header_image: /uploads/2020/12/estadisticas-nintendo-2020-1.png
main_image: /uploads/2020/12/estadisticas-nintendo-2020-1.png
last_update_date: 2021-02-07
tags: [nintendo, personal, playstation, videojuegos]

---

<p>No ha estado el año como para hacer balance, ni revisar los planes hechos hace ahora 12 meses. Bastante hemos tenido con llegar hasta aquí de la mejor manera posible. Pero ya que los fabricantes de consolas (en este caso Nintendo) nos proporcionan las estadísticas de uso anuales, por aquello de compartirlas en redes sociales y darles algo de bombo, voy a dejar las mías por aquí.</p>

<p>La lista de juegos es un poco sorprendente, ya que no hay ningún juego "first" de Nintendo. Aunque tampoco es de extrañar; los grandes títulos, Zelda y Mario, ya los jugué en años anteriores, de los últimos que han sacado, todavía tengo pendientes Luigi's Mansion 3 y el remake de Zelda: Link's Awakening.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-1.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-2.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-3.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-4.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-5.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-6.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-7.png', 'alt': '', 'position': 'center'} %}

<p>Si en algún momento Sony tiene a bien enviar la información de PlayStation, actualizaré la entrada para añadirla.</p>

<p>Del resumen de actividades deportivas que también suelo compartir, este año mejor nos olvidamos. Y del número de publicaciones en el blog, también.</p>

<h3>Actualización 7 de febrero de 2021</h3>

<p>Esta semana la gente de Sony ha compartido las <a href="https://www.wrapup.playstation.com/es-es/06e9c1925de53611c996825ded34caccd690d42378c4435552c528ac26432843/">estadísticas anuales de 2020</a>.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/02/estadisticas-playstation-2020-1.jpg', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2021/02/estadisticas-playstation-2020-2.jpg', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2021/02/estadisticas-playstation-2020-3.jpg', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2021/02/estadisticas-playstation-2020-4.jpg', 'alt': '', 'position': 'center'} %}
