---
layout: post
title: "Juegos: UnMetal (Switch)"
summary: "Después de un AAA como The Last Of Us II, viene bien un indie para desengrasar un poquito. Y, ojo, que indie no es sinónimo de corto, ni simple, ni aburrido"
header_image: /uploads/2022/07/unmetal-cabecera.jpg
main_image: /uploads/2022/07/unmetal-switch.jpg
tags: [análisis videojuegos, nintendo, switch, unepic fran]
widgets: [now-playing]

---

<p>UnMetal es un juego desarrollado por <a href="http://unepicfran.com/">Francisco Téllez de Meneses</a>, también conocido como <a href="https://twitter.com/unepic_fran">unepic_fran</a>. Diría que pretende ser un homenaje a los <a href="https://metalgear.fandom.com/es/wiki/Metal_Gear_(juego)">Metal Gear de MSX</a>, pero con un toque muy personal y con ciertas concesiones a la jugabilidad moderna (puntos de guardado, trofeos, etc.). Normalmente este tipo de juegos suelen estar fuera de mi alcance, ya que sólo se publican en Steam y para Windows. Pero algunos, cada vez más, dan el salto a Switch, que es la plataforma donde puedo disfrutarlos con más comodidad. Siempre que no se resienta el rendimiento, porque hay algunas conversiones que dan pena.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-switch.jpg', 'alt': 'UnMetal para Nintendo Switch', 'position': 'center'} %}

<p>Se trata de un juego de acción/videoaventura, en el sentido de los juegos de los 80. Somos Jesse Fox, un civil que ha sido encarcelado por error en una base militar, de la que tendremos que escapar. Iremos explorando el escenario tratando de recabar pistas, recolectando objetos, armas, esquivando y neutralizando enemigos, en una perspectiva isométrica frontal con gráficos <em>pixel art</em> que, como comentaba al principio, recuerda mucho al clásico Metal Gear de Konami.</p>

<p>Y no sólo en eso, sino en otros detalles como las conversaciones por radio:</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-radio.jpg', 'alt': 'Conversaciones por radio', 'position': 'center'} %}

<p>O la necesidad de ser sigilosos porque, una vez se dé la voz de alarma, acudirán tantos enemigos que será imposible que logremos superarlos:</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-alarma.jpg', 'alt': 'Si los enemigos nos sorprenden y dan la alarma, estamos perdidos', 'position': 'center'} %}

<p>O la pantalla de fin de partida, que los mancos como yo visitaremos con bastante asiduidad:</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-game-over.jpg', 'alt': 'Fin de partida', 'position': 'center'} %}

<p>Por el tratamiento de los objetos del inventario, también recuerda a las aventuras gráficas clásicas, como Monkey Island o Indiana Jones:</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-inventario.jpg', 'alt': 'Tenemos buenos bolsillos para llevar multitud de objetos y armas', 'position': 'center'} %}

<p>Y, por supuesto, no faltarán los enfrentamientos con diversos "jefes finales", cada uno de los cuales tendrá su propio punto débil que tendremos que encontrar y explotar:</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-boss.jpg', 'alt': 'Tendremos que superar a un buen puñado de jefes si queremos terminar el juego', 'position': 'center'} %}

<p>También está plagado de detalles bastante originales. O, al menos, a mí me lo han parecido. Por ejemplo, la manera de guardar la partida consiste en ir a hacer pis al váter. Pero, ojo, si conseguimos orinales, podemos hacer pis, es decir, guardar la partida en cualquier otra localización. Cuando consigamos llegar de nuevo a un váter, podremos vaciar los orinales que hayamos usado.</p>

<p>O, por ejemplo, que una de las condiciones para poder avanzar en el juego es que no podemos matar a nadie. Esto es así hasta cierto punto, no quiero estropear los detalles, pero está muy bien hilado y es una de las mecánicas principales del juego. Y además está perfectamente justificada con el argumento, no es una restricción impuesta para alargar la duración o subir la dificultad.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-mision-fallida.jpg', 'alt': 'Si queremos completar nuestra misión no podemos matar a ningún ser vivo', 'position': 'center'} %}

<p>El argumento es desternillante, salpicado con numerosas referencias de la cultura pop, algunas más rancias que otras (hola, Torrente), y demuestra una vez más cómo para contar una historia interesante no hace falta un grandísimo presupuesto, sino usar las herramientas adecuadas. Porque no te engancha lo que cuenta (al fin y al cabo es un argumento que podría ser el de cualquier película de acción), sino cómo lo cuenta. Desde luego que a mí me ha encantado.</p>

<p>El juego se divide en varias fases, 10 para ser exactos. Al final de cada una de ellas se nos informará de cuánta experiencia hemos conseguido acumular y cuántos secretos hemos encontrado. Que ese es otro detalle que me ha gustado. Cada vez que subamos de nivel, tendremos que escoger entre dos mejoras. Pero nunca podremos conseguir ambas, así que las decisiones que tomemos deberán ser acorde con nuestra forma de jugar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-fase-superada.jpg', 'alt': 'Fase superada. Lo de los secretos ya lo dejamos para otro día', 'position': 'center'} %}

<p>He tardado unas 9 horas en completar el juego. He extraído la información del control parental de la consola, así que dicho tiempo tiene en cuenta muertes y reintentos. Pensaba que había ido bastante lento, pero <a href="https://howlongtobeat.com/game?id=81659">en Howlongtobeat se indica que el juego dura unas 10 horas</a>, así que ni tan mal. Para variar, no he conseguido todos los trofeos; ahí quedan pendientes por si algún día me da por retomarlo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/unmetal-trofeos.jpg', 'alt': 'Trofeos de UnMetal', 'position': 'center'} %}

<p>Me he dejado algunas cosas en el tintero, pero es que tampoco quiero contarlo todo. Creo que merece muchísimo la pena jugarlo. Es muy accesible, lo que no quita que en el nivel medio de dificultad ya suponga cierto reto. Tiene una gran variedad de mecánicas que logran sorprender y sacar una sonrisa. Además, está doblado al español e inglés, y las músicas de fondo son de esas que se te quedan en la cabeza cuando dejas de jugar. Y, si no quieres pagar su precio completo, que no es elevado, no es difícil encontrarlo de oferta con un poco de paciencia.</p>
