---
layout: post
title: "Juegos: Galacticon (Switch)"
summary: "Continúa la historia de Ellie (y algunos nuevos personajes) tras los acontecimientos de la primera entrega."
header_image: /uploads/2022/07/tlou2-cabecera.jpg
main_image: /uploads/2022/07/the-last-of-us-ii-ps4.jpg
text_date: Lunes, 18 de julio de 2022
tags: [análisis videojuegos, nintendo, switch, unepic fran]
widgets: [now-playing]
draft: true

---

<p>El pasado mes de mayo, concreamente el día 14, encontré, por fin, el estado de ánimo necesario para embarcarme en la última producción (hasta el momento) de <a href="https://www.naughtydog.com/">Naughty Dog</a>. Porque sabía que iba a necesitar cierta actitud para enfrentarme a la historia que me iban a contar.</p>

<p>Aunque empecé a jugar en PlayStation 4, enseguida <a href="/2022/05/ya-esta-aqui-ya-llego-la-playstation-5.html">se cruzó en mi camino la PS5</a>, así que el cambio de plataforma era casi obligado. En la nueva generación podemos disfrutar de un apartado técnico más fluido, a 60 frames por segundo. Si bien no había avanzado mucho, pude traspasar la partida de una consola a otra, por lo que no fue necesario volver a empezar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-ambientacion-postapocaliptica.jpg', 'alt': 'Volvemos al mundo postapocalíptico de los infectados', 'position': 'center'} %}

<p>Han pasado ya casi 4 años desde que jugué a la primera parte. Es interesante revisitar <a href="/2018/11/juegos-the-last-of-us-remastered-ps4.html">lo que escribí en aquella ocasión</a> porque la mayoría de los puntos pueden aplicarse a esta entrega. Podría intentar centrarme en las diferencias, pero es que apenas las hay. Por supuesto, el juego es más grande, más bonito (si cabe), más detallado, el doble de largo, pero la manera de jugar es la misma, con muy pocas diferencias, y ninguna de ellas de calado. En esta ocasión, además, no hay DLC ni modo multijugador.</p>

<p>Completar el juego me ha llevado casi 26 horas. He de confesar que se me ha hecho largo y pesado. No creo que lo hubiera dejado a medias en ningún caso, pero hubiera agradecido una duración más contenida. Sobre todo porque las primeras 18 ó 20 horas (la cifra es inventada, pero para que os hagáis una idea) se hacen muy repetitivas en cuanto a lo que son las mecánicas de juego: explorar, infectados, humanos, recolectar, mejorar armas, potenciar habilidades y vuelta a empezar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-duracion.jpg', 'alt': 'Casi 26 horas me ha costado completar el juego', 'position': 'center'} %}

<p>Ocultarnos de los enemigos para evitar ataques frontales, explorar todas las zonas en busca de objetos, economizar munición, mejorar las armas, potenciar tus habilidades, algún susto que otro, etc.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-arbol-habilidades.jpg', 'alt': 'Recolectando las suficientes píldoras iremos mejorando nuestras habilidades', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-mejoras-armas.jpg', 'alt': 'Encontraremos bancos de trabajo en los que mejorar nuestras armas, si hemos recogido la cantidad suficiente de "tornillería"', 'position': 'center'} %}

<p>En algunas ocasiones necesitaremos códigos para abrir puertas o cajas fuertes. Por lo general no estarán muy lejos, así que tampoco será necesaria una exploración profunda de los escenarios. Eso sí, creo recordar que algún código estaba en un elemento del decorado no interactivo. Pero, por lo demás, no serán difíciles de encontrar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-contrasenas.jpg', 'alt': 'Una hoja con las contraseñas de las puertas de los diferentes controles desplegados por la ciudad', 'position': 'center'} %}

<p>En este juego la parte narrativa es muy importante. Podremos visionar bastantes minutos de escenas de "vídeo" (no son tales, sino que las genera el propio motor). Incluso algunas nos parecerán sin sentido, pero todo tiene un porqué; lo iremos descubriendo a medida que avanza la trama. Trama que, por cierto, está contada desde dos puntos de vista (no quiero entrar en detalles para no desvelar nada a quien quiera jugar) y salpicada con los manidos flashbacks para ponernos en contexto. Al principio también se ofrece un somero resumen de los acontecimientos de la primera parte, por si alguien no ha jugado o no los recuerda.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-escena-narrativa.jpg', 'alt': 'Las escenas no interactivas tienen su importancia', 'position': 'center'} %}

<p>Al final el ritmo acelera, y nos enfrentaremos a ciertas situaciones que sí que me han parecido interesantes. Pero, como digo, hasta que llegas ahí, ya casi que estás deseando terminar.</p>

<p>El apartado gráfico es impresionante. Se nota que han puesto mucho mimo (y dinero, claro) en modelar todos los escenarios. En PlayStation 5 se mueve muy fluido y luce espectacularmente.</p>

<p>Por ejemplo, encontraremos referencias a la cultura pop consumida por la catástrofe.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-dance-dance-revolution.jpg', 'alt': 'En estos recreativos abandonados había una máquina de baile', 'position': 'center'} %}

<p>E incluso pequeños homenajes, como este que se le hace a Uncharted.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-referencia-uncharted.jpg', 'alt': 'Pequeño homenaje a Uncharted. ¿Habrá más?', 'position': 'center'} %}

<p>Otro tema son los fallos técnicos. Parece mentira que, con estos presupuestos, tiempos de desarrollo y magnitud de los equipos, el motor siga adoleciendo de ciertos defectos. Que no empañan para nada la experiencia pero, dado el enfermizo grado de perfeccionismo que se aprecia en el apartado gráfico (por poner un ejemplo, hay zonas enteras modeladas en las que no hay nada que hacer), resulta algo desconcertante.</p>

<p>Aquí podemos ver cómo la cabeza del caballo atraviesa la parada de autobús.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-errores-motor-colisiones.jpg', 'alt': 'Errores del motor de colisiones', 'position': 'center'} %}

<p>O bien este otro caso donde nuestros acompañantes bloquean el paso y no nos dejan entrar por esa puerta. Menos mal que se puede acceder también por la zona posterior.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-errores-bloqueo-paso.jpg', 'alt': 'Nuestros compañeros nos bloquean el paso', 'position': 'center'} %}

<p>El juego ha tenido peor acogida que la primera parte. Estamos en una época en la que, por desgracia, todo se lleva a los extremos: o lo amas o lo odias. Y hay mucha gente exaltada en Internet con mucho tiempo libre para soltar mierda. Intentando ser lo más objetivo posible podría decir que, con los mismos mimbres, nos cuenta una historia diferente. A mí, aunque hay algunos detalles que no me acaban de cuadrar, el argumento me ha gustado y, no tanto por la historia en sí, sino por la forma de contarla y las sensaciones que te transmite. Desde luego que no te deja indiferente. Pero la hubiera preferido en formato libro o serie de televisión.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/07/tlou2-mascotas.jpg', 'alt': 'Esta mascota no va a acabar bien. Son detalles que buscan hacer mella en el jugador', 'position': 'center'} %}

<p>Ahora es momento de ir a por otros juegos un poco más "ligeros". Y, por supuesto, el trofeo de platino ahí se va a quedar. No porque sea complicado de conseguir (que no lo es), sino porque requiere prácticamente volver a pasarse el juego. Y ahora no es el momento de gastar esa cantidad de horas en dicho cometido.</p>
