---
layout: post
title: "Juegos: Horizon Zero Dawn (PS4)"
summary: "Otro de los exclusivos AAA del catálogo de la consola de Sony. Ya me van quedando menos por jugar."
header_image: /uploads/2022/10/horizon-zero-dawn-cabecera.jpg
main_image: /uploads/2022/10/horizon-zero-dawn.jpg
tags: [análisis videojuegos, guerrilla, playstation 4, playstation 5, sony]
widgets: [now-playing]
---

<p>Horizon Zero Dawn es un juego tan afamado y se han escrito tantas cosas sobre él, que la verdad poco más podría añadir que sea de interés. Es un título de "mundo abierto" al uso, de los muchos que últimamente han triunfado, y que yo mismamente he jugado y disfrutado (véanse franquicias como Assassin's Creed, GTA, Red Dead Redemption, etc.). Sin embargo, hay algo en él que no me ha terminado de enganchar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/horizon-zero-dawn-titulo.jpg', 'alt': 'Horizon Zero Dawn', 'position': 'center'} %}

<p>He estado cotilleando el historial de su desarrolladora, <a href="https://es.wikipedia.org/wiki/Guerrilla_Games">Guerrilla Games</a>, y veo que no he jugado a ninguna de sus obras anteriores (básicamente las de la franquicia Killzone). Quizás si lo hubiera hecho, lo ignoro, hubiera tenido alguna intuición sobre lo que me iba a encontrar.</p>

<p>Empecé a jugar el 4 de septiembre, a la vuelta de vacaciones. Aunque es un juego de PlayStation 4, lo he jugado en PlayStation 5, con lo que se supone que tiene algunas mejoras de rendimiento &mdash;principalmente 60 frames por segundo&mdash;, aunque las nuevas capacidades del DualSense no se aprovechan en absoluto.</p>

<p>Pese a la suavidad, hay algo en el control que no me acaba de convencer, y que no soy capaz de explicar. Es como que me siento torpe y, a veces, me atasco, y no soy capaz de moverme hacia donde quiero, superar las zonas de plataformeo o apuntar a los enemigos correctamente. Y no es un tipo de torpeza como el de <a href="/2019/07/juegos-red-dead-redemption-ii-ps4.html">Read Dead Redemption 2</a>, a la que te terminas acostumbrando. Tuve esa sensación desde el principio hasta el final.</p>

<p>Algo que me ha disgustado de primeras es que, terminas una misión de la historia principal, y en la siguiente te hacen ir a la otra punta del mapa. Me parece una forma muy artificial (y aburrida) de prolongar la duración del juego. Además, al principio no existe la posibilidad de hacer "viaje rápido" y, cuando la obtienes &mdash;de una manera que, si te descuidas, casi ni te das cuenta, por cierto&mdash;, consume recursos cada vez que la empleas. Lo natural es ir abriendo el mapa poco a poco, en vez de ir dando bandazos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/horizon-zero-dawn-estadisticas.jpg', 'alt': 'Estadísticas', 'position': 'center'} %}

<p>Otro aspecto que particularmente me aburre es la "economía del juego". En este caso tenemos que estar constantemente recolectando elementos (plantas curativas, ramas, etc.) para construir flechas, recuperar nuestra energía perdida, conseguir más huecos para llevar armas y objetos y, en definitiva, ir construyendo un personaje más fuerte. En este caso, en vez de meter horas, ya que soy un poco torpe, lo he suplido bajando la dificultad al nivel "fácil". Creo que es la primera vez que lo hago en un juego de este tipo.</p>

<p>También me he encontrado algunos bugs que no deberían tener cabida en un título con este presupuesto y con marchamo de exclusividad en la plataforma de Sony. No sólo en lo referente a ciertas zonas en las que nos podemos quedar atascados como en ciertos fallos absurdos, como <a href="https://www.reddit.com/r/horizon/comments/nthi5l/im_stuck_because_the_game_wont_let_me_rappel_down/">el que ocurre al terminar una misión y que nos hace imposible continuar porque la mecánica de bajar en rápel no se activa</a>.</p>

<p>Como digo, la mecánica no me ha gustado, o quizás no he sido capaz de adaptarme a ella. Sin embargo, la historia sí que me llamó la atención, quizás no tanto en un primer momento pero sí a partir de cierto punto no demasiado avanzado. Algo que sembró en mi ánimo cierto desasosiego a la hora de jugar; por un lado, me daba mucha pereza ponerme pero, por otro, quería conocer más sobre la historia de Aloy.</p>

<p>Así que así, a base de hurtarme horas de sueño, he ido avanzando día a día (o, mejor dicho, noche a noche).</p>

<p>Una vez que llegué al "jefe final" y me enfrenté a él, viendo que además hay un límite de tiempo para acabar con su energía, rebajé una vez más el nivel de dificultad, a "modo historia", para poder ver el final del juego sin invertir ya mucho más tiempo. En total me ha llevado algo más de 36 horas; en la web de referencia <a href="https://howlongtobeat.com/game/53247">Howlongtobeat se indica que dura unas 30</a>.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/horizon-zero-dawn-tiempo-de-juego.jpg', 'alt': 'Tiempo de juego', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2022/10/horizon-zero-dawn-estadisticas.jpg', 'alt': 'Estadísticas', 'position': 'center'} %}

<p>Me duelen dos cosas de mi experiencia con HZD. Uno, la combinación de una historia de las que más me han enganchado de los últimos juegos que he terminado con una jugabilidad de las que menos he disfrutado. De hecho, he terminado el juego por la historia, sin duda. Y, dos, tener la segunda parte, Horizon Forbidden West, ahí precintada y por la que pagué 80 eurazos (culpa del <a href="/2022/05/ya-esta-aqui-ya-llego-la-playstation-5.html">megapack que tuve que comprar si quería tener la PS5</a>).</p>

<p>Claro que jugaré a la segunda parte, ya que la tengo, pero ahora mismo no sé cuándo. De momento me apetece cambiar de aires.</p>


