---
layout: post
title: "Juegos: Crash Bandicoot 4: It's About Time (PS4)"
summary: "Un muy buen juego de plataformas que actualmente pasa un tanto desapercibido entre tanto AAA sandbox y shooter"
header_image: /uploads/2022/10/crash-bandicoot-4-cabecera.jpg
main_image: /uploads/2022/10/crash-bandicoot-4.jpg
tags: [activision, análisis videojuegos, plataformas, playstation 4]
widgets: [now-playing]

---

<p>No os vayáis a pensar que, 5 días después de terminar <a href="/2022/10/juegos-horizon-zero-dawn-ps4.html">Horizon Zero Dawn</a>, me ha dado para empezar y terminar un juego de la talla de Crash Bandicoot 4. Ahora os cuento cómo ha sido la cosa.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-menu.jpg', 'alt': 'Crash Bandicoot 4: Menú', 'position': 'center'} %}

<p>Desde los tiempos de PlayStation he sido muy fan de Crash. La de Sony fue mi primera consola (de sobremesa, la segunda si tenemos en cuenta la Game Boy) y en la que retomé mi querencia por los juegos de plataformas que, por fortuna, habían evolucionado mucho desde los tiempos del Spectrum. Me había perdido todo el catálogo de 8 y 16 bits de consolas de sobremesa, ya que comencé a disfrutarlo más tarde, justo cuando empecé a coleccionar retro. Aunque en Amiga sí que es cierto que le eché horas a algunos juegos de plataformas. Recuerdo con cariño títulos como Super Frog, James Pond II: Codename Robocod o Wolfchild (este último con más acción).</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-mapa.jpg', 'alt': 'Crash Bandicoot 4: Mapa', 'position': 'center'} %}

<p>El caso es que, en su momento, le di mucho a los juegos de la trilogía en PlayStation. También jugué en 2005 a <a href="/2005/03/juegos-crash-bandicoot-xs-gba.html">Crash Bandicoot XS para Game Boy Advance</a>, en los comienzos de este blog. Así que seguí con expectación la noticia de que, tras el remake de aquellos primeros juegos, se iba a lanzar una nueva entrega. No obstante, es un juego de los que, por los motivos que sea, nunca ha llegado a estar bien de precio, o al menos yo no lo he visto. Así que creo que no lo hubiera comprado (ya tengo demasiados juegos y no doy abasto). Pero la cosa cambió en junio de 2022, cuando resultó ser uno de los <a href="https://blog.latam.playstation.com/2022/06/29/juegos-mensuales-de-playstation-plus-para-julio-crash-bandicoot-4-its-about-time-man-of-medan-arcadegeddon/">juegos incluidos con la suscripción a PlayStation Plus</a>. Era mi oportunidad.</p>

<p>Empecé a jugar el 11 de julio. Pensaba que me daría tiempo a terminarlo antes de las vacaciones, pero no fue así. Una de las últimas pantallas se me atascó bastante, y tardé varios días en pasármela. Así que llegué a la penúltima pantalla el 5 de agosto y ahí lo dejé (obligatoriamente, ya que al día siguiente nos marchamos de vacaciones). A la vuelta se cruzó <a href="/2022/10/juegos-horizon-zero-dawn-ps4.html">Horizon Zero Dawn</a> en mi camino. Así que, hasta que no terminé con las aventuras de Aloy, no volví a retomar este juego que nos ocupa. Y ya fue directamente para terminarlo, porque estaba a las puertas del final.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-jefe.jpg', 'alt': 'Crash Bandicoot 4: Uno de los jefes de final de fase', 'position': 'center'} %}

<p>Esta vez no me voy a extender demasiado en el comentario. Sigue la estela de sus predecesores con las evidentes mejoras gráficas que el paso de los años y la mejora de la potencia de las máquinas le han permitido. Pero las mecánicas se ciñen bastante a las que se definieron en su momento, lo cual me parece un acierto, ya que forman parte de la personalidad de la franquicia. Aunque un juego de plataformas va de lo que va: de ajustar los saltos, de recoger monedas, frutas o lo que toque, y de enfrentarnos a algún enemigo especial de vez en cuando, este título mantiene la esencia de las entregas anteriores.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-corriendo-delante-del-t-rex.jpg', 'alt': 'Volverán las clásicas persecuciones corriendo "hacia la cámara"', 'position': 'center'} %}

<p>Además, en esta ocasión hacen aparición las <a href="https://crash.fandom.com/es/wiki/Máscaras_Cuánticas">Máscaras Cuánticas</a>, cada una de las cuales nos ofrecerá un poder/habilidad: alternar entre la dimensión normal y la alternativa, ralentizar el tiempo, invertir el sentido de la fuerza de la gravedad o usar la materia oscura para ejecutar un salto en el aire que nos permite flotar durante unos segundos. Los diseñadores del juego han creado nuevos retos variados a partir de estas mecánicas, y la verdad es que resultan divertidos y desafiantes a partes iguales.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-mascaras.jpg', 'alt': 'Crash Bandicoot 4: Una de las máscaras que aparecen en el juego', 'position': 'center'} %}

<p>Podemos jugar la historia con Crash, pero también con Coco. Y, en algunas fases, controlaremos a otros personajes secundarios (incluido el Profesor Neo Cortex), cada uno de los cuales tiene movimientos y mecánicas peculiares.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-dingo-dile.jpg', 'alt': 'Jugando con Dingo Dile', 'position': 'center'} %}

<p>He disfrutado muchísimo jugándolo. No es excesivamente difícil, pero tampoco es un paseo. Algunas pantallas me han costado bastantes intentos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-autobuses.jpg', 'alt': 'Esta fue una de las fases que se me atragantaron un poco', 'position': 'center'} %}

<p>Y, además, batir al enemigo final no quiere decir que hayamos exprimido el juego: quedan pendientes muchas tareas si queremos llegar al 100%; es un título que ofrece horas y horas de diversión.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-fin-de-fase.jpg', 'alt': 'Crash Bandicoot 4: No es fácil superar el 100% de cada fase', 'position': 'center'} %}

<p>Como digo, no es un juego barato. Creo que eso podría echar para atrás a más de uno (a mí mismo). Porque si se pudiera encontrar por los manidos 20 euros, ya llevaría meses en mi estantería. Pero, si te van los títulos de plataformas, desde luego que este ofrece retos variados para aburrir. Para que os hagáis una idea, no sé cuántas horas le habré echado (el juego no lo indica), pero sólo he completado el 36% del contenido. Mi <a href="https://howlongtobeat.com/game/80317">web de referencia para estos menesteres</a> indica que se tardan unas 10 horas en ver el final, y 85 en completar el 100%. Ya os digo yo que se me antojan hasta pocas, porque algunos retos son muy, pero que muy complicados.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/10/crash-bandicoot-4-final.jpg', 'alt': 'Crash Bandicoot 4: Final', 'position': 'center'} %}
