---
layout: post
title: "Lecturas: El Mundo del Spectrum +"
summary: "Continuación del libro publicado por el equipo de EMS el año pasado en el que ahonda en otros aspectos del famoso ordenador británico de los 80"
header_image: /uploads/2018/07/el-mundo-del-spectrum-plus.jpg
main_image: /uploads/2018/07/el-mundo-del-spectrum-plus.jpg
text_date: Martes, 31 de julio de 2018
tags: [lecturas, retroinformática, spectrum]

---

<p>Mi acercamiento a este segundo volumen ha sido totalmente distinto al que tuve con <a href="/2017/04/lecturas-el-mundo-del-spectrum.html">el primer libro</a>. En esta ocasión lo compré al poco de publicarse pero, en vez de devorarlo de cabo a rabo, he preferido degustarlo a pequeños sorbos, leyendo un puñado de páginas según me ha ido apeteciendo, hasta que he llegado al final.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/07/el-mundo-del-spectrum-plus.jpg', 'alt': 'El Mundo del Spectrum +', 'position': 'center'} %}

<p>Personalmente este libro me ha gustado más que el otro, y recalco que es una percepción subjetiva porque no se trata de que el libro sea mejor o peor que el primero; los conocimientos del equipo y el cariño con el que se ha redactado el volumen están a la par. Sin embargo, los temas tratados a mí me han resultado más interesantes, por la sencilla razón de que las historias que contaron en el anterior me resultaban ya familiares, mientras que desconocía bastantes aspectos de las que se narran en éste, lo cual ha devenido en un mayor disfrute por mi parte.</p>

<p>Técnicamente el libro mantiene el mismo tipo de maquetación de la primera entrega. Como dije en su momento, es visualmente llamativo pero no se conforma con ser un caramelo para nuestros ojos, sino que tiene mucho texto que paladear. Por otro lado, si bien todavía se han colado algunas erratas, así como pequeñas incoherencias de estilo, se nota que se ha realizado un esfuerzo en mejorar el proceso de revisión y corrección respecto al libro anterior, o al menos es la percepción que yo tengo.</p>

<p>La primera parte del libro se centra en las personas, haciendo un repaso de la biografía de un buen puñado de pioneros tanto británicos como españoles. La segunda mitad se centra en desgranar las diferentes disciplinas que entraban en juego a la hora de desarrollar <em>software</em> para el Spectrum, como son los manuales de instrucciones y libros técnicos, el apartado gráfico, el sonoro, la narrativa y las carátulas de los juegos. Para terminar destacando la influencia que ha tenido el mítico ordenador en años posteriores.</p>

<p>Nuevamente tengo que agradecer a Jesús Martínez del Vas que haya dedicado un rato de su valioso tiempo para dedicarme personalmente este ejemplar y así poder atesorar un pellizco de su arte.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/07/ems-plus-dedicatoria-jmv.jpg', 'alt': 'El Mundo del Spectrum + - dedicatoria de JMV', 'position': 'center'} %}

<p>Aunque han quedado cosas que contar, parece que el equipo de EMS no tiene planes en el horizonte de lanzar una tercera entrega. No obstante, siempre nos queda seguir su <a href="http://www.elmundodelspetrum.com/">web</a> y su podcast, que seguirán alimentando nuestra curiosidad sobre todo lo acontecido durante aquellos años y sus protagonistas, manteniendo siempre un hueco para la actualidad relacionada con nuestro adorado ordenador.</p>
