---
layout: post
title: "El peligro de las compras por Internet"
summary: "Pequeño problema que me ha sucedido comprando por Amazon. Aunque también podría haber ocurrido hace 30 años comprando por correo"
header_image: /uploads/2018/10/pes-2019-estafa-exterior.jpg
main_image: /uploads/2018/10/pes-2019-estafa-exterior.jpg
text_date: Miércoles, 10 de octubre de 2018
tags: [amazon, internet, personal]

---

<p>Esta vez parecía que la espera para adquirir mi ración anual de Pro Evolution Soccer a un precio máximo de 35 euros iba a ser más corta de lo habitual. La semana pasada me llegó una alerta de precio de Amazon que avisaba de que podía conseguir la versión francesa (de importación) por un precio de unos 33 euros. Normalmente los juegos que se distribuyen en Europa son iguales para todos los países, variando como mucho lo que es la carátula. Y, más aun en este caso, el idioma es lo de menos, así que me animé a pedirlo.</p>

<p>Según la información de seguimiento de Amazon, el juego llegaba hoy, y así ha sido, puntualmente. No venía en el envoltorio típico de cartón de Amazon, pero al ser un producto de importación, pues tampoco le di mayor importancia. Voy a ser sincero: con la "emoción" del precio no me fijé en que no era un producto propio de Amazon, sino que lo gestionaba un tercero.</p>

<p>Total, que lo saqué del sobre acolchado en el que venía y noté algo raro. Pensé: esta carátula parece una fotocopia, cada vez recortan más gastos en las ediciones físicas. Pero como venía retractilado y con la típica tira que pone PS4 y que se supone que sólo llevan los originales, lo metí en la mochila sin más.</p>

<p>Al volver del trabajo ya tenía más o menos planificada la tarde, pero sí que me iba a dar tiempo a sacar el juego y, al menos, echar un partidillo de prueba. Así que os podéis imaginar cuál fue la cara que se me quedó cuando desprecinté la caja, sin prestar especial atención,</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/10/pes-2019-estafa-exterior.jpg', 'alt': 'PES 2019. La carátula ya tenía mala pinta', 'position': 'center'} %}

<p>y me encontré con esto:</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/10/pes-2019-estafa-interior.jpg', 'alt': 'PES 2019 "gotcha edition" comprado en Amazon', 'position': 'center'} %}

<p>Mi duda razonable antes de ponerme en contacto con Amazon era: "¿cómo iba a poder demostrar que eso era lo que me había llegado y no era yo intentando pasarme de listo?". Exacto, no tenía forma de hacerlo. Así que llamé (en realidad me llamaron ellos), un teleoperador me atendió amablemente y, tras unos minutos de espera, me dijo que no me preocupara, que me devolvían el dinero (cosa que ocurrirá durante la próxima semana, espero).</p>

<p>No sé cuál habrá sido su criterio para fiarse de mí, si mirar mi historial de compras u otra cosa, pero el caso es que ya no es por el dinero (que también) ni por la decepción de no poder jugar según tenía planeado (que es lo de menos), sino la sensación de impotencia al no tener una manera de demostrar que algo ha ocurrido como ha ocurrido.</p>

<p>Este es uno de los puntos flojos del comercio electrónico, pero no es algo nuevo, sino que ya podía darse en la época de la venta por catálogo. En definitiva, tiene que haber una relación de confianza entre el vendedor y el comprador, incluso cuando la transacción se realiza de forma presencial, y eso es algo que no siempre ocurre. En el pasado se ha dado el caso de tiendas que dejaron de enviar pedidos a España precisamente porque los envíos eran gratuitos, sin certificar, y había mucha gente que decía que el envío se había perdido (lo cual era mentira) a fin de que les devolvieran el dinero o les enviaran otro producto. Y, al revés, se han dado casos de vendedores (normalmente en sitios de compra/venta de segunda mano) que han captado el dinero y han enviado un ladrillo envuelto, o nada, y si te he visto, no me acuerdo.</p>
