---
layout: post
title: "PlayStation VR 2"
summary: "¡Yo las tengo ya! Mi razón principal de compra de la PlayStation 5"
header_image: /uploads/2023/03/psvr2-cabecera.jpg
main_image: /uploads/2023/03/psvr2.jpg
last_update_date: 2023-07-21
tags: [playstation 5, playstation vr, realidad virtual, sony, videojuegos, yolotengoya]

---

<p>Ya lo dije cuando se anunció Gran Turismo 7, aunque todavía faltaban por precisarse muchos detalles: ese será el juego por el que me compraré la PlayStation 5 y la nueva generación de PlayStation VR. Y así ha sido.</p>

<p>La verdad es que podría (y debería) haber postergado la compra de ambas cosas. Soy plenamente consciente de que debería haber esperado a comprar la consola a su precio de venta normal, cuando se estabilizase el stock. Y también debería haber esperado a probar las gafas antes de comprarlas (aunque esta vez no han montado ningún "showcase", así que era encontrar a algún conocido que las tuviera o nada). Pero una semana dura en el trabajo ha servido como excusa para calentarme y comprarlas ya. Así que, aquí estamos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/03/psvr2-casco-frontal.jpg', 'alt': 'Frontal casco PlayStation VR 2', 'position': 'center'} %}

<p>Son muy caras (600 €), aunque sigo pensando que no lo son mucho más que las de la generación anterior, que costaban 400 €, pero al precio había que sumar la cámara y los dos mandos move. También habría que tener en cuenta la inflación, que no es moco de pavo. Y las mejoras tecnológicas.</p>

<p>En este caso, basta con un único cable que se enchufa a la consola, a diferencia de todos los cables que había que conectar en la versión anterior. El propio casco lleva cámaras para calcular la posición, así que no es necesaria cámara en la consola. Y los mandos son, por descontado, muchísimo más avanzados que los Move de PlayStation 3, que no dejaron de ser un apaño para salir del paso en la generación previa. También tiene vibración en el casco y los mandos, así como seguimiento ocular.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/03/psvr2-casco-trasera.jpg', 'alt': 'Trasera casco PlayStation VR 2', 'position': 'center'} %}

<p>El catálogo de juegos todavía está por crecer, aunque ya hay disponibles algunos "buques insignia" como Horizon o Resident Evil 7. Pero yo me voy a centrar en "mi libro": Gran Turismo 7. Y voy a ir al grano.</p>

<p>Sinceramente, pensaba que la calidad gráfica iba a ser mayor. Y, en ese sentido, me ha decepcionado un poco. Obviamente, se ve mejor que el modo VR de Gran Turismo Sport (faltaría más), pero muy por debajo de los gráficos 4K que ofrece juego en un monitor convencional. Además, el "popping" es bastante acusado; no hace falta tener vista de lince para darse cuenta. Pero, también os digo, una vez que te pones a conducir, lo puedes pasar por alto. Y es que, en esta ocasión, se puede disfrutar del juego completo en modo realidad virtual. Carreras, contrarreloj, modo online. Todo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/03/psvr2-mandos.jpg', 'alt': 'Mandos PlayStation VR 2', 'position': 'center'} %}

<p>Es un salto tal que, una vez que lo pruebas, ya no quieres volver a jugar a ningún juego de coches en una pantalla. Algo parecido a lo que ocurre cuando pruebas un volante, que ya no quieres jugar con el mando nunca más. Así que me da que los mandos de PlayStation VR 2 se van a quedar ahí cogiendo polvo, porque de momento, salvo que anuncien algún juego tipo Astro Bot, va a ser Gran Turismo el único juego con el que las aproveche (y bien aprovechadas). A ver si los señores de Codemasters (ahora Electronic Arts) se animan a incorporar un modo VR en su franquicia de Formula 1.</p>

<h2>Actualización 21.07.2023</h2>

<p>Por fin he conseguido el trofeo de platino en Gran Turismo 7. La primera vez que lo consigo en un título de la saga. Y, como era de esperar, no he vuelto a jugar en el monitor desde que me compré las gafas. Habiendo asumido que el rendimiento del juego es el que es, lo estoy disfrutando muchísimo.</p>

<p>Por otra parte, el catálogo de juegos de realidad virtual está un poco estancado, bajo mi punto de vista. Además, lo que está saliendo no es muy de mi agrado, así que tiene pinta de que GT7 va a ser el único juego con el que amortizar el gasto en las gafas.</p>
