---
layout: post
title: "Juegos: Death Stranding (PlayStation 4)"
summary: "A ver si este nuevo de Kojima es tan bueno como dicen. Aunque ando con la mosca detrás de la oreja."
header_image: /uploads/2023/04/death-stranding-ps4-cabecera.jpg
main_image: /uploads/2023/04/death-stranding-ps4.jpg
text_date: Lunes, 17 de abril de 2023
tags: [análisis videojuegos, hideo kojima, playstation 4]
widgets: [now-playing]

---

<p>Voy a empezar esta reseña por el final, para no haceros perder el tiempo que yo he perdido con este juego. Me ha parecido un bodrio en el que he desperdiciado casi 40 horas de mi vida.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/04/death-stranding-titulo.jpg', 'alt': 'Death Stranding', 'position': 'center'} %}

<p>No tenía que haberlo empezado. De hecho, ni siquiera lo he comprado, sino que me lo ha prestado mi buen amigo Miguel (bondades del formato físico que, más pronto que tarde, parece condenado a desaparecer). Especialmente porque venía ya un poco "quemado" de jugar a <a href="/2022/10/juegos-horizon-zero-dawn-ps4.html">Horizon Zero Dawn</a>. Pero bueno, ya está, tomé esa decisión. También podría optado por dejarlo en cualquier momento. Al fin y al cabo, ese tabú ya lo rompí hace mucho con <a href="/2015/10/juegos-bionic-commando-xbox-360.html">Bionic Commando</a>.</p>

<p>Le quise dar una oportunidad por la historia narrada, aun a sabiendas de que la imaginación de Hideo Kojima es tan desbordante que me cuesta seguirle el hilo. Y, en estas, que he seguido jugando, como digo más por cabezonería que otra cosa, hasta las 37 horas largas que me ha llevado completar el relato, entre el 5 de febrero y el 17 de abril del presente año.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/04/death-stranding-tiempo-total.jpg', 'alt': 'Tiempo total de juego', 'position': 'center'} %}

<p>El problema es que la narrativa tampoco me ha terminado de llenar, y de ahí la impresión final de haber perdido el tiempo. Desde luego, conmigo que no cuenten para la segunda parte. Prefiero volver a jugar a Metal Gear Solid en cualquiera de sus entregas antes que eso.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/04/death-stranding-fumada-kojima.jpg', 'alt': 'El argumento es una nueva "fumada" de Hideo Kojima', 'position': 'center'} %}

<p>El caso es que la mecánica del juego no dista mucho de los títulos que se vienen denominando "sandbox" o "mundo abierto", que para mí no son tal, ejerciendo más de simulador de recadero que otra cosa. Aunque, en este caso, sin disfraz ninguno, ya que el protagonista es, precisamente, un "mensajero", encargado de transportar paquetes por un mundo post-apocalíptico. Las misiones no son otra cosa que llevar encargos de una parte a otra del mundo del juego. Mientras lo hacemos, la historia avanza.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/04/death-stranding-cargados-hasta-los-topes.jpg', 'alt': 'Iremos cargados de paquetes hasta los topes', 'position': 'center'} %}

<p>Otros juegos lo disfrazan con tiroteos entretenidos, conducción divertida, acopio de recursos para sufragar nuevas construcciones, misiones variadas o un árbol de habilidades que te incita a ir evolucionando para descubir nuevas zonas. Pero, en mi opinión, no podemos encontrar nada de eso en Death Stranding. Es más, la propia idiosincrasia del juego, como que el "declive" termina por estropear todas las cosas, o que debemos tratar de preservar la vida de todas las personas, incluidas los enemigos, impide que alguno de estos "disfraces" pueda funcionar adecuadamente.</p>

<p>Al menos el juego es bonito, y tiene una dirección artística muy particular y reconocible. Pero para mí no es suficiente. Prefiero algo más feo pero entretenido.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/04/death-stranding-paisajes.jpg', 'alt': 'A veces nos detendremos a contemplar los paisajes como, en este caso, después de echar una meada (sí, habéis leído bien)', 'position': 'center'} %}

<p>Aun siendo un juego que tiene muchos seguidores y que, imagino, no ha funcionado nada mal en ventas (ya que hay una segunda parte en desarrollo), creo que es la primera vez que recomiendo desde estas líneas huir de él y dedicar tu valioso tiempo a cualquier otro asunto. Aun así, prefiero no comentar nada del relato, porque entiendo que es su principal activo, no sea que algún despistado que lea esto lo quiera disfrutar.</p>

<p>Seguro que muchos pensaréis que no es tan diferente a GTA, Red Dead Redemption, Assassin's Creed u otros juegos que sí que me gustan. Pero es eso, para gustos, colores.</p>
