---
layout: post
title: "Visita al Museo Histórico de la Informática de la ETSIINF"
summary: "Por fin coincidió el momento en que abrieron el Museo y pude acercarme a conocerlo."
header_image: /uploads/2023/06/museo-historico-de-la-informatica-etsiinf-cabecera.jpg
main_image: /uploads/2023/06/museo-historico-de-la-informatica-etsiinf.jpg
tags: [informática, personal]

---

<p><a href="https://mhi.ws.fi.upm.es/">El Museo Histórico de la Informática</a> de la <a href="https://www.etsiinf.upm.es/">ETSIINF</a> se inauguró en el año 2004. Primero estuvo situado en lo que era la Sala de Lectura del Bloque 5, hasta que, en 2013, se trasladó a su ubicación actual, la antigua Sala de Terminales del Centro de Cálculo. No es una exposición que esté permanentemente accesible. Sólo se puede visitar previa solicitud, o bien esperar a alguna de las jornadas de puertas abiertas que ofrecen de vez en cuando.</p>

<p>Cuando vi el anuncio de que iban a abrir algunos viernes en junio y julio, marqué las fechas en el calendario. Esta vez no iba a dejar escapar la ocasión. Así que hoy, después de comer, me planté allí. Primero he pasado por la cafetería para tomar un café mientras tenía una reunión de trabajo (bendito teletrabajo) y, una vez cerrada la semana (laboralmente hablando), he guardado las cosas en la mochila y me he encaminado a la entrada del Museo.</p>

<p>Me he asomado tímidamente a la puerta, sin saber muy bien por dónde empezar, pero enseguida se han acercado a mí Alejandro y Miguel para hacerme de guías de la visita. Afortunadamente (para mí, no para el Museo), la afluencia era bien escasa (sobre este asunto reflexionaré un poco más tarde), así que me han podido dedicar todo el rato en exclusiva a explicar todo el material expuesto y a aguantar mis batallitas con enorme paciencia hasta más allá de la hora de cierre, las 18.00h.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/06/zx-81-y-zx-spectrum.jpg', 'alt': 'Mi querido ZX Spectrum de 48K', 'position': 'center'} %}

<p>Miguel se encargó al principio de enseñarme toda la exposición, y luego se unió Alejandro. Fuimos un poco rápido, y tampoco me paré a leer todas las fichas, algo que quiero hacer en una próxima visita. No deja de ser curioso contemplar, expuestos en vitrinas, objetos y herramientas con las que has podido trabajar en tu día a día. Te hace viajar en el tiempo y, también, sentirte un poco viejo.</p>

<p>En una sala anexa hay una exposición dedicada a la denominada "Edad de Oro del Software Español", y centrada en el videojuego La Abadía del Crimen, que se puede jugar tanto en un Amstrad CPC 464 como en un PC más moderno.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/06/la-abadia-del-crimen.jpg', 'alt': 'La Abadía Del Crimen para Amstrad CPC', 'position': 'center'} %}

<p>Después de la visita propiamente dicha, y ya en una distendida charla con Alejandro y Miguel, a la que se unió Gonzalo, otro de los mantenedores del museo, me enseñaron un buen puñado de fotos de profesores y alumnos de la Facultad de finales de los años 90. Eché un ojo rápido, por si daba la casualidad de que salía en alguna de ellas. No hubo suerte, y siempre lamentaré no tener fotos de aquella época. Sin embargo, sí que aparecían algunos de mis excompañeros y, por supuesto, exprofesores.</p>

<p>Yo, por mi parte, les estuve aburriendo un rato con algunas de las anécdotas y curiosidades de cuando estudiaba allí. Y salí con el compromiso de colaborar con ellos en el mantenimiento del Museo, de una u otra forma.</p>

<p>Es un museo pequeñito pero interesante, que alberga algunas joyas escondidas, como una <a href="https://artsandculture.google.com/asset/original-next-computer-used-by-sir-tim-berners-lee-to-design-the-world-wide-web-next/6QHcxbuGnQ4rng?hl=en">estación Next similar a la usada por Sir Tim Berners-Lee para crear la World Wide Web</a>. Quizás el hecho de estar en un lugar tan apartado (el <a href="https://maps.app.goo.gl/9YrzL9vGcjusyeHz8">campus de Montegancedo</a>) y no abrir sus puertas a menudo hace que pase más desapercibido de lo que debería.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/06/next.jpg', 'alt': 'Estación NeXT', 'position': 'center'} %}

<p>Podéis ver todas las fotos que hice en este <a href="https://photos.app.goo.gl/e8kHrR7cMCFuC59BA">álbum de fotos</a>.
