---
layout: post
title: "FlashForward: El libro vs la serie"
summary: "No se puede negar que el punto de partida es de lo más prometedor: toda la humanidad, de repente, se desvanece por completo durante un corto intervalo de tiempo. Tras el \"apagón\", la vida sigue (la de los que no han muerto en accidentes provocados por la falta de consciencia, claro), y toca investigar qué ha pasado."
header_image: /uploads/2011/06/flash-forward-wallpaper-1280x1024-02.jpg
main_image: /uploads/2011/06/flash-forward-wallpaper-1280x1024-02.jpg
tags: [series,inglés,lecturas]

---
<p>No se puede negar que el punto de partida es de lo más prometedor: toda la humanidad, de repente, se desvanece por completo durante un corto intervalo de tiempo. Tras el "apagón", la vida sigue (la de los que no han muerto en accidentes provocados por la falta de consciencia, claro), y toca investigar qué ha pasado.</p>

<p>Dicho punto de partida es el común denominador (con matices, ya que hay detalles que varían) del libro y la serie de televisión del mismo nombre: FlashForward.</p>

<p>Así que pensando que la cosa podría resultar interesante, me lancé a ver la serie. Una vez visionada, me quedé con ganas de más, así que me hice con el libro. A continuación voy a contar las impresiones que me causaron ambos, así como citar someramente las diferencias de trama que hay entre uno y otro. Por ello aviso: esta vez sí que voy a destripar el argumento; querido lector, si tienes intención de ver la serie o leer el libro, por favor, no continúes.</p>

{% include 'components/image.twig' with {'src': '/uploads/2011/06/flash-forward-wallpaper-1280x1024-02.jpg', 'alt': 'Flash Forward - la serie', 'position': 'center'} %}

<p>Vamos con la serie. La acción principal se desarrolla en Los Ángeles. El protagonista principal es Mark Bendford, un agente del FBI que, durante el desmayo, se ve a sí mismo investigando las causas del desmayo. Es curioso porque esa visión es justo lo que le hace comenzar la investigación, así que es algo autorreferente. Su mujer, Olivia Bendford, tiene una visión en la que está en su casa con su hija, pero con otro hombre distinto de su marido. Algo que niega rotundamente que pueda llegar a suceder pero acaba sucediendo.</p>

<p>El desmayo dura 2 minutos y 17 segundos, y la visión se corresponde con apenas unos meses hacia el futuro.</p>

<p>Durante los capítulos, van apareciendo personajes que tienen mayor o menor relación con quienes produjeron el desmayo, el FBI o el hospital donde trabaja Olivia. Se van descubriendo detalles como que se puede cambiar el futuro que aparecía en la visión (uno de los personajes se suicida para probarlo), o que hubo ciertas personas que no se desmayaron.</p>

<p>Al final, la trama conduce a la idea de que el desmayo fue provocado y controlado. Que hay una organización experimentando con los desmayos en grupos concretos de personas. Pero justo cuando se vaticina y ocurre un segundo desmayo, la temporada acaba y la serie con ella, ya que fue cancelada. Así que nos quedamos con las ganas de saber cómo se producían los desmayos y con qué motivación.</p>

{% include 'components/image.twig' with {'src': '/uploads/2011/06/flashforward-uk-cover-for-blog.jpg', 'alt': 'Flash Forward - el libro', 'position': 'center'} %}

<p>En el libro la acción se desarrolla en Suiza, en el <a href="http://public.web.cern.ch/public/">CERN</a>, donde un grupo de científicos está realizando experimentos para encontrar el Bosón de Higgs. Uno de los protagonistas es el doctor Lloyd Symcoe (que también aparece en la serie, pero con un papel bastante distinto). Aquí el desmayo dura menos de 2 minutos y la conciencia de la gente se transporta 21 años al futuro. Parece claro que el desmayo es producido por el experimento del CERN, pero combinado con un factor externo extra, debido a la radiación de neutrinos procedente del sol. Por eso, al intentar reproducir el desmayo, fracasan.</p>

<p>Durante el desmayo no se sabe de nadie que haya seguido consciente y, de hecho, parece que toda la realidad se ha esfumado, ya que las cámaras de vídeo tampoco graban nada.</p>

<p>En el futuro, consiguen ubicar una sonda que avise de la radiación de neutrinos procedente del sol con la suficiente antelación como para poder repetir el experimento que, curiosamente, coincide con el instante del "futuro" del primer apagón. Esta vez, nadie tiene ninguna visión, salvo el protagonista, que está vinculado a un proyecto secreto para conseguir la inmortalidad. </p>

<p>Como vemos, un argumento más filosófico, menos apropiado para una serie de televisión (en la que primaba más la acción y la intriga), pero cuyo final tampoco acaba de convencer.</p>
