/.idea/
/.vagrant/
/.sculpin/
/app/cache/*
/app/config/sculpin_kernel_*.yml
/app/config/sculpin_site_*.yml
/app/logs/*
/output_*/
/source/components/
s3.conf
/source/_posts/*draft*
!/source/_posts/1970-01-01-post-template.draft.html

/vendor/

/data
