---
layout: post
title: "Mudanza"
summary: "El blog se cambia de alojamiento... una vez más"
header_image: /uploads/2024/08/mudanza-cabecera.jpg
main_image: /uploads/2024/08/mudanza.jpg
text_date: Viernes, 9 de agosto de 2024
tags: [blog, personal]

---

<p>Mi memoria no da para tanto, pero atendiendo a los correos electrónicos que tengo archivados, el último cambio de alojamiento del blog fue en agosto de 2017, cuando lo cambié de <a href="https://www.digitalocean.com/">Digital Ocean</a> a <a href="https://www.hetzner.com/">Hetzner</a>, por motivos económicos. Y, por el mismo motivo, lo he cambiado ahora a <a href="https://www.ovhcloud.com/">OVH</a>, compartiendo alojamiento con <a href="https://www.speccy.org/">speccy.org</a>. Mi agradecimiento a los <a href="https://www.speccy.org/2018/11/nuevos-mecenas-de-speccy-org/">mecenas</a> que me han dejado compartir espacio amablemente.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/boton-borrar.jpg', 'alt': '¿Le doy al botón, no le doy?', 'position': 'center'} %}

<p>La mudanza ha sido bastante cómoda. Nada que ver con la mudanza del Mundo Real &trade; que mi familia y yo hicimos el mes pasado. Tan solo me ha dado problemas la configuración del bot que genera y renueva automáticamente los certificados con Let's Encrypt.</p>

<p>Alguna lagrimita se ha escapado al apagar un servidor que llevaba más de 1.400 días encendido. Pero bueno, como alguien me dijo alguna vez en un curso de computación en la nube: "Si no le pones nombre, le coges menos cariño".</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/uptime.jpg', 'alt': '1.443 días encendido y dando servicio', 'position': 'center'} %}

<p>Todavía tengo pendiente alguna mejora más en el blog, como cambiar el <a href="/search.html">buscador de Google</a> por uno propio. Cuando consiga sacar tiempo para hacerlas, ya será en el nuevo servidor.</p>
