---
layout: post
title: "Jordan Mechner"
summary: "El creador de Prince Of Persia presentó su novela gráfica autobiográfica, \"Replay\", en un evento de Madrid in Game"
header_image: /uploads/2024/11/jordan-mechner-cabecera.jpg
main_image: /uploads/2024/11/jordan-mechner-madrid-in-game.jpg
tags: [charlas, eventos, jordan mechner, prince of persia, videojuegos]
widgets: [now-playing]

---

<p>Hace algunas semanas me enteré, casi de casualidad, de que Jordan Mechner iba a acudir a un evento organizado por <a href="https://www.madridingame.es/">Madrid in Game</a>. Cuando consulté la fecha, me dio un poco de bajón, porque coincidía con una cita médica de revisión que tenía planificada desde hace casi un año. Pero ahora mismo estoy en un momento vital en el que no quiero perderme experiencias que se me presentan y luego arrepentirme. Ya me ha ocurrido demasiadas veces en el pasado. Así que, tras esas primeras horas de duda, opté por modificar la cita (retrasándola cuatro meses, no vayáis a pensar que me la asignan para la semana siguiente), ya que afortunadamente no me corre prisa, y asistir.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/11/jordan-mechner-madrid-in-game.jpg', 'alt': 'Jordan Mechner presentando su libro Replay en Madrid In Game', 'position': 'center'} %}

<p>Para quien no lo sepa, Jordan fue el creador, en 1989, del mítico videojuego <a href="https://es.wikipedia.org/wiki/Prince_of_Persia">Prince Of Persia</a>. Un juego al que jugué mucho de pequeño y que nunca logré terminar, en un PC 286 con monitor VGA fósforo blanco. Un ordenador que me gustaría haber conservado, ya que le guardo un cariño especial. En él pude disfrutar de varios clásicos como <a href="https://es.wikipedia.org/wiki/Wolfenstein_3D">Wolfenstein 3D</a> o <a href="https://es.wikipedia.org/wiki/Civilization_(serie)">Civilization</a>, entre otros. Todos ellos pirateados, debo añadir con cierto rubor, y que nunca me molesté en conseguir originales, hasta que ya fue demasiado tarde y los precios que se pedían son astronómicos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/11/replay-memorias-de-una-familia.jpg', 'alt': 'Replay: Memorias de una familia', 'position': 'center'} %}

<p>Jordan pertenece a una familia judía que vivía en Austria y que tuvo que escapar del nazismo. Relata esa historia en su última novela gráfica: Replay, que acaba de ser editada en castellano. Llevaba ya tiempo pensando si comprar el libro. De hecho, estuve a punto de hacerlo cuando estaba en preventa la edición en inglés, que se enviaba firmada por su autor. Una vez más, domar el impulso tuvo sus frutos: ahora tengo la versión española, que me resultará más fácil de entender, firmada por él, delante de mí. Pude departir con él unos pocos minutos y, además, también tuvo la amabilidad de firmar en la carátula de Prince Of Persia: Las Arenas Del Tiempo (Xbox), un juego que también me gusta mucho y que, este sí, terminé en su momento, durante las navidades de un lejano 2004.</p>

<p>En este tipo de situaciones no puedo evitar sentirme un poco idiota. Te ves enfrente de una persona tan talentosa, que creó un juego que, si bien no compraste en su momento, te hizo pasar muchos momentos de disfrute delante del ordenador. Es una situación que, si me hubieran dicho entonces que iba a ocurrir en el futuro, no me lo hubiera creído. Y ahí estás. ¿Qué le dices? Y encima en inglés. Me hubiera encantado hablar con él de tantas cosas… Pero, al fin y al cabo, yo soy un mindundi. Así que lo mejor es retirarse, no molestar demasiado, y dejar paso al siguiente de la fila de firmas.</p>

<p>Aunque no tomé ninguna instantánea del momento, porque no me pareció elegante, espero que sea una vivencia que pueda atesorar muchos años en mi memoria. O, si no, al menos que sirva este texto como recordatorio.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/11/prince-of-persia-sands-of-time-firmado.jpg', 'alt': 'Las Arenas Del Tiempo firmado por Jordan Mechner', 'position': 'center'} %}
