---
layout: post
title: "Juegos: Assassin's Creed Valhalla (PlayStation 5)"
summary: "Duodécimo (si no he perdido la cuenta) juego de la saga para la saca. Este los supera a todos: 110 horas (de momento)"
header_image: /uploads/2024/12/assassins-creed-valhalla-cabecera.jpg
main_image: /uploads/2024/12/assassins-creed-valhalla-ps5.jpg
tags: [análisis videojuegos, assassin's creed, playstation 5, ubi soft]
widgets: [assassins-creed, now-playing]

---

<p>Ya hacía más de tres años que había jugado al anterior Assassin's Creed. Así que ya iba siendo hora de ponerse con este, justo en un momento en el que se acaba de lanzar la siguiente entrega: <a href="https://www.ubisoft.com/es-es/game/assassins-creed/mirage">Mirage</a>. Como siempre, yo a mi ritmo. Empecé el 21 de diciembre de 2023. Sin embargo, tuvo la mala suerte de que <a href="/2024/03/juegos-star-wars-jedi-survivor-ps5.html">Star Wars Jedi: Survivor</a> se cruzase en mi camino, y lo abandoné sin pena ninguna.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/assassins-creed-valhalla-titulo.jpg', 'alt': 'Pantalla de título', 'position': 'center'} %}

<p>Volví a empezar (casi no había jugado) al terminar con el juego de Cal Kestis, a primeros de marzo de 2024. Y me costó bastante arrancar, porque el prólogo, ambientado en la infancia de la protagonista, Eivor, se me hizo muy pesado. Son varias horas de tutoriales (no demasiado necesarios para quienes hemos jugado a las dos entregas anteriores) y con una historia que hace 20 años habría venido resumida en el libro de instrucciones del juego, o bien en la contraportada del estuche. Pero bueno, es la época que nos toca vivir.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-mapa-alianzas.jpg', 'alt': 'Hay que completar todos los territorios para acabar el juego', 'position': 'center'} %}

<p>Y si el prólogo es largo, esperad al resto del juego. Assassin's Creed Valhalla es enorme. Qué digo enorme, es <strong>INMENSO</strong>. Y larguísimo. Infinito. Soy plenamente consciente de que siempre insinúo algo parecido, y luego termino haciendo el platino. Pero esta vez, completar el juego (ver el mensaje de "gracias por jugar") me ha costado 9 meses y casi 110 horas. Y el tema es que aún me quedan muchísimas tareas que hacer si quiereo obtener el codiciado trofeo. Por no hablar de los DLCs, que en esta ocasión los tengo todos. Y la duración de cada uno de ellos es como la de un juego completo (hablamos de DLCs de más de 10 horas de duración).</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-asaltos.jpg', 'alt': 'Los asaltos son una de las (pocas) nuevas mecánicas', 'position': 'center'} %}

<p>¿Cómo es que tengo todos los DLCs, si casi nunca los suelo comprar? Este es uno de los pocos juegos que he comprado dos veces, en formato físico y luego en una oferta digital con todo el contenido. Lo más curioso es que, en total, me he gastado unos 40€, que viene siendo la mitad del precio de salida de un juego AAA de PlayStation 5.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-arcoiris.jpg', 'alt': 'Mientras jugamos seremos testigos de algunas imágenes preciosas', 'position': 'center'} %}

<p>También reconozco que, una vez terminado, me está costando abandonar el juego. Pero no lo digo en plan sano. Me he quitado muchas noches de sueño jugando, y explorar esa Inglaterra entre post-romana y medieval se ha convertido en un hábito. Al tener un mapa tan grande, hay mucha diversidad de paisajes, algunos hermosos de contemplar, con una iluminación muy conseguida, al menos para mi gusto.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-paisajes.jpg', 'alt': 'Me encanta la mezcla de ruinas romanas con arquitectura medieval', 'position': 'center'} %}

<p>Como digo, la historia es tan larga, es tal la cantidad de misiones y la extensión del área jugable, que es lógico que el ritmo, el nivel de atención y la capacidad de sorpresa tengan sus altibajos. Y probablemente no lo he dejado a medias por una cuestión de orgullo y terquedad, más que por el propio interés generado por el juego.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-concurso-bebida.jpg', 'alt': 'Que no falte el minijuego de pillarse una cogorza lo más rápido posible', 'position': 'center'} %}

<p>Las mecánicas son muy similares a las de la entrega anterior, Odyssey. Y, quizás, salvo el tema de los saqueos y asedios, pocas novedades encontraremos. Todo lo demás se basa en multiplicar por N las características del juego anterior. En ese sentido, estoy deseando ponerme con Mirage, para ver qué tal sienta una experiencia más concentrada. Pero no será a continuación, que tengo empacho de asesinos, y además los comentarios que me han llegado no han sido precisamente halagüeños.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-decisiones.jpg', 'alt': 'Las decisiones que tomemos en los diálogos tendrán consecuencias', 'position': 'center'} %}

<p>En el apartado técnico, aunque es un juego transgeneracional, en PlayStation 5 podemos elegir un modo detallado, a 30 fps, o rendimiento, a 60 fps. La partida ha sido en modo detallado. Una vez visto el final, he cambiado a modo rendimiento, y me arrepiento de no haberlo hecho antes. Lo que es una lástima es que, aunque podemos pasar la partida de la PS5 a la PS4, y viceversa (lo cual me vendría de perlas para liberar espacio en el exiguo SSD de la PS5), los trofeos no son compartidos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-porcentaje-completado.jpg', 'alt': 'Indica que he completado el 100%, pero aún me queda mucho por hacer', 'position': 'center'} %}

<p>La entrada en escena de la mitología nórdica no sé si ha sido por subirse al carro de God Of War y similares, o ya era algo que tenían más o menos planeado. En cualquier caso, añade algo de interés y profundidad a los personajes y a la trama, aunque también la complica. La historia creo que está ya demasiado enrevesada como para que tenga sentido. Una vez más, me tengo que referir a Mirage, ya que su protagonista, Bassim, también aparece en este juego. Así que ya veremos cómo continúa el relato.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-presente.jpg', 'alt': 'No he terminado de comprender del todo la historia en el presente', 'position': 'center'} %}

<p>He de reconocer que, según terminaba el juego, me sorprendió no haberme cruzado con ningún personaje histórico. Tras una breve búsqueda en Internet, obviamente la carencia es mía, ya que desconozco por completo tanto la historia inglesa como la escandinava. Sí, aparecen unos cuantos, como ocurre en el resto de entregas, solo que yo no me he dado cuenta.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/ac-valhalla-cameo.jpg', 'alt': 'A esta mujer sí que la conocía de antes', 'position': 'center'} %}

<p>No sé con qué voy a seguir a continuación. Otro de los problemas de juegos tan largos es que se van acumulando más y más títulos en la lista de pendientes. Entre PlayStation y Switch tengo fácilmente 6 ó 7 juegos con los que me gustaría ponerme, pero he de ir de uno en uno. Ya lo contaré por aquí.</p>