---
layout: post
title: "Resumen del año"
summary: "Resumen del año 2024 en videojuegos"
header_image: /uploads/2024/12/resumen-2024-cabecera.jpg
main_image: /uploads/2024/12/resumen-2024.jpg
tags: [nintendo, personal, playstation, videojuegos]

---

<p>Llevo algunos años sin hacer resumen. Como ya he comentado, voy con la lengua fuera, y una de las consecuencias es que cada vez escribo menos por aquí.</p>

<p>Para que no se pierdan, dejaré a continuación los <em>wrap-ups</em> de Nintendo y PlayStation, respectivamente, para que no se pierdan en el olvido. Ni siquiera me voy a molestar en calcular las estadísticas de publicación del blog, por vergüenza torera. Serían las únicas métricas de las que dispongo, porque ya no se contabilizan las visitas, ni se puede comentar ni compartir en redes (desde el blog).</p>

<p>Sería interesante comparar con los datos del año pasado, pero no los tengo a mano. No sé si los llegué a descargar en alguna parte.</p>

<p>Este año dejamos de pagar la suscripción a Spotify Premium, y yo personalmente he dejado de usarlo. Así que tampoco dispongo de esa información. Lo mismo con el resumen de Strava. Hace mucho que dejé de correr habitualmente y ya sólo mantengo la pachanga de fútbol sala de los jueves, en la que llevo participando más de 16 años.</p>

<h3>Nintendo Switch</h3>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/recap-switch-2024.jpg', 'alt': '50 horas jugadas a Nintendo Switch en 2024', 'position': 'center'} %}

<h3>PlayStation 4</h3>

{% include 'components/image.twig' with {'src': '/uploads/2024/12/recap-playstation-2024.jpg', 'alt': '262 horas jugadas a PlayStation en 2024', 'position': 'center'} %}
