---
layout: post
title: "Juegos: Astro Bot (PlayStation 5)"
summary: "Jugamos al mejor juego del año 2024 (según la crítica). Habrá que verlo."
header_image: /uploads/2025/02/astro-bot-ps5-cabecera.jpg
main_image: /uploads/2025/02/astro-bot-ps5.jpg
text_date: Martes, 4 de febrero de 2025
tags: [análisis videojuegos, astro bot, playstation 5, sony]
widgets: [now-playing]

---

<p>Tenía ganas de hincarle el diente a este juego casi desde que se anunció. Y eso que dicho anuncio fue como una puñalada por la espalda de los que llevamos apoyando desde el principio la plataforma de realidad virtual de Sony. Me explico. Astro Bot: Rescue Mission fue, si no el mejor, uno de los mejores juegos para <a href="/tags/playstation%20vr/">PS VR</a>. Cuando lo jugué, para mí fue un salto comparable al que supuso Super Mario 64 para los juegos de plataformas. En realidad, <a href="/2023/03/playstation-vr-2-yo-las-tengo-ya.html">me hice con las PS VR2</a> por jugar a Gran Turismo 7 (y bien amortizadas que están) pero, aun viendo cómo se ha ido desinflando el catálogo (al menos para mi gusto), albergaba la esperanza de que Sony pusiera a trabajar al <a href="https://www.teamasobi.com/">Team Asobi</a> en una secuela para las nuevas gafas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/02/astro-bot-menu.jpg', 'alt': 'Astro Bot', 'position': 'center'} %}

<p>Así que, como podéis imaginar, mi gozo en un pozo al comprobar que, dicha secuela, iba a ser un plataformas 3D tradicional. Obviamente, así se garantizan poder llegar a un público más amplio, público al que ya habían puesto la miel en los labios con <a href="/2022/06/juegos-astros-playroom-ps5.html">Astro's Playroom</a>. Pero, ¿por qué no añadir compatibilidad con las gafas? ¿Ni siquiera un puñado de niveles específicos?</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/02/astro-bot-boss.jpg', 'alt': 'Los jefes finales están muy logrados, marca de la casa', 'position': 'center'} %}

<p>Aun así, no nos dejemos llevar por las vísceras. Astro Bot es un buen juego de plataformas, casi lo más parecido que vamos a poder encontrar a Super Mario en PlayStation. O, mejor dicho, a Yoshi. Porque el juego es más fácil que los del fontanero. Fácil y plagado de <em>fan service</em>. Muchos de los robots que tendremos que rescatar están disfrazados de los protagonistas de una buena colección de juegos de ayer y de hoy de las consolas de Sony. E incluso encontraremos un puñado de niveles basados en los títulos más emblemáticos. Me gustaría poder recomendaros solo uno de ellos, pero es que me gustan todos. La adaptación de la jugabilidad de dichos títulos a este juego es, en mi opinión, muy acertada.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/02/astro-bot-nathan-drake.jpg', 'alt': 'Este aventurero cazatesoros me suena de algo', 'position': 'center'} %}

<p>Como he comentado previamente, el nivel de dificultad no es demasiado elevado. Y, con el aliciente de ir descubriendo pedacitos de historia de PlayStation, te pones y no paras hasta que lo terminas en poco tiempo (poco tiempo relativamente, porque con la tontería le habré metido unas 25 horas). En mi caso, comencé a jugar el 8 de enero (fue un regalo de Sus Majestades los Reyes Magos de Oriente) y el 21 de enero ya había llegado al final (no al 100%, sino con 208 robots rescatados). Por supuesto, no lo iba a dejar ahí. El trofeo de platino lo conseguí unos días después, el 4 de febrero.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/02/astro-bot-final.jpg', 'alt': '¡Juego completado!', 'position': 'center'} %}

<p>La factura técnica raya un nivel muy alto, tanto gráficamente como en el apartado sonoro. El control es preciso y, como ya ocurriera en Astro's Playroom, el uso de la vibración del DualSense es exquisito.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/02/astro-bot-selfie.jpg', 'alt': 'Nos podemos hinchar a componer estampas simpáticas con el modo foto', 'position': 'center'} %}

<p>Si os gustan los juegos de plataformas 3D y sois poseedores de una consola PlayStation 5, es una compra obligada.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/02/astro-bot-crash.jpg', 'alt': 'Sí, Crash, no me he olvidado de ti', 'position': 'center'} %}
