---
layout: post
title: "Juegos: Ratchet & Clank: Una Dimensión Aparte (PlayStation 5)"
summary: "Por fin jugamos a uno de los exclusivos de cabecera de PS5, años después de su lanzamiento, como de costumbre."
header_image: /uploads/2025/03/ratchet-and-clank-una-dimension-aparte-ps5-cabecera.jpg
main_image: /uploads/2025/03/ratchet-and-clank-una-dimension-aparte-ps5.jpg
tags: [análisis videojuegos, insomniac games, playstation 5, ratchet and clank, sony]
widgets: [now-playing]
---

<p>Este es uno de los juegos exclusivos de "lanzamiento" de PlayStation 5 que tenía pendiente de jugar. Pongo lo de lanzamiento entre comillas, porque la consola se puso a la venta a finales de 2020 y Ratchet & Clank: Una Dimensión Aparte fue publicado a mediados de 2021. Pero todos sabemos y recordamos cómo fue el año del COVID y los sucesivos, y lo rara que está siendo esta generación de consolas que parece que no termina de arrancar del todo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/03/ratchet-and-clank-titulo.jpg', 'alt': 'Pantalla de título', 'position': 'center'} %}

<p>El caso es que se trata de un título que combina acción, exploración y plataformas en 3D, así que más o menos debería encajar con mis preferencias de juego. Lo que me preocupaba era que, al tratarse de una franquicia con tanto recorrido, cuyos orígenes se remontan a la época de PlayStation 2, me iba a perder gran parte del <em>lore</em>, al desconocer historias pretéritas y personajes. He de admitir que, tras jugarlo, pienso que mi preocupación era fundada. Más o menos he podido atisbar alguna cosa, pero me he sentido algo perdido, sobre todo con las relaciones entre los diferentes personajes, ya que todos (o al menos casi todos) tienen un pasado en común que yo desconozco.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/03/ratchet-and-clank-ambientacion-futurista.jpg', 'alt': 'La ambientación está muy lograda', 'position': 'center'} %}

<p>Artísticamente luce y suena muy bien. Se puede disfrutar a 60 fps y, gracias al disco SSD de la consola, las cargas entre niveles son prácticamente instantáneas, lo cual le permite mantener un ritmo muy, muy fluido. Tiene momentos de exploración y otros de acción frenética. También es importante ir dominando todo el armamento que iremos consiguiendo a lo largo de la aventura si queremos progresar y acabar con todo bicho viviente que se interponga en nuestro camino. En especial, los jefes finales.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/03/ratchet-and-clank-niveles-clank.jpg', 'alt': 'Los niveles de Clank son puzles, vienen bien para descansar de tanta acción', 'position': 'center'} %}

<p>Por lo demás, se trata de un juego bastante entretenido. Empecé a jugarlo el 7 de febrero y me tuvo liado hasta el 8 de marzo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/03/ratchet-and-clank-fin.jpg', 'alt': 'Ratchet & Clank - Títulos de crédito', 'position': 'center'} %}

<p>Ya que estaba, un puñado de días más no eran nada para conseguir el platino, hito que logré el 12 de marzo. En total, según <a href="https://exophase.com/user/falvarez/">Exophase</a>, le he dedicado casi 24 horas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/03/ratchet-and-clank-platino.jpg', 'alt': 'Ratchet & Clank - Trofeo de platino', 'position': 'center'} %}

<p>Tengo por ahí algunos de los títulos anteriores. Quizás en algún momento les dé una oportunidad. Es algo que me ocurre con varias franquicias, no sólo esta: Jack & Daxter, Spyro, Sly Cooper, Kingdom Hearts, etc. He llegado tarde y no creo que sea posible ponerse al día fácilmente. Hay tantos juegos que es imposible jugar a todo lo que le gusta a uno.</p>
