---
layout: post
title: "Juegos: Super Mario Bros. Wonder (Nintendo Switch)"
summary: "Jugamos y completamos la última entrega bidimensional del fontanero más famoso de los videojuegos."
header_image: /uploads/2025/07/super-mario-bros-wonder-switch-cabecera.jpg
main_image: /uploads/2025/07/super-mario-bros-wonder-switch.jpg
text_date: Domingo, 6 de julio de 2025
tags: [análisis videojuegos, nintendo, super mario]
widgets: [now-playing]
---

<p>No suelo comprarme los juegos de salida, menos los <em>first-party</em> de Nintendo. No suelen bajar de precio y, en el lanzamiento, se pueden encontrar algo rebajados. Ya es más raro que los juegue de primeras, con la pila de títulos pendientes que tengo. Pero este no fue el caso. Me hice con él días después de su publicación, el 30 de octubre de 2023, y empecé a jugar de inmediato.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/07/super-mario-bros-wonder-titulo.jpg', 'alt': 'Pantalla de título', 'position': 'center'} %}

<p>El diseño artístico es precioso. A mi modo de ver, se acerca más a la ilustración que a los modelos 3D <em>cartoon</em> de la saga New Super Mario Bros. La música y las voces de las flores desperdigadas por los niveles también acompañan a crear esa ambientación tan simpática y acogedora.</p>

<p>Lo fui jugando a ratos, saboreándolo despacito, como sólo se puede hacer con un juego de plataformas de este estilo, donde no hay un argumento que pueda olvidarse con facilidad y cuyas mecánicas tengo ya más que interiorizadas. Pero, por lo que fuera, lo abandoné justo antes del combate final. No sé si me dio pena terminarlo o qué (no al 100%, por descontado), pero ahí lo dejé. Hasta hoy. Tras haber completado un puñado de juegos en la primera mitad del año, no voy a empezar otro largo para dejarlo a medias durante el verano y que me cueste horrores retomarlo. Así que es un buen momento para saldar esta deuda.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/07/super-mario-bros-wonder-elefante.jpg', 'alt': 'El nuevo "traje de elefante" da mucho juego', 'position': 'center'} %}

<p>Super Mario Wonder supone una nueva vuelta de tuerca a la fórmula del juego de plataformas bidimensional que Nintendo domina a la perfección. Aun así, cuando piensas que ya no se pueden inventar nada nuevo, se sacan de la manga alguna mecánica novedosa y original (al menos para mí). Las flores maravilla transforman los niveles de manera nunca vista, y añaden un punto de locura al juego.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/07/super-mario-bros-wonder-cameos.jpg', 'alt': 'Mirad a quién nos hemos encontrado por aquí', 'position': 'center'} %}

<p>Por cierto, que tenía cierto recelo, tantos meses después, de enfrentarme al combate final sin un calentamiento previo. Teniendo en cuenta, además, que está marcado con 5 estrellas de dificultad. Pues bien, resulta que está basado principalmente en el seguimiento de patrones rítmicos. Este hecho suele, personalmente suponerme más una ventaja que otra cosa. Tanto que me lo he pasado al primer intento.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/07/super-mario-bros-wonder-final.jpg', 'alt': 'Los títulos de crédito contienen un minijuego. ¿Dónde habré visto eso antes?', 'position': 'center'} %}

<p>Tampoco he probado el modo online. Cuando compré el juego no tenía activa la suscripción a Nintendo Switch Online. La verdad es que ni siquiera sé en qué consiste, aunque sí que tengo entendido que un multijugador cooperativo no es. Una pena, porque estaría chulo.</p>

<p>Super Mario Wonder es otro de los títulos que, si te gusta este género, no pueden faltar en tu colección de Nintendo Switch. Y ya van unos cuantos.</p>
