---
layout: post
title: "Incendios"
summary: "Seguimos con los guionistas del siglo XXI. Verano de pesadilla en el noroeste de España."
header_image: /uploads/2025/08/incendios-cabecera.jpg
main_image: /uploads/2025/08/incendios.jpg
tags: [actualidad, eventos excepcionales, incendios, personal]

---

<p>Por desgracia, no es el primer verano con incendios en España ni en León, donde solemos pasar algunos días de vacaciones. Pero sí es el primero en que los percibimos con tanta cercanía.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/08/incendios.jpg', 'alt': 'Humo en el ambiente. No es una mañana de invierno. Estamos en pleno agosto.', 'position': 'center'} %}

<p>Y es que ya en el mes de julio hubo un incendio cerca de Madrid cuyos nefastos efectos se percibieron en el barrio. No sólo el olor a humo, sino que perfectamente se podían ver las pavesas flotando por el aire.</p>

<p>Pero en estas vacaciones, lo de respirar aire puro del monte no ha sido posible. El olor a quemado era intenso, y se hacía notar en la garganta y los ojos. Mirando hacia el cielo, el humo tornaba el sol de un color rojizo de lo más inquietante. Un día, y otro, y otro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/08/sol-carmesi.jpg', 'alt': 'El sol carmesí no augura nada bueno (la foto no hace justicia en absoluto)', 'position': 'center'} %}

<p>En fin, seguimos siendo testigos de desgracias variadas, mientras la vida sigue y los que deberían estar ahí para solucionar los problemas o tratar de mitigarlos andan a la gresca.</p>