---
layout: post
title: "Juegos: Lunark (Nintendo Switch)"
summary: "Una aventura de acción pixelada digna de los mejores exponentes del género."
header_image: /uploads/2025/08/lunark-cabecera.jpg
main_image: /uploads/2025/08/lunark-switch.jpg
tags: [análisis videojuegos, indie, lunark, nintendo]
widgets: [now-playing]
---

<p>Tenía este juego en la recámara desde hacía casi un par de años. Por lo que sea, si bien es cierto que la he reducido bastante, no me termino de quitar del todo la manía de acumular. Antes los compraba directamente cuando los veía rebajados. Ahora los mantengo en la lista de deseos y me hago una idea de cuál puede ser su precio mínimo. Pero con algunos sigo picando antes de tiempo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/08/lunark-titulo.jpg', 'alt': 'Pantalla de título', 'position': 'center'} %}

<p>En cualquier caso, se trataba únicamente de buscar el momento para jugarlo de principio a fin, ya que es un juego corto (<a href="https://howlongtobeat.com/game/126319">sobre 4 horas y media según Howlongtobeat</a>).</p>

<p>No recuerdo si le estaba siguiendo la pista desde que <a href="https://www.retromaniacmagazine.com/2019/01/plataformas-cinematicas-con-sabor-anejo.html">comentaron en RetroManiac</a> el inicio de su <a href="https://www.kickstarter.com/projects/canarigames/lunark">Kickstarter</a> (creo que no), o bien alguien lo comentó en el <a href="https://t.me/joinchat/Ec7iXBEKxnsgj4-aNi__Zg2>"grupo de Telegram</a> o en alguna red social. El caso es que, como buen "plataformas cinemático", me llamaba la atención.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/08/lunark-tutorial.jpg', 'alt': 'Que no falte un buen tutorial donde aprender los controles del juego', 'position': 'center'} %}

<p>El juego es una mezcla/homenaje de juegos clásicos como Flashback, Another World y Prince of Persia, entre otros. Y casi diría que por ese orden en cuanto a influencias o semejanzas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/08/lunark-cinematica-flashback.jpg', 'alt': 'Este tipo de cinemáticas recuerdan poderosamente a las de Flashback', 'position': 'center'} %}

<p>Encontraremos una historia no muy profunda pero interesante de fondo, ambientaciones variadas, los NPCs conversarán con nosotros dándonos alguna pista o completando la información de la trama, y la mecánica de juego se basa en tres pilares: plataformeo (con su dosis de saltos medidos y caídas al vacío para rompernos la crisma), puzles (no demasiado complicados, siendo complicado quedarse atascado) y tiroteos. Estos últimos son los que menos me han gustado.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/08/lunark-gameplay.jpg', 'alt': 'La ambientación es vairada en las distintas fases del juego', 'position': 'center'} %}

<p>La mecánica de coberturas se basa principalmente en la utilización de unos escudos de energía que se gastan tras usarlos. En cualquier caso, no es obligatorio dominar esta parte. Yo mismo soy un claro ejemplo de que el juego se puede completar sin necesidad de ello, lo cual dudo si es un punto positivo o negativo. Por lo demás, he muerto unas cuantas veces, pero el guardado automático en forma de <em>checkpoints</em> resulta razonablemente permisivo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/08/lunark-traduccion-mejorable.jpg', 'alt': 'En castellano, encontraremos algunos errores de traducción (poco o nada molestos)', 'position': 'center'} %}

<p>Llegar al final de la historia me ha llevado 4 horas y 55 minutos. Me he dejado algún objeto no imprescindible por el camino. Como la versión de Nintendo Switch no tiene logros ni trofeos, no sé si se me habrán quedado más cosas por el camino.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/08/lunark-final.jpg', 'alt': 'Final del juego (no hay spoilers en este pantallazo)', 'position': 'center'} %}

<p>Desde luego que es un juego más apetecible que la segunda parte de Flashback, que parece que <a href="https://www.metacritic.com/game/flashback-2/">salió un poco pocha</a>. Lo cual resultó una auténtica lástima. Si te gustó aquella aventura de <a href="https://www.mobygames.com/person/1573/paul-cuisset/2">Paul Cuisset</a>, no puedes dejar pasar este Lunark.</p>