---
layout: post
title: "Juegos: Prince Of Persia The Lost Crown (PlayStation 5)"
summary: "El príncipe protagoniza uno de los mejores metroidvanias de la historia (hasta el momento)"
header_image: /uploads/2025/11/prince-of-persia-the-lost-crown-ps5-cabecera.jpg
main_image: /uploads/2025/11/prince-of-persia-the-lost-crown-ps5.jpg
tags: [análisis videojuegos, metroidvania, prince of persia, playstation 5, ubi soft]
widgets: [now-playing]
---

<p>Tras unos días dedicados a <a href="https://www.dotemu.com/games/ninja-gaiden-ragebound/">Ninja Gaiden: Ragebound</a>, juego que espero comentar por aquí cuando lo termine —hito que todavía no he conseguido—, a mediados de octubre decidí embarcarme en la penúltima aventura de la <a href="https://www.ubisoft.com/es-es/game/prince-of-persia">franquicia del Príncipe de Persia</a> —la última es The Rogue Prince of Persia—.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/11/pop-ambientacion.jpg', 'alt': 'No os dejéis engañar por los gráficos: es un Metroidvania 2,5D', 'position': 'center'} %}

<p>Prince of Persia: The Lost Crown es uno de esos juegos maltratados por el público que creo que no merecen una cifra de ventas tan baja como la que ha cosechado. Porque puedo afirmar tranquilamente que es uno de los mejores títulos del género <em>metroidvania</em> de los últimos años —y casi me atrevería a decir que de todos los tiempos—. Pero, por lo que sea, no ha cuajado.</p>

<p>Quizás sea porque el principio es un poco áspero, o al menos a mí así me lo ha parecido. Hasta que le coges el hilo, se tarda un rato. Tanto en el plataformeo como en los combates. Pero cuando «entras en la zona»… madre mía. Es un juegazo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/11/pop-game-over.jpg', 'alt': 'Esta pantalla la veremos muy a menudo, sobre todo cuando el juego empieza a «entrar en harina»', 'position': 'center'} %}

<p>No quieres parar de avanzar, de explorar nuevas zonas, de potenciar al personaje, de aprender nuevas habilidades y de acceder así a lugares por los que ya has pasado, pero que te están vedados de primeras y que estás deseando descubrir. Vamos, lo que viene siendo un <em>metroidvania</em>, pero de los buenos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/11/pop-pinchos.jpg', 'alt': 'Terminaréis odiando estos pinchos tanto como yo', 'position': 'center'} %}

<p>El estilo artístico también choca un poco al principio, pero, en cuanto te haces a él, te das cuenta de que le sienta como un guante. El mapa es inmenso, mucho más de lo que parece en un principio. Afortunadamente, cuando avanzamos en el juego, se habilitan opciones de viaje rápido, que siempre se agradecen. Entre eso, el mapa con los puntos de control y la posibilidad de hacer capturas de pantalla de los lugares de interés, no se hace aburrido en ningún momento.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/11/pop-mapa.jpg', 'alt': 'El mapa del juego es muchísimo más grande de lo que puede parecer en un principio', 'position': 'center'} %}

<p>El combate es exigente. No basta con bloquear y contraatacar de manera mecánica. Hay que dominar todas las técnicas —teniendo en cuenta, además, que no podremos equiparlas todas a la vez y tendremos que seleccionar las que mejor nos vengan tanto para nuestro estilo de juego como para la zona en la que estemos— si queremos acabar con los enemigos grandes. Y el plataformeo no le va a la zaga. Cuando vamos adquiriendo experiencia y destreza, parece que flotamos por los escenarios.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/11/pop-bosses.jpg', 'alt': 'Cada enemigo "final" requerirá que estudiemos su comportamiento para poder vencerlo', 'position': 'center'} %}

<p>Para terminarlo le he dedicado unas 30 horas. La mayoría de ellas, como siempre, robadas al sueño. No he conseguido el trofeo de platino y, en principio, lo descarto. Hay algunos retos que veo que me van a costar bastante tiempo. En esta ocasión no se trata de completar las típicas misiones de recadero y de encontrar coleccionables, sino de dominar aún más el arte del combate, las plataformas y los saltos. Y me apetece cambiar de tercio. Por el mismo motivo, tampoco he comprado el DLC.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/11/pop-sin-vuelta-atras.jpg', 'alt': 'A partir de este punto, ya no hay vuelta atrás', 'position': 'center'} %}

<p>Este The Lost Crown es uno de esos juegos que te da pena terminar y que, al mismo tiempo, te gustaría que te borraran de la memoria para poder volver a disfrutarlo como si fuera la primera vez.</p>

{% include 'components/image.twig' with {'src': '/uploads/2025/11/pop-creditos.jpg', 'alt': 'Títulos de crédito', 'position': 'center'} %}

<p>Y sí, todavía tengo pendiente acabarme <a href="https://princejs.com/">el primer Prince of Persia</a>.</p>
