<p class="row">
<div class="col-xs-12">

        <h3>Saga Assassin's Creed</h3>

        <p>Mis estadísticas jugando a las diferentes entregas de la saga (hasta ahora):</p>

        <p>
            <ul>
                <li>Assassin's Creed - sin datos</li>
                <li>Assassin's Creed II - 79,57% (24,5 horas)</li>
                <li>Assassin's Creed II Brotherhood - 46,04% (13 horas)</li>
                <li><a href="/2012/01/juegos-assassins-creed-revelations-demo.html">Assassin's Creed II Revelations</a> - 58,69% (12 horas)</li>
                <li><a href="/2014/09/juegos-assassins-creed-iii-xbox-360.html">Assassin's Creed III</a> - 37%  (15 horas)</li>
                <li><a href="/2015/02/juegos-assassins-creed-iv-black-flag.html">Assassin's Creed IV</a> - 62% (25 horas)</li>
                <li><a href="/2017/08/juegos-assassins-creed-rogue.html">Assassin's Creed Rogue</a> (25 horas)</li>
                <li><a href="/2017/07/juegos-assassins-creed-unity-ps4.html">Assassin's Creed Unity</a> - 44% (33 horas)</li>
                <li><a href="/2017/08/juegos-assassins-creed-syndicate-ps4.html">Assassin's Creed Syndicate</a> - 88% (40 horas) - <strong>Trofeo PLATINO PSN</strong></li>
                <li><a href="/2020/05/juegos-assassins-creed-origins-ps4.html">Assassin's Creed Origins - 76% (41 horas)</a></li>
                <li><a href="/2020/08/juegos-assassins-creed-odyssey-ps4.html">Assassin's Creed Odyssey - <strong>100%</strong> (<strong>79 horas</strong>)</a></li>
            </ul>
        </p>
    </div>
</p>
