<p class="row">
    <div class="col-xs-12">
        <h3>Franquicia Metroid</h3>
        <p>Mis estadísticas jugando a las diferentes entregas (hasta ahora):</p>
        <p>
            <ul>
        <li><a href="/2021/10/juegos-metroid-zero-mission-gba.html">Metroid Zero Mission (Game Boy Advance)</a> - 3h52'42" (49%)</li>
        <li><a href="/2020/04/juegos-metroid-samus-returns.html">Metroid Samus Returns (3DS)</a> - 12h56'54" (38%)</li>
        <li><a href="/2021/10/juegos-metroid-dread-switch.html">Metroid Dread (Switch)</a> - 9h04'56" (41%)</li>
            </ul>
        </p>
    </div>
</p>
