<div class="row">
    <div class="col-xs-12">
        <h3>¿Qué estoy leyendo?</h3>
        <p>Ahora mismo estoy leyendo "Todo Muere", de <a href="https://www.juangomezjurado.com/">Juan Gómez-Jurado</a>.</p>
        <hr>
        <p>Mi <a href="/2004/11/leyendo.html">lista de libros leídos hasta la fecha</a>.</p>
    </div>
</div>
