<p class="row">
    <div class="col-xs-12">
        <h3>¿A qué estoy jugando?</h3>
        <p>Mi <a href="/2004/11/jugando.html">lista de juegos completados y pendientes</a></p>
        <hr>
        <div class="card-columns">
            {% include 'components/multimedia-card.twig' with {'img': '/uploads/covers/games/castlevania-sotn-psx.jpg', 'title': 'Castlevania: Symphony Of The Night', 'subtitle': 'PlayStation 4', 'progress': 55} only %}
        </div>
        <div class="card-columns">
            {% include 'components/multimedia-card.twig' with {'img': '/uploads/covers/games/return-to-monkey-island-switch.jpg', 'title': 'Return To Monkey Island', 'subtitle': 'Nintendo Switch', 'progress': 50} only %}
        </div>
    </div>
</p>

<p class="row">
    <div class="col-xs-12">
        <h3>Mis perfiles para jugar online:</h3>
        <ul>
            <li>Clave de amigo Nintendo Switch: SW-7678-2952-4488</li>
            <li>ID Playstation Network: <a href="https://my.playstation.com/profile/falvarez_">falvarez_</a></li>
            <li>Gamertag Xbox Live (actualmente inactivo): falvarezz</li>
        </ul>
    </div>
</p>
