<div class="row">
    <div class="col-xs-12">
        <h3>¿A qué estoy jugando?</h3>
        <p>Mi <a href="/2004/11/jugando.html">lista de juegos completados y pendientes</a></p>
        <div class="card-columns">
            {% include 'components/multimedia-card.twig' with {'img': '/uploads/widgets/paper-mario-color-splash-wiiu.jpg', 'title': 'Paper Mario: Color Splash', 'subtitle': 'Nintendo WiiU', 'progress': 50} only %}
            {% include 'components/multimedia-card.twig' with {'img': '/uploads/widgets/super-hydorah-switch.jpg', 'title': 'Super Hydorah', 'subtitle': 'Nintendo Switch', 'progress': 85} only %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Mis perfiles para jugar online:</h3>
        <ul>
            <li>Clave de amigo Nintendo Switch: SW-7678-2952-4488</li>
            <li>ID Playstation Network: <a href="https://my.playstation.com/profile/falvarez_">falvarez_</a></li>
            <li>Gamertag Xbox Live (actualmente inactivo): falvarezz</li>
        </ul>
    </div>
</div>
