<p class="row">
    <div class="col-xs-12">
        <p>Mi <a href="/2004/11/leyendo.html">lista de libros leídos hasta la fecha</a>.</p>
        <hr>
        <p>Ahora mismo estoy leyendo "Replay: Memorias de una familia", de <a href="https://www.jordanmechner.com/">Jordan Mechner</a>.</p>
    </div>
</p>
