<p class="row">
    <div class="col-xs-12">
        <p>Mi <a href="/2004/11/leyendo.html">lista de libros leídos hasta la fecha</a>.</p>
        <hr>
        <p>Ahora mismo estoy leyendo "La llave de los misterios", de Jesús Relinque.</p>
    </div>
</p>
