<div class="row">
    <div class="col-xs-12">
        <h3>¿A qué estoy jugando?</h3>
        <p>Mi <a href="/2004/11/jugando.html">lista de juegos completados y pendientes</a></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="/uploads/widgets/assassins-creed-odyssey.jpg" alt="Assassin's Creed Odyssey (PS4)" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Assassin's Creed Odyssey (PS4)</h5>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="/uploads/widgets/blackthorne.jpg" alt="Blackthorne (SNES)" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Blackthorne (SNES)</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Mis perfiles para jugar online:</h3>
        <ul>
            <li>Clave de amigo Nintendo Switch: SW-7678-2952-4488</li>
            <li>ID Playstation Network: <a href="https://my.playstation.com/profile/falvarez_">falvarez_</a></li>
            <li>Gamertag Xbox Live (actualmente inactivo): falvarezz</li>
        </ul>
    </div>
</div>
