<div class="row">
    <div class="col-xs-12">
        <h3>¿Qué estoy leyendo?</h3>
        <p>Ahora mismo estoy leyendo "Involución", de Noelia Rodríguez González.</p>
        <hr>
        <p>Mi <a href="/2004/11/leyendo.html">lista de libros leídos hasta la fecha</a>.</p>
    </div>
</div>
