<p class="row">
<div class="col-xs-12">
        <h3>Entregas de la saga The Legend Of Zelda</h3>
        <p>
            <ul>
                <li>Zelda (NES) 1987: Pendiente</li>
                <li>Zelda II (NES) 1988: Pendiente</li>
                <li><strong><a href="/2021/03/juegos-the-legend-of-zelda-a-link-to-the-past-snes.html">Zelda Link to the Past (SNES - GBA - GameCube - Switch) 1991: Terminado (Switch)</a></strong></li>
                <li><em>Link’s Awakening (Game Boy) 1993: N/A</em></li>
                <li><strong>Ocarina of Time (Nintendo 64 - 3DS) 1998: Terminado (N64)</strong></li>
                <li><em>Link’s Awakening EX (Game Boy Color) 1998: Empezado</em></li>
                <li><em>Majora’s Mask (Nintendo 64 - 3DS) 2000: Empezado (3DS)</em></li>
                <li>Oracle of Seasons (Game Boy Color) 2001: Pendiente</li>
                <li>Oracle of Ages (Game Boy Color) 2001: Pendiente</li>
                <li><strong>The Wind Waker (GameCube) 2002: Terminado</strong></li>
                <li>Four Swords (GameCube) 2003: N/A</li>
                <li><strong><a href="/2005/02/juegos-legend-of-zelda-minish-cap-gba.html">The Minish Cap (Game Boy Advance) 2004: Terminado</a></strong></li>
                <li><strong>Twilight Princess (GameCube - Wii) 2006: Terminado (Wii)</strong></li>
                <li><strong><a href="/2007/12/juegos-legend-of-zelda-phantom.html">Phantom Hourglass (Nintendo DS) 2007: Terminado</a></strong></li>
                <li><em>Spirit Tracks (Nintendo DS) 2009: Empezado</em></li>
                <li><strong>Skyward Sword (Wii) 2011: Terminado</strong></li>
                <li><strong>A Link Between Worlds (3DS) 2013: Terminado</strong></li>
                <li>Tri Force Heroes (3DS) 2015: N/A</li>
                <li><strong><a href="/2019/02/juegos-the-legend-of-zelda-breath-of-the-wild.html">Breath Of The Wild (Switch) 2017: Terminado (Switch)</a></strong></li>
                <li>Link's Awakening (Switch) 2019: Pendiente</li>
            </ul>
        </p>
    </div>
</p>
