<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.summary }}">
    <meta name="author" content="Federico J. Álvarez Valero">

    <link rel="canonical" href="{{ site.url}}{{ page.url }}">

    <meta property="fb:pages" content="292479861233802">

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }} - {{ site.subtitle }} - Atom" href="{{ site.url}}/atom.xml" />

    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }}</title>

    {% block head_meta %}
    <meta name="robots" content="follow">
    {% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.url }}/css/bootstrap.min.css?20200628" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.url }}/css/clean-blog.min.css?20200628" rel="stylesheet">
    <link href="{{ site.url }}/css/custom.min.css?20240824" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://kit.fontawesome.com/ae5e5df113.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">

</head>

<body class="{% block template_class %}{% endblock %}">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">El blog de Fede Álvarez</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ site.url }}/archive/">Archivo</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.url }}/search.html">Buscador</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.url }}/tags/">Etiquetas</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.url }}/atom.xml">RSS</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.url }}/about.html">Sobre mí</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block header %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({% if page.header_image %}{{ page.header_image }}{% else %}'/img/home-bg.jpg'{% endif %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="subheading">{{ page.subtitle }}</span>
                    <span class="meta">{{ page.text_date }}</span>
                    {% if page.last_update_date %}
                    <br><span class="meta update-date">Actualizado el {{ page.last_update_date | lcfirst }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

<!-- Main Content -->
{% block content_wrapper %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="main-content">
                <article>

                    {{ page.blocks.content|raw }}

                    {% for widget in page.widgets %}
                    {% include 'widgets/' ~ widget ~ '.twig' ignore missing %}
                    {% endfor %}

                </article>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="http://www.linkedin.com/in/fedealvarez">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/falvarez">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/user/falvarez">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Si necesitas copiar algo de este blog, por favor, no dejes de indicar su lugar de procedencia. Esta página ni usa <em>cookies</em> ni efectúa ningún tipo de rastreo.</p>
                <p class="copyright text-muted"><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank"><img src="/img/somerights20.gif"/></a></p>
                <p class="copyright text-muted">{{ site.years }} - Tema basado en <a href="https://startbootstrap.com/themes/clean-blog/" target="_blank">Start Bootstrap - Clean Blog</a> - powered by <a href="http://sculpin.io/" target="_blank">Sculpin</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ site.url }}/js/jquery.js"></script>

<!-- Image lazy loading -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<!-- Charts -->
<script type="text/javascript" src="/js/chart.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.url }}/js/bootstrap.min.js?20200628"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.url }}/js/clean-blog.js?20200628"></script>
<script src="{{ site.url }}/js/app.js?20240104"></script>

<!-- Charts -->
<script type="text/javascript" src="/js/games-stats.js?20240926"></script>

<!-- Twitter Javascript -->
<script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));</script>

</body>

</html>
