---
layout: post
title: "Xbox 360 ya está aquí"
summary: "Todavía no está a la venta, lo estará a principios de diciembre. Pero los primeros expositores promocionales ya han llegado."
header_image: /uploads/2005/11/65074140-e232db3b0b-m.jpg
main_image: /uploads/2005/11/65074140-e232db3b0b-m.jpg
tags: [videojuegos]

---
<p>Todavía no está a la venta, lo estará a principios de diciembre. Pero los primeros expositores promocionales ya han llegado.</p>

<p>Hoy he tenido la ocasión de ponerme a los mandos de una en el Centromail de Preciados (Madrid). El expositor constaba de una consola con carcasa blanca, dos mandos y la posibilidad de conectar unos cascos y una tarjeta de memoria. La pantalla es una Samsung panorámica de (a ojo) unas <em>veintipico</em> pulgadas.</p>

<p>La consola viene con un disco de demostración en la que se muestran los datos más importantes, hardware, periféricos, así como una descripción del servicio Xbox Live. Como teníamos poco tiempo hemos tirado directamente a los juegos. Hay 3 demos jugables, de Kameo, Call Of Duty 2 y King Kong, y el resto eran vídeos promocionales de títulos como Project Gotham Racing 3, NBA 2006, Test Drive y un puñado más.</p>

<p>El mando tiene un tacto excelente, y se me antoja muy muy cómodo, más que el Controller S de Xbox. Además por lo visto estará disponible para PC (lástima que no use el PC para jugar).</p>

<p>La decepción... sólo he probado el Call Of Duty 2, y se me antoja una simple recompilación del título para Xbox. En cualquier caso, no deja de ser más de lo mismo (lo cual para mi es la peor noticia), mismo tipo de juegos con mejores gráficos. Además, en este título en concreto, sin esbozar tan siquiera un salto cualitativo importante visualmente hablando.</p>

<p>Para mi el punto que deberían intentar explotar es el servicio on-line y la inteligencia artificial de la máquina. Si no, sinceramente, no aporta más que espectacularidad. Que no está mal, pero alguien que lleva jugando a videojuegos más de 20 años espera una "vuelta de tuerca" más al concepto de jugabilidad.</p>

<p>A continuación, añado un par de fotos tomadas un día después en el SIMO 2005.</p>
{% include 'components/image.twig' with {'src': '/uploads/2005/11/65074140-e232db3b0b-m.jpg', 'alt': '', 'position': 'center'} %}
{% include 'components/image.twig' with {'src': '/uploads/2005/11/65074139-f9a5af35b2-m.jpg', 'alt': '', 'position': 'center'} %}
