---
layout: post
title: "¿Cómo cambiar la batería de un cartucho de Game Boy?"
summary: "Si tenéis algún cartucho de los que permitían guardar partida, es posible que no funcione porque la batería se haya agotado. Es un problema que, afortunadamente, tiene fácil solución"
header_image: /uploads/2019/03/pila-sustituida.jpg
main_image: /uploads/2019/03/pila-sustituida.jpg
tags: [briconsejo, cartucho, game boy, nintendo, videojuegos]

---

<p>El pasado 13 de febrero, en un Nintendo Direct <a href="https://vandal.elespanol.com/noticia/1350718881/anunciado-un-remake-de-the-legend-of-zelda-links-awakening-para-switch/">se anunció un remake para Nintendo Switch</a> del clásico de Game Boy (y Game Boy Color) The Legend Of Zelda: Link's Awakening. Justo acababa de terminar mi periplo por Hyrule en <a href="/2019/02/juegos-the-legend-of-zelda-breath-of-the-wild-switch.html
">Breath Of The Wild</a> y me acordé de que hacía años había comprado ese cartucho en mi afán por reunir una (incompleta) colección de juegos de Zelda.</p>

<p>Saqué mi <a href="/2016/08/la-gameboy-advance-definitiva.html">Game Boy Advance retroiluminada</a> &mdash;donde es mucho más cómodo jugar a juegos de Game Boy que en la consola original (o la Color)&mdash; recargué su batería y me puse a jugar sin más. La verdad es que el juego tiene muy buena pinta, y estuve como cosa de una hora. Unos días después fui a continuar la partida y me encontré con el pastel: en el cartucho no aparecía tal partida guardada.</p>

<p>Teniendo en cuenta los años transcurridos desde su fabricación, caí en la cuenta de que la batería del cartucho podría estar agotada. Para abrir el cartucho necesitaréis una punta Gamebit de 3,5 mm (si no me equivoco). En mi caso tengo un juego de puntas que compré hace 15 años, imagino que en la actualidad será mucho más fácil de encontrar. Existe una alternativa que consiste en <a href="https://www.retroocio.com.es/haz-tu-propio-destornillador-gamebit/">derretir el plástico de un boli Bic</a> para hacer un "molde" y poder desatornillarlos, pero pienso que no merece la pena.</p>

{% include 'components/image.twig' with {'src': '/uploads/2019/03/cartucho-zelda-links-awakening.jpg', 'alt': 'Tornillo Gamebit en la parte trasera del cartucho', 'position': 'center'} %}

<p>Efectivamente, tras medirla con un polímetro, la pila estaba agotada, daba como la mitad de voltaje del que debería. Por tanto, hay que sustituirla por otra. Se trata de una pila de botón de 3 voltios CR1616, no recargable, con la particularidad de que lleva unos bornes para soldarla directamente en la placa. La mía de repuesto la compré en <a href="https://www.aliexpress.com/item/5x-CR1616-Button-Cell-Batteries-Tabs-3V-2-Feet-Welding-Solder-Pins-50mAh-1616-ECR1616-LM1616/32815203533.html">AliExpress</a>, pero se puede encontrar en muchos otros sitios. Ojo que el modelo de pila no es el mismo para todos los juegos. En este <a href="https://www.elotrolado.net/hilo_gb-gbc-como-no-perder-nunca-tus-partidas_1884951">interesante hilo de EOL</a> tenéis bastante información sobre este tema.</p>

{% include 'components/image.twig' with {'src': '/uploads/2019/03/pila-original.jpg', 'alt': 'Pila original (en un cartucho de otro juego, pero es idéntica)', 'position': 'center'} %}

<p>Una vez recibida, basta con desoldar la antigua y soldar la nueva. No es una operación demasiado difícil, salvo que seas demasiado manazas con el soldador. Yo, que no soy para nada un experto, la he podido sustituir sin problemas en apenas 5 minutos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2019/03/pila-sustituida.jpg', 'alt': 'Pila sustituida y funcionando', 'position': 'center'} %}

<p>Aunque seguí avanzando en el juego, con el Everdrive para poder grabar la partida, ahora ya puedo retomarlo en el cartucho original, que espero que dure al menos otros tantos años. Eso sí, tendré que volver a empezar una vez más. Lo que estaría genial sería disponer de un lector de cartuchos para poder hacer una copia de seguridad de las partidas en el ordenador. Dejo anotado aquí un <a href="https://www.reddit.com/r/Gameboy/comments/4w8xjf/guide_how_to_backup_your_game_save_files/">hilo de Reddit</a> donde se habla de este tema, para revisarlo más adelante.</p>

<p>Por cierto, que me han sobrado cuatro pilas. Así que, si a alguien le hace falta alguna, podemos hablar. Aunque quizás debería revisar o directamente sustituir la del resto de cartuchos que tengo que, tarde o temprano, también fallarán.</p>

<p>PS: A ver si ahora soy capaz de averiguar qué le pasa a la batería recargable de la Game Boy Advance, que no carga.</p>
