---
layout: post
title: "Lecturas: Reina Roja"
summary: "Primer libro del maratón veraniego de 2019: La última novela de Juan Gómez-Jurado, publicada a finales del pasado año"
header_image: /uploads/2019/08/reina-roja.jpg
main_image: /uploads/2019/08/reina-roja.jpg
tags: [lecturas, intriga, juan gómez-jurado, thriller]
widgets: [now-reading]

---

<p>Un año después, comienza una nueva "maratón de lecturas veraniegas". Debido a mi rutina, el verano es el único momento en el que saco tiempo para leer. Algo que ha cambiado mucho desde que comencé este blog, cuando iba en transporte público al trabajo y devoraba libro tras libro.</p>

<ul>
    <li>Autor: Juan Gómez-Jurado</li>
    <li>Año: 2018</li>
    <li>ISBN: 978-84-666-6442-4</li>
</ul>

<p>El primero al que le he hincado el diente ha sido a "Reina Roja", de <a href="http://juangomezjurado.com/">Juan Gómez-Jurado</a>. Un libro que tengo desde el mismo día de su lanzamiento, el pasado 8 de noviembre, y que tenía ganas de leer. Y este es, en resumen, el resultado:</p>

{% include 'components/image.twig' with {'src': '/uploads/2019/08/tweet-1159015461595557889.jpg', 'alt': 'Compré Reina Roja el día de lanzamiento, esperando unas vacaciones para poder leerlo, y me ha durado dos días, DOS DÍAS. ¿Y ahora qué hago?', 'position': 'center'} %}

<p>No es más que el resultado de combinar mi ritmo rápido de lectura, tener poco tiempo durante el año para hacerlo y dar con un relato que puede que no sea el culmen de la literatura universal, pero que propone una trama y, sobre todo, una forma de contarla que te engancha y te impide hacer prácticamente otra cosa que no sea seguir devorando renglones hasta llegar al final.</p>

<p>Tampoco esperemos encontrar un giro espectacular en los acontecimientos, de esos que te dejan con el culo torcido porque, en líneas generales, una vez que se nos presenta el hilo conductor, más o menos podemos intuir cómo se va a desarrollar el asunto. Pero eso no quiere decir que no haya sorpresas, que las hay (al menos para mí). Seguramente seríamos capaces de resumir la historia en un par de párrafos. Pero lo interesante aquí es el viaje, el cómo se desarrollan los acontecimientos, los pequeños detalles, cómo vamos profundizando en la personalidad de los personajes, conociéndolos y, puede ser, empatizando con ellos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2019/08/reina-roja.jpg', 'alt': 'Reina Roja', 'position': 'center'} %}

<p>Además, en mi caso, se añaden un par de puntos que otros lectores no encontrarán. Primero, el hecho de que la historia tenga Madrid como escenario añade un plus de cercanía, al conocer personalmente la mayoría de los lugares en los que transcurre la trama, y dejarme con ganas de conocer aquellos que no.</p>

<p>Por otro lado, el seguir al autor en Twitter, haber escuchado algunos de los <em>podcasts</em> en los que interviene, como <a href="http://todopoderosos.net/">Todopoderosos</a>, y conocer un poco cómo piensa, su odio a los franceses, qué opina sobre ciertos temas, qué gustos tiene, su odio a los franceses, ayuda a que, cuando nos encontramos ciertos chascarrillos salpicando el texto, no podamos evitar esbozar una sonrisa de complicidad.</p>

<p>En resumen: el libro está bien, pero no es un Premio Nobel, no nos volvamos locos. Desde luego que se lo recomiendo a cualquiera que le guste un buen <em>thriller</em>. Creo que no quedará defraudado.</p>

<p>El año pasado me quedó pendiente "La leyenda del ladrón" para terminar (hasta el próximo octubre) con la bibliografía del autor. Y es posible que me ponga con él, si en vez de la variedad que proclamaba hace doce meses opto por una intención completista. La respuesta la encontraréis en próximas entradas de este blog.</p>
