---
layout: post
title: "Juegos: Starfox Command (Nintendo DS)"
summary: "Mi primer contacto con la saga Starfox fue al comprar lo que es el grueso de mi colección de Nintendo 64 (la consola, 3 mandos y 14 ó 15 juegos, todo ello en perfecto estado, con sus cajas y demás). Me extrañaba un poco que pusiera LylatWars en la caja, cuando el juego se llamaba Starfox, pero bueno. Más tarde me enteré de que era por un problema de marcas registradas."
header_image: /uploads/2007/03/starfox-command-01.jpg
main_image: /uploads/2007/03/starfox-command-01.jpg
tags: [análisis videojuegos, nintendo ds, starfox]
widgets: [now-playing]

---
<p>Mi primer contacto con la saga Starfox fue al comprar lo que es el grueso de mi colección de Nintendo 64 (la consola, 3 mandos y 14 ó 15 juegos, todo ello en perfecto estado, con sus cajas y demás). Me extrañaba un poco que pusiera LylatWars en la caja, cuando el juego se llamaba Starfox, pero bueno. Más tarde me enteré de que era por un problema de marcas registradas.</p>

<p>La verdad es que sólo lo jugué para probar que funcionaba (como me ha pasado con tantos y tantos juegos).</p>

{% include 'components/image.twig' with {'src': '/uploads/2007/03/starfox-command-01.jpg', 'alt': '', 'position': 'center'} %}

<p>El primer contacto que tuve con este Starfox Command fue en junio del pasado 2006, cuando tuve la inmensa fortuna de ser una de las primeras personas que pudo probar la Wii en España. Tenían un montón de Nintendo DS en expositores, con multitud de juegos, como este Starfox, el Mario Basketball, Mario vs DK 2 o, incluso, el Zelda: Phantom Hourglass. Pero, como es lógico, nadie les hacía el más mínimo caso.</p>

<p>En resumidas cuentas, aunque sé quién es Starfox y conozco la saga (sólo me faltan por probar los dos títulos de GameCube), en realidad me enfrento a esta nueva entrega como si fuera un juego nuevo para mí.</p>

<p>Por simplificar, se trata de un arcade de navecitas en 3D. La mecánica es muy sencilla. Se nos presenta un escenario de batalla por turnos en el que debemos trazar con el lápiz los movimientos que harán nuestras naves. Una vez en marcha, cada encontronazo de una nave nuestra con naves, misiles o bases enemigas se traducirá en una batalla en la que controlaremos nuestra nave mediante la pantalla táctil, como si de un stick analógico se tratara, mientras que podremos disparar con cualquiera de los botones.</p>

{% include 'components/image.twig' with {'src': '/uploads/2007/03/star-fox-command-20060714101614843.jpg', 'alt': '', 'position': 'center'} %}

<p>Al planificar los turnos podremos movernos como queramos, teniendo claro que, si un enemigo llega a contactar con el Star Fox (nuestra nave nodriza), la partida habrá terminado.</p>

<p>El control es algo chocante al principio, pero una vez cogido el truco, me ha resultado más cómodo que el de otros juegos como Metroid o Super Mario 64. Doy fe de que se puede jugar sin muchos problemas en el metro o el autobús. Por cierto, que la pantalla táctil también sirve como radar, para tener controlada la posición de los enemigos.</p>

<p>Como puntos positivos del juego, puedo hablar de la buena apariencia gráfica que presenta, de la variedad de caminos a seguir y de la inclusión de juego online (aunque todavía no he encontrado a ningún adversario dispuesto a medirse conmigo, así que no puedo evaluar si la experiencia es buena o mala en ese sentido). También me parece un acierto la mezcla de acción pura con estrategia por turnos.</p>

<p>Como aspectos negativos, quiero destacar, técnicamente, la corta distancia de dibujado y las ralentizaciones que se experimentan cuando el escenario está muy sobrecargado de enemigos. Asimismo, la mecánica de juego, pese a la multitud de tramas, acaba haciéndose repetitiva.</p>

{% include 'components/image.twig' with {'src': '/uploads/2007/03/01.jpg', 'alt': '', 'position': 'center'} %}

<p>Desde luego que el juego es bastante entretenido y, técnicamente, puede que de lo mejor que haya actualmente en el catálogo de Nintendo DS.</p>

<p>Si me lo hubiera tenido que comprar, no sé si habría pagado los 40 euros. Pero como me lo han prestado, una vez que lo he catado, le estoy sacando el máximo partido, intentando desbloquear todos los niveles y completar los diferentes finales que tiene (he leído que hasta un total de nueve).</p>
