---
layout: post
title: "Juegos: Call of Duty 3"
summary: "Aunque hace casi un año que me regalaron este juego, y comencé prácticamente en aquel momento a jugarlo, no ha sido hasta hace pocos días que he logrado terminarlo. Evidentemente, no he estado jugando desde entonces. De hecho, lo he tenido abandonado durante largas temporadas."
header_image: /uploads/2007/11/cod3-portada.jpg
main_image: /uploads/2007/11/cod3-portada.jpg
text_date: Viernes, 9 de noviembre de 2007
tags: [análisis videojuegos, call of duty, wii]
widgets: [now-playing]

---
<p>Aunque hace casi un año que me regalaron este juego, y comencé prácticamente en aquel momento a jugarlo, no ha sido hasta hace pocos días que he logrado terminarlo. Evidentemente, no he estado jugando desde entonces. De hecho, lo he tenido abandonado durante largas temporadas.</p>

<p>Hasta ese momento había jugado a Call Of Duty y <a href="/2005/12/juegos-call-of-duty-2-pc.html">Call Of Duty 2</a> en PC, casi siempre del tirón. Así que, con tiempo libre, nunca fueron juegos que tardara en acabar más de un par de semanas (como mucho).</p>

{% include 'components/image.twig' with {'src': '/uploads/2007/11/cod3-portada.jpg', 'alt': '', 'position': 'center' } %}

<p>Call Of Duty 3 fue uno de los juegos de salida del catálogo de Wii, y se nota, para lo bueno y para lo malo. Había mucha expectación en cómo sería el manejo de un juego de disparos en primera persona (FPS) con el mando de Wii, más teniendo en cuenta que Red Steel se retrasó y no acompañó al lanzamiento de la consola. Por otro lado, COD3 es un título multiplataforma, y también salió para Xbox 360, PS3 y PC. La comparación gráfica es absurda; Wii sale claramente perdiendo, debido a su menor potencia.</p>

<p>El juego en sí no difiere demasiado de las otras versiones. Incorpora algunas acciones especiales que podemos realizar con el Wiimote (como dar culatazos con el rifle o remar, por citar algunas). El punto fuerte es la forma de apuntar (y disparar). Al igual que, una vez que pruebas un volante en condiciones, jugar a juegos de coches con un pad se torna aburrido, una vez que pruebas COD3, ya te da pereza jugar a shooters apuntando con los sticks analógicos. El Wiimote no tiene la precisión del ratón, pero nadie dijo que apuntar con un fusil fuera una tarea sencilla.</p>

{% include 'components/image.twig' with {'src': '/uploads/2007/11/cod3-ingame.jpg', 'alt': '', 'position': 'center' } %}

<p>Por desgracia, quizás debido a las prisas por el lanzamiento, se nota que el juego no está todo lo pulido que debiera. Es más, en ocasiones con muchos elementos en pantalla, el motor deja de responder y se torna injugable, lo cual resulta bastante frustrante, y uno de los motivos por los cuales he tardado tanto en terminarlo.</p>

<p>Es un juego que, sin duda, hubiera recomendado en el lanzamiento de la consola. Pero ahora, casi un año después, ha quedado totalmente superado por otros títulos (Red Steel, Medal of Honor) y los que están por venir.</p>

<p>Ver la <a href="http://wii.nintendo.es/2260.html">Ficha del juego</a>.</p>
