---
layout: post
title: "Wii"
summary: "Acabo de probarla, todavía estoy flipando..."
header_image: /uploads/2006/06/175392395-11bdb0ec23-m.jpg
main_image: /uploads/2006/06/175392395-11bdb0ec23-m.jpg
tags: [videojuegos, wii]
widgets: [now-playing]

---
<p>Acabo de probarla, todavía estoy flipando...</p>

{% include 'components/image.twig' with {'src': '/uploads/2006/06/175392395-11bdb0ec23-m.jpg', 'alt': '', 'position': 'center'} %}

<p>Ya daré más detalles, pero es probable que sea la primera consola que compro el día de salida.</p>

<p>PD: Gracias a Melisa y a Blanca, que me han invitado a acompañarlas al evento.</p>

<h3>ACTUALIZACIÓN</h3>

<p>Aprovecho para añadir un enlace a las fotos de pésima calidad que he hecho durante el evento.</p>

<a href="https://photos.app.goo.gl/uu6LTbop4TYkgcQs6">{% include 'components/image.twig' with {'src': '/uploads/2006/06/175768765-9d889898ee.jpg', 'alt': 'Presentación Nintendo Wii (haz clic para ver el álbum completo)', 'position': 'center'} %}</a>

<p>Y aquí tenéis a Blanca y a Iñaki (de Nintendo) peleando cada punto a cara de perro en el juego de tenis de Wii Sports.</p>

<div class="embed-responsive embed-responsive-4by3"><iframe width="420" height="315" src="https://www.youtube.com/embed/X2oVQ7b_ynw" frameborder="0" allowfullscreen></iframe></div>
