---
layout: post
title: "Aparcando..."
summary: "... que es gerundio."
header_image: /uploads/2006/11/aparcando-1.jpg
main_image: /uploads/2006/11/aparcando-1.jpg
tags: [curiosidades]

---
<p>... que es gerundio.</p>

<p>Hoy ha sido un día terrible. Cuando llueve en Madrid, parece que todo el mundo saca el coche. En fin, que íbamos a comer antes de una reunión y nos hemos encontrado esto en el aparcamiento del centro comercial Sexta Avenida:</p>
{% include 'components/image.twig' with {'src': '/uploads/2006/11/aparcando-1.jpg', 'alt': '', 'position': 'center'} %}
<p>Me ha recordado a un Powerpoint de coña de esos que suelen llegar al correo electrónico sobre cómo aparcan las mujeres (aunque hay algunos hombres que también tienen tela). Y es que todavía seguimos con la duda. ¿Cómo ha podido colocar el coche ahí?</p>
{% include 'components/image.twig' with {'src': '/uploads/2006/11/aparcando-2.jpg', 'alt': '', 'position': 'center'} %}
<p>Se admiten posibles explicaciones.</p>
