---
layout: post
title: "Leyendo..."
summary: "Aquí está la lista de libros que me he leído hasta la fecha"
text_date: Miércoles, 17 de noviembre de 2004
tags: [análisis libros, personal]
disqus_identifier: leyendo
disqus_url: http://blog.falvarez.es/2004/11/leyendo.html

---
<p>A continuación, voy a ir completando una lista de los libros que ya he leído. No están todos los que son, pero sí son todos los que están. Con <!--una estrella y--> un color de fondo destacado he marcado los que me han parecido más interesantes o me han cautivado más durante su lectura:</p>

<p class="alphabet">
    <a class="btn btn-secondary" href="#0-9">#</a>
    <a class="btn btn-secondary" href="#a">A</a>
    <a class="btn btn-secondary" href="#c">C</a>
    <a class="btn btn-secondary" href="#d">D</a>
    <a class="btn btn-secondary" href="#e">E</a>
    <a class="btn btn-secondary" href="#f">F</a>
    <a class="btn btn-secondary" href="#g">G</a>
    <a class="btn btn-secondary" href="#h">H</a>
    <a class="btn btn-secondary" href="#i">I</a>
    <a class="btn btn-secondary" href="#l">L</a>
    <a class="btn btn-secondary" href="#m">M</a>
    <a class="btn btn-secondary" href="#o">O</a>
    <a class="btn btn-secondary" href="#p">P</a>
    <a class="btn btn-secondary" href="#r">R</a>
    <a class="btn btn-secondary" href="#s">S</a>
    <a class="btn btn-secondary" href="#t">T</a>
    <a class="btn btn-secondary" href="#u">U</a>
    <a class="btn btn-secondary" href="#v">V</a>

</p>

<div class="card-columns">
    <!-- 0-9 -->
    {% include 'components/multimedia-card.twig' with {'title': '1984', 'subtitle': 'George Orwell', 'id': '0-9'} only %}
    <!-- A -->
    {% include 'components/multimedia-card.twig' with {'title': 'Abducción', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/', 'id': 'a'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Acoso', 'subtitle': 'Michael Crichton'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'ADN', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Alto Riesgo', 'subtitle': 'Ken Follet', 'link2': '/tags/ken follet/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Ángeles Y Demonios', 'subtitle': 'Dan Brown', 'link': '/2006/01/lecturas-ngeles-y-demonios.html', 'link2': '/tags/dan brown/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Ánima', 'subtitle': 'John Darnton'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Assassini', 'subtitle': 'Thomas Gifford', 'link': '/2005/05/lecturas-assassini.html', 'link2': '/tags/thomas gifford/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'A Través De Mis Pequeños Ojos', 'subtitle': 'Emilio Ortiz', 'link': '/2018/08/lecturas-a-traves-de-mis-pequenos-ojos.html', 'link2': '/tags/emilio ortiz/'} only %}
    <!-- C -->
    {% include 'components/multimedia-card.twig' with {'title': 'Chacal', 'subtitle': 'Frederick Forsyth', 'id': 'c'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Cicatriz', 'subtitle': 'Juan Gómez-Jurado', 'link': '/2016/10/cicatriz.html', 'link2': '/tags/juan gómez-jurado/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Coma', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Contrato Con Dios', 'subtitle': 'Juan Gómez-Jurado', 'link2': '/tags/juan gómez-jurado/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Convulsión', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Crisis', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Cromosoma 6', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/'} only %}
    <!-- D -->
    {% include 'components/multimedia-card.twig' with {'title': 'De Cero A Uno: Cómo Inventar El Futuro', 'subtitle': 'Peter Thiel', 'link': '/2016/11/lecturas-de-cero-a-uno-como-inventar-el-futuro.html', 'link2': '/tags/peter thiel/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Desembarco En Normandía (El Día "D")', 'subtitle': 'Georges Blond', 'link': '/2004/12/lecturas-desembarco-en-normanda-el-da.html', 'link2': '/tags/georges blond/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Doble Juego', 'subtitle': 'Ken Follet', 'link2': '/tags/ken follet/'} only %}
    <!-- E -->
    {% include 'components/multimedia-card.twig' with {'title': 'El Capitán Alatriste', 'subtitle': 'Arturo Pérez Reverte', 'link2': '/tags/arturo pérez reverte/', 'id': 'e'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Círculo Mágico', 'subtitle': 'Katherine Neville'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Círculo Octogonus', 'subtitle': 'Peter Harris'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Círculo Oscuro', 'subtitle': 'D. Preston y L. Child', 'link2': '/tags/douglas preston/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Códice 632', 'subtitle': 'Jose Rodriguez Dos Santos'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Código DaVinci', 'subtitle': 'Dan Brown', 'link2': '/tags/dan brown/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Color De La Magia', 'subtitle': 'Terry Pratchett'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Emblema Del Traidor', 'subtitle': 'Juan Gómez-Jurado', 'link2': '/tags/juan gómez-jurado/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Enigma Del Cuatro', 'subtitle': 'Ian Caldwell, Dustin Thomason'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Enigma Vivaldi', 'subtitle': 'Peter Harris', 'link2': '/tags/peter harris/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Final Del Círculo', 'subtitle': 'Tom Egeland'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Hobbit', 'subtitle': 'J.R.R. Tolkien', 'link2': '/tags/j.r.r. tolkien/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Hombre Más Buscado', 'subtitle': 'John le Carré'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Invierno Del Mundo', 'subtitle': 'Ken Follet', 'link': '/2015/06/lecturas-trilogia-century-ken-follet.html', 'link2': '/tags/ken follet/', 'starred': true} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Juego De Ender', 'subtitle': 'Orson Scott Card', 'link': '/2010/10/lecturas-el-juego-de-ender.htm', 'link2': '/tags/orson scott card/', 'starred': true} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Mundo Del Spectrum', 'subtitle': 'Varios autores', 'link': '/2017/04/lecturas-el-mundo-del-spectrum.htm'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Mundo Del Spectrum +', 'subtitle': 'Varios autores', 'link': '/2018/07/lecturas-el-mundo-del-spectrum-plus.html'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Mundo Perdido', 'subtitle': 'Michael Crichton'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Niño Con El Pijama De Rayas', 'subtitle': 'John Boyne', 'link': '/2009/06/lecturas-el-nino-con-el-pijama-de-rayas.html', 'link2': '/tags/john boyne/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Nombre De La Rosa', 'subtitle': 'Umberto Eco'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Ocho', 'subtitle': 'Katherine Neville'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Paciente', 'subtitle': 'Juan Gómez-Jurado', 'link': '/2015/09/lecturas-el-paciente.html', 'link2': '/tags/juan gómez-jurado/', 'starred': true} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Quijote (primera parte)', 'subtitle': 'Miguel De Cervantes', 'link': '/2005/04/lecturas-don-quijote-de-la-mancha.html', 'link2': '/tags/miguel de cervantes/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Quijote (segunda parte)', 'subtitle': 'Miguel De Cervantes', 'link': '/2005/12/lecturas-don-quijote-de-la-mancha.html', 'link2': '/tags/miguel de cervantes/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Relicario (The Relic)', 'subtitle': 'D. Preston y L. Child', 'link2': '/tags/douglas preston/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Señor De Los Anillos', 'subtitle': 'J.R.R. Tolkien', 'link2': '/tags/j.r.r. tolkien/', 'starred': true} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Silmarillion', 'subtitle': 'J.R.R. Tolkien', 'link2': '/tags/j.r.r. tolkien/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Sol De Breda', 'subtitle': 'Arturo Pérez Reverte', 'link2': '/tags/arturo pérez reverte/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Tercer Gemelo', 'subtitle': 'Ken Follet', 'link2': '/tags/ken follet/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Testamento De Judas', 'subtitle': 'Daniel Easterman'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Testamento Maya', 'subtitle': 'Steve Alten'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Último Catón', 'subtitle': 'Matilde Asensi', 'link': '/2004/12/lecturas-el-ltimo-catn.html', 'link2': '/tags/matilde asensi/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Último Merovingio', 'subtitle': 'Jim Hougan'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'El Umbral De La Eternidad', 'subtitle': 'Ken Follet', 'link': '/2015/06/lecturas-trilogia-century-ken-follet.html', 'link2': '/tags/ken follet/', 'starred': true} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'En El Blanco', 'subtitle': 'Ken Follet', 'link': '/2005/05/lecturas-en-el-blanco.html', 'link2': '/tags/ken follet/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Enola Gay', 'subtitle': 'Gordon Thomas y Max Morgan-Witts'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Espía De Dios', 'subtitle': 'Juan Gómez-Jurado', 'link2': '/tags/juan gómez-jurado/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Estado De Miedo', 'subtitle': 'Michael Crichton'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Estupor Y Temblores', 'subtitle': 'Amèlie Nothomb', 'link': '/2006/05/lecturas-estupor-y-temblores.html'} only %}
    <!-- F -->
    {% include 'components/multimedia-card.twig' with {'title': 'Fahrenheit 451', 'subtitle': 'Ray Bradbury', 'starred': true, 'id': 'f'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Falcó', 'subtitle': 'Arturo Pérez Reverte', 'link': '/2018/08/lecturas-falco.html', 'link2': '/tags/arturo pérez reverte/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Fiebre', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Flash Forward', 'subtitle': 'Robert J. Sawyer'} only %}
    <!-- G -->
    {% include 'components/multimedia-card.twig' with {'title': 'Galatea', 'subtitle': 'Melisa Tuya', 'id': 'g'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Génesis: guía esencial de los videojuegos españoles de ocho bits', 'subtitle': 'José Manuel Fernández «Spidey» y Jesús Relinque «Pedja»', 'link': '/2016/09/lecturas-genesis.html', 'link2': '/tags/jesús relinque pedja/'} only %}
    <!-- H -->
    {% include 'components/multimedia-card.twig' with {'title': 'Hacia La Fundación', 'subtitle': 'Isaac Asimov', 'id': 'h'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Hermanos De Sangre', 'subtitle': 'Stephen E. Ambrose'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Historia Lógico-Natural', 'subtitle': 'J.J. Merelo', 'link': '/2016/10/historia-logico-natural.html', 'link2': '/tags/juan julián merelo/'} only %}
    <!-- I -->
    {% include 'components/multimedia-card.twig' with {'title': 'Iacobus', 'subtitle': 'Matilde Asensi', 'link2': '/tags/matilde asensi/', 'id': 'i'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Invierno En Madrid', 'subtitle': 'C.J. Sansom'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'iWoz. Steve Wozniak, De Genio De La Informática A Icono De Culto', 'subtitle': 'Gina Smith', 'link': '/2016/02/lecturas-iwoz-steve-wozniak-de-genio-de.html', 'link2': '/tags/gina smith/'} only %}
    <!-- L -->
    {% include 'components/multimedia-card.twig' with {'title': 'La Alternativa del Diablo', 'subtitle': 'Frederick Forsyth', 'link': '/2004/12/lecturas-la-alternativa-del-diablo.html', 'link2': '/tags/frederick forsyth/', 'id': 'l'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Biblia De Barro', 'subtitle': 'Julia Navarro', 'link': '/2005/10/lecturas-la-biblia-de-barro.html', 'link2': '/tags/julia navarro/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Caída De Los Gigantes', 'subtitle': 'Ken Follet', 'link': '/2015/06/lecturas-trilogia-century-ken-follet.htm', 'link2': '/tags/ken follet/', 'starred': true} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Carta Esférica', 'subtitle': 'Arturo Pérez Reverte', 'link2': '/tags/arturo pérez reverte/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Catedral Del Mar', 'subtitle': 'Ildefonso Falcones', 'link': '/2007/05/lecturas-la-catedral-del-mar.html', 'link2': '/tags/ildefonso falcones/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Cena Secreta', 'subtitle': 'Javier Sierra', 'link': '/2005/04/lecturas-la-cena-secreta.html', 'link2': '/tags/javier sierra/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Chica Del Tren', 'subtitle': 'Paula Hawkins', 'link': '/2018/08/lecturas-la-chica-del-tren.html', 'link2': '/tags/paula hawkins/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Ciudad Sagrada', 'subtitle': 'D. Preston y L. Child', 'link': '/2005/07/lecturas-la-ciudad-sagrada.html', 'link2': '/tags/douglas preston/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Conjura Contra América', 'subtitle': 'Philip Roth', 'link': '/2006/01/lecturas-la-conjura-contra-amrica.html', 'link2': '/tags/philip roth/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Conspiración', 'subtitle': 'Dan Brown', 'link': '/2005/09/lecturas-la-conspiracin.html', 'link2': '/tags/dan brown/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Conspiración De Los Herejes', 'subtitle': 'Jonathan Rabb'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Danza De La Muerte', 'subtitle': 'D. Preston y L. Child', 'link2': '/tags/douglas preston/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Danza Del Cementerio', 'subtitle': 'D. Preston y L. Child', 'link2': '/tags/douglas preston/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Fórmula De Dios', 'subtitle': 'José Rodrigues Dos Santo', 'link': '/2009/09/lecturas-la-formula-de-dios.html', 'link2': '/tags/josé rodrigues dos santos/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Fortaleza Digital', 'subtitle': 'Dan Brown', 'link2': '/tags/dan brown/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Fuerza Para Cuñados', 'subtitle': 'Arturo González-Campos, Juan Gómez-Jurado', 'link': '/2018/02/lecturas-la-fuerza-para-cunados.html', 'link2': '/tags/juan gómez-jurado/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Hermandad de la Sábana Santa', 'subtitle': 'Julia Navarro', 'link': '/2005/08/lecturas-la-hermandad-de-la-sbana.htm', 'link2': '/tags/julia navarro/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Lápida Templaria', 'subtitle': 'Nicholas Wilcox'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Leyenda Del Ladrón', 'subtitle': 'Juan Gómez-Jurado', 'link': '/2020/10/lecturas-la-leyenda-del-ladron.html', 'link2': '/tags/juan gómez-jurado/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Mano Del Diablo', 'subtitle': 'D. Preston y L. Child', 'link': '/2006/06/lecturas-la-mano-del-diablo_03.html', 'link2': '/tags/douglas preston/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Mano De Fátima', 'subtitle': 'Ildefonso Falcones', 'link2': '/tags/ildefonso falcones/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Orden Negra', 'subtitle': 'José Calvo Poyato', 'link': '/2006/10/lecturas-la-orden-negra.html', 'link2': '/tags/josé calvo poyato/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Piel Del Tambor', 'subtitle': 'Arturo Pérez Reverte', 'link2': '/tags/arturo pérez reverte/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Reina Del Sur', 'subtitle': 'Arturo Pérez Reverte', 'link2': '/tags/arturo pérez reverte/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Resurrección Maya', 'subtitle': 'Steve Alten'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Sangre De Dios', 'subtitle': 'Nicholas Wilcox'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Sangre De Los Inocentes', 'subtitle': 'Julia Navarro', 'link2': '/tags/julia navarro/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Tabla De Flandes', 'subtitle': 'Arturo Pérez Reverte', 'link2': '/tags/arturo pérez reverte/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Tapadera', 'subtitle': 'John Grisham'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Última Legión', 'subtitle': 'V.M. Manfredi'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'La Voz De Los Muertos', 'subtitle': 'Orson Scott Card', 'link': '/2012/06/lecturas-la-voz-de-los-muertos.html', 'link2': '/tags/orson scott card/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Las Puertas De Anubis', 'subtitle': 'Tim Powers'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Limpieza De Sangre', 'subtitle': 'Arturo Pérez Reverte', 'link2': '/tags/arturo pérez reverte/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Loba Negra', 'subtitle': 'Juan Gómez-Jurado', 'link': '/2020/08/lecturas-loba-negra.html', 'link2': '/tags/juan gómez-jurado/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Los Asesinatos De Manhattan', 'subtitle': 'D. Preston y L. Child', 'link2': '/tags/douglas preston/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Los Cañones De Agosto', 'subtitle': 'Barbara W. Tuchman', 'link': '/2005/03/lecturas-los-caones-de-agosto.html', 'link2': '/tags/barbara w. tuchman/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Los Hijos De Húrin', 'subtitle': 'J.R.R. Tolkien (editado por Christopher Tolkien)', 'link': '/2007/07/lecturas-los-hijos-de-hrin.html', 'link2': '/tags/j.r.r. tolkien/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Los Pilares De La Tierra', 'subtitle': 'Ken Follet', 'link2': '/tags/ken follet/'} only %}
    <!-- M -->
    {% include 'components/multimedia-card.twig' with {'title': 'Más Allá Del Cielo', 'subtitle': 'D. Preston y L. Child', 'link2': '/tags/douglas preston/', 'id': 'm'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Maus', 'subtitle': 'Art Spiegelman'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Miedo Mortal', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Momo', 'subtitle': 'Michael Ende'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Mutación', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/'} only %}
    <!-- N -->
    {% include 'components/multimedia-card.twig' with {'title': 'Nivel 5', 'subtitle': 'D. Preston y L. Child', 'link': '/2005/07/lecturas-nivel-5.html', 'link2': '/tags/douglas preston/', 'id': 'n'} only %}
    <!-- O -->
    {% include 'components/multimedia-card.twig' with {'title': 'Obsequium', 'subtitle': 'Jaume Esteve', 'link': '/2016/12/lecturas-obsequium.html', 'link2': '/tags/jaume esteve/', 'id': 'o'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Ocho Quilates', 'subtitle': 'Jaume Esteve', 'link2': '/tags/jaume esteve/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Ocho Quilates vol. 2', 'subtitle': 'Jaume Esteve', 'link2': '/tags/jaume esteve/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Odessa', 'subtitle': 'Frederick Forsyth'} only %}
    <!-- P -->
    {% include 'components/multimedia-card.twig' with {'title': 'Papillon', 'subtitle': 'Henri Charrière', 'link': '/2005/01/lecturas-papillon.html', 'link2': '/tags/henri charrière', 'id': 'p'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Parque Jurásico', 'subtitle': 'Michael Crichton', 'link2': '/tags/michael crichton/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Patria', 'subtitle': 'Robert Harris', 'link': '/2005/02/lecturas-patria.html', 'link2': '/tags/robert harris/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Presa', 'subtitle': 'Michael Crichton', 'link2': '/tags/michael crichton/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Promanager - PC Fútbol: Droga en el quiosco', 'subtitle': 'Jaume Esteve', 'link': '/2016/08/lecturas-promanager-pcfutbol-droga-en-el-quiosco.html', 'link2': '/tags/jaume esteve/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Punto Crítico (Airframe)', 'subtitle': 'Michael Crichton', 'link2': '/tags/michael crichton/'} only %}
    <!-- R -->
    {% include 'components/multimedia-card.twig' with {'title': 'Ready Player One', 'subtitle': 'Ernest Cline', 'id': 'r'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Rescate En El Tiempo', 'subtitle': 'Michael Crichton', 'link2': '/tags/michael crichton/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Reina Roja', 'subtitle': 'Juan Gómez-Jurado', 'link': '/2019/08/lecturas-reina-roja.html', 'link2': '/tags/juan gómez-jurado/'} only %}
    <!-- S -->
    {% include 'components/multimedia-card.twig' with {'title': 'Sadrac En El Horno', 'subtitle': 'Robert Silverberg', 'id': 's'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Sé Lo Que Estás Pensando', 'subtitle': 'John Verdon'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Sólo Una Mirada', 'subtitle': 'Harlan Coben', 'link': '/2006/02/lecturas-slo-una-mirada.html', 'link2': '/tags/harlan coben/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Steve Jobs', 'subtitle': 'Walter Isaacson', 'link': '/2011/11/lecturas-steve-jobs.html', 'link2': '/tags/walter isaacson/', 'starred': true} only %}
    <!-- T -->
    {% include 'components/multimedia-card.twig' with {'title': 'The Last Secret Of The Temple', 'subtitle': 'Paul Sussman', 'link': '/2007/05/lecturas-last-secret-of-temple.html', 'link2': '/tags/paul sussman/', 'id': 't'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'The Second Horseman', 'subtitle': 'Kyle Mills', 'link': '/2007/07/lecturas-second-horseman.htm', 'link2': '/tags/kyle mills/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Tiempo De Matar', 'subtitle': 'John Grisham'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Tiranosaurio', 'subtitle': 'D. Preston', 'link2': '/tags/douglas preston/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Tú Eres El Más Grande', 'subtitle': 'Ignacio Moreno Cuñat'} only %}
    <!-- U -->
    {% include 'components/multimedia-card.twig' with {'title': 'Un Cadáver De Más', 'subtitle': 'Ellis Peters', 'id': 'u'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Un Lugar Llamado Libertad', 'subtitle': 'Ken Follet', 'link2': '/tags/ken follet/'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Un Mundo Sin Fin', 'subtitle': 'Ken Follet', 'link2': '/tags/ken follet/'} only %}
    <!-- V -->
    {% include 'components/multimedia-card.twig' with {'title': 'Vector', 'subtitle': 'Robin Cook', 'link2': '/tags/robin cook/', 'id': 'v'} only %}
    {% include 'components/multimedia-card.twig' with {'title': 'Vuelo Final', 'subtitle': 'Ken Follet', 'link2': '/tags/ken follet/'} only %}
</div>

