---
layout: post
title: "Juegos: Crash Bandicoot XS (GBA)"
summary: "Crash Bandicoot es un simpático personaje que inició su andadura en el mundo de los videojuegos allá por los tiempos de la PlayStation. Quizás como un intento de Sony de hacer frente al prolífico Mario, quizás buscando una mascota para su primera consola en el mercado, el caso es que Crash lleva unos cuantos años pegando brincos y enfrentándose al malvado Cortex."
header_image: /uploads/2005/03/crash2.jpg
main_image: /uploads/2005/03/crash2.jpg
text_date: Miércoles, 23 de marzo de 2005
tags: [análisis videojuegos, crash bandicoot, game boy advance]
widgets: [now-playing]
disqus_identifier: juegos-crash-bandicoot-xs-gba
disqus_url: http://blog.falvarez.es/2005/03/juegos-crash-bandicoot-xs-gba.html

---
<p><a href="http://www.naughtydog.com/crash/">Crash Bandicoot</a> es un simpático personaje que inició su andadura en el mundo de los videojuegos allá por los tiempos de la <a href="http://www.playstation.com/">PlayStation</a>. Quizás como un intento de Sony de hacer frente al prolífico Mario, quizás buscando una mascota para su primera consola en el mercado, el caso es que Crash lleva unos cuantos años pegando brincos y enfrentándose al malvado Cortex.</p>

<p>La mayoría de los juegos de Crash Bandicoot, como el que nos ocupa, son juegos de plataformas, si bien también ha protagonizado algunos títulos de Karts (como Crash Team Racing de PlayStation o Crash Nitro Kart, en las consolas de la última generación), o juegos al estilo Mario Party (como Crash Bash).</p>
{% include 'components/image.twig' with {'src': '/uploads/2005/03/crash2.jpg', 'alt': '', 'position': 'center'} %}
<p>El planteamiento es sencillo. Como siempre, hay que salvar el mundo de los malvados planes de Cortex. Para ello, debemos recorrer los diferentes niveles que se nos presentan y encontrar el cristal que se oculta en cada uno de ellos. Cada 5 niveles, nos enfrentaremos con un enemigo de mayor entidad, hasta que lleguemos a enfrentarnos a Cortex en el último de ellos.</p>

<p>Como principales habilidades, en un primer momento Crash puede saltar y girar sobre sí mismo, para acabar con nuestros enemigos (no con todos). Durante el transcurso de las fases, podremos obtener nuevas habilidades, como saltar doblemente, dejarnos caer en plancha, etc... A medida que vamos avanzando, nos encontraremos manzanas que podemos recoger (cada 100 nos aportan una vida extra) y multitud de cajas. Algunas se rompen al saltar sobre ellas (o girar sobre nosotros mismos), mientras que otras contienen TNT y explotarán al poco tiempo de contactar con ellas y, las menos, contienen Nitroglicerina, y explotarán al más mínimo contacto, haciéndonos perder una preciada vida.</p>
{% include 'components/image.twig' with {'src': '/uploads/2005/03/crash1.jpg', 'alt': '', 'position': 'center'} %}
<p>El desarrollo del juego es prácticamente calcado de los primeros títulos de PlayStation (que ya de por si no eran demasiado originales), si acaso con la novedad de las fases aéreas y, eso sí, con una longitud mucho menor. Cuenta con la baza de que no es necesario completar el 100% de los objetivos para llegar a ver el final feliz de la historia y, precisamente, ahí radica su rejugabilidad.</p>

<p>Una vez conseguidos los cristales, podemos recorrer de nuevo las fases en busca de diamantes (que se consiguen al romper todas las cajas de un nivel), o bien de los talismanes, que obtendremos al completar cada fase en un tiempo máximo prefijado.</p>

<p>El juego es ideal para una consola portátil, ya que nos permite jugar un rato corto, con la posibilidad de grabar la partida en cualquier momento, y el desarrollo de cada una de sus fases no es demasiado largo. Eso sí, si disponemos de tiempo y la batería está bien cargada, nada nos impide disfrutar horas y horas de este título.</p>

<p>De momento no he completado el juego, aunque ya llevo cerca de un 80%. El problema es que, aunque conseguir todos los talismanes y los diamantes suponga un reto, al final se hace demasiado repetitivo (y aburrido, ya que en algunos niveles no he logrado encontrar todas las cajas y, por tanto, no puedo conseguir el diamante correspondiente). Por tanto, he decidido seguir con otro juego, pero la ventaja es que puedo retomarlo en cualquier momento, ya que el manejo no es nada complicado y muy intuitivo, a ver si soy capaz de completar el 100% sin consultar ninguna <a href="http://www.gamefaqs.com/portable/gbadvance/game/528154.html">guía</a>.</p>
