---
layout: post
title: "Juegos: Mario Smash Football (GameCube)"
summary: "Por desgracia, pocas veces tengo la suerte de disfrutar un juego con amigos. Y no me refiero de jugar por Internet, no. Se trata de juntarse unos cuantos frente a la consola, una tele, cuatro mandos, una bolsa de \"fantasmitos\" (creo que se llaman Drakis en realidad) y muchas ganas de divertirse."
header_image: /uploads/2006/03/116951314-88c1673d84-m.jpg
main_image: /uploads/2006/03/116951314-88c1673d84-m.jpg
text_date: Viernes, 24 de marzo de 2006
tags: [análisis videojuegos, gamecube, nintendo]
widgets: [now-playing]

---
<p>Por desgracia, pocas veces tengo la suerte de disfrutar un juego con amigos. Y no me refiero de jugar por Internet, no. Se trata de juntarse unos cuantos frente a la consola, una tele, cuatro mandos, una bolsa de "fantasmitos" (creo que se llaman Drakis en realidad) y muchas ganas de divertirse.</p>

<p>Dicha conjunción astral se produjo en lo que denominamos "la previa de MadriSX", que es la reunión que los amigos de speccy.org solemos hacer justo el día anterior. Invadimos la casa de Miguel (con permiso de su mujer) y la preparación de todas las actividades de nuestro expositor se convierte en una burda excusa para dar cancha a uno de nuestros pasatiempos favoritos: jugar. Normalmente las cosas de MadriSX, o ya las traemos preparadas, o las improvisamos a última hora.</p>

<p>En esta última ocasión, uno de los juegos que pegó fuerte fue un título que trajo Santi: Mario Smash Football. Un poco hartos de Pro Evolution (el juego se ha vuelto cada vez más embarullado, lento y técnico) y también aburridos de jugar al International Match Day (bueno, aburrido yo de ganar siempre), le dimos una oportunidad a este título de GameCube. Y vaya que se la ganó. De hecho, tuvimos que parar para dar paso a otros juegos y que el asunto no se convirtiera en una velada monotemática.</p>
{% include 'components/image.twig' with {'src': '/uploads/2006/03/116951314-88c1673d84-m.jpg', 'alt': '', 'position': 'center'} %}
<p>El multijugador dos contra dos es brutal, y más cuando no hay reglas y "todo vale". Es impagable ver la cara del colega cuando está solo delante del portero dispuesto a rematar y, de un conchazo desde la otra punta del campo, lo dejas seco. Los partidos son frenéticos. Y en 10 minutos de juego pueden acabar fácilmente con un tanteo digno de un partido de balonmano.</p>

<p>Por no centrarme sólo en las sensaciones y comentar algo del juego, decir que se trata de un juego de fútbol de equipos de 4 jugadores y el portero, cuyos partidos se disputan en campos sin fueras de banda ni de fondo y, básicamente, sin reglas. Cada equipo está capitaneado por un personaje de Nintendo, como Mario, Luigi, Yoshi o DK. Aparte de la peculiaridad de poder ir recogiendo objetos con los que hacer la vida imposible al rival, los capitanes de cada equipo tienen la posibilidad de ejecutar lo que se denominan  <em>supertrallazos</em>. La ejecución está basada en tener tino a la hora de calibrar el disparo (al modo en que se suele hacer en los juegos clásicos de golf). Si el disparo es bueno, el gol tendrá valor doble.</p>

<p>La resaca del juego fue tal que el domingo posterior, antes de que Javier y Santi marcharan para sus respectivas ciudades, le dedicamos otro par de horitas. Y el fin de semana pasado, aprovechando que el lunes era festivo, lo alquilé en Game para echar unos vicios nuevamente en casa de Miguel, ya en un tú a tú que sólo tuvo un color en el campo (todo hay que decirlo).</p>
{% include 'components/image.twig' with {'src': '/uploads/2006/03/116951315-183f7cc8eb-m.jpg', 'alt': '', 'position': 'center'} %}
<p>Posteriormente tuve ocasión de echarle yo solo unas horitas, ya tranquilamente en casa, y simplemente queda comentar que, aunque el juego individual permite desbloquear un nuevo equipo y algunos torneos más, no tiene la intensidad que el modo multijugador. Eso sí, en el último nivel de dificultad es prácticamente imposible marcar un gol. La consola mezcla con maestría la dureza y contundencia en defensa con la rapidez y soltura en ataque.</p>

<p>Quizás lo compre si algún día lo encuentro barato, pero los 60 euros que vale me parecen demasiado para un título al que se le saca partido en las reuniones con amigos.</p>
