---
layout: post
title: "De sol a sol"
summary: "Así trabajaban los agricultores y así trabajo yo a veces. Ahora que se van acortando los días, es más fácil encontrarme con imágenes como ésta por la mañana (desde casa):"
header_image: /uploads/2007/09/amanecer-casa.jpg
main_image: /uploads/2007/09/amanecer-casa.jpg
text_date: Viernes, 21 de septiembre de 2007
tags: [personal]
disqus_identifier: de-sol-a-sol
disqus_url: http://blog.falvarez.es/2007/09/de-sol-sol.html

---
<p>Así trabajaban los agricultores y así trabajo yo a veces. Ahora que se van acortando los días, es más fácil encontrarme con imágenes como ésta por la mañana (desde casa):</p>
{% include 'components/image.twig' with {'src': '/uploads/2007/09/amanecer-casa.jpg', 'alt': '', 'position': 'center'} %}
<p>y como ésta por la tarde (desde la oficina):</p>
{% include 'components/image.twig' with {'src': '/uploads/2007/09/atardecer-condesa.jpg', 'alt': '', 'position': 'center'} %}
<p>Nuevamente maldigo no disponer de una cámara decente. Pronto contaré mi odisea con la Canon Powershot S3, y puede que su "sustituta" no sea de la familia Canon.</p>
