---
layout: post
title: "\"La Carrera Perfecta\""
summary: "Con ese título tan pretencioso se celebró el pasado domingo 28 de septiembre una de las muchas carreras populares que se están organizando en los últimos años en Madrid, supongo que con la finalidad de tratar de afianzar la candidatura a la organización de los Juegos Olímpicos: \"La Carrera Perfecta\"."
header_image: /uploads/2008/09/00967.jpg
main_image: /uploads/2008/09/00967.jpg
text_date: Lunes, 29 de septiembre de 2008
tags: [carreras,deporte,personal]
disqus_identifier: la-carrera-perfecta
disqus_url: http://blog.falvarez.es/2008/09/la-carrera-perfecta.html

---
<p>Con ese título tan pretencioso se celebró el pasado domingo 28 de septiembre una de las muchas carreras populares que se están organizando en los últimos años en Madrid, supongo que con la finalidad de tratar de afianzar la candidatura a la organización de los Juegos Olímpicos: <a href="http://www.madridcorre.com/">"La Carrera Perfecta"</a>.</p>

<p>Ha sido mi segunda carrera de 10000 metros y, la verdad, teniendo en cuenta que estoy intentando hacer deporte variado, pero sin un plan de entrenamiento específico, me conformaba con bajar la marca que hice en la Carrera Liberty. Esta vez el recorrido parecía más duro y variado, pero a mi favor jugaban las semanas de actividad y tener más experiencia en la distancia.</p>

<p>El sábado pasé a recoger el dorsal (el 5333), la camiseta (la talla más grande que tenían era la M; aunque me vale, así que debe ser prácticamente una L, vaya falta de previsión) y una bolsa con publicidad de los patrocinadores.</p>

<p>La mañana se presentó fría, teniendo en cuenta que hace dos días, como quien dice estábamos en la playa, y lluviosa. Me levanté temprano (a las 07.00h, la carrera estaba programada para las 09.00h), duchita para espabilarme, un zumito de naranja y un par de barritas energéticas y al Metro. Esta vez no me la iba a jugar buscando aparcamiento.</p>

<p>En cuanto al <a href="http://www.gmap-pedometer.com/?r=2301033">recorrido</a>, la verdad es que bastante variado, muy emocionante correr por el centro de la capital, con subidas y bajadas. Especialmente dura se me hizo la Cuesta de Moyano, sobre el km 7, que me dejó reventado ya hasta prácticamente la línea de meta. La calle Alfonso XII se me hizo más larga que con el coche en un día de atasco.</p>

<p>El principal problema que le encontré al trazado fue que, al ir variando constantemente de anchura, se formaban embudos en algunos puntos, en los que no podía ir todo lo rápido que me hubiera gustado. También hubo un poco de atasco en la salida, tardé más de 5 minutos en llegar al primer kilómetro.</p>

<p>Al terminar y entregar el chip, daban una bolsa con más publicidad, un bote de Aquarius, otro de Cocacola Zero y una botellita de agua de tercio. En los guardarropas se formaron colas monumentales, no sé si por falta de previsión o qué. Yo fui con lo puesto, pero la gente estaba un poco cansada. Además, justo al llegar a la meta empezó a llover.</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/09/00967.jpg', 'alt': '', 'position': 'center'} %}

<p>Al final hice un tiempo de 53'12", que no está mal aunque, visto lo visto, creo que podría haber bajado de los 50. Se me puede ver en el vídeo de la llegada (en el tiempo 56:58 del cronómetro general):</p>
<div class="embed-responsive embed-responsive-4by3"><iframe width="420" height="315" src="https://www.youtube.com/embed/Ex4HTmkK-4g" frameborder="0" allowfullscreen></iframe></div>

<p>Aquí se puede encontrar el <a href="http://www.corriendovoy.com/video.php?id=227">vídeo a mayor calidad</a>.</p>

<p>Como esta vez sí llevaba el teléfono móvil, pude localizar a mi compañero Sergio, con el que se suponía que iba a correr, y que también ha escrito <a href="http://mepongoenmarcha.blogspot.com/2008/09/67-paso-i-carrera-perfecta.html">su propia crónica de la carrera</a>.
</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/09/00968.jpg', 'alt': '', 'position': 'center'} %}
