---
layout: post
title: "Armarios empotrados"
summary: "La verdad es que creo que fue una carambola del destino que compráramos este piso, ya que estaba hecho una auténtica porquería. El dueño anterior lo tenía alquilado, y los inquilinos anteriores eran, sin paños calientes, un poco cerdos. No entiendo cómo puede haber gente que viva en esas condiciones higiénicas. Además, con moqueta en dos de las tres habitaciones, los azulejos de la cocina con grasa incrustada. En fin, no quiero ni recordarlo. Por descontado que hubo que reformarlo por completo."
header_image: /uploads/2008/12/img-1500.jpg
main_image: /uploads/2008/12/img-1500.jpg
text_date: Viernes, 26 de diciembre de 2008
tags: [tareas domésticas,personal]
disqus_identifier: armarios-empotrados
disqus_url: http://blog.falvarez.es/2008/12/armarios-empotrados.html

---
<p>La verdad es que creo que fue una carambola del destino que compráramos este piso, ya que estaba hecho una auténtica porquería. El dueño anterior lo tenía alquilado, y los inquilinos anteriores eran, sin paños calientes, un poco cerdos. No entiendo cómo puede haber gente que viva en esas condiciones higiénicas. Además, con moqueta en dos de las tres habitaciones, los azulejos de la cocina con grasa incrustada. En fin, no quiero ni recordarlo. Por descontado que hubo que reformarlo por completo.</p>

<p>Pero, claro, el presupuesto es finito, y más teniendo en cuenta el precio al que estaban los pisos (no sé si será cierto que están bajando, no he vuelto a preguntar el precio de ninguno, aunque no me extrañaría lo más mínimo, no cuestan lo que valen). Algunas cosas se quedaron sin hacer. Entre ellas, vestir los armarios empotrados.</p>

<p>Prometí hacerlos pero, sinceramente, no sabía por dónde empezar. Hasta que un día, hablando con mi buen amigo Carlos de otros temas, salió la conversación. Carlos no se dedica a la carpintería, es músico (un muy buen baterista, en mi opinión), pero es un tío muy apañado y detallista. Me comentó que había hecho algunos armarios, así que le lié para que me ayudara con los míos. De hecho, más que ayudarme, fui yo quien le ayudó.</p>

{% include 'components/image.twig' with {'src': '/uploads/2008/12/img-1500.jpg', 'alt': '', 'position': 'center' } %}

<p>Lo difícil para mí es tomar las medidas. Él se hizo su "partitura" (como la llamamos cómicamente), y trajo las maderas ya cortadas. El resto del asunto consiste en saber cómo colocar las traseras y las baldas para que, casi a presión, se sujeten unas a otras.</p>

<p>Otro tema complicado es que las paredes interiores no están rectas ni por casualidad. Con lo cual, las maderas, incluso con el corte lo más preciso posible, no encajan.</p>

<p>Para solucionarlo, como suele ser habitual, necesitamos de herramientas que nos hagan la vida más fácil. En este tema de los armarios, de todas las que usamos (Carlos trajo un cajón enorme lleno de útiles de trabajo), me quedo con dos:</p>

<p>El cepillo eléctrico, que permite rebajar las maderas para, precisamente, ajustarlas a las torceduras y las panzas de las paredes.</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/12/img-1503.jpg', 'alt': '', 'position': 'center'} %}

<p>La otra es la sierra ingletadora, que nos permitió hacer cortes de 45º en listones y molduras. Por cierto, las molduras (junto con la masilla), ese gran invento que permite que los armarios queden con un acabado bastante aparente.</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/12/img-1502.jpg', 'alt': '', 'position': 'center'} %}

<p>En total fueron tres días de trabajo, más un cuarto que dediqué yo a rematar el armario grande, colocando las molduras que faltaban. Cuando pedimos presupuesto para la reforma, vestir los armarios con módulos prediseñados nos costaba unos 6000€. De esta manera, en materiales, no habrá supuesto más de 800€. Y encima he aprendido cosas.</p>
