---
layout: post
title: "Rutas por la sierra de Madrid"
summary: "Hace unas semanas andaba pensando en algún sitio desde el que se pudieran hacer buenas fotos de la luna llena. Un emplazamiento, preferiblemente en alto, con buenas vistas y la orientación adecuada. Se me ocurrió que un buen lugar podría ser el Mirador Luis Rosales, al que ya he subido en alguna ocasión anterior. Pero necesitaba comprobar la orientación (afortunadamente, si no el chasco podría haber sido tremendo)."
header_image: /uploads/2009/06/3578350645-1c91f3517f.jpg
main_image: /uploads/2009/06/3578350645-1c91f3517f.jpg
text_date: Miércoles, 17 de junio de 2009
tags: [personal, senderismo]
disqus_identifier: rutas-por-la-sierra-de-madrid
disqus_url: http://blog.falvarez.es/2009/06/rutas-por-la-sierra-de-madrid.html

---
<p>Hace unas semanas andaba pensando en algún sitio desde el que se pudieran hacer buenas fotos de la luna llena. Un emplazamiento, preferiblemente en alto, con buenas vistas y la orientación adecuada. Se me ocurrió que un buen lugar podría ser el <a href="http://trotamontes.org/marcoluisrosales.htm">Mirador Luis Rosales</a>, al que ya <a href="/2005/09/un-plan-distinto-para-un-sbado-noche.html">he subido en alguna ocasión anterior</a>. Pero necesitaba comprobar la orientación (afortunadamente, si no el chasco podría haber sido tremendo).</p>

<p>Ya metidos en harina, empecé a maquinar, como suele ser habitual en mí, y se me ocurrió que podría ser una buena idea aprovechar la subida para ver amanecer. Así que, allí estaba yo, a las 6 de la mañana, en el aparcamiento de las Dehesas, con mi mochila, mis botas de montaña y un arsenal de linternas y pilas, preparado para el ascenso.</p>

<p>El día ya empezaba a clarear, así que mis ojos se acostumbraron enseguida a la luz ambiente y no fue prácticamente necesario el uso de ninguna iluminación artificial. El único problema es que mi intención era subir por la pista, por la cual hay como una hora de subida a ritmo normal hasta el mirador, y sólo me quedaban tres cuartos de hora hasta amanecer. Así que debía darme prisa.</p>

<p>Todo para "casi nada". Digo esto porque, aunque pude hacer alguna foto interesante, como la que pongo a continuación, según iba subiendo iban creciendo mis sospechas de que, efectivamente, el mirador apunta hacia el sur, y al este hay una pedazo de montaña.</p>

{% include 'components/image.twig' with {'src': '/uploads/2009/06/3578350645-1c91f3517f.jpg', 'alt': 'Amanecer en la montaña', 'position': 'center'} %}

<p>Las 7 de la mañana y mi "punto de observación lunar" había resultado un completo fiasco. Llegados a este punto, sólo podía hacer dos cosas (como casi siempre). Dar media vuelta con las orejas agachadas o seguir hacia adelante. Recordaba que, siguiendo la pista, hacia el Mirador de la Reina, iba a parar al Puerto de la Fuenfría. Quizás desde ahí... Así que, un par de barritas energéticas para el buche y a seguir andando.</p>

<p>Como era de esperar, se confirma el dicho de que "detrás de una montaña, hay otra más alta", porque, por más recovecos que sigue la carretera, la visual hacia el este está vetada en ese punto de la sierra. Llegué a coronar el puerto, donde había unas vacas pastando y me di la vuelta, ya sí, deshaciendo lo andado, camino del aparcamiento.</p>

<p>Si bien la subida había sido totalmente en solitario, ya de bajada me crucé con gente. De hecho, nada más emprender la vuelta, venía un corredor a buen ritmo. Impresionante. Una de las sensaciones más curiosas del día fue llegar al coche y comprobar cómo el aparcamiento se había llenado y la gente estaba preparándose para subir a hacer rutas, cuando yo volvía ya de tres horas de <a href="http://www.gmap-pedometer.com/?r=2870481">caminata</a>.</p>

<p>Lo bueno de madrugar (tan obscenamente como lo hice aquel día) es que, cuando llevas un buen rato haciendo cosas, todavía es pronto. Ya que estaba con el coche por la zona, decidí subir al Alto del León, sólo por contemplar las vistas y hacer alguna foto.</p>

{% include 'components/image.twig' with {'src': '/uploads/2009/06/3578402951-dbd8c0e1f8.jpg', 'alt': 'La AP-6 vista desde lo alto', 'position': 'center'} %}

<p>Parece éste un buen colofón a una mañana en contacto con la naturaleza. Pero no, todavía quedaba lo mejor. Cuando ya volvía por la A6, de vuelta a Madrid, de repente se me cruzó el cable y me dije a mí mismo: "¿por qué no te pasas por Navacerrada? Todavía es pronto". Así que dicho y hecho, me desvié en Villalba y para Navacerrada que me fui.</p>

<p>Una vez allí, decidí llamar por teléfono a mi amigo Miguel para chincharle un poco y, de paso, para preguntarle si el sabía de algún sitio con las características que andaba buscando. Me sugirió subir a la Bola del Mundo. Se ve desde Navacerrada, pero me desaconsejó la subida por dura. Me recomendó hacerla desde Cotos. En principio no tenía ninguna intención de subir, la verdad, pero me acerqué a Cotos para inspeccionar el terreno y dejarlo todo preparado para otra ocasión.</p>

<p>Estando en Cotos recordé que tengo que volver algún día a Rascafría y El Paular, que hace años que no voy, y es un sitio que me gusta. Pero el objetivo de ese día, que era la Bola del Mundo, queda muy lejos desde Cotos (aunque luego me he informado de por dónde va la ruta que lleva hasta allí, y no es para tanto).</p>

<p>De vuelta a Navacerrada, nuevamente se me cruzó el cable (que lo debo de tener bastante tocado, por lo que se ve), aparqué el coche y pensé: "pero si la cima se ve desde aquí, ¿tan dura es la subida?". Ya no tenía barritas (ni hambre), pero compré una botella de agua y tiré para arriba.</p>

<p>La subida no es exagerada, ya que hay una <a href="http://www.gmap-pedometer.com/?r=2870494">pista de cemento que lleva hasta arriba</a>. Eso sí, yo la encontré a medio camino, ya que de primeras tiré recto por el medio de la montaña, con un par... Y en unos cuarenta minutos estaba en la cima, mojándome con una fina lluvia. Éste es el sitio (al menos uno de ellos) que andaba buscando. Y, por fin, pude dar por finalizadas mis pesquisas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2009/06/3579280166-240b7f90a5.jpg', 'alt': 'La Bola del Mundo', 'position': 'center'} %}

<p>Ahora sólo queda esperar a otra luna llena, ya que la última coincidió con un fin de semana lluvioso a rabiar (bueno, el que rabié fui yo, sinceramente), para volver a subir a hacer el reportaje fotográfico de rigor. Sé que será complicado, porque las condiciones meteorológicas en la montaña son imprevisibles, pero habrá que intentarlo, más ahora en verano que será más probable que no haga mal tiempo.</p>

<p>Como suele ser habitual, he colgado en <strike>Flickr</strike> Google Photos el <a href="https://photos.app.goo.gl/mJ43577vpRbLSbjg9" title="Sierra de Madrid - Mayo 2009">álbum de fotos</a> de la "aventura".</p>
