---
layout: post
title: "Movistar Home Station ADSL"
summary: "La semana pasada llamé a Movistar para quejarme de lo mal que me iba el ADSL (y también de lo caro que es el servicio, todo hay que decirlo). Tras hablar con la comercial me apunté a una promoción que, entre otras cosas, implicaba que me iban a subir la velocidad de 6 a 10 megas y alguna cosilla más. Me comentó que la misma operación de cambio de velocidad implicaba que los técnicos revisarían la línea por si había algún problema. Pero el problema, en realidad, era mi router, que estaba bastante cascado. De hecho, tuve que pedirle prestado el suyo antiguo a mi padre, y con él es con el que estaba funcionando."
header_image: /uploads/2011/10/foto-25252002-10-11-25252017-25252035-25252057.jpg
main_image: /uploads/2011/10/foto-25252002-10-11-25252017-25252035-25252057.jpg
text_date: Martes,  4 de octubre de 2011
tags: []
disqus_identifier: movistar-home-station-adsl
disqus_url: http://blog.falvarez.es/2011/10/movistar-home-station-adsl.html

---
<p>La semana pasada llamé a Movistar para quejarme de lo mal que me iba el ADSL (y también de lo caro que es el servicio, todo hay que decirlo). Tras hablar con la comercial me apunté a una promoción que, entre otras cosas, implicaba que me iban a subir la velocidad de 6 a 10 megas y alguna cosilla más. Me comentó que la misma operación de cambio de velocidad implicaba que los técnicos revisarían la línea por si había algún problema. Pero el problema, en realidad, era mi router, que estaba bastante cascado. De hecho, tuve que pedirle prestado el suyo antiguo a mi padre, y con él es con el que estaba funcionando.</p>

<p>Pues bien, sin esperarlo, un par de días después llegó a mi casa un paquete. Tras abrirlo me encontré esto:</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/10/foto-25252002-10-11-25252017-25252035-25252057.jpg" width="600" height="412', 'alt': '', 'position': 'center'} %}

<p>Bueno, pues ya que estamos, habrá que probarlo. Así que, durante el fin de semana, procedí a la instalación. El aparato, estéticamente, es más bonito que los anteriores (plástico blanco brillante rollo Apple, ya sabéis). Ya no están los leds correspondientes a cada una de las tomas de red. En su lugar, aparece un indicador de actividad en Internet que, la verdad, me parece más útil.</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/10/foto-25252002-10-11-25252017-25252036-25252019.jpg" width="600" height="488', 'alt': '', 'position': 'center'} %}

<p>Lo primero que hice, después de conectarlo, fue entrar en el administrador para cambiar la contraseña de acceso (fundamental) y, después, configurar mi red local, mi WiFi y todas mis historias. El administrador, vía web, es muy bonito y amigable; muestra los equipos que tienes conectados (incluso parece que se puede conectar una impresora USB para compartirla con el resto de equipos) y permite visualizar quién está conectado en cada momento. La pega es justo su sencillez, que sólo da acceso a la configuración de cuatro cosas básicas. ¿Dónde está el mapeado de puertos? ¿Y el filtrado MAC para la red inalámbrica?</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/10/pantallazo-homestation-252520-252520google-252520chrome.png" width="600" height="324', 'alt': '', 'position': 'center'} %}

<p>¿No hay otra forma de configurarlo? Ya estaba pensando en volver a meter el router en la caja cuando me dio por "<a href="http://google.es/">googlear</a>" un poco. Y ahí encontré la solución a mis problemas. Hay un segundo acceso web de administración, con una interfaz más espartana pero con todas las opciones disponibles. Para los que lo necesitéis, se accede con las mismas credenciales que la administración básica, introduciendo la siguiente URL en el navegador: <a href="http://192.168.1.1/main.html">http://192.168.1.1/main.html</a> (suponiendo que vuestro router esté configurado con dicha IP).</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/10/pantallazo-broadband-252520router-252520-252520google-252520chrome.png" width="600" height="324', 'alt': '', 'position': 'center'} %}

<p>De momento estoy contento con el cambio. Ya veremos a ver cuánto dura.</p>
