---
layout: post
title: "Cómo cambiar el disco duro de la PS3"
summary: "Sony se lució con algunos aspectos de su consola cuando lanzó PlayStation 3. Con otros, como el precio, creo que pecaron de prepotentes y eso les ha condenado a ir a remolque durante toda la generación. Pero vamos a quedarnos con las cosas positivas."
header_image: /uploads/2011/02/img-5169.jpg
main_image: /uploads/2011/02/img-5169.jpg
text_date: Jueves, 17 de febrero de 2011
tags: [sony,playstation 3]

---
<p>Sony se lució con algunos aspectos de su consola cuando lanzó PlayStation 3. Con otros, como el precio, creo que pecaron de prepotentes y eso les ha condenado a ir a remolque durante toda la generación. Pero vamos a quedarnos con las cosas positivas.</p>

<p>Una de ellas es la posibilidad de sustituir el disco duro que trae la consola por otro de mayor tamaño, y no necesariamente de la marca Sony y diseñado específicamente para la PS3. Es decir, podremos emplear cualquier disco siempre que posea una interfaz SATA, tenga 2,5" de tamaño y 5400 rpm (por aquello de la temperatura).</p>

<p>En mi caso, he escogido un disco con esas características de la marca Western Digital, de 500GB de capacidad.</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/02/img-5169.jpg', 'alt': '', 'position': 'center'} %}
<p>Lo primero que debemos hacer, si llevamos tiempo usando la consola, es una copia de seguridad del disco actual. Para ello, mediante la opción correspondiente del menú, volcaremos los datos en una unidad externa, conectada por USB.</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/02/img-5160.jpg', 'alt': '', 'position': 'center'} %}
<p>Una vez hecha la copia, podemos proceder a sustituir el disco. Éste se encuentra alojado en una bahía en la parte inferior de la consola (si la tenemos colocada en posición vertical) o en su parte izquierda (si la tenemos en posición horizontal).</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/02/img-5161.jpg', 'alt': '', 'position': 'center'} %}
<p>Tenemos que retirar la tapa (hay una pestañita en el lado derecho) y, después, el tornillo central azul. Tirando hacia la derecha (la carcasa en la que va montado el disco tiene un tirador al efecto) liberaremos el disco.</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/02/img-5162.jpg', 'alt': '', 'position': 'center'} %}
{% include 'components/image.twig' with {'src': '/uploads/2011/02/img-5163.jpg', 'alt': '', 'position': 'center'} %}
<p>Ahora sólo queda desatornillar los cuatro tornillos que lo fijan a la carcasa de montaje y sustituir el disco original por el nuevo, para repetir el proceso a la inversa.</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/02/img-5165.jpg', 'alt': '', 'position': 'center'} %}
<p>Volvemos a encender la consola y un mensaje nos informará de que tenemos que formatear el disco. Después de un rato y un reinicio, en mi caso tuve que volver a formatearlo con la herramienta del menú, no entiendo muy bien por qué. Por último, volveremos a acceder a la opción de Copia de Seguridad para, en esta ocasión, restaurar los datos que guardamos con anterioridad en un disco externo.</p>
{% include 'components/image.twig' with {'src': '/uploads/2011/02/img-5170.jpg', 'alt': '', 'position': 'center'} %}
<p>Así que ya podemos disfrutar del espacio libre aumentado del que disponemos y comprar juegos en la PSN como si no hubiera mañana.</p>
