---
layout: post
title: "Regalo sorpresa..."
summary: "...el que recibí el mes pasado con motivo de nuestro aniversario. Mi novia me regaló esto:"
header_image: /uploads/2011/07/img-5483.jpg
main_image: /uploads/2011/07/img-5483.jpg
text_date: Jueves, 14 de julio de 2011
tags: [videojuegos,nes,nintendo,personal]

---
<p>...el que recibí el mes pasado con motivo de nuestro aniversario. Mi novia me regaló esto:</p>

{% include 'components/image.twig' with {'src': '/uploads/2011/07/img-5483.jpg', alt: 'Juegos NES', 'position': 'center'} %}

<p>Un lote de juegos de NES, en bastante buen estado (es casi imposible encontrar hoy en día juegos de aquella época con su caja de cartón). Pero, un momento, ¿qué es ese cartucho de color "raro" que hay ahí?</p>

{% include 'components/image.twig' with {'src': '/uploads/2011/07/img-5484.jpg', alt: 'The Legend Of Zelda', 'position': 'center'} %}

<p>¡Efectivamente! Se trata de <a href="http://www.gamespot.com/nes/adventure/legendofzelda/index.html">The Legend Of Zelda</a>, el clásico que dio comienzo a la saga y que este año cumple 25. Ya me resultó extraño cuando Pati vio mi figurita de Link con Epona y dijo: "¡Anda, Zelda!" No es un juego que sea demasiado conocido, y más por alguien que no es muy aficionada a los videojuegos. Pero es por esto que lo conocía, porque tenía el juego en su casa y había jugado con él de pequeña.</p>

<p>Acompañando a esta pequeña maravilla, otros títulos interesantes: Tetris, <a href="http://en.wikipedia.org/wiki/Airwolf_(NES_video_game)">Airwolf</a>, World Champ y <a href="http://gamersup.blogspot.com/2011/06/werewolf-last-warrior-nes.html">Werewolf, The Last Warrior</a>.</p>

<p>Así que sólo puedo decir:</p>

<div class="embed-responsive embed-responsive-4by3"><iframe width="420" height="315" src="https://www.youtube.com/embed/GjaGl-W1cCM" frameborder="0" allowfullscreen></iframe>
</div>

<p>Por cierto, los precios de los cartuchos rondan las 6.500 ó 7.000 pesetas (sobre los 40 euros al cambio). Teniendo en cuenta que estamos hablando de finales de los ochenta y principios de los noventa, entonces sí que era un lujo comprarse uno. Yo creo que por ello en aquella época se disfrutaban más, y eso que había la misma cantidad de "castañas" que ahora.</p>
