---
layout: post
title: "NASA: La aventura del espacio"
summary: "La NASA ha organizado una exposición en el Recinto Ferial de la Casa de Campo de Madrid. En ella, se podían ver algunos de los objetos (o sus réplicas) que marcaron hitos en la carrera espacial. Desafortunadamente, parece que el interés por el espacio ha decrecido, al menos en lo que a exploración científica se refiere. Hace algunos meses que el transbordador espacial efectuó su última misión. Aunque pueda parecer irónico, a partir de ahora se emplearán naves rusas para el abastecimiento y el relevo de la tripulación de la Estación Espacial Internacional."
header_image: /uploads/2012/03/20120122130033-2520-2520maqueta-2520del-2520sputnik.jpg
main_image: /uploads/2012/03/20120122130033-2520-2520maqueta-2520del-2520sputnik.jpg
text_date: Miércoles, 14 de marzo de 2012
tags: [espacio, exposiciones, nasa]
disqus_identifier: nasa-la-aventura-del-espacio
disqus_url: http://blog.falvarez.es/2012/03/nasa-la-aventura-del-espacio.html

---
<p>La NASA ha organizado una exposición en el Recinto Ferial de la Casa de Campo de Madrid. En ella, se podían ver algunos de los objetos (o sus réplicas) que marcaron hitos en la carrera espacial. Desafortunadamente, parece que el interés por el espacio ha decrecido, al menos en lo que a exploración científica se refiere. Hace algunos meses que el transbordador espacial efectuó su última misión. Aunque pueda parecer irónico, a partir de ahora se emplearán naves rusas para el abastecimiento y el relevo de la tripulación de la Estación Espacial Internacional.</p>

<p>A la entrada llama la atención que la organización ha empleado unos iPod Touch a modo de audioguías. Los teléfonos van convenientemente protegidos y ejecutan una aplicación de guía, con audio y vídeo. De esta manera, el material de apoyo es multimedia, más completo que los auriculares normales. Quizás el siguiente paso sería incluir algo de interactividad con la exposición. O realidad aumentada. Me parece un uso creativo y muy buena decisión. Seguramente que iremos viendo más cosas así en el futuro.</p>

<p>De lo primero que nos encontramos en la exposición es la réplica a tamaño real del Sputnik. El Sputnik fue el primer satélite puesto en órbita por el ser humano. De hecho, si revisamos la historia de la carrera espacial durante la guerra fría, los soviéticos fueron los pioneros en muchos aspectos. Sin embargo, como es sabido, fueron los estadounidenses los primeros en llegar al satélite. Y, en esta carrera, no había "premio" para el segundo clasificado.</p>

{% include 'components/image.twig' with {'src': '/uploads/2012/03/20120122130033-2520-2520maqueta-2520del-2520sputnik.jpg', 'alt': 'Maqueta del Sputnik', 'position': 'center'} %}

<p>En una vitrina podemos contemplar reproducciones a escala de los cohetes más importantes de la NASA. Impresionan las dimensiones del <a href="http://es.wikipedia.org/wiki/Saturno_V">Saturno V</a>.</p>

{% include 'components/image.twig' with {'src': '/uploads/2012/03/20120122134200-2520-2520cohetes-2520de-2520la-2520nasa.jpg', 'alt': 'Cohetes de la NASA', 'position': 'center'} %}

<p>En otra de las estancias se encuentra una réplica de la <a href="http://es.wikipedia.org/wiki/Proyecto_Mercury">cápsula Mercury</a>. Como vemos, la zona en la que se "acomoda" el astronauta parece de todo menos espaciosa. Y no sabemos cómo de cómoda resultaría.</p>

{% include 'components/image.twig' with {'src': '/uploads/2012/03/20120122135624-2520-2520cabina-2520del-2520mercury.jpg', 'alt': 'Cabina del Mercury', 'position': 'center'} %}

<p>Sinceramente, parece increíble que unas naves que parecen poco más que un trozo de hojalata (dicho esto con toda la exageración del mundo) pudieran ser las responsables de transportar a los primeros humanos a los confines del espacio. Claro, que también tenemos que tener en cuenta que la capacidad de proceso de los ordenadores que guiaban dichas naves es una ínfima parte de la que podemos llevar hoy en el bolsillo (en nuestro teléfono móvil). En la foto, la <a href="http://es.wikipedia.org/wiki/Programa_Gemini">nave Gemini</a>.</p>

{% include 'components/image.twig' with {'src': '/uploads/2012/03/20120122140401-2520-2520nave-2520gemini.jpg', 'alt': 'Nave Gemini', 'position': 'center'} %}

<p>A continuación podemos observar una réplica a tamaño real de la cabina de mando del transbordador espacial. Una pena que no se pudiera acceder para contemplarla más de cerca. Pese a su semejanza con un avión, el transbordador no funciona como las naves que vemos en las películas de ciencia ficción, en las que parecen despegar y aterrizar sin esfuerzo. Antes bien, debe ayudarse de unos cohetes propulsores que queman una cantidad obscena de combustible para vencer la atracción gravitatoria. El aterrizaje se podría decir que es más convencional, pero los paneles cerámicos que protegen la nave del rozamiento con la atmósfera juegan un papel fundamental, y fueron la causa de la tragedia del Columbia. En la propia exposición se puede contemplar un vídeo explicativo al respecto.</p>

{% include 'components/image.twig' with {'src': '/uploads/2012/03/20120122141645-2520-2520cabina-2520del-2520transbordador-2520espacial.jpg', 'alt': 'Cabina del transbordador espacial', 'position': 'center'} %}

<p>Por último, cerca de la salida, nos encontramos una maqueta de la ISS (Estación Espacial Internacional). La estación es un auténtico laboratorio en órbita, sucesora del <a href="http://www.tudiscovery.com/web/nasa/orbita/estaciones_espaciales/skylab/">Skylab</a>, que cuenta con una tripulación permanente. Como curiosidad, es uno de los objetos más brillantes que podemos observar en el firmamento, debido a la luz del sol reflejada en sus paneles solares.</p>

{% include 'components/image.twig' with {'src': '/uploads/2012/03/20120122143216-2520-2520maqueta-2520de-2520la-2520estaci-25c3-25b3n-2520espacial-2520interancional.jpg', 'alt': 'Maqueta de la Estación Espacial Internacional', 'position': 'center'} %}

<p>En definitiva, una exposición recomendable si eres aficionado al espacio, aunque quizás se haga un poco "básica". Eché en falta alguna proyección más en vídeo o algo más inmersivo. En ese sentido, la exposición sobre la Tumba de Tutankamón, a la que acudimos el año pasado en este mismo emplazamiento, estaba más conseguida.</p>

<p>Web oficial: <a href="http://www.laaventuradelespacio.com/">http://www.laaventuradelespacio.com/</a>.</p>
