---
layout: post
title: "Carrera Liberty (quinta edición)"
summary: "Tras el descanso \"medio obligado\" del año pasado, vuelvo a la carga con la Carrera Liberty, que en 2012 va por su quinta edición y para mí es la cuarta participación."
header_image: /uploads/2012/05/liberty-25202012-2520-2520fede.jpg
main_image: /uploads/2012/05/liberty-25202012-2520-2520fede.jpg
text_date: Domingo, 20 de mayo de 2012
tags: [carreras,deporte,carrera liberty,personal]

---
{% include 'components/image.twig' with {'src': '/uploads/2012/05/liberty-25202012-2520-2520fede.jpg" width="219', 'alt': '', 'position': 'center'} %}

<p>Tras el descanso "medio obligado" del año pasado, vuelvo a la carga con la <a href="http://www.carreraliberty.es/">Carrera Liberty</a>, que en 2012 va por su quinta edición y para mí es la cuarta participación.</p>

<p>Hoy hemos tenido la suerte de disfrutar de un día fresquito, especialmente para las fechas en las que estamos, lo cual ha sido una bendición, ya que es más fácil correr así que con un calor sofocante. No obstante, desde la fractura de tobillo no consigo volver a la forma en la que estaba previamente, y aunque he hecho un tiempo digno (51'42" según mi crono, 51'48" según la clasificación oficial), no he conseguido mejorar mi última marca en esta carrera (50'48"). Eso sí, teniendo en cuenta que al inicio iba un poco frenado por la marabunta, la habitual "pájara" de la cuesta de Concha Espina y <a href="http://www.endomondo.com/workouts/56872135">viendo que los mejores parciales los he hecho al final</a>, no puedo hacer otra cosa que sentirme bastante contento. Además, es mi mejor marca desde la lesión. Y he tenido a mi novia que me ha acompañado y me ha hecho de asistente, animándome en la meta y esperándome con ropa limpia para no quedarme frío al terminar.</p>

<p>Voy a ir mirando a qué otras carreras puedo apuntarme durante junio y julio. Me gustaría correr al menos en un par de ellas antes de irme de vacaciones. Y creo que también debo centrarme en entrenar las cuestas arriba, que se me atragantan y me arruinan las marcas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2012/05/liberty-25202012-2520-2520dorsal.jpg" width="600', 'alt': '', 'position': 'center'} %}

<p>Además de las <a href="http://www.carreraliberty.es/clas2012/clasabsoluta2012.pdf">clasificaciones oficiales</a> y los <a href="http://www.corriendovoy.com/video.php?id=594&video=42712">vídeos de la llegada</a>, os dejo las crónicas de años anteriores:</p><ul><li><a href="/2010/06/carrera-liberty-tercera-edicion.html">Liberty III (2010)</a></li>
<li><a href="/2009/06/carrera-liberty-segunda-edicion-el.html">Liberty II (2009)</a></li>
<li><a href="/2008/06/carrera-liberty.html">Liberty I (2008)</a></li>
</ul>
