---
layout: post
title: "Tutorial MegaFlashROM SCC+ SD"
summary: "Aprenderemos a usar MegaFlashROM, un cartucho para MSX creado por Manuel Pazos que permite cargar el volcado de una ROM original y que permanecerá grabado hasta que lo sustituyamos por otro"
header_image: /uploads/2013/03/sfxn2l8m9ivszm3fdzqw0lj4pwsdd5tqlodp-h-lfd-syh8dvptq4k5qxghpfzwvyakpwnjrhovi-mjkxfhmrr4av-ok-rsv8mpofrzj1ghvjfdz-mgdxdnuzg.jpg
main_image: /uploads/2013/03/sfxn2l8m9ivszm3fdzqw0lj4pwsdd5tqlodp-h-lfd-syh8dvptq4k5qxghpfzwvyakpwnjrhovi-mjkxfhmrr4av-ok-rsv8mpofrzj1ghvjfdz-mgdxdnuzg.jpg
text_date: Domingo, 31 de marzo de 2013
tags: [msx, retroinformática, tutorial]

---

<p>Go to <a href="/2013/04/megaflashrom-scc-sd-tutorial.html">English version</a>.</p>

<h2>DESCRIPCIÓN</h2>

<p>MegaFlashROM es un cartucho para MSX, creado por Manuel Pazos, provisto de una memoria flash en la que podemos cargar el volcado de una ROM original y que permanecerá grabado hasta que la sustituyamos por otro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/sfxn2l8m9ivszm3fdzqw0lj4pwsdd5tqlodp-h-lfd-syh8dvptq4k5qxghpfzwvyakpwnjrhovi-mjkxfhmrr4av-ok-rsv8mpofrzj1ghvjfdz-mgdxdnuzg.jpg', 'alt': '', 'position': 'center'} %}

<p>En 2013 se ha lanzado la versión MegaFlashROM SSC+ SD. La principal ventaja que aporta esta nueva versión respecto a las existentes previamente es que podemos cargar software directamente desde la tarjeta MicroSD. Repasemos sus características básicas:</p>

<ul>
    <li>Flash ROM de 8 MB.</li>
    <li>MegaFlashROM de 7 MB en la que podremos almacenar:
        <ul>
            <li>Hasta 9 imágenes de disco (DSK).</li>
            <li>Multi ROMs de hasta 511 ROMS.</li>
        </ul>
    </li>
    <li>Chip SCC+ (una versión mejorada del <a href="http://en.wikipedia.org/wiki/Konami_SCC">chip SCC</a>).</li>
    <li>Ranura para insertar una tarjeta MicroSD (existe otra versión, algo más cara, con dos ranuras).</li>
    <li>Modo de recuperación, desde la que podremos borrar la MegaFlashROM o restaurar el sistema en el caso de que hayamos roto algo.</li>
    <li>En general, todas las características que tenía el cartucho MegaFlashROM SSC+.</li>
</ul>

<p>El cartucho es compatible con MSX (64 KB RAM) y MSX2 (128 KB RAM) y tiene un precio de venta de 99€ (en marzo de 2013).</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/t-hlqqs9rl31ychtvtw00nzfybjydi1zd-cn6m5-lfbrilny-r9bdfrpdg9utzwb-obx83evcogt0dp1ruqnu45lwiexcst5xykb240dcr5ucw8kw2qdccnp9g.jpg', 'alt': '', 'position': 'center'} %}

<p>A continuación iremos desgranando las posibilidades que ofrece a un usuario básico de MSX, sin mucho conocimiento del sistema, que lo que pretenda principalmente sea disfrutar del amplio catálogo de juegos que aparecieron para este sistema. Comentar que, en caso de tener un MSX2, las posibilidades se multiplican, pero no vamos a cubrir ese caso (principalmente por no disponer de un MSX2 para hacer las pruebas pertinentes).</p>

<p>Todas las pruebas se han realizado con un MSX Sony HitBit 75P.</p>

<p>El sistema operativo MSX-DOS no tiene soporte para subdirectorios, por lo que todos los ficheros irán grabados en la raíz de la partición correspondiente en la tarjeta SD.</p>

<p>Por descontado, el software, ya sea en formato ROM o en formato DSK, debe ser compatible con MSX1. Si no, no funcionará. El MegaFlashROM es una virguería, pero no hace milagros. También hay que desconfiar de software que hayamos conseguido y que sea producto de volcados de disco a ROM o de cinta a ROM, ya que puede que no funcione correctamente con un equipo MSX1 básico.</p>

<h2>EL CARTUCHO</h2>

<p>El cartucho en sí dispone de tres partes diferenciadas:</p>

<ul>
    <li>El MegaFlashROM SCC+ que es por simplificar, la ROM flash en la que se cargan las ROMs, imágenes de disco, etc. (y contiene el chip SCC+).</li>
    <li>El lector SD, que es donde va grabado el sistema operativo Nextor y el encargado de acceder a la tarjeta.</li>
    <li>La herramienta de recuperación, que sirve para reinstalar el cartucho o borrar alguna de sus partes.</li>
</ul>

<h2>ARRANCANDO DESDE EL CARTUCHO</h2>

<p>Si arrancamos nuestro MSX con el cartucho introducido tal y como nos lo deja Manuel preparado, en vez de nuestro añorado intérprete BASIC encontraremos el sistema operativo Nextor, aunque al tratarse de un ordenador MSX1 con 64 KB de RAM, lo que se ejecutará es MSX-DOS. Los que hayáis manejado alguna vez un PC con MS-DOS os sentiréis transportados al pasado, ya que funciona prácticamente igual (con bastantes más limitaciones, eso sí).</p>

<p>La unidad de disco A: es una unidad flash de sólo lectura que se encuentra dentro del MegaFlashROM, y que contiene el sistema operativo y la utilidad OPFXSD.COM, imprescindible ya que es la que gobierna la funcionalidad del cartucho, y que veremos más adelante. Si ejecutamos el comando DIR, veremos un listado del contenido de la unidad.</p>

<p>Comentar que en Nextor, al igual que en MS-DOS, los ficheros tienen un formato estándar de 8 caracteres de nombre + 3 caracteres de extensión, no haciendo distinción entre mayúsculas y minúsculas.</p>

<p>También comentar que observaremos algunos errores en el arranque. Esto se debe a que Manuel ha dejado preparado el arranque para que se lancen utilidades que sólo funcionan en un MSX2. Debemos ignorarlos sin más.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/tshfup6twnhbrgiunj-hfcrtrjgsjebenbxeid8-l-cqylkifxkjy12j5fx15n048pyimpegoztiwvtwnwjhb-6wieeydaby0v0cyp5ll-n8kpju9ileu5ukzg.jpg', 'alt': '', 'position': 'center'} %}

<h2>PREPARANDO LA TARJETA MICROSD</h2>

<p>Lo primero que tenemos que hacer es preparar una tarjeta MicroSD desde la que alimentaremos de software el cartucho. En el caso del MSX, necesitamos crear una partición FAT12. Para evitar problemas, lo mejor es crear la partición desde el propio MSX. Lo podemos hacer siguiendo estos pasos:</p>

<p>Invocamos el intérprete BASIC con la orden:</p>

<pre>
BASIC
</pre>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/unqdmm6owcl7u57gtwseihngcdzww-dunpxtdfys0mlnxz-xp4avtbrworuoikqtruevmdi-7osgc5meafdu3tc7icm-fy7f-byi0mx2-mfidsdnonrktag1wa.jpg', 'alt': '', 'position': 'center'} %}

<p>Arrancamos la utilidad de particionado con la orden:</p>

<pre>
CALL FDISK
</pre>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/mgzy-gu2jvd3yr0tf447emgro4je3yczikouun9y21jejih6fimigqxfd3ylcsxeas-xglk5bxgufx4biotdheph5l9qc7pxysplhcrw3-ul-r9atwf-7gtusg.jpg', 'alt': '', 'position': 'center'} %}

<p>Una vez dentro de la utilidad de particionado, seleccionaremos nuestro dispositivo, el MegaFlashROM (1):</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/upbq04nywkx74foftanluqp-qljm1mjtamwcyx-kapoz1mo-7rnh-cbenx2l9jctn-hgww3oaqkik6pbsmw3av-z8r03k-9dan0hron4urdtvxaeyidpdb5wgq.jpg', 'alt': '', 'position': 'center'} %}

<p>Nuestra tarjeta MicroSD (2). La unidad (1) es el disco flash de solo lectura:</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/prh6vmh6skgvy2if1t9hco089hiaahg7lazfn0f6yszfmkitviwor3ljwxh3qojcwrtx8ntzwlgh4e-g9padznlimwlf1i3j7yglna3tmxzr1jszvnbaz37drq.jpg', 'alt': '', 'position': 'center'} %}

<p>Y, por último, la unidad lógica (1):</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/hgh3yrrjgrykkvoyi-lqgsivl3v08hlyd-feno0mqvhcsoe1myf9v7qmkkfmsxsxxm3kfsv-idfkts9lwsc1aocvd8oe5yff-x8-pjo0cearp-veg7sjavww0q.jpg', 'alt': '', 'position': 'center'} %}

<p>Mientras que se pueden ir creando particiones una a una, para eliminarlas hay que borrarlas todas de golpe. Vamos a hacer eso y a crear un par de particiones de 16 MB. Para borrarlas usaremos la opción (D):</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/docch2ykdiuflddemn2f6fwbqgl2kuusn5jrgz2py-yxogg8pi6apcubllwgypep5fvrmdltkda-c-kncfiz38996rd2y-t-g5zwfgxxi4idgzhmaerhmefrbw.jpg', 'alt': '', 'position': 'center'} %}

<p>El sistema nos pedirá confirmación:</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/dagfche0trrtbdfx11fmaqjluo2d8fpzd8bkvs86jp0andk4nfjmn-3dqf3h-qx8mwnji35jxbxcfmchdfdhgdx2hetmryd7iulvtxvrai8egjv8xu1sbxysea.jpg', 'alt': '', 'position': 'center'} %}

<p>Una vez borradas todas las particiones, procederemos a crear las nuevas con la opción (A):</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/prp4frducb8xqhexi64vsw-0ihpgqya4tdunh0in0jahroteym5oorcqgdyqra0fuv5arx4pibufhhobepmad2xdgxaeoqmi5yypj6f3niucb-5immte6cktzw.jpg', 'alt': '', 'position': 'center'} %}

<p>Otra más. Podríamos añadir particiones de un tamaño arbitrario, pero las de 16 MB funcionan bien con el MSX1.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/adc9cdwcjogppv1afmdpva-tghe8sttw6wwcrhry6w3r4wv4lvqb5gq5bdsojy2rrqfdnix01zh9f5a7qgpdsixxtodpqcquwxpqtztt5dppodkn0rxzuntfug.jpg', 'alt': '', 'position': 'center'} %}

<p>Con la opción (W) grabaremos la tabla de particiones permanentemente en la tarjeta MicroSD:</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/6oua0ne9e1ywhgvzyyl26-f5rqhjoktqlf-io8pjwlrv9u8xf5v9ibh3hahpyliacgfhtolwy0pyqvh5xf5xw3wf29ci-wziezztgf9d5ddgg0ese0n1rpveza.jpg', 'alt': '', 'position': 'center'} %}

<p>Hemos terminado. El sistema recomienda hacer reset antes de continuar:</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/gav5tetbidr6n80k2pitjoynkou5i5dc-ikuuzxleozidmlu7qx6wikaqs-sv3rayratvpnyqcttpmkbqgemi9a5-fzjhdp-ssotqxqq8akpojroi79r7adrvq.jpg', 'alt': '', 'position': 'center'} %}

<p>Una vez tengamos la tarjeta preparada, podemos introducirla en nuestro ordenador habitual y grabar los ficheros ROM y DSK que vamos a grabar en el cartucho posteriormente.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/screen-shot-2013-03-27-at-12.09.41.png', 'alt': '', 'position': 'center'} %}

<p>Como precaución, recomendaría copiar el contenido de la unidad A: (flash de sólo lectura) en la MicroSD y guardarlos a buen recaudo, por si necesitáramos restaurarlos más adelante.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/gav5tetbidr6n80k2pitjoynkou5i5dc-ikuuzxleozidmlu7qx6wikaqs-sv3rayratvpnyqcttpmkbqgemi9a5-fzjhdp-ssotqxqq8akpojroi79r7adrvq.jpg', 'alt': '', 'position': 'center'} %}

<p>En el MSX1 sólo dispondremos de las unidades A: (disco flash de sólo lectura) y B: (primera partición de la tarjeta MicroSD). Si queremos acceder al resto de particiones de la tarjeta, tenemos que mapearlas. Se hace de la siguiente forma:</p>

<ul>
    <li>Desde MSX-DOS, accedemos al BASIC del ordenador.</li>
</ul>

<pre>
BASIC
</pre>

<ul>
    <li>Desde BASIC, invocamos la utilidad mapdrv. Por ejemplo, para acceder a la segunda partición de la tarjeta MicroSD desde la unidad B:, el comando sería:</li>
</ul>

<pre>
CALL MAPDRV("B:",2)
</pre>

<ul>
    <li>Volvemos a MSX-DOS.</li>
</ul>

<pre>
CALL SYSTEM
</pre>

<ul>
    <li>Si listamos los ficheros, veremos que estamos accediendo a la segunda partición.</li>
</ul>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/xv-8-ba1r8zjxupqynbdf4kzpm9ojavtnqdfkcrcqugdyujyq-zzfrcputxdf3juow6hrddl2qp8w7xkv0oy8pshq6ixvnf18dev6-gtxjs6pskeegv6np5ww.jpg', 'alt': '', 'position': 'center'} %}

<h2>GRABANDO UNA ROM</h2>

<p>El programa que gobierna todas las posibilidades del cartucho es OPFXSD.COM. En la <a href="http://www.msxcartridgeshop.com/bin/Manual%20de%20usuario%20-%20MegaFlashROM%20SCC+%20SD%201.01.pdf">documentación</a> que podemos descargar de la web oficial encontraremos un listado completo de todos los parámetros válidos. Aquí sólo comentaremos los más básicos.</p>

<p>Para grabar una ROM en el cartucho, basta con ejecutar desde MSX-DOS el siguiente comando:</p>

<pre>
OPFXSD FICHERO.ROM
</pre>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/b0mzqtrktbmrz2nh18ygk2pb8ldd6y-bikehxdl2l24cpvlietz5iflfv4zbjiiohkp1zax4l241sgpvo4mpdxpvi5ryfbzsrm19igres6qln9g7kz5jbtyrxg.jpg', 'alt': '', 'position': 'center'} %}

<p>OPFXSD leerá el fichero de la SD y lo grabará en la flash del cartucho:</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/cxpdcfnecljnm0xedl47xgtlvdfcos48o1otanc2airjgz8k-j8z2znloz3blq5zjfo8ydgxvjdr1owx63-vjgplmwyiat-h331vwxq3vg3ygx-yjqsb9xcb4w.jpg', 'alt': '', 'position': 'center'} %}

<p>Una vez volcado a la flash, bastará con reiniciar el MSX para que, al arrancar, se ejecute el contenido del cartucho.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/i0icwnjc0ms0zvj-fdafqavfw8p5zmfxxsjvpnjmrbb5nolrt82b91jpshmqvzmd5i9hmsggzr150ninbekrbu3hfnrwdk0xmi6-iixav13slbpbnhat-znmig.jpg', 'alt': '', 'position': 'center'} %}

<p>Si queremos que no se ejecute, tenemos dos opciones:</p>

<ul>
    <li>Arrancar el MSX con la tecla Escape pulsada. Esto hará que no se ejecute el contenido de la flash ROM y saltemos directamente al sistema.</li>
    <li>Acceder al menú de recuperación y borrar el contenido de la flash ROM. Más adelante se explica cómo hacerlo.</li>
</ul>

<p>Si queremos grabar y lanzar directamente la ROM, basta con añadir el parámetro /X, así:</p>

<pre>
OPFXSD FICHERO.ROM /X
</pre>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/j6b0yf1sa749g0cw-5c6oosuvszowcydy0mcsuuppi1nrgklu0qhroywobkuogiuwiazthju616grnolenikuuapw2ojgebis0qtv-pecck-83kj-g1doxyxjq.jpg', 'alt': '', 'position': 'center'} %}

<p>El procedimiento arrancará de manera similar al caso anterior. Solo que, al terminar, se lanzará la ROM automáticamente, sin necesidad de reiniciar el MSX de forma manual.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/dqbfusbffss1bilarpksigw-qhxllg124rhfrwffufprfmwjs6s1etkcughmpozhqahsrgmanl5jrkiw0tpvp0j9mywycyvd0qht3isa6chtmtpmtiof9niueg.jpg', 'alt': '', 'position': 'center'} %}

<p>En ocasiones me ha ocurrido que el proceso de grabación se bloquea y no finaliza. Podría ser que hubiera algún problema con la tarjeta MicroSD o los contactos del cartucho. En ese caso, se puede probar a volcar los datos a velocidad x1 con el parámetro adecuado (por defecto se graban a velocidad 4x):</p>

<pre>
OPFXSD FICHERO.ROM /1
</pre>

<h2>GRABANDO UNA MULTIROM</h2>

<p>Grabar una ROM cada vez puede ser un proceso tedioso, especialmente cuando estamos en la fase de “probar juegos”. Afortunadamente, el MegaFlashROM nos permite crear recopilaciones de hasta 511 ROMs, creándose un menú al efecto en el que podremos elegir qué ROM queremos ejecutar cuando arranque el sistema desde el cartucho.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/cxwpn9nxqqfcdj5nj0kbi87lwofofrvobrxclm44xu-t0pzxr8d5nmtd2mm0dvqf1rxbh-6orgpo4ozajrjd8-xgkdr1mn-9ictvxlvozmp2p9ium6iiehdta.jpg', 'alt': '', 'position': 'center'} %}

<p>Veamos cómo hacerlo:</p>

<ul>
    <li>Desde nuestro ordenador habitual, creamos en la SD un fichero llamado MULTIROM.OPF, en el que pondremos la lista de ROMs que queremos añadir al cartucho, cada fichero en una línea, terminando con una línea en la que introduciremos la palabra [END] (con corchetes incluidos). En la misma ruta, grabaremos todos los ficheros ROM que vayamos a incluir en la compilación. Ejemplo:</li>
</ul>

<pre>
BANKPANI.ROM
MHUNTER.ROM
NEMESIS.ROM
[END]
</pre>

<ul>
    <li>La última versión de OPFXSD permite indicar, al lado del nombre de la ROM, el tipo de mapper que debe utilizar (por si la detección automática no funcionase correctamente). La sintaxis es la misma que si grabamos una única ROM, indicada en el manual de instrucciones. Ejemplo (indicamos el uso del mapeador Konami SCC):</li>
</ul>

<pre>
BANKPANI.ROM
MHUNTER.ROM /K5
NEMESIS.ROM
[END]
</pre>

<ul>
    <li>Desde el MSX, ejecutamos el comando OPFXSD /O, que se encargará de analizar el fichero MULTIROM.OPF y grabar la recopilación en la memoria flash del cartucho. Si hay algún error (algún fichero de ROM que falta o similar) nos aparecerá por pantalla.</li>
</ul>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/g2jvtb2g8jzfp-qibbw-ppwscmlf3b2lyutphbmvodit2-lbh91b0yzkpmcy7-lutljudqa62wdyk3yl-9w0rvvb2wqkwt7tef-atm1shmmhuihtknczsopheq.jpg', 'alt': '', 'position': 'center'} %}

<ul>
    <li>Si todo ha ido bien, podremos reiniciar el equipo y disfrutar de nuestra colección de juegos.</li>
</ul>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/6oua0ne9e1ywhgvzyyl26-f5rqhjoktqlf-io8pjwlrv9u8xf5v9ibh3hahpyliacgfhtolwy0pyqvh5xf5xw3wf29ci-wziezztgf9d5ddgg0ese0n1rpveza.jpg', 'alt': '', 'position': 'center'} %}

<ul>
    <li>La última versión de OPFXSD permite indicar, además, el nombre del fichero .OPF que contiene la recopilación. De esta manera, podemos guardar diferentes recopilaciones en la tarjeta MicroSD, listas para grabar en la ROM.</li>
</ul>

<h2>GRABANDO UNA IMAGEN DE DISCO</h2>

<p>El procedimiento para grabar una imagen de disco es análogo al visto para grabar una ROM. El comando que debemos ejecutar es similar:</p>

<pre>
OPFXSD IMAGEN.DSK /D1
</pre>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/xd4arfjyyp-x-tcjdzc871jlezez7hpz4wzuejbrb0botp2jct3xrgryvohvy6gs8y8i0bbo6-hpbev90lf26aoig6xahkj8-prg2-8encgyk0wwgv2lsa06zg.jpg', 'alt': '', 'position': 'center'} %}

<p>El sistema se encarga de todo lo necesario para que, la próxima vez que arranquemos el MSX, se cargue la imagen de disco y se ejecute. Podemos almacenar hasta 9 imágenes de disco de manera simultánea (de D1 a D9). El ordenador arranca automáticamente la imagen grabada en D1, aunque podemos iniciar cualquiera de las otras si dejamos pulsado el número correspondiente en el teclado durante el arranque. Esto también nos servirá para juegos multidisco (funcionalidad que no he podido probar).</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/wuy07pnv7evswhsex-yyopxdsuyjgaj9h2camnfho32wbnysk6c3ievjzl6ntgtfos0vmftfbyz3xozg2bvhxowyflknygxtbztgpszffnqhqlxqtivxpsyfg.jpg', 'alt': '', 'position': 'center'} %}

<h2>MODO DE RECUPERACIÓN</h2>

<p>Para acceder al menú de recuperación, debemos arrancar el MSX con la tecla Cursor Arriba pulsada. </p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/pw8bidxgosbzfexegecnqt9mmxrgarnlhc0pehxcfmsommzntwmb53hesnajsppot3tb0xygiqeooownxxdfkcjodqmyjozr-0rxbbkhn4ka6oyid8roacx4iq.jpg', 'alt': '', 'position': 'center'} %}

<p>Dispondremos de las siguientes opciones:</p>

<ul>
    <li>F1. Borrar el contenido de la ROM que estuviera grabada en la flash.</li>
    <li>F2. Borrar el kernel de gestión de la SD.</li>
    <li>F3. Borrar el disco ROM.</li>
    <li>F4. Instalar el kernel del cartucho.</li>
    <li>F5. Mostrar información sobre la tarjeta (o tarjetas) SD.</li>
</ul>

<p>Normalmente sólo emplearemos la primera de ellas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2013/03/wg1irgftvdro46irpdqjqmi2komfweib0zssqwgh3y0jc81jt28hnv9b-dxvlcxsnbfwdy1t6ycrsk5j-vrfvqx6h55u4co1om-xbbuzvjsgdp1ns9r4jhn24q.jpg', 'alt': '', 'position': 'center'} %}

<p>Las tres siguientes son útiles para recuperar el estado inicial del cartucho en el caso de que hayamos cometido algún error en su manejo. A continuación veremos cómo:</p>

<p>Para restaurar el kernel del cartucho, tenemos que grabar el fichero KERNEL.DAT en la MicroSD, arrancar en modo recuperación y usar la opción F4. Se recomienda que dicho fichero sea el único existente en la primera partición de la tarjeta. <strong><em>Comentar que, en este caso, la tarjeta MicroSD puede estar formateada en FAT 16 o, incluso, FAT 32 (no comprobado), ya que el software de recuperación accede a los sectores del dispositivo a nivel físico, no lógico.</em></strong></p>

<p>Si por lo que sea nos hemos cargado el contenido de la unidad A: (yo lo hice y todavía no sé cómo), podemos arrancar MSX-DOS si tenemos los ficheros del sistema en la tarjeta MicroSD (por eso recomendamos al principio hacer una copia del contenido de la unidad A:).</p>

<p>Una vez hayamos arrancado MSX-DOS, para proseguir la restauración debemos ejecutar el comando:</p>

<pre>
OPFXSD DSKROM.ROM /I1
</pre>

<p>para grabar el kernel necesario para lanzar imágenes de disco. Después, ejecutaremos el comando:</p>

<pre>
OPFXSD ROMDISK.DSK /ID
</pre>

<p>para restaurar el contenido de la unidad flash de sólo lectura (A:).</p>

<h2>FICHEROS DE RECUPERACIÓN</h2>

<ul>
    <li><a href="http://www.msxcartridgeshop.com/bin/dskrom.rom">DSKROM.ROM</a></li>
    <li><a href="http://www.konamiman.com/msx/nextor/kernels/Nextor-2.0-beta1.MegaFlashSDSCC.recovery.rom">KERNEL.DAT</a></li>
    <li><a href="http://www.msxcartridgeshop.com/bin/opfxsd.com">OPFXSD.COM</a></li>
    <li><a href="http://www.msxcartridgeshop.com/bin/recovery.rom">RECOVERY.ROM</a> (no usar salvo que lo solicite el fabricante expresamente)</li>
    <li><a href="http://www.msxcartridgeshop.com/bin/ROMDISK.DSK">ROMDISK.DSK</a></li>
</ul>

<h2>ENLACES DE INTERÉS</h2>

<ul>
    <li><a href="http://soft.mundivia.es/mpazos/flashrom/">http://soft.mundivia.es/mpazos/flashrom/</a></li>
    <li><a href="http://www.msxcartridgeshop.com/">http://www.msxcartridgeshop.com/</a></li>
    <li><a href="http://www.konamito.com/megaflashrom-scc-sd-ya-a-la-venta/">http://www.konamito.com/megaflashrom-scc-sd-ya-a-la-venta/</a></li>
    <li><a href="http://www.konamito.com/manuel-pazos-anuncia-megaflashrom-scc-sd/">http://www.konamito.com/manuel-pazos-anuncia-megaflashrom-scc-sd/</a></li>
    <li><a href="http://www.konamiman.com/msx/msx-s.html#nextor">http://www.konamiman.com/msx/msx-s.html#nextor</a></li>
    <li><a href="http://zonadepruebas.com/viewtopic.php?f=28&t=2964">http://zonadepruebas.com/viewtopic.php?f=28&t=2964</a></li>
    <li><a href="http://www.msx.org/es/forum/debates-en-espanol/hardware/megaflashrom-scc-sd">http://www.msx.org/es/forum/debates-en-espanol/hardware/megaflashrom-scc-sd</a></li>
</ul>

<h2>COMPATIBILIDAD</h2>

<p>Hasta la fecha se había probado el dispositivo con múltiples ordenadores MSX, funcionando en todos los casos. Sin embargo en el MSX Sony Hit Bit 20P de Santiago Romero el cartucho no funcionaba. Se determinó que podría ser que el ordenador escanease los slots extendidos antes de que el  MegaFlashROM los habilitase, con lo cual sería necesario realizar un reset soft tecleando el siguiente comando:</p>

<pre>
DEFUSR=0:?USR(0)
</pre>

<h2>AGRADECIMIENTOS</h2>

<p>A Manuel Pazos, tanto por crear el cartucho como por su ayuda con su puesta en marcha y resolver rápida y diligentemente mis dudas.</p>
