---
layout: post
title: "Cómo cambiar la luz trasera de posición/freno en una Kymco Yager GT"
summary: "El otro día me avisó mi cuñado de que iba sin luces. Y no es que fuera un despiste, que ya me ha pasado alguna vez circular sin encenderlas, sino que era un problema de la bombilla, porque tampoco se encendía al frenar."
header_image: /uploads/2014/01/img-1873.jpg
main_image: /uploads/2014/01/img-1873.jpg
text_date: Lunes, 13 de enero de 2014
tags: [mecánica,moto,personal]
disqus_identifier: como-cambiar-la-luz-trasera-de-posicion-freno-en-una-kymco-yager-gt
disqus_url: http://blog.falvarez.es/2014/01/como-cambiar-la-luz-trasera-de.html

---
<p>El otro día me avisó mi cuñado de que iba sin luces. Y no es que fuera un despiste, que ya me ha pasado alguna vez circular sin encenderlas, sino que era un problema de la bombilla, porque tampoco se encendía al frenar.</p>

<p>El plafón trasero lleva 4 tornillos de estrella. Supuse que con quitarlos bastaría, pero el plástico ni se movía de su sitio. Antes de romper algo, y recordando que, cuando compré la moto, algo había leído al respecto, hice lo lógico: subir a casa y consultar el manual de instrucciones.</p>

<p>Pues bien, parece que cambiar una bombilla es algo que los fabricantes no contemplan que sea necesario. Ya ocurre con los coches modernos; en algunos modelos obligan a pasar por taller. ¿Y a quién no se le ha fundido una bombilla del coche o de la moto? Yo en mi vida de conductor he tenido que cambiar más bombillas que ruedas.</p>

<p>Así que el siguiente paso fue, como suele ser habitual, ir a Internet a ver qué se cuenta la gente. Encontré un par de foros relacionados con la Yager: <a href="http://www.granddink.com/smf/">Club Gran Dink</a> y <a href="http://www.forokymco.es/">ForoKymco</a>. Pero, por los comentarios de los usuarios, no queda claro si bastaba con tirar fuerte del plástico o bien había que acceder por el interior.</p>

<p>Tuve que esperar al fin de semana para tener algo de tiempo y luz diurna. Saqué la moto del garaje, me abrigué bien y me puse manos a la obra. Tras subir un par de veces a casa a por herramienta adecuada, este fue el resultado del "desmontaje interior".</p>

<p>Zona de la batería desmontada. No tengo fotos "paso a paso", pero para hacerse una idea, hay que quitar los 3 tornillos de estrella de la tapa. Luego los 4 que sujetan la tapa interior (donde hay unos fusibles de recambio). Después los bornes (primero el negativo según el libro de instrucciones). Ya podemos extraer la batería, que va alojada en una especie de cajita de plástico. Para extraerla necesitamos quitar los 4 tornillos que hay al fondo (con una llave de tubo creo que de 10) y soltar la clema inferior donde van los fusibles. El resultado:</p>

{% include 'components/image.twig' with {'src': '/uploads/2014/01/img-1873.jpg', 'alt': '', 'position': 'center'} %}

<p>Zona de luces vista "desde atrás":</p>

{% include 'components/image.twig' with {'src': '/uploads/2014/01/img-1871.jpg', 'alt': '', 'position': 'center'} %}

<p>Por ahí estaba claro que no iba a conseguir nada, salvo desguazar la moto. En esto que ya había bajado mi cuñado a echar una mano y fue cuando intentamos tirar de nuevo del plástico. No sé si por aburrimiento o porque, tras tanto manoseo, ya se había soltado un poco, fuimos capaces de sacarlo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2014/01/img-1874.jpg', 'alt': '', 'position': 'center'} %}

<p>Lo cual confirma que, efectivamente, para cambiar las bombillas traseras basta con retirar los 4 tornillos y tirar con cuidado pero firmemente. El plafón lleva una junta que lo rodea por el borde y que se queda pegada. Aparte va bien encajado, lo que hace difícil retirarlo.</p>

<p>La bombilla es una de esas de doble filamento, para luz de cruce y freno, y la antigua había estallado, por eso no lucía ninguno de los dos filamentos. Bombilla nueva y a poner de nuevo el plafón con cuidado, que tampoco es algo fácil, ya que encaja muy justito. </p>

<p>Espero que esta entrada sirva de utilidad a todos los que se planteen este dilema a partir de ahora.</p>
