---
layout: post
title: "Cerrando una etapa"
summary: "La vida es una sucesión de etapas, y hoy se cierra una de ellas"
header_image: /uploads/2016/02/puesto-20m.jpg
main_image: /uploads/2016/02/adios-20m.jpg
text_date: Viernes, 19 de febrero de 2016
tags: [personal, trabajo, 20minutos]
disqus_identifier: cerrando-una-etapa
disqus_url: http://blog.falvarez.es/2016/02/cerrando-una-etapa.html

---

<p>Fue poco después de abrir estre blog cuando <a href="/2005/12/vapf-cambia-de-significado.html">cambié por última vez de trabajo</a> y comencé una nueva aventura en el diario <a href="http://www.20minutos.es/">20minutos</a>. En aquel momento no tenían ningún personal técnico dedicado exclusivamente a su web. Me contrataron con el objetivo de potenciar su presencia digital. Creo que se consiguió con creces gracias, entre otras cosas, a una cantidad ingente de trabajo y esfuerzo de un maravilloso equipo.</p>

<p>Recuerdo como si fuera ayer la primera vez que, en una tarde noche de otoño, subí por primera vez las vetustas escaleras de madera que comunicaban la segunda planta, donde se encontraba la redacción, con la cuarta planta, donde estaba el personal de gestión, previo paso por el famoso altillo. Allí, mi viejo colega de la <a href="https://www.fi.upm.es/">Facultad de Informática</a> y <a href="http://www.proximitymadrid.es/">Órbital</a>, y también novato en el periódico, Juan Balcázar, me contó los planes de la empresa y me hizo una oferta que, al aceptarla, cambiaría mi vida, tanto profesional como personalmente.</p>

<p>Ese recuerdo de la primera vez es curioso porque, aunque se mantiene nítido en mi mente, en realidad evoca a un tiempo ya bastante lejano. No obstante han pasado ya más de once años desde aquello. La cuestión es pararse a pensar cómo ha cambiado el mundo en estos once años, sobre todo para los que andamos metidos en el mundo de la tecnología e Internet. Y, también, los medios de comunicación. Parece que hayan pasado muchos más.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/02/puesto-20m.jpg', 'alt': 'Puesto 20m', 'position': 'center'} %}

<p>Mi paso por el periódico daría para escribir un libro. O, al menos, para un blog. No obstante, aunque ahora ya no tengo muy claros los motivos, en su momento decidí mantener este blog lo más apartado posible de mi vida profesional. Ahora, echando la vista atrás, me gustaría haber tomado notas, para cuando la memoria me traicione, haber tomado alguna foto de los momentos más relevantes (aunque muchas veces no eres consciente de su relevancia hasta que pasa el tiempo), haber atesorado algún recuerdo más, en forma de recorte de periódico (bien es cierto que tenía un puñado de ellos y, misteriosamente, tras una limpieza en la que supuestamente nadie tiró nada, desaparecieron).</p>

<p>Hasta que hoy, 19 de febrero, dos oficinas y un buen puñado de ubicaciones después (al menos tres o cuatro en Callao y otras tantas en Condesa de Venadito), es mi último día en 20minutos.</p>

<p>Nunca imaginé demasiado cómo sería este momento. Lo que está claro es que me siento incapaz de haberlo imaginado tal y como ha sido. Como es lógico, ya había comunicado mi marcha a todo el mundo que debía saberlo, y hemos podido preparar todo durante algo más de un mes. Así que no ha sido nada precipitado, ni mucho menos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/02/piscolabis-20m.jpg', 'alt': 'Piscolabis 20m', 'position': 'center'} %}

<p>Después de tanto tiempo, la verdad es que una parte de mí pensaba que sería un momento más emotivo. Pero, por otro lado, siendo consciente de cómo soy, tampoco tenía demasiado sentido que así fuera. He llevado algo para picar, convocando a todos los compañeros. Algunos con los que casi no tenía trato se han acercado. Un viernes poco antes de la hora de comer es complicado no salivar frente al estímulo de ciertos aromas. Otros, con los que sí tenía más roce, no lo han hecho por diferentes motivos. Por supuesto, nada de discursos. Nada de lágrimas. De hecho, estoy convencido de que pasará un mes y poca gente me echará de menos. La vida sigue y la rueda continúa girando. Dos meses y será como si nunca hubiera trabajado allí, tanto para los que se quedan como para el que se va.</p>

<p>Algunos compañeros me preguntaban qué iba a hacer a partir de ahora. La verdad es que no he querido pensarlo demasiado hasta que pase el día de hoy y todo termine. De momento había mucho que hacer aquí y así ha sido hasta prácticamente el último minuto. No creo que sea plenamente consciente de la nueva situación hasta el lunes, cuando no me monte en la moto para ir con mi mujer al trabajo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/02/adios-20m.jpg', 'alt': 'Adiós 20m', 'position': 'center'} %}

<p>Cuando traspase esa puerta por última vez, será el final de una etapa. Apenas llevo una caja medio vacía con algunas pertenencias. Pero, en lo inmaterial, la huella que ha dejado 20minutos en mí será imborrable.</p>

<p>Hasta siempre, compañeros de 20minutos.</p>
