---
layout: post
title: "Pokémon Go"
summary: "¿Qué tiene de especial este juego que ha revolucionado el mundo con tan tremendo impacto mediático?"
header_image: /uploads/2016/08/pokemon-go.jpg
main_image: /uploads/2016/08/pokemon-go.jpg
text_date: Lunes, 1 de agosto de 2016
tags: [nintendo, videojuegos]
disqus_identifier: pokemon-go
disqus_url: http://blog.falvarez.es/2016/08/pokemon-go.html

---
<p>No es que vaya a hacer un análisis de este juego. Sabéis que, antes de hacerlo, me gusta jugar y, si es posible, terminar cada título que comento. No es éste el caso. Pero tampoco me voy a resistir a hablar de lo que todo el mundo está hablando en estos días.</p>

<p>Vaya por delante que no soy sospechoso de ser fan de Pokémon. De hecho, no he visto nunca la serie de dibujos y mis experiencias con los juegos se limitan a unas cuantas (bastantes) horas jugadas a Pokémon Rojo, durante los trayectos de ida y vuelta al trabajo en metro, hace ya demasiados años. Quise darle una oportunidad pero no llegué a terminar el juego. Alcancé un punto en el que ya no sabía cómo continuar, y ahí se quedó. Estos juegos de rol japonés en los que te aparecen enemigos de manera aleatoria - Final Fantasy, te estoy mirando a ti - la verdad es que nunca me han enganchado.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/08/pokemon-go.jpg', 'alt': 'Pokémon Go - Imagen obtenida de https://www.pokemon.com/', 'position': 'center'} %}

<p>Mi contacto con este Pokémon Go fue antes de que se lanzara en España. Había bastante gente en mi timeline de Twitter hablando del juego y me picó la curiosidad. Lo descargué de manera “no oficial”, atrapé dos o tres ejemplares que estaban accesibles desde casa y ahí quedó la cosa. Un par de días después leí que estaban baneando a gente que tenía el juego instalado en países donde todavía no se había lanzado y lo desinstalé.</p>

<p>Ahora lo he vuelto a instalar pero no creo que emplee muchas horas “cazando”, más allá de hacer el friki en algún lugar más o menos exótico. Aunque para eso, prefiero practicar el <em><a href="https://www.geocaching.com/play">geocaching</a></em>, aun con lo mal que se me da. Sin ir más lejos, este juego de Pokémon ha sido creado por la misma empresa que desarrolló <a href="https://www.ingress.com/">Ingress</a> (y he de decir que la mecánica se parece de alguna manera), juego que ya probé en su momento y que no me hizo demasiada gracia.</p>

<p>Después de toda esta chapa que he soltado, en realidad he de confesar que, al respecto de este tema, simplemente quería hacer un par de comentarios.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/08/pokemon-go-screenshot.png', 'alt': 'Pantallazo de Pokémon Go', 'position': 'center'} %}

<p>El primero: parece que el hecho de que la gente vaya como loca por la calle con el móvil en la mano, se entiende que buscando bichos virtuales, sea algo novedoso. Quizás lo sea el motivo, pero hace ya bastantes meses que la gente va (vamos) como zombis caminando con el móvil por la calle, en el transporte público, en los bares, en el coche… Vamos, un auténtico desastre. Una sociedad enganchada a Internet y desenganchada de las personas que tienen al lado. Aunque todo el mundo lo comentaba, a mí me ha costado llegar a reconocer gente jugando a Pokémon Go por la calle, y lo he intuido más escuchando furtivamente sus comentarios que porque llevaran el teléfono en la mano.</p>

<p>El segundo: ¿qué tiene Pokémon Go que engancha tanto? No lo sé. Si lo supiera, habría intentado hacer algo parecido. Pero creo que hay algo en la esencia del ser humano, o puede que sea cosa de nuestra sociedad occidental actual, que nos impulsa al coleccionismo. Aunque sea, como en este caso, de objetos y recompensas virtuales.</p>

<p>Lo digo porque yo no soy un viciado de este juego, pero sí que hago algunas cosas que, a otras personas, les pueden parecer raras. Yo salgo en ocasiones a la calle con mi Nintendo 3DS encendida a la búsqueda de cruzarme con gente que hace lo mismo que yo. De forma que, al llegar a casa, en mi consola <a href="https://www.nintendo.es/Familia-Nintendo-3DS/Software-instantaneo/Plaza-Mii-de-StreetPass/Plaza-Mii-de-StreetPass-827714.html">aparecen los avatares (los Miis) de las personas con las que me he cruzado</a>. Más allá de eso, puedo intercambiar cromos virtuales con ellos (cromos que dan acceso a unas bonitas imágenes en 3D) y conseguir alguna recompensa (también virtual) en forma de prenda de vestir o accesorio para mi avatar.</p>

<p>¿Cuál es la gracia de este asunto? Puede que, simplemente, la alegría de comprobar que hay otra gente por el mundo, gente que no conoces y que no sabes ni quiénes son, con la que compartes una afición que te lleva a hacer una cosa en principio tan irracional como esa. No colecciono Pokémons, pero colecciono avatares de jugadores de Nintendo 3DS. Y, como yo, hay bastante gente. Aunque no somos los más de 100 millones de jugadores de Pokémon Go, por supuesto, pero es muy rara la ocasión que salgo de paseo con mi consola y no vuelvo con la luz verde de notificaciones encendida.</p>





