---
layout: post
title: "Francia 2016. Día 6: Playas del Desembarco (y III)"
summary: "Sexta etapa del viaje a Francia. Última jornada visitando las playas del Desembarco de Normandía."
header_image: /uploads/2016/08/viaje-francia-2016-dia-6.jpg
main_image: /uploads/2016/08/viaje-francia-2016-dia-6.jpg
text_date: Martes, 16 de agosto de 2016
tags: [personal, viajes]
disqus_identifier: francia-2016-dia-6-playas-del-desembarco-y-iii
disqus_url: http://blog.falvarez.es/2016/08/francia-2016-dia-6-playas-del-desembarco-y-iii.html

---
<p>Como comentaba ayer, hoy toca día de relax. No hemos madrugado demasiado (teniendo en cuenta que no lo estamos haciendo ningún día) y, después de desayunar, hemos ido al Carrefour Market a reponer algunos víveres para el par de días que nos quedan en el apartahotel.</p>

<p>A eso de las 12 hemos emprendido viaje hacia la <a href="https://es.wikipedia.org/wiki/Playa_de_Sword">playa Sword</a>, que está situada entre Lion-sur-Mer y Ouistreham. El GPS nos ha llevado hasta allí vía Luc-sur-Mer, y creo que no era la mejor opción. Estábamos recorriendo la carretera que une los dos pueblos sin ver el típico museo-memorial que se encuentra en las otras playas, y tampoco veíamos muy claro dónde "desembarcar" (perdón por el chiste malo). Al final hemos dejado el coche en el bulevar Winston Churchill para acercarnos caminando hasta la playa.</p>

<p>Allí hemos encontrado una playa inmensamente ancha y, por lo que se ve, bastante preparada para el ocio. De hecho, por lo que hemos entendido, la playa de Riva-Bella es un destino turístico desde hace 150 años.</p>
{% include 'components/image.twig' with {'src': '/uploads/2016/08/ouistreham.jpg" alt="Ouistreham', 'alt': '', 'position': 'center'} %}
<p>Aquí los aparcamientos cerca de la playa son de pago, pero si te alejas un poco (hablamos de 5 minutos andando) no es difícil encontrar un hueco gratis.</p>

<p>Hemos podido disfrutar de un tranquilo día de playa bañándonos en las no demasiado frías aguas del Canal de la Mancha. Después hemos dado un buen paseo durante el que hemos sido testigos de la llegada al puerto del ferry desde Portsmouth. Tras reponer fuerzas con un generoso bocata, hemos dado un paseo por la principal calle de tiendas del pueblo. Hemos ido hasta el <a href="http://www.museedugrandbunker.com/englishversion.asp">Museo del Muro del Atlántico</a>, ubicado dentro de un búnker alemán. Aunque no hemos entrado, hemos adquirido un libro de fotos por 5 euros. En la entrada podemos contemplar la lancha que usaron en el rodaje de la película <a href="http://www.filmaffinity.com/es/film824508.html">Salvar al Soldado Ryan</a>.</p>
{% include 'components/image.twig' with {'src': '/uploads/2016/08/museo-muro-del-atlantico.jpg" alt="Museo del Muro del Atlántico', 'alt': '', 'position': 'center'} %}
<p>Después, hemos dado un buen paseo de tres horas por la playa, en el que hemos caminado prácticamente hasta Lion-sur-Mer con los pies en remojo y luego vuelta al coche. Había mucha actividad en la playa, tanto de bañistas como windsurf, kite-surf y hasta caballos paseando por la orilla. Por detrás de la duna, mucho paseante y ciclista. Hoy hacía buen tiempo para la playa y creo que lo hemos aprovechado.</p>

<p>Al final, aunque no estaba previsto, hemos visitado las cinco playas del Desembarco, lo cual ha sido todo un logro. Como no hemos vuelto a Caen demasiado tarde, saldremos a cenar por aquí, en horario francés, lo que significa que todavía era prácticamente de día cuando hemos terminado.</p>

<p>Hoy no sé cuántos kilómetros hemos hecho en coche, creo que no demasiados. Pero andando han sido casi 20.</p>
