---
layout: post
title: "Francia 2016. Día 11: La Rochelle - Isla de Ré"
summary: "Undécima etapa del viaje a Francia. Explorando nuestro último destino antes de volver a España."
header_image: /uploads/2016/08/viaje-francia-2016-dia-11.jpg
main_image: /uploads/2016/08/viaje-francia-2016-dia-11.jpg
text_date: Domingo, 21 de agosto de 2016
tags: [personal, viajes]

---
<p>Hoy será el último día completo en tierras francesas. Tampoco trajimos ningún plan especial para La Rochelle, simplemente reservamos alojamiento aquí por consejo de nuestro amigo Miguel. Estábamos buscando un lugar más o menos a mitad de camino entre Normandía y Madrid, y nos comentó que el sitio estaba chulo.</p>

<p>A partir de lo poco que pudimos explorar durante la noche anterior, comenzamos el día visitando las tres torres de la localidad. La tercera de ellas, que despunta a la derecha de la foto, es el faro medieval más antiguo (o de los más antiguos) todavía en pie en Europa.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/08/la-rochelle.jpg', alt: 'La Rochelle', 'position': 'center'} %}

<p>Las edificaciones se usaron como prisión durante varias épocas pretéritas. Lo más destacable de la visita, además de poder disfrutar de unas buenas vistas de la ciudad, es ver los grabados que los presos hicieron en las paredes de sus celdas.</p>

<p>Aquí, en uno de los múltiples restaurantes del puerto, por fin me decidí a probar los mejillones a la marinera que tan típicos son en esta región, acompañados por las omnipresentes patatas fritas, o "french fries" como las llaman los ingleses, que por algo será lo de french. Si soy sincero, los he pedido más por la situación que por gusto personal por esta especialidad culinaria.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/08/mejillones.jpg', alt: 'Mejillones a la marinera', 'position': 'center'} %}

<p>Después de comer, y tras dar un paseo hasta la catedral, finalmente nos hemos animado a coger el coche para conocer la cercana isla de Ré, a la que se accede por un impresionante puente sobre el mar. Ya sabíamos que el puente era de peaje, pero el precio (16€) nos ha sorprendido bastante de primeras. Un poco caro para lo que esperábamos.</p>

<p>No obstante, finalmente se puede decir que merece la pena. La isla es un lugar en el que tranquilamente se podrían dedicar un par de semanas a descansar, desconectado del mundo y descubriendo los rincones que seguro esconde a través de los innumerables kilómetros de carril bici que la jalonan. Allí podremos encontrar numerosos alojamientos de todo tipo, campings, spas y zonas recreativas, amén de un buen puñado de playas.</p>

<p>Sin planificación alguna y sin saber a ciencia cierta qué se puede visitar, la intuición nos ha llevado hasta el punto más lejano de la isla, el Faro de las Ballenas, donde hemos dado un paseo al borde del mar, sin llegar a darnos un baño, eso sí, porque no íbamos preparados.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/08/faro-de-las-ballenas.jpg', alt: 'Faro de las Ballenas. Isla de Ré', 'position': 'center'} %}

<p>Después, hemos vuelto al coche, deteniéndonos en algunos lugares e improvisando sobre la marcha. En Le Bois-Plage-en-Ré hemos encontrado una miniferia, con coches de choque y un salón recreativo. Hemos aprovechado para tomar un refresco y hace alguna foto interesante en la playa de la localidad.</p>

{% include 'components/image.twig' with {'src': '/uploads/2016/08/le-bois-plage-en-re.jpg', alt: 'Le Bois-Plage-en-Ré', 'position': 'center'} %}

<p>En Sainte-Marie-de-Ré, que en el Google Maps prometía algo más, sólo hemos encontrado un pueblo de calles estrechas de donde nos ha costado salir para, finalmente, cruzar la isla de sur a norte y terminar visitando La Flotte. Aquí lo que nos costó fue aparcar, ya que el tráfico en el centro está restringido y las calles son, también, considerablemente estrechas. También estaban de fiesta en el puerto, donde una banda de pop-rock amenizaba la velada, nada que ver con las orquestas de pachanga que suelen amenizar los festejos en los pueblos de España. Los precios de los establecimientos parecen (son) un poco caros así que, apurando el horario, vamos de vuelta a La Rochelle para cenar allí, dar un último paseo por el puerto viejo, probar un gofre con Nutella y volver al hotel para descansar un poco de cara al largo viaje de vuelta que nos aguarda <a href="/2016/08/francia-2016-dia-12-la-rochelle-madrid.html">mañana</a>.</p>
