---
layout: post
title: "Juegos: Assassin's Creed Syndicate (PS4)"
summary: "Segunda entrega de la saga para consolas de la octava generación, que se redime de los fallos cometidos en Assasin's Creed Unity con una jugabilidad que trata de recoger lo mejor de cada casa sin renunciar a su esencia"
header_image: /uploads/2017/08/assassins-creed-syndicate.jpg
main_image: /uploads/2017/08/assassins-creed-syndicate.jpg
text_date: Viernes, 11 de agosto de 2017
tags: [análisis videojuegos, assassin's creed, playstation 4, ubi soft]
widgets: [assassins-creed, now-playing]
disqus_identifier: juegos-assassins-creed-syndicate-ps4
disqus_url: http://blog.falvarez.es/2017/08/juegos-assassins-creed-syndicate-ps4.html

---
<p>Por fin llegamos a la última entrega, por ahora, de la saga de los Assassin. Aunque ya ha sido anunciado <a href="https://www.ubisoft.com/es-es/game/assassins-creed-origins">Origins</a>, yo personalmente me tomaré un descanso de la saga hasta dentro de bastante tiempo.</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/assassins-creed-syndicate.jpg', 'alt': 'Assassin\'s Creed Syndicate PlayStation 4', 'position': 'center'} %}

<p>La acción transcurre en el Londres victoriano de finales del siglo XIX, en pleno apogeo de la Revolución Industrial. Los protagonistas, los gemelos Evie y Jacob Frye, deberán enfrentarse a los templarios que controlan la ciudad. Mientras avanzamos en la historia, asistiremos como espectadores a la historia “paralela” que se desarrolla en el presente, ya que en esta ocasión no es jugable.</p>

<p>Normalmente, cuando me enfrento a este tipo de títulos, suelo centrarme en las misiones principales para llegar al final de la historia. En esta ocasión lo he hecho de otra forma, y quizás sea porque el propio planteamiento del juego invita a ello. Encontraremos Londres dividida en varias zonas, de dificultad creciente, controladas por templarios. Para tomar nosotros el control tendremos que realizar misiones variadas centradas en tomar los cuarteles generales templarios, rescatar a niños semi-esclavizados en fábricas o bien capturar templarios para llevarlos a la policía. De esta forma, a la vez que vamos subiendo el nivel de nuestros personajes, conseguimos que caminar por las zonas “liberadas” sea mucho menos peligroso. Haciéndolo así resulta que, cuando empezamos las misiones principales, el nivel de nuestro personaje es superior al esperado, en cuanto a capacidad ofensiva y resistencia, por lo que el juego resulta (creo) más fácil de completar.</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-mapa.png', 'alt': 'Assassin\'s Creed Syndicate mapa de juego', 'position': 'center'} %}

<p>Se podría decir que Assassin’s Creed Syndicate, aunque toma elementos de aquí y de allá para intentar mejorar la fórmula, es el más GTA de todos los juegos de la franquicia. Adicionalmente, podremos encontrar lo que yo llamo “momentos Uncharted”: aquellos en los que das un salto para agarrarte a un saliente y, de repente, el saliente se rompe y acabamos colgados in extremis unos cuantos metros más abajo, a punto de morir. En algunos momentos también tendremos que atravesar pasos angostos en un recurso que se usó en el reboot de Tomb Raider y también, creo recordar, en el último Uncharted. Y el uso del gancho (más adelante hablaré de él) recuerda poderosamente a los Batman Arkham. Las peleas también parecen beber de esta última saga. Al fin y al cabo todos los juegos se retroalimentan.</p>

<p>Encontramos algunas novedades en el gameplay:</p>

<ul>
    <li>Se ha incorporado el movimiento de parkour hacia abajo. De esa forma indicaremos explícitamente si queremos subir o bajar. Esto mejora un poco el control que, en Unity, se hacía un poco raro, aunque sigue sin ser 100% fluido.</li>
    <li>Las luchas abandonan las espadas y sables en favor de puños americanos, dagas y bastones metálicos. Siguen demasiado basadas en el contraataque, y creo que eso será difícil de cambiar. Podemos hacer combos en los que acabar con hasta 4 enemigos a la vez. Recuerda mucho a las peleas de Batman Arkham, como ya he comentado.</li>
    <li>Se incorporan mecánicas de sigilo y coberturas. Aunque no son el punto central de la jugabilidad, nos permiten una alternativa a solucionar todo a base de garrotazos.</li>
</ul>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-sigilo.png', 'alt': 'Assassin\'s Creed Syndicate mecánicas de sigilo', 'position': 'center'} %}

<ul>
    <li>El gancho. Realmente no deja de ser un atajo de las mecánicas de parkour. Podremos llegar a lo alto del Big Ben sin tener que trepar toda la fachada. También podemos usarlo como tirolina y para cometer asesinatos aéreos. Se agradece la agilidad que añade.</li>
    <li>Desaparece el minijuego de forzar las cerraduras. Ahora lo haremos simplemente pulsando un botón, siempre que previamente hayamos adquirido la habilidad necesaria.</li>
    <li>Las calles están repletas de coches de caballos, con un funcionamiento muy parecido a GTA. Podemos montarnos en ellos en cualquier momento y habrá persecuciones. También hay carreras en las que tendremos que llegar el primero para obtener el premio. Sin embargo los choques resultan un tanto irreales (dentro del realismo que se le pueda pedir a este tipo de juegos). También ocurre en ocasiones que, si conducimos demasiado rápido, el diálogo que está teniendo lugar entre los personajes puede terminar de forma abrupta, haciendo que nos perdamos información relevante.</li>
</ul>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-carruajes.png', 'alt': 'Assassin\'s Creed Syndicate carruajes', 'position': 'center'} %}

<p>Por otro lado, seguimos teniendo que mejorar las armas, el equipamiento y las habilidades de los personajes canjeando el dinero y los puntos de experiencia que iremos consiguiendo tras completar las misiones. En este caso, como he comentado anteriormente, lo hice mientras completaba el tercer capítulo de la historia principal. Esto tiene un inconveniente, y es que el juego puede llegar a “romperse”. Me he encontrado con peleas de bandas que acababan prácticamente antes de empezar e incluso con algún asesinato que cometió uno de los esbirros de los Rooks (la banda de Jacob) en vez del nosotros mismos.</p>

<p>El objetivo de Jacob es convertirse en el líder de una banda que controle la ciudad, mientras que el de Evie es encontrar un objeto concreto, el Sudario del Edén. Sin embargo, básicamente la trama vuelve a centrarse en el asesinato de ciertos personajes clave, lo cual nos llevará finalmente hasta el “malo malísimo”. El estilo de Jacob es más contundente, mientras que el de Evie es más sigiloso. Podremos intercambiar personajes siempre que queramos en el modo libre, mientras que algunas misiones (no todas) son específicas de uno de los dos protagonistas. A la hora de afrontar las misiones de asesinatos se nos ofrecen diferentes alternativas para llevarlos a cabo, lo cual está muy bien ya que aumenta la sensación de libertad en el juego.</p>

<p>He encontrado lo que me han parecido un par de homenajes a juegos clásicos. Por un lado, el río Támesis está repleto de embarcaciones que lo surcan en una y otra dirección. Podremos cruzarlo tal cual la rana de Frogger. Eso sí, en este caso no moriremos atropellados si fallamos alguno de nuestros saltos. Por otra parte, la secuencia 9 es claramente un trasunto de Crazy Taxi, en la que tendremos que hacer de chóferes llevando a gente de una ubicación a otra en un tiempo limitado. Es probable que haya alguno más que no he detectado.</p>

<p>Gráficamente está muy conseguido. La recreación de Londres me ha parecido tremendamente buena. Si conoces la ciudad te sentirás como en casa, al igual que ya ocurrió con Florencia en Assassin’s Creed 2.	La iluminación también raya a un gran nivel. Sin embargo, el resultado final se queda algunos peldaños por debajo de Uncharted 4. Obviamente la comparación es algo injusta ya que Syndicate es un “mundo abierto” y el juego de Naugthy Dog no lo es, aunque lo camufle estupendamente.</p>

<p>En Syndicate, Londres es una ciudad llena de vida, con sus habitantes entregados a sus actividades cotidianas, como el cricket:</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-cricket.png', 'alt': 'Assassin\'s Creed Syndicate partido de cricket en el parque', 'position': 'center'} %}

<p>Y también podremos colarnos en sus casas para sorprenderlos en alguna situación un poco embarazosa:</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-paisanos-encamados.png', 'alt': 'Assassin\'s Creed Syndicate en la intimidad de la alcoba', 'position': 'center'} %}

<p>También podremos encontrar pequeños homenajes, como éste dedicado a Ezio Auditore da Firenze:</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-ezio.png', 'alt': 'Assassin\'s Creed Syndicate homenaje a Ezio', 'position': 'center'} %}

<p>Como es también norma de la saga, podremos interactuar con personajes históricos. Aparte de las misiones que nos encargarán celebridades como Alexander Graham Bell, Charles Dickens o Charles Darwin, nos encontraremos con personalidades como la <a href="https://es.wikipedia.org/wiki/Victoria_del_Reino_Unido">reina Victoria</a>.</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-reina-victoria.png', 'alt': 'Assassin\'s Creed Syndicate Reina Victoria', 'position': 'center'} %}

<p>En cuanto al apartado sonoro, me ha parecido de los más pobres de la saga. Las melodías están dentro de los parámetros habituales, pero la sincronización labial en la versión doblada al español es pésima. Lo he probado en versión original y mejora bastante, así que resulta claramente un problema de localización.</p>

<p>Técnicamente he de decir que este juego, a diferencia de Unity, sí que es compatible con el modo reposo de la consola, lo cual está muy bien para retomar la aventura justo donde la dejamos. También me he encontrado algunos bugs. En un par de ocasiones se me ha colgado el juego y, en otra, el personaje se teletrasportó instantáneamente a una ubicación diferente de donde estaba. Se nota que han pulido el motor del juego.</p>

<p>Para terminar, comentar que este juego ha sido el primer trofeo de platino que he conseguido. No es que haya sido difícil pero sí una cuestión de echar muchas, muchas horas. Tantas que me pregunto si realmente merece la pena. Las misiones principales siempre tienen uno o dos objetivos secundarios asociados, y para el trofeo hay que conseguirlos todos, con lo cual me ha tocado rehacer un buen puñado de ellas. Muchas las podría haber hecho a la primera, teniendo más cuidado, pero no fue el caso. En otras ocasiones, reiniciar el último punto de control nos facilita las cosas, ya que nos ubica en una mejor disposición para continuar que a la que habríamos llegado por nuestros propios medios.</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-platino.png', 'alt': 'Assassin\'s Creed Syndicate trofeo de platino', 'position': 'center'} %}

<p>Aprovecho para añadir este último título al listado. Como se puede apreciar, y era de esperar, se ha convertido en el que más horas le he dedicado y más porcentaje he conseguido completar.</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-progreso-1.png', 'alt': 'Assassin\'s Creed Syndicate progreso (1/2)', 'position': 'center'} %}

<p>No deja de ser curioso que se puede obtener el platino sin completar lo que sería el 100% del juego como tal, ya que he dejado algunas misiones secundarias sin hacer.</p>

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-progreso-2.png', 'alt': 'Assassin\'s Creed Syndicate progreso (2/2)', 'position': 'center'} %}

{% include 'image.twig' with {'src': '/uploads/2017/08/ac-syndicate-horas-de-juego.png', 'alt': 'Assassin\'s Creed Syndicate horas de juego', 'position': 'center'} %}

<p>En resumen, Syndicate es un sandbox enorme, plagado de detalles y que me ha parecido de los mejores juegos de la saga al nivel de Assassin’s Creed II. Reconozco que la ambientación en Londres tiene mucho que ver en mi caso. Dicho lo cual, como comentaba al principio, le voy a dar un largo descanso después de este empacho de horas.</p>
