---
layout: post
title: "Juegos: Batman Arkham City (Xbox 360)"
summary: "Segunda entrega de la trilogía de Batman que llevaba años pendiente de jugar"
header_image: /uploads/2018/07/batman-arkham-city.jpg
main_image: /uploads/2018/07/batman-arkham-city.jpg
text_date: Martes, 17 de julio de 2018
tags: [análisis videojuegos, batman, rocksteady, xbox 360]
disqus_identifier: juegos-batman-arkham-city-xbox-360
disqus_url: http://blog.falvarez.es/2018/07/juegos-batman-arkham-city-xbox-360.html
---

<p>El juego de hoy, Batman Arkham City, fue lanzado en 2011, lo que da buena cuenta del ritmo que llevo con los juegos. Es la secuela de <a href="/2015/03/juegos-batman-arkham-asylum.html">Batman Arkham Asylum</a>, que fue lanzado en 2009 y yo jugué en 2015. Lo dicho, a mi ritmo. La trilogía se completa con Batman Arkham Knight, ya para la actual generación y que comentaré en breve porque ya lo he jugado y acabado. Éste lo compré hace ya unos cuantos años en su edición coleccionista con una bonita figura de Batman y a un muy buen precio.</p>

{% include 'image.twig' with {'src': '/uploads/2018/07/batman-arkham-city-collectors-edition.jpg', 'alt': 'Batman Arkham City Edición coleccionista', 'position': 'center'} %}

<p>Lo primero que tengo que decir es que vengo de jugar a <a href="/2018/05/juegos-god-of-war-iii-ps3.html">God Of War III</a>, así que volver a un esquema de control algo más "moderno" me ha costado más de lo que pensaba. Asimismo, tanto la posición como el movimiento de la cámara se me antojan un poco raros, al menos hasta que me he acostumbrado.</p>

<p>Este título es una secuela de manual de la primera entrega. Sobre la misma base se construye un juego con un mapa más grande, con toques de "mundo abierto", algunos ajustes en los combates, mejoras en las armas y los <em>gadgets</em> y poco más. En esta ocasión el escenario pasa de ser el psiquiátrico de Arkham Asylum a la prisión de Arkham City. Bruce Wayne es encarelado en ella, y lo primero que tendremos que hacer será recuperar nuestra equipación de Batman y salvar a Catwoman de ser ejecutada por Dos Caras. Una vez allí, nuevamente irán desfilando una pléyade de villanos del universo Batman. La verdad es que la historia, para alguien como yo al que le gusta el personaje pero que nunca ha leído los comics, está bien hilada.</p>

<p>Además de la historia principal, podremos completar misiones secundarias que nos ayudarán a mejorar nuestro equipamiento. Son opcionales pero su consecución ayuda a que la tarea principal se torne más asequible según vamos adquiriendo experiencia. Los combates vuelven a estar basados en dominar diferentes patrones de botones para los diferentes tipos de enemigo y el contraataque como valor seguro. Al acabar con cada oleada de enemigos se suman puntos de experiencia y se recupera la barra de salud. Dependiendo de lo diestros que nos mostremos a la hora de memorizar y ejecutar los <em>combos</em> el juego nos parecerá más o menos complicado.</p>

<p>Podemos movernos por la totalidad del escenario desde un primer momento, pero ciertas partes no serán accesibles hasta que vayamos mejorando nuestro equipamiento y habilidades. De esta forma se reaprovecha el mapa, teniendo que visitar algunos lugares en más de una ocasión.</p>

<p>El "modo detective" nos da pistas sobre los elementos del escenario con los que podemos interactuar. El problema ya lo comenté cuando hablaba de Arkham Asylum: podemos pasar demasiado tiempo en este modo y no disfrutaremos como deberíamos de los gráficos del juego. Adicionalmente, las mecánicas de investigación, aunque sencillas, aportan un punto de credibilidad a la faceta del murciélago como "el mejor detective del mundo" (con permiso de Sherlock, claro).</p>

<p>El uso de la batgarra para movernos por el escenario recuerda mucho al uso del gancho en <a href="/2017/08/juegos-assassins-creed-syndicate-ps4.html">Assassin's Creed Syndicate</a>. Aunque en verdad debería decirlo al revés; aunque yo jugué antes a este último, el juego es posterior.</p>

<p>Gráficamente está muy cuidado. El detalle de que la capa de Batman se va rayendo según avanza la aventura me encanta. También me ha gustado especialmente la animación de Catwoman (y no por lo que pensáis, cochinotes).</p>

<p>Respecto al doblaje, nuevamente repite <a href="http://www.eldoblaje.com/datos/FichaActorDoblaje.asp?id=205">Claudio Serrano</a> como Batman, lo cual ayuda indudablemente a identificar al personaje. No obstante, he apreciado algunos fallos. En algunas escenas intermedias las voces se desincronizan con las animaciones faciales de los protagonistas.</p>

<p>Pero lo peor ha llegado justo al final, cuando el juego se ha quedado sin sonido, imagino que por culpa de algún bug extraño. Eso unido a la imposibilidad de volver a jugar a partir de un punto de control (o al menos yo no he visto la manera de hacerlo) ha supuesto que he tenido que ver el <a href="https://www.youtube.com/watch?v=07RpIIhA-R8">final en Youtube</a>. Los títulos de crédito también carecen de música; tan solo un inquietante sonido ambiente. La verdad es que me he quedado un poco chafado, y ya es el segundo juego de esta saga en el que un fallo me arruina la experiencia (aunque el caso de Arkham Asylum fue mucho peor).</p>

<p>Como es habitual, no lo he terminado al 100%. Es más, creo que hay algunos modos de juego extra que ni siquiera he probado, por no hablar de los innumerables desafíos de Riddler. Para contabilizar la cantidad de tiempo que me ha llevado ver el final de este título, ya que el propio juego no ofrece dicha funcionalidad, he usado la herramienta <a href="https://www.toggl.com">Toggl</a>. El problema es que te tienes que acordar de poner el cronómetro en marcha y, lo que es más importante, de pararlo cuando dejas de jugar. En más de una ocasión me lo he dejado encendido y luego he tenido que editar manualmente el tiempo invertido. En total han sido un poquito más de 13 horas.</p>

{% include 'image.twig' with {'src': '/uploads/2018/07/batman-arkham-city-progreso-1.jpg', 'alt': 'Batman Arkham City progreso 1/2', 'position': 'center'} %}

{% include 'image.twig' with {'src': '/uploads/2018/07/batman-arkham-city-progreso-2.jpg', 'alt': 'Batman Arkham City progreso 2/2', 'position': 'center'} %}

<p>En resumen, como veis, un título muy continuista respecto a su predecesor. Si soy sincero, la verdad es que lo he jugado un poco por compromiso y por enterarme de la historia. Porque lo que realmente me apetecía era jugar a la siguiente entrega de la trilogía: Batman Arkham Knight. Solo lo recomiendo si, como ha sido mi caso, tienes afán por completar la trilogía de juegos.</p>
