---
layout: post
title: "Juegos: RiME (PS4)"
summary: "Un juego que me ilusionó bastante cuando lo anunciaron y que al final he jugado más por curiosidad que por interés real."
header_image: /uploads/2018/03/rime-background.png
main_image: /uploads/2018/03/rime.png
text_date: Domingo, 25 de marzo de 2018
tags: [análisis videojuegos, playstation 4, playstation plus, tequila works]
disqus_identifier: juegos-rime-ps4
disqus_url: http://blog.falvarez.es/2018/03/juegos-rime-ps4.html
---

<p>Este juego me llamó la atención cuando se anunció porque estéticamente me recordaba a Zelda, la propuesta jugable me recordaba a <a href="https://es.wikipedia.org/wiki/Ico">Ico</a> y, además, es de un estudio español, <a href="http://www.tequilaworks.com/">Tequila Works</a>, del que conozco algún programador. Sin embargo, el culebrón que ha supuesto su desarrollo ha terminado pasándole factura.</p>

<p>Por resumir, en su concepción el tipo de juego era bastante diferente de lo que ha terminado siendo finalmente. El proyecto comenzó bajo el paraguas de Xbox Live Arcade, para posteriormente pasar a ser exclusivo de PlayStation y, finalmente, convertirse en un título multiplataforma.</p>

<p>La versión para Switch era la que me interesaba. De hecho, estuve a punto de reservar la edición coleccionista. Sin embargo, en un arrebato de sensatez, esperé a que el juego fuera lanzado (lo hizo con retraso respecto al resto de versiones) y las críticas no lo pusieron demasiado bien; el juego tenía problemas serios en su apartado técnico. Así que desestimé su compra.</p>

<p>Finalmente el juego ha sido incluido en la selección de PlayStation Plus de febrero de 2018, no habiendo transcurrido ni siquiera un año desde su lanzamiento, lo cual podría indicar que las ventas no han sido demasiado boyantes.</p>

{% include 'image.twig' with {'src': '/uploads/2018/03/rime.png', 'alt': 'RiME', 'position': 'center'} %}

<p>Antes de pasar a comentar las impresiones que me ha dejado el título, creo que es importante tener en cuenta que Tequila Works es un estudio más bien pequeño. Aunque un producto se debe juzgar siempre en función de lo que nos ofrece, no de quién hay detrás, conocer esa información nos permitirá contextualizar y poner en valor lo que nos encontremos.</p>

<p>Voy a empezar por lo positivo. La música es maravillosa. Por lo que transmite y por cómo está integrada en el juego, ya que va evolucionando a la par que realizamos acciones. Me recuerda al ya veterano <a href="https://es.wikipedia.org/wiki/IMUSE">sistema iMuse</a> que introdujo LucasArts en sus aventuras gráficas pero implementado de una forma mucho más orgánica. Chapeau por <a href="https://soundcloud.com/penthagram">David García</a>. Todos los premios que le den por este trabajo serán pocos.</p>

<p>La iluminación también me ha sorprendido gratamente. Sé que era uno de los pilares del diseño artístico de este juego y creo que lo han logrado. Sólo me ha chocado que no se haya incluido, como se hace en otros juegos, una opción obligatoria para calibrar el monitor antes de empezar. En mi caso lo tenía un poco oscuro y me he dado cuenta a mitad del juego. La fase que transcurre bajo la lluvia es sencillamente espectacular.</p>

{% include 'image.twig' with {'src': '/uploads/2018/03/rime-iluminacion.png', 'alt': 'RiME: la fase de la lluvia es espectacular', 'position': 'center'} %}

<p>En cuanto a las mecánicas, aunque el juego carece de interfaz, es complicado perderte o no saber cómo seguir, ya que siempre hay algún elemento o personaje secundario que nos indican cuál es el siguiente paso o hacia dónde debemos encaminarnos. En ese sentido, hasta las plataformas por las que podemos escalar están marcadas claramente de forma gráfica. Y, aunque plataformeo y puzles (clásicos de mover cajas o accionar objetos para poder avanzar), RiME no supone ningún reto en absoluto, al menos en una primera partida.</p>

<p>El juego, más que contando, nos va dando pistas de la historia que nos quiere transmitir, hasta que justo al final se revela la verdad. Es entonces que una segunda partida cobra sentido, ya que veremos todo con otros ojos. Y, además, existe la posibilidad de explorar más a fondo todos los niveles para encontrar los secretos ocultos, que nos desvelarán aún más detalles de la trama. Yo, en mi caso, me conformo con las 6 horas 15 minutos que me ha llevado completar esa primera vuelta.</p>

{% include 'image.twig' with {'src': '/uploads/2018/03/rime-pistas.png', 'alt': 'RiME: retazos de la historia se nos van contando a base de pictogramas', 'position': 'center'} %}

<p>Vamos a lo negativo. Ya he citado un punto importante, que es la ausencia de reto. Pero bueno, al menos la curiosidad por intentar averiguar qué es lo que está ocurriendo, por qué el niño protagonista está solo y perdido en esa isla, nos puede mantener pegados a la pantalla. Pero el motor gráfico petardea bastante, incluso en una consola PS4 Pro. Tengo entendido que también ocurre en el resto de versiones. Y eso puede llegar a ser un problema, ya que te puede llegar a distraer de las sensaciones que te está intentando transmitir. Muchas veces se notan las "costuras", es decir, la geometría que hay debajo del trabajo artístico con las texturas. Y la rutina de colisiones es un poco burda; los escalones son rampas y, en ocasiones, veremos cómo el personaje "levita" justo al lado de una plataforma.</p>

{% include 'image.twig' with {'src': '/uploads/2018/03/rime-colisiones.gif', 'alt': 'RiME: La rutina de colisiones no está bien ajustada', 'position': 'center'} %}

<p>Los controles y la gestión de la cámara tampoco están perfectamente afinados. Y he completado el juego sin saber para qué sirve el movimiento de rodar hacia adelante. Tampoco se llega a explicar cuál es el motivo de que ciertas acciones se lleven a cabo a base de "gritar". Entiendo que hay mucha metáfora en el diseño del juego, pero al final de la historia se deberían atar todos los cabos, al menos los que a la interacción con el jugador se refieren.</p>

<p>En resumen, RiME es un juego que artísticamente raya a un gran nivel, especialmente en los apartados de música e iluminación. Sin embargo, como videojuego en sí se me ha hecho un poco aburrido. Quizás el hecho de haber tenido que modificar su diseño jugable y sus mecánicas durante el proceso de desarrollo le han terminado pasando factura. Además, el acabado técnico, en cuanto a rendimiento, es francamente mejorable. No recomendaría hacerse con él a "precio completo" salvo por el hecho de apoyar a un estudio español. Para mí ha supuesto una pequeña decepción pero, claro, el problema es mío ya que tenía unas expectativas bastante elevadas.</p>
