---
layout: post
title: "Juegos: Game Of Thrones (PS4)"
summary: "Por fin saqué tiempo y ganas para jugar a la aventura gráfica de Juego de Tronos y contaros lo que me ha parecido."
header_image: /uploads/2018/02/game-of-thrones.jpg
main_image: /uploads/2018/02/game-of-thrones.jpg
text_date: Martes, 27 de febrero de 2018
tags: [análisis videojuegos, aventura gráfica, playstation 4, playstation plus, telltale]
widgets: [now-playing]
disqus_identifier: juegos-game-of-thrones-ps4
disqus_url: http://blog.falvarez.es/2018/02/juegos-game-of-thrones-ps4.html
---

<p>Game of Thrones (Juego de Tronos), la "aventura gráfica" de <a href="https://telltale.com/">Telltale</a>, fue uno de los títulos incluidos en los <a href="https://blog.es.playstation.com/2017/06/28/tus-juegos-de-playstation-plus-de-julio-son-until-dawn-has-sido-t-y-game-of-thrones/">juegos de PlayStation Plus de julio de 2017</a>. Mi mujer y yo somos ávidos espectadores de la serie así que, justo tras terminar de ver la séptima temporada, que comenzó a emitirse apenas unas semanas antes, parecía un momento inmejorable para ponerse con este juego. Sin embargo, poco nos duró el entusiasmo.</p>

<p>En esas fechas también habíamos empezado a jugar los dos a "Life Is Strange" y, quizás por comparación, y con la referencia de haber jugado hace ya bastantes años al juego de Regreso Al Futuro, también de Telltale, esperábamos que este GoT fuera una aventura más pausada. Por eso las comillas de "aventura gráfica". Al menos no es lo que yo entiendo como un representante de ese género.</p>

<p>De primeras nos sorprendió que los diálogos fueran "en tiempo real". Es decir, que apenas tienes unos segundos para pensar qué respuesta dar, de las tres alternativas que se ofrecen, durante una conversación. Si no contestas, o no te da tiempo, el diálogo continúa dando por hecho que el que calla, otorga. Es un poco extraño y, además, te da poco margen para asimilar lo que te están contando, habida cuenta de que el juego no está doblado y, si no somos muy duchos con el inglés, tendremos que estar leyendo constantemente. En cambio, de cara a algunas otras decisiones más relevantes sí que podremos tomarnos nuestro tiempo. Da la impresión, por tanto, de que son éstas las que podrían tener cierta influencia en el argumento.</p>

{% include 'image.twig' with {'src': '/uploads/2018/02/got-decisiones-relevantes.jpg', 'alt': 'En ocasiones el juego sí que espera a que tomemos una decisión', 'position': 'center'} %}

<p>El juego también incorpora escenas de acción basadas en <em>quick time events</em>, con el agravante de que el control del puntero del ratón parece que no se ha adaptado al mando de control de la consola, lo cual las hace ligeramente más difíciles hasta que le cogemos el truco. En esas escenas nos pueden matar, aunque volveremos apenas unos instantes antes para repetir la jugada. Total, que después de una hora o así lo dejamos aparcado, y así quedó durante meses hasta que, hará unas pocas semanas, decidí retomarlo, un poco más por cabezonería que por convencimiento.</p>

<p>Los protagonistas del juego son la familia Forrester, unos vasallos de la casa Stark que no aparecen en la serie de televisión (aunque, por lo visto, sí que lo hacen en las novelas). Eso da cierta libertad creativa a Telltale a la hora de plantear el argumento. Sin embargo, los Forrester, por su comportamiento, parecen trasuntos de los propios Stark mezclados con algún personaje de otra casa. Además, los acontecimientos que se narran están contextualizados más o menos [OJO SPOILER] entre la Boda Roja y poco después del asesinato de Geoffrey, pero no influyen para nada en su devenir, con lo que te queda la sensación de que la historia narrada no tiene la menor trascendencia.</p>

{% include 'image.twig' with {'src': '/uploads/2018/02/got-los-forrester.jpg', 'alt': 'Con ustedes, los Forrester', 'position': 'center'} %}

<p>El juego aprovecha el tirón de la aparición de personajes de la serie con las voces de los actores. Así, podremos interactuar con Margaery, Tyrion, Daeneris, Cersei, Ramsey y John Nieve. No obstante, como digo, dado que el argumento no influye en la trama principal, son un gancho comercial más que otra cosa.</p>

{% include 'image.twig' with {'src': '/uploads/2018/02/got-daeneris.jpg', 'alt': 'Daenerys Targaryen', 'position': 'center'} %}

<p>Cuando estaba jugando, la sensación que tenía era de estar viendo una película "ligeramente" interactiva, en el sentido de que en las escenas de acción moriremos si no pulsamos los botones adecuados a tiempo y, en algunos momentos, tendremos que tomar ciertas decisiones que influirán (aunque creo que levemente) en el transcurso del relato. También podemos movernos por los escenarios y examinar ciertos objetos, pero siempre con la impresión de que todo está perfectamente encorsetado. Al final son seis episodios, que en su momento se fueron lanzando secuenciamente a modo de entregas de la serie, que vienen a durar un par de horas cada uno. Así que sabes que, si dedicas doce horas de tu vida, acabarás el juego sí o sí y te llevarás un bonito trofeo de platino (virtual, claro está) de recuerdo.</p>

<p>El motor del juego es de la pasada generación; aunque el estilo gráfico no está mal (una especie de <em>cell shading</em>) las animaciones son algo ortopédicas. Además, veremos algunos errores en los textos, lo cual denota poco cuidado, teniendo en cuenta que han dispuesto de más de tres años para corregirlos.</p>

{% include 'image.twig' with {'src': '/uploads/2018/02/got-problemas-con-el-xml.jpg', 'alt': '¿Problemas con el XML?', 'position': 'center'} %}

<p>Lo único que resulta medianamente interesante es el hecho de que, tras finalizar cada capítulo, se nos muestra una estadística comparando nuestras decisiones relevantes frente a las del resto de jugadores. Pero no va más allá. No cuesta nada mentir por norma o traicionar a otros personajes, salvo por un mensaje que te suele indicar que tal o cual persona recordará tu decisión. Me quedaré con la duda de saber qué habría pasado si hubiera tomado otros caminos. Aunque tengo el convencimiento de que el resultado final habría sido el mismo. Que, por cierto, y sin desvelar nada, en eso el argumento sí que es muy "juego de tronos".</p>

{% include 'image.twig' with {'src': '/uploads/2018/02/got-estadisticas.jpg', 'alt': 'Comparación con las decisiones del resto', 'position': 'center'} %}

<p>Tenía idea de jugar a alguna otra aventura de Telltale, como el ya mencionado Regreso al Futuro o, más reciente, el de Batman, que también han "regalado" con la suscripción a PlayStation Plus. Pero, la verdad, se me han quitado las ganas, al menos por el momento.</p>

{% include 'image.twig' with {'src': '/uploads/2018/02/got-resumen.jpg', 'alt': 'Resumen de mi actuación como un Forrester', 'position': 'center'} %}
