---
layout: post
title: "Juegos: Yoshi's Wooly World"
summary: "Un buenísimo plataformas para WiiU con un ritmo más pausado de lo habitual y una puesta en escena preciosa con un estilo muy particular"
header_image: /uploads/2018/08/yoshis-wooly-world.jpg
main_image: /uploads/2018/08/yoshis-wooly-world.jpg
text_date: Domingo, 19 de agosto de 2018
tags: [análisis videojuegos, nintendo, yoshi, wiiu]
widgets: [now-playing]
disqus_identifier: juegos-yoshis-wooly-world-wiiu
disqus_url: http://blog.falvarez.es/2018/08/juegos-yoshis-wooly-world-wiiu.html
---

<p>Una buena parte de los juegos que compré para <a href="/tags/wiiu">WiiU</a> son de Nintendo y de plataformas. Sin embargo, aunque por su estética "infantil" puedan parecer todos cortados por el mismo patrón, cada uno tiene su propia personalidad y manera de jugar. Y en el caso de este Yoshi's Wooly World, ambos aspectos se diferencian especialmente del resto.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/08/yoshis-wooly-world.jpg', 'alt': 'Yoshi\'s Wooly World', 'position': 'center'} %}

<p>En ese sentido, este juego me recuerda poderosamente al que podríamos considerar su antecesor espiritual, que no es otro que el clásico <a href="https://es.wikipedia.org/wiki/Super_Mario_World_2:_Yoshi%27s_Island">Yoshi's Island</a> de Super Nintendo, o su <a href="https://blog.falvarez.es/2010/11/juegos-yoshis-island-nintendo-ds.html">conversión para Nintendo DS</a>. Si en aquella ocasión los gráficos parecían estar pintados con acuarela, ahora nos encontramos ante un mundo en el que todos sus elementos están tejidos con lana. Tanto es así que los Amiibo del juego también son de este material en vez de plástico. Pero no es solo una concesión en lo estético, sino que se introducen mecánicas de juego originales, al poder tirar del hilo de algunos elementos para deshacerlos (en el caso de los enemigos) o habilitar el paso a nuevas zonas (en el caso de los escenarios).</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/08/yoshis-wooly-world-start.jpg', 'alt': 'Pantalla de inicio del juego', 'position': 'center'} %}

<p>El estilo de juego se aleja bastante de los plataformas de la saga Super Mario. Jugaremos de manera más pausada, planificando cada salto y explorando cada nivel hasta el último recodo para encontrar todos sus secretos en forma de ovillos de lana (para rescatar al Yoshi atrapado en cada nivel), margaritas y sellos. Para dar por totalmente completado un nivel tendremos que haber localizado todos esos objetos y, además, terminar con nuestra barra de energía completamente llena.</p>

<p>Lo que me gusta de la exploración es que los elementos no están ocultos aleatoriamente. Si observamos atentamente la composición de los niveles sabremos intuitivamente dónde se esconden los secretos, y cuando los encontramos la sensación es muy satisfactoria.</p>

<p>Yoshi tiene la habilidad de "patalear" en el aire tras un salto, lo cual nos da un pequeño impulso extra. Si le pillamos el truco, seremos capaces de recorrer grandes distancias por el aire. Es una mecánica particular del juego que repetiremos constantemente, así que si después nos ponemos a jugar con otro título de plataformas, nos llevará un rato "desintoxicarnos". En concreto, unos días después me puse a jugar a New Super Mario Bros 2 y tenía tan interiorizado dicho automatismo al saltar que no paraba de caerme por los agujeros y morir una y otra vez.</p>

<p>El juego tiene una duración aceptable: seis mundos de ocho fases cada uno, con jefes en las fases cuatro y ocho de cada mundo. No es difícil de terminar; afortunadamente no encontraremos el típico subidón de dificultad en el último nivel (aunque el jefe final sí que nos dará más trabajo que el resto). Además cuenta con un "modo relajado" adecuado para jugadores con menos maña y que hace el juego más accesible para todos los públicos, especialmente los más jóvenes. Eso sí, desentrañar todos los secretos ya es harina de otro costal. Yo no lo he hecho y, como siempre me ocurre, vista la lista de juegos pendientes, me extraña que vaya a sacar el tiempo necesario para ponerme a ello.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/08/yoshis-wooly-world-ending.jpg', 'alt': 'Mensaje final del juego', 'position': 'center'} %}

<p>Después de terminar estuve indagando un poco y vi que había algún otro modo de juego, como una especie de <em>boss rush</em> en el que nos iremos enfrentando sucesivamente a todos los jefes finales, con la dificultad un poco subida, para conseguir algunos coleccionables más. Me queda probar para qué sirven los amiibos. Sólo tengo el Yoshi verde y no sé si algún otro será compatible.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/08/yoshi-amiibo-wool.jpg', 'alt': 'Amiibo de lana de Yoshi (color verde)', 'position': 'center'} %}

<p>Me ha extrañado encontrar algún pequeño bajón de rendimiento en momentos puntuales, lo cual es raro porque el juego no parece muy exigente en su apartado técnico.</p>

<p>Una lástima que este juego no esté disponible para Nintendo Switch y poder jugarlo en cualquier parte. Me extraña que no hayan anunciado un port para esa plataforma. Por lo demás, lo he disfrutado como un enano durante las tres semanas que he estado jugando. En esta ocasión no he medido el tiempo, y el juego tampoco ofrece esa estadística.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/08/yoshis-wooly-world-progress.jpg', 'alt': 'Mi progreso en el juego', 'position': 'center'} %}
