---
layout: post
title: "Juegos: Life Is Strange (PlayStation 4)"
summary: "Y por fin, tras una rocambolesca historia, termino de jugar a uno de los títulos más aclamados de los últimos años"
header_image: /uploads/2018/11/life-is-strange.jpg
main_image: /uploads/2018/11/life-is-strange.jpg
text_date: Martes, 27 de noviembre de 2018
tags: [análisis videojuegos, dontnod, playstation 4, square enix]
widgets: [now-playing]
disqus_identifier: juegos-life-is-strange-ps4
disqus_url: http://blog.falvarez.es/2018/11/juegos-life-is-strange-ps4.html

---

<p>Seguimos sin perder las buenas costumbres. <em><a href="https://lifeisstrange.square-enix-games.com/en-us/games/life-is-strange">Life Is Strange</a></em>, el título que nos ocupa, fue desarrollado con <a href="https://www.unrealengine.com/en-US/previous-versions">Unreal Engine 3</a> y lanzado en 2015 para la anterior y actual generación de consolas (excluyendo a Nintendo), ordenadores y dispositivos móviles.</p>

<p>Para que luego digan que las versiones de demostración no venden juegos (que no lo harán si el juego es malo, claro); en algún momento de 2016 descargué el primer capítulo completo, que en este tipo de juegos se suele ofrecer de manera gratuita. Si la mecánica te atrae y la historia te engancha, has de pagar por el resto (otros cuatro en este caso). Jugué y me gustó. Como tampoco me corría prisa, lo anoté como una futura compra interesante en caso de que en algún momento lo pusieran en oferta.</p>

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange.jpg', 'alt': 'Life Is Strange', 'position': 'center'} %}

<p>Dicha oferta llegó en enero de 2017, cuando lo adquirí junto con <a href="/2018/11/juegos-the-last-of-us-remastered-ps4.html">The Last Of Us: Left Behind</a>. Pero en aquel momento andaba con <em><a href="/2017/03/juegos-metal-gear-solid-v-the-phantom-pain.html">Metal Gear Solid: The Phantom Pain</a></em>, así que ahí quedó, en la biblioteca de juegos, a la espera.</p>

<p>Por fin en verano parecía un buen momento para ponerme con él, además en compañía de mi mujer. Juntos volvimos a jugar el primer capítulo (bueno, volví yo, porque ella venía de nuevas). Y, cuando fuimos a empezar el segundo, llegaron los problemas. Básicamente, la consola daba un error al descargar ese capítulo (sí los otros tres). Tras un intercambio de correos electrónicos con el soporte de PlayStation, la solución pasaba por acceder a la consola en modo recuperación y restaurar las compras (más o menos, para entendernos). El problema es que para acceder a ese modo hay que arrancar la consola manteniendo pulsado el botón de encendido, y el de la mía no funcionaba por otra historia que tengo pendiente de contar.</p>

<p>En cualquier caso, finalmente conseguí reparar la consola, gracias al amigo <a href="http://zonadepruebas.org/deepfb/">Jaime Soriano</a>, y pudimos continuar con el segundo capítulo. Pero, ya en pleno verano, vacaciones de por medio, y el juego quedó abandonado entre Assassin's, Uncharteds y otras vainas. Y ahí estuvo hasta hace unas semanas. Tras terminar <em><a href="/2018/11/juegos-the-last-of-us-remastered.html">The Last Of Us</a></em>, decidí darle una nueva oportunidad y, finalmente, completarlo.</p>

<p><strong>AVISO</strong>. En esta ocasión las imágenes incluidas a partir de aquí contienen <em>spoilers</em>. Es un juego del que se ha hablado tanto que creo que a poca gente sorprenderán. Pero, por si acaso, estáis avisados antes de continuar leyendo.</p>

<p><em>Life Is Strange</em> es un juego que, en su planteamiento, me ha recordado mucho a los títulos de <a href="https://telltale.com/">Telltale</a>, como <em><a href="/2018/02/juegos-game-of-thrones-ps4.html">Juego de Tronos</a></em>, solo que con una factura de mucha mayor calidad en todos sus apartados.</p>

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange-interacciones.jpg', 'alt': 'La interfaz es minimalista pero funcional', 'position': 'center'} %}

<p>El juego se apoya en una mecánica particular, que no es otra que la capacidad de Max (la protagonista) de volver hacia atrás en el tiempo. Dicha mecánica nos permite no solo corregirnos a nosotros mismos, sino también resolver algunas situaciones. Además, es el hilo conductor de la trama, por lo que no podría estar integrada de mejor manera.</p>

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange-posible-bug-espejo.jpg', 'alt': 'Los números no se reflejan en el espejo. ¿<em>Bug</em> al canto?', 'position': 'center'} %}

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange-bug-no-puzle.jpg', 'alt': 'No era un bug; todo tiene su explicación', 'position': 'center'} %}

<p>También tendremos que hablar con el resto de personajes de la historia, interactuar con objetos y tomar decisiones que alterarán (aunque intuyo que no de manera notable) el curso de la narración. Como también ocurría en las aventuras de Telltale que citaba anteriormente, al finalizar cada capítulo se mostrará una estadística de las decisiones que han tomado el resto de jugadores, o bien nuestro grupo de amigos.</p>

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange-decisiones.jpg', 'alt': '¿Qué ha decidido la gente en cada caso?', 'position': 'center'} %}

<p>Gráficamente huye del fotorrealismo con un estilo gráfico que sienta muy bien y que le va a permitir aguantar dignamente el paso del tiempo. De hecho, podemos comprobar que sus diferentes secuelas, aun siendo más reciente, han apostado por ser continuistas en ese sentido.</p>

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange-tornado.jpg', 'alt': 'Los gráficos cumplen su cometido con creces', 'position': 'center'} %}

<p>Mención especial también para la banda sonora, que le sienta a este juego como un guante. Pensaba que había sido compuesta a propósito para el juego, pero parece ser un conjunto de <a href="http://dontnodentertainment.wikia.com/wiki/Life_Is_Strange_(Soundtrack)">canciones licenciadas</a>, eso sí, con un gusto exquisito a la hora de escogerlas e integrarlas en las diferentes escenas.</p>

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange-diario-fotos.jpg', 'alt': 'Tenemos que hacer todas las fotos para obtener el Platino', 'position': 'center'} %}

<p>Como colofón, si hacemos todas las fotografías "ocultas" en el juego, obtendremos el ansiado trofeo de Platino.</p>

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange-platino.jpg', 'alt': 'Platino conseguido', 'position': 'center'} %}

<p>Una vez acabado, siempre te queda la duda de qué habría pasado si hubiera ido tomando otras decisiones a lo largo de la historia. Pero, salvo detalles menores, intuyo que siempre se llegaría al mismo final (de hecho, a alguno de los dos finales). Afortunadamente, podemos volver fácilmente a ese punto para visualizar ambos. Por lo demás, no me merece la pena la inversión de tiempo que debería hacer para explorar todas y cada una de las ramificaciones argumentales, cosa que sí solía hacer cuando devoraba de niño los libros de <a href="https://verne.elpais.com/verne/2018/10/02/articulo/1538485993_575380.html">Elige Tu Propia Aventura</a>.</p>

{% include 'image.twig' with {'src': '/uploads/2018/11/life-is-strange-decision-final.jpg', 'alt': '¿Y tú, con qué final te quedas?', 'position': 'center'} %}

<p>Resumiendo, <em>Life Is Strange</em> es una aventura gráfica de ritmo pausado, mucho diálogo y con una historia interesante que contar. Sin embargo, y a las pruebas me remito, a mí me ha costado engancharme, aunque el final me ha gustado y me ha parecido bastante coherente con el mensaje que se quería transmitir. Eso sí, dejando a un lado la parcela narrativa, su jugabilidad no me ha enamorado. Es más, a veces me ha resultado un poco forzado tener que ir inspeccionando todos los elementos interactivos de los escenarios en busca de pistas o de poder desbloquear otros elementos ocultos a priori. Si fuera un libro o una película, lo recomendaría sin dudarlo. En cualquier caso, un claro referente en su género.</p>
