---
layout: post
title: "Juegos: God Of War III (PS3)"
summary: "Ahora que estamos en plena fiebre God Of War, yo voy a mi ritmo y me pongo ahora con la tercera entrega numerada (quinta de la saga)."
header_image: /uploads/2018/05/god-of-war-iii.jpg
main_image: /uploads/2018/05/god-of-war-iii.jpg
text_date: Martes, 15 de mayo de 2018
tags: [análisis videojuegos, kratos, playstation 3, santa monica studios]
widgets: [now-playing]
disqus_identifier: juegos-god-of-war-iii-ps3
disqus_url: http://blog.falvarez.es/2018/05/juegos-god-of-war-iii-ps3.html
---

<p>Por ilustrar cuál es mi ritmo habitual de consumo de videojuegos (aunque a veces me lo salto y compro y juego con novedades, especialmente si son de Nintendo), este juego fue lanzado al mercado en 2010 para la consola PlayStation 3. Yo lo compré de segunda mano en noviembre de 2013, justo cuando se acababa de lanzar PlayStation 4 al mercado. Y desde entonces estaba en la estantería esperando pacientemente su turno junto al resto de sus compañeros.</p>

<p>Sinceramente, no tenía planes de ponerme con él a corto plazo. Sin embargo, con tanta euforia por el nuevo God Of War, al que casi todos mis contactos de PSN están jugando como locos, no iba a dejar pasar la ocasión de hacer el chiste y decir que yo también estaba jugando a God Of War, así que hace un par de semanas se mudó de la estantería a la bandeja de la consola, y hasta hoy.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/05/god-of-war-iii.jpg', 'alt': 'God Of War III', 'position': 'center'} %}

<p>Conociendo mi memoria de chorlito, de las entregas anteriores tengo recuerdos de la primera que jugué, que fue <a href="/2007/12/juegos-god-of-war-2-ps2.html">God Of War II</a> hace ya más de 10 años en una PlayStation 2 en la que el título lucía casi al nivel de la siguiente generación de consolas, detalle que se vuelve a repetir en esta entrega. De hecho, viniendo de jugar bastante en PlayStation 4, raya a un gran nivel en lo visual. Nada más terminarlo puse GTA V durante unos minutos para hacerme una comparativa "real" de lo que eran los juegos de la generación anterior comparados con la actual, ya que los recuerdos pueden (y suelen) jugar malas pasadas.</p>

<p>Repasando la lista de juegos terminados, veo que también acabé la remasterización de la primera entrega en algún momento que no recuerdo (podría revisar la fecha de la partida guardada, ahora que caigo), y también tengo por ahí las entregas de PSP a las que, por lo visto, no he jugado. Y me da que se van a quedar ahí <em>ad eternum</em>, porque es una consola que tengo bastante abandonada.</p>

<p>Volviendo al título que nos ocupa, la sensación que me ha dejado ha sido muy parecida a la de las dos entregas anteriores. La mecánica en sí misma no me apasiona; sé que es debido a que, en el nivel de dificultad en el que juego (el segundo de los cuatro posibles) incita a pulsar los botones sin demasiado criterio, hasta un momento cercano al final en el que la dificultad de cierto combate sube de manera abrupta. Los puzles no están mal, aunque no he encontrado ninguno en el que me haya quedado atascado. Pero lo que más me gusta, aunque parezca mentira, es tanto la historia que se narra como la ambientación gráfica de la misma.</p>

<p>La mitología griega siempre me ha llamado la atención, y en God Of War III seremos testigos de la aparición de los principales protagonistas y emplazamientos más importantes de la misma. He de hacer una mención especial al tramo final del juego, que no es exactamente como cabría esperar y que me ha sorprendido para bien. En cualquier caso, antes de empezar tenía curiosidad y la duda no me ha quedado resuelta, y es que no tengo claro cómo enlaza con el "nuevo Kratos", si es que existe esa relación.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/05/god-of-war-iii-mensaje-final.jpg', 'alt': 'Mensaje final (God Of War III)', 'position': 'center'} %}

<p>Acabarlo me ha llevado poco más de 9 horas repartidas, como he comentado, en apenas un par de semanas. Al principio me costó un poco acostumbrarme al sistema de cámaras fijas y a usar el <em>stick</em> derecho para rodar y escapar de los enemigos en vez de controlar del punto de vista. Pero, una vez hecho, me ha enganchado bastante y no he parado &mdash;dentro del tiempo que le puedo dedicar a jugar&mdash; hasta completarlo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/05/god-of-war-iii-estadisticas.jpg', 'alt': 'Estadísticas de juego (God Of War III)', 'position': 'center'} %}

<p>Como viene siendo habitual, no creo que vuelva a dar una segunda vuelta para intentar conseguir el 100% de trofeos, objetos coleccionables y secretos. Me conformo con lo experimentado y tengo muchos juegos pendientes de ser disfrutados.</p>

<p>Un juego continuista dentro de su saga, técnicamente puntero dentro de su generación de consolas y que ha aguantado perfectamente el paso del tiempo desde su lanzamiento hasta nuestros días.</p>
