---
layout: post
title: "Juegos: Rhythm Thief y el Misterio del Emperador (Nintendo 3DS)"
summary: "Entretenido juego principalmente musical que pillé de casualidad en un bundle y que me ha acompañado en pequeñas dosis durante buenos ratos"
header_image: /uploads/2018/10/rhythm-thief-3ds.jpg
main_image: /uploads/2018/10/rhythm-thief-3ds.jpg
text_date: Martes, 2 de octubre de 2018
tags: [análisis videojuegos, nintendo 3ds, sega]
widgets: [now-playing]
disqus_identifier: juegos-rhythm-thief-y-el-misterio-del-emperador-3ds
disqus_url: http://blog.falvarez.es/2018/10/juegos-rhythm-thief-y-el-misterio-del-emperador-3ds.html

---

<p>Normalmente los <em>bundles</em> de juegos suelen ser coto exclusivo de las tiendas digitales de ordenadores como <a href="https://store.steampowered.com/?l=spanish">Steam</a>, <a href="https://www.gog.com/">GOG</a>, etc. En contadas ocasiones han salido ofertas de este estilo para consolas, y muchas veces están restringidas a los mercados americano o japonés. Pero, en este caso, la oferta era aplicable para la eShop española con varios títulos de Nintendo 3DS y WiiU:</p>

<ul>
    <li>Nano Assault EX - Nintendo 3DS</li>
    <li>Retro City Rampage: DX - Nintendo 3DS</li>
    <li>Rhythm Thief & the Emperor's Treasure - Nintendo 3DS</li>
    <li>Shantae and the Pirate's Curse - Nintendo 3DS</li>
    <li>Super Street Fighter IV: 3D Edition - Nintendo 3DS</li>
    <li>Affordable Space Adventures - Wii U</li>
    <li>Citizens of Earth - Wii U</li>
    <li>Darksiders II - Wii U</li>
    <li>Freedom Planet - Wii U</li>
    <li>Runbow - Wii U</li>
    <li>Shantae and the Pirate's Curse - Wii U</li>
    <li>Swords & Soldiers II - Wii U</li>
</ul>

<p>No está mal para un <a href="https://www.humblebundle.com/">Humble Bundle</a> por el que pagué 13 dólares en 2016. Realmente los juegos que me llamaban la atención eran el Street Fighter, el Retro City Rampage y el Shantae. Sin embargo, ha sido este Rhythm Thief el único con el que me he puesto en serio y he terminado. Me ha llevado poco menos de 6 horas repartidas entre muchos ratos pequeños a lo largo de más de un año; si no recuerdo mal debí empezar a jugar por mayo de 2017.</p>

{% include 'image.twig' with {'src': '/uploads/2018/10/rhythm-thief-duracion.jpg', 'alt': 'Duración de la partida', 'position': 'center'} %}

<p>La historia narrada es el hilo conductor para presentarnos las diversas pruebas musicales, un total de 50, sobre las que se apoya la jugabilidad de este título. Estas pruebas están basadas en seguir el ritmo de la canción pulsando diferentes botones al compás, haciendo gestos en la pantalla táctil o bien moviendo la consola. Tanto la música como los bailes de los personajes rayan a un gran nivel; imagino que habrán usado captura de movimientos de algún bailarín profesional.</p>

{% include 'image.twig' with {'src': '/uploads/2018/10/rhythm-thief-mapa.jpg', 'alt': 'El mapa de París por el que transcurre nuestra investigación', 'position': 'center'} %}

<p>La mecánica es la ya conocida de los juegos musicales. Si encadenamos demasiados fallos consecutivos no pasaremos la prueba, mientras que si sólo fallamos de vez en cuando, la pasaremos pero con una nota más baja. Hacer todas las canciones perfectas no está al alcance de cualquiera.</p>

<p>El resto de puzles que se nos presentan son bastante sencillos y consisten básicamente en ir "recolectando sonidos" por las diversas pantallas del mapa, charlar con los personajes que vayamos encontrando y la búsqueda de monedas ocultas en los escenarios. También tiene un modo multijugador local que no he probado.</p>

{% include 'image.twig' with {'src': '/uploads/2018/10/rhythm-thief-investigacion.jpg', 'alt': 'Pulsando como locos en cada rincón encontraremos monedas extra', 'position': 'center'} %}

<p>Las escenas animadas que se intercalan entre prueba y prueba están muy logradas y tienen un efecto 3D muy chulo. Recomiendo jugar con cascos para apreciar bien la calidad de sonido.</p>

<p>Parece ser que el juego era el comienzo de una saga (por lo que se puede intuir de las escenas finales). Pero no debieron ir muy bien las ventas (y de ahí quizás su presencia en el <em>bundle</em>) ya que no se ha sabido nada de esa supuesta secuela. Aunque ahora mismo el <a href="https://www.nintendo.es/Juegos/Nintendo-3DS/Rhythm-Thief-y-el-Misterio-del-Emperador-274754.html#Informaci_n">juego está a precio completo en la eShop</a>, así que no sé. Yo recomendaría el juego, especialmente para los peques, pero no a ese precio, desde luego.</p>
