---
layout: post
title: "Juegos: Starwars Battlefront II (PS4)"
summary: "Al final he caído y he comprado la vilipendiada segunda parte de Star Wars Battlefront. Os cuento qué me ha parecido tras completar el modo historia"
header_image: /uploads/2018/09/star-wars-battlefront-ii.png
main_image: /uploads/2018/09/star-wars-battlefront-ii.png
text_date: Martes, 11 de septiembre de 2018
tags: [análisis videojuegos, dice, electronic arts, playstation 4, star wars]
disqus_identifier: juegos-star-wars-battlefront-ii-ps4
disqus_url: http://blog.falvarez.es/2018/09/juegos-star-wars-battlefront-ii-ps4.html
---

<p><a href="/2016/01/juegos-star-wars-battlefront-ps4.html">Star Wars Battlefront</a> fue el juego con el que estrené mi PlayStation 4, hace ya más de dos años y medio (cómo pasa el tiempo), en plena fiebre con el regreso de Star Wars a los cines. Esta segunda parte no es una novedad, ya va para un año que salió al mercado, y fue objeto de bastante <a href="https://vandal.elespanol.com/noticia/1350703180/ea-ve-la-polemica-con-battlefront-ii-como-una-oportunidad-de-aprendizaje/">crítica y polémica</a>, especialmente por el uso que se le daba a las "cajas de botín" y las microtransacciones. Antes de las vacaciones me animé a comprarlo ya que estaba de oferta en descarga digital (20 euros). Eso sí, con mi proverbial puntería, apenas dos o tres días después se pudo encontrar por un breve periodo de tiempo en formato físico a un precio similar (un par de euros más caro). En fin, no escarmiento.</p>

{% include 'image.twig' with {'src': '/uploads/2018/09/swbf2-loot-boxes.png', 'alt': 'Star Wars Battlefront II: Cajas de botín', 'position': 'center'} %}

<p>En esta ocasión, a diferencia de la primera entrega, el juego cuenta con un modo historia, que es lo que principalmente me llamaba la atención para hacerme con él, ya que <em>online</em> decir que soy un manco sería quedarse corto. Además, el modo historia, que transcurre entre los episodios VI y VII de la saga de películas es <strong>canon</strong>. Eso quiere decir que los eventos que se narran, y que vienen a dar algunas pinceladas sobre lo que aconteció entre las dos películas, cuentan con el beneplácito de Disney.</p>

<p>La historia de Iden Verso, la protagonista, no está del todo mal. No digo nada para no desvelar ninguna sorpresa. Eso sí, no esperéis grandes revelaciones, como averiguar de dónde surge La Primera Orden o por qué Luke está desaparecido. Además podremos controlar a otros personajes muy conocidos por los fans, así como las naves más emblemáticas.</p>

{% include 'image.twig' with {'src': '/uploads/2018/09/swbf2-xwing.png', 'alt': 'Star Wars Battlefront II: Pilotando un X-Wing', 'position': 'center'} %}

<p>Además del multijugador, con un buen puñado de variantes, y el ya comentado modo historia (que viene a durar unas 6 ó 7 horas sumando el DLC gratuito que se lanzó durante el año), encontraremos algunos otros modos de juego para disfrutar en local. Eso sí, no dejan de ser más o menos calcos del modo <em>online</em> pero con <em>bots</em>. De hecho el modo historia adolece del mismo defecto. Si bien hay un argumento y unas escenas cinemáticas bien trabajadas, las mecánicas del juego en sí son las mismas. Uno espera un Uncharted y no lo es, por desgracia.</p>

{% include 'image.twig' with {'src': '/uploads/2018/09/swbf2-progress.png', 'alt': 'Star Wars Battlefront II: Porcentajes de progreso', 'position': 'center'} %}

<p>Eso sí, gráficamente me ha parecido peor que el primero, lo cual no tiene mucho sentido. No en los modelados en sí sino técnicamente, ya que se aprecia a simple vista cómo cargan las texturas de los objetos más próximos a nuestro punto de vista. Pensaba que podría ser debido a tener activado el "modo supermuestreo", pero lo he desactivado y sigue igual. También he notado más <em>lag</em> en las partidas por Internet. Para comprobar la verosimilitud de esa sensación, nada mejor que echar una partida rápida al primer juego y salir de mi error... a medias. Los gráficos de Battlefront II son infinitamente más detallados, pero sí que es cierto que se nota ese <em>popping</em> de las texturas en distancias cortas.</p>

{% include 'image.twig' with {'src': '/uploads/2018/09/swbf2-ingame-screenshot.png', 'alt': 'Star Wars Battlefront II: Pantalla in-game', 'position': 'center'} %}

<p>Como creo que ya he comentado por aquí alguna vez, llegar tarde a los juegos suele tener la ventaja del precio reducido pero, en este caso, la principal desventaja está al jugar con otra gente. En estos títulos que tienen tanto de echar horas para ir, no solo cogiendo maña con los controles, sino aumentando el nivel de los personajes, consiguiendo armas, potenciadores, objetos especiales, etc., ves que todo el mundo está ya a un nivel que no vas a alcanzar ni en sueños. Esto es porque la manera de progresar rápido es jugando bien, y si el nivel está muy por encima, te cuesta más, así que avanzas mucho más despacio. Así que en las partidas multijugador soy de lo que podríamos llamar "carne de cañón". Pero bueno, para echar un rato está divertido. Y no deja de ser un juego de Star Wars.</p>

{% include 'image.twig' with {'src': '/uploads/2018/09/swbf2-online-game-ranking.png', 'alt': 'Star Wars Battlefront II: Estadísticas de una partida', 'position': 'center'} %}
