---
layout: post
title: "Juegos: Detroit Become Human (PlayStation 4)"
summary: "No es un videojuego al uso, pero es una grandísima experiencia interactiva. El equipo de Quantic Dream ha dado con la tecla tanto en la narrativa como en lo audiovisual"
header_image: /uploads/2018/12/detroit-become-human.jpg
main_image: /uploads/2018/12/detroit-become-human.jpg
text_date: Domingo, 9 de diciembre de 2018
tags: [análisis videojuegos, playstation, quantic dream, sony]
widgets: [now-playing]
disqus_identifier: juegos-detroit-become-human-ps4
disqus_url: http://blog.falvarez.es/2018/12/juegos-detroit-become-human-ps4.html

---

<p>En algún momento habría que abrir el debate sobre qué entendemos por un videojuego. Porque, atendiendo estrictamente al significado de las palabra vídeo y juego, este <em>Detroit: Become Human</em> cumple. Sin embargo, más que a aquellos primeros juegos que tuve la ocasión de disfrutar de niño (esos marcianitos, ese comecocos), se asemeja mucho más a aquellos libros de la colección <em><a href="https://es.wikipedia.org/wiki/Elige_tu_propia_aventura">Elige tu propia aventura</a></em>, de la editorial <a href="https://es.wikipedia.org/wiki/Timunmas">Timun Mas</a>, que devoraba también de crío.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-become-human.jpg', 'alt': 'Detroit: Become Human', 'position': 'center'} %}

<p>Pues este juego es como aquellos libros pero llevado al extremo, con unos niveles de producción audiovisuales brutales. Es verdaderamente una película interactiva que sabe conectar con el jugador e implicarlo emocionalmente de una manera que pocos juegos consiguen. Trataré de explicarlo sin reventar la experiencia de juego. Porque, esta vez me anticipo al resto del análisis; este juego hay que jugarlo. Y más por los 20 euros que me costó en oferta en el Black Friday, un auténtico regalo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-ambientacion.jpg', 'alt': 'A veces nos parecerá estar viendo una película', 'position': 'center'} %}

<p>Curiosamente durante este año he jugado a títulos con una mecánica parecida, como <a href="/2018/02/juegos-game-of-thrones-ps4.html">Juego de Tronos</a> o <a href="/2018/11/juegos-life-is-strange-ps4.html">Life is Strange</a>. Sin embargo, sin desmerecer a ninguno de ellos (sobre todo al segundo, el primero es más ramplón), creo que este Detroit le pasa la mano por la cara a todos los demás.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-perritos.jpg', 'alt': 'Un juegos siempre mejora si aparecen mascotas', 'position': 'center'} %}

<p>Como he comentado antes, el juego consigue que empatices con los protagonistas desde el primer momento. Quizás será porque técnicamente es impresionante. De acuerdo, el desarrollo está lo suficientemente encorsetado en cuando a qué cosas podemos hacer (no es un mundo abierto) como para poder optimizar el rendimiento visual. Las animaciones faciales logran escapar por los pelos del <a href="https://es.wikipedia.org/wiki/Valle_inquietante">valle inquietante</a>, resultando lo suficientemente creíbles dentro del realismo del que están dotadas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-al-servicio-de-los-humanos.jpg', 'alt': 'Los androides son simples siervos de los humanos, ¿o no?', 'position': 'center'} %}

<p>Quizás será por el tipo de historia que se está narrando, la clásica pregunta sobre si los androides tienen o podrían llegar a tener conciencia alguna vez. Pienso que la verdadera forma de disfrutar este juego es tomárselo en serio y tratar de responder a los diferentes dilemas que se nos plantean como si fuéramos nosotros mismos y, así, seguir avanzando hasta ver cómo concluye la historia según nuestros actos. Porque, a diferencia de los otros juegos que he citado anteriormente, aquí el camino tiene diversas bifurcaciones que, en función de lo que escojamos, nos llevarán a múltiples finales, bastante distintos unos de otros.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-arbol-de-decisiones.png', 'alt': 'Las ramificaciones de la historia pueden llegar a ser bastante complejas', 'position': 'center'} %}

<p>Y es curiosa la paradoja porque, no siendo un juego de mundo abierto, en realidad tienes mucha más capacidad de influencia en la historia que se relata. Estoy pensando en juegos de acción con un argumento más elaborado, como puedan ser The Last Of Us o Uncharted, u otros más libres pero también con una historia que contar, como los GTA, Red Dead Redemption, Tomb Raider, Assassin's Creed, etc. En todos ellos podemos hacer más o menos lo que nos venga en gana, pero siempre avanzaremos en el relato. Si tomamos una decisión errónea, perdemos en un combate o lo que sea, moriremos y/o tendremos que volver a afrontar ese reto concreto una y mil veces hasta superarlo. Aquí no hay "decisiones erróneas". Y si un personaje pierde en un combate, es posible que muera. Pero, como en la vida real, la acción continúa.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-decisiones-tiempo-real.jpg', 'alt': 'Algunas decisiones debemos tomarlas casi sin tiempo para pensar', 'position': 'center'} %}

<p>La mecánica del juego, decisiones aparte, está bastante guiada. En casi todo momento se nos irá indicando qué debemos hacer para "completar" una escena. Además de movernos más o menos libremente por los escenarios, podremos interactuar con ciertos objetos, hablar con los otros personajes e incluso protagonizaremos escenas de acción a base de QTEs (<em>quick time events</em>) que intentan convertir nuestro mando en una especie de interfaz física con el juego. Por ejemplo, para abrir una puerta casi siempre tendremos que girar uno de los <em>sticks</em>, como si lo hiciéramos con el pomo de la misma.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-lecturas.jpg', 'alt': 'Encontraremos revistas que nos irán poniendo en situación sobre el mundo en que transcurre el juego', 'position': 'center'} %}

<p>Como comentaba, técnicamente es una delicia. Como curiosidad, creo que es el primer juego, al menos que yo recuerde, en el que los protagonistas suben y bajan los escalones correctamente. En la mayoría de ellos se nota que es una textura superpuesta sobre una rampa.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-escaleras.gif', 'alt': 'Subimos las escaleras pasito a pasito', 'position': 'center'} %}

<p>Y también he de reconocer que es uno de los pocos en los que me he encontrado algún error que me ha sacado del juego. Aunque sólo me ocurrió una vez, así que lo doy como algo puntual.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-error.jpg', 'alt': 'Error NP-31846-2', 'position': 'center'} %}

<p>En fin, que en una semana me he pulido el juego, pricipalmente porque es como una buena novela, que te engancha y quieres saber qué ocurre a continuación, y más cuando no está prefijado sino que depende de cómo te has ido comportando hasta el momento. No se ofrecen estadísticas de duración, pero calculo que habrán sido unas 12 horas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-voz-mike-delfino.jpg', 'alt': 'Se me ha hecho raro escuchar a Mike Delfino en vez de al teniente Hank Anderson (Clancy Brown)', 'position': 'center'} %}

<p>Una vez terminado, llega el momento de no ser tú mismo, sino de intentar adoptar un rol diferente y ver qué ocurre. Sin embargo, si juegas de nuevo tienes que volver a ver todos los diálogos y cinemáticas, ya que no se pueden saltar ni pasar de forma rápida. Es como ver otra vez la misma película, solo que no es la misma exactamente. En ese sentido, explorar las diferentes bifuraciones no es una tarea tan sencilla como en aquellos libros que comentaba al principio, que podía llegar a devorar en una tarde.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/12/detroit-rejugabilidad.jpg', 'alt': 'Una vez terminado, podemos jugar cada capítulo por separado', 'position': 'center'} %}

<p>Dejo por aquí anotado un enlace a una guía de trofeos que me puede venir bien por si, en algún momento, quiero conseguir el platino: <a href="https://www.playstationtrophies.org/forum/detroit-become-human/327103-detroit-become-human-platinum-walkthrough.html">https://www.playstationtrophies.org/forum/detroit-become-human/327103-detroit-become-human-platinum-walkthrough.html</a>.</p>

<p>En fin, creo que es un juego que no puedes dejar pasar si tienes una PlayStation 4 (ya que, por desgracia, es exclusivo para esta consola). No se me ocurre ningún motivo por el que cualquier persona no podría disfrutarlo. Es más, hay un modo de juego menos exigente con las partes de acción para quienes se quieran centrar en la historia. Y si tienes la suerte de conseguirlo a precio rebajado, ni te lo pienses. Aunque, como dice mi amigo Pedrete, lo más seguro es que, después de todo lo que vendió en el Black Friday, dentro de unos meses será muy fácil encontrarlo en las cestas de juegos de segunda mano.</p>



