---
layout: post
title: "Juegos: Rayman Legends (WiiU)"
summary: "Un buen juego de plataformas para WiiU de la mano de Ubi Soft y su clásica saga Rayman"
header_image: /uploads/2018/07/rayman-legends.jpg
main_image: /uploads/2018/07/rayman-legends.jpg
text_date: Domingo, 22 de julio de 2018
tags: [análisis videojuegos, plataformas, ubi soft, wiiu]
widgets: [now-playing]
---

<p>Si en una cosa suelen destacar las consolas de Nintendo es en la amplia variedad de juegos de plataformas disponibles. En mi caso, de todos los juegos que tengo para WiiU, más de la mitad son de ese género. La mayoría son las franquicias <em>first party</em> basadas en los personajes habituales: Mario, Luigi, Yoshi, Donkey Kong, Toad. Sin embargo, entre todos esos títulos se ha colado un personaje, también clásico, pero de los franceses de Ubi Soft: Rayman.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/07/rayman-legends.jpg', 'alt': 'Rayman Legends WiiU', 'position': 'center'} %}

<p>Este curioso personajillo sin brazos ni piernas debutó en nuestras pantallas en la generación de PlayStation, hace más de 20 años, aunque recientemente se ha sabido que hubo un juego en desarrollo para Super Nintendo que no llegó a ver la luz. En la época de Wii y sus juegos sociales compartió (o, más bien, cedió) protagonismo a los ínclitos y macarras Rabbids hasta que volvió por sus fueros plataformeros en Rayman Origins.</p>

<p>Este Rayman Legends es la continuación directa de Origins. En principio iba a ser un juego exclusivo de WiiU. De hecho, fue uno de los títulos que pudo probarse en aquel <a href="/2012/11/probando-la-nueva-wiiu-conwiiupuedo.html">evento de presentación de WiiU</a> al que asistí con mi cuñado Paco en 2012, y que incorporaba aquellos primeros retazos de juego asimétrico que intentaba poner de moda la nueva consola. Sin embargo, supongo que debido al fracaso en ventas del nuevo <em>hardware</em>, Ubi Soft decidió recular, traicionar de alguna manera a los nintenderos, y retrasarlo en pos de un lazamiento multiplataforma.</p>

<p>Empecé este juego hace bastante tiempo, lo tuve durante muchos meses aparcado y ahora, por fin, lo retomo para terminarlo.</p>

<p>En cuanto al juego, se trata de un plataformas con una factura brillante tanto en lo artístico como en lo técnico. Rayman puede moverse, saltar y golpear; con esos mimbres será suficiente para superar todos los retos. Pero, ojo, que los controles sean sencillos no quiere decir que el juego sea fácil, aunque tampoco es un infierno. Tiene la dificultad justa para hacernos sentir cómo progresamos a los mandos.</p>

<p>Además de los saltos como tales, se han incluido diversidad de situaciones, como algunas en las que tendremos que ocultarnos en las sombras si no queremos ser descubiertos y morir, otras en las que, cual matamarcianos, iremos volando y disparando acabando con los enemigos, hasta las que transcurren frenéticamente al ritmo de la música. También hay unas cuantas (al final se hacen un poco repetitivas) en las que controlaremos a Murphy mediante la pantalla táctil.</p>

<p>Como juego de plataformas me ha gustado bastante, en especial las fases en las que se juega con la luz y las sombras y los "epílogos musicales". No obstante, me parece que está un puntito por debajo de los juegos de Mario y, en especial, de <a href="/2018/08/juegos-yoshis-wooly-world-wiiu.html">Yoshi's Wooly World</a> y Donkey Kong Country Tropical Freeze, que son los dos que más me han gustado hasta ahora para esa plataforma.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/07/rayman-legends-mundos.jpg', 'alt': 'Rayman Legends. Progreso', 'position': 'center'} %}

<p>También tiene modos de juego multijugador que no he podido probar. Y me ha sorprendido que los retos <em>online</em> sigan disponibles a día de hoy, ya que el juego se lanzó en 2013. Como siempre, he llegado hasta el final sin completarlo al 100%. Esta vez no he contabilizado el número de horas, y el juego tampoco aporta esa información.</p>

{% include 'components/image.twig' with {'src': '/uploads/2018/07/rayman-legends-retos.jpg', 'alt': 'Rayman Legends. Retos', 'position': 'center'} %}

<p>Es un buen juego de plataformas. Si te gusta el género, ve a por él. Además está disponible en un buen puñado de sistemas, tanto en consola como ordenadores.</p>
