---
layout: post
title: "Juegos: Splinter Cell Blacklist (Xbox 360)"
summary: "Último juego (por el momento) de la franquicia de títulos de sigilo protagonizada por Sam Fisher."
header_image: /uploads/2020/11/splinter-cell-blacklist-splash.jpg
main_image: /uploads/2020/11/splinter-cell-blacklist.jpg
text_date: Lunes, 2 de noviembre de 2020
tags: [análisis videojuegos, splinter cell, ubi soft, xbox 360]
widgets: [now-playing]
disqus_identifier: juegos-splinter-cell-blacklist-xbox360
disqus_url: http://blog.falvarez.es/2020/11/juegos-splinter-cell-blacklist-xbox360.html

---

<p>Estamos ante un título aparecido en 2013 y que, siendo como es de una de las franquicias que más me gustan, debería haberlo jugado y terminado hace años. Originalmente lo compré para <a href="/2014/08/wiiu-yo-la-tengo-ya.html">WiiU</a> (junto con Watch Dogs), con intención de apoyar los juegos <em>third party</em> para dicha plataforma, pero fue una mala idea. Visualmente está muy bien, probablemente sea la versión con mejores gráficos. Pero como consola carece de disco duro interno, los tiempos de carga son demasiado largos. Y tampoco me acababa de acostumbrar al mando, ya que todas las entregas anteriores las he jugado en Xbox y Xbox 360. Así que, oh sorpresa, lo abandoné a un tercio de la historia, más o menos, y ahí se quedó durante años.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/splinter-cell-blacklist-inicio-mision.jpg', 'alt': 'Le di a la "B" y así se quedó durante años', 'position': 'center'} %}

<p>Hace cosa de un par de meses estaba revisando los juegos de WiiU de mi colección, por ver sobre todo si tenía alguna actualización pendiente de descargar. Y al ver este juego pensé que sería buena idea venderlo para adquirir la versión para Xbox 360, que es la que debería haber comprado de primeras. Ahora es un buen momento para comprar juegos de esa plataforma o de PlayStation 3. Si son juegos que tuvieron bastante distribución se pueden encontrar fácilmente y bastante baratos. También tenían el Watch Dogs, pero ese no lo he comprado; tengo "atracón de <em>sandbox</em>".</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/splinter-cell-blacklist.jpg', 'alt': 'Splinter Cell Blacklist', 'position': 'center'} %}

<p>Es un juego corto para los estándares actuales. La historia principal son 12 misiones, cada una de las cuales he completado en sendas sesiones de juego. Calculo que le habré echado unas 15 horas repartidas en tres semanas. Gráficamente, pese a ser de la generación pasada, es perfectamente disfrutable. El juego viene en dos discos y, al menos en esta versión, te permite instalar en el disco duro un paquete de texturas de alta definición que mejoran la experiencia. Curiosamente la versión de WiiU, que ya he comentado que se ve mejor, al menos en mi opinión, ocupa un único disco y no tiene posibilidad alguna de instalación.</p>

<p>El control se siente un poco tosco hasta que te acostumbras. Y los gráficos, lógicamente, no son los de una plataforma actual. Pero, como digo, una vez entras en harina, si te gustan los títulos de sigilo, es una grandísima opción.</p>

<p>Las mecánicas han ido evolucionando desde la primera entrega allá por 2002. Hay tres estilos de juego: <u>fantasma</u>, o lo que es lo mismo, absoluto sigilo, sin matar a nadie. <u>Pantera</u>, lo mismo pero pudiendo causar daño mortal. Y <u>asalto</u>, que no es ir a lo Rambo (porque si lo haces así te matarán rápido), pero sí que se basa más en el tiroteo y la cobertura. Lo normal, si nos dejamos llevar por nuestro instinto, será emplear una combinación de los tres estilos. El de absoluto sigilo no es, ni mucho menos, algo intuitivo. Necesitaremos explorar nuestro entorno para estudiar la forma de colarnos sin que nos detecten.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/splinter-cell-blacklist-tipos-juego.jpg', 'alt': 'Splinter Cell Blacklist - Estilos de juego', 'position': 'center'} %}

<p>Como siempre, mantenernos en zonas poco iluminadas resulta fundamental si queremos que no nos localicen. Para ello podemos ir apagando luces o disparando a las bombillas. Lo cual puede, eso sí, alertar a nuestros enemigos. De todas formas, lo que yo denomino "efecto llamada" es algo de lo que siempre han adolecido estos juegos, y una manera muy efectiva de limpiar la zona si se hace con cuidado. Me explico: llamas la atención de un enemigo y acabas con él. Se queda a la vista y acude otro a inspeccionar; acabas con él. Y así, sucesivamente, hasta terminar con todos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/splinter-cell-blacklist-coberturas.jpg', 'alt': 'Dominar las coberturas es fundamental', 'position': 'center'} %}

<p>También es importante dominar la técnica de movernos entre coberturas. Cuando el enemigo nos descubre, aparece una silueta blanca en pantalla, que representa nuestra última ubicación conocida y donde irán a buscarnos para tratar de capturarnos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/splinter-cell-blacklist-laseres.jpg', 'alt': 'Podemos esquivar los láseres a lo Thomas Crown, o bien disparar al sensor y desactivarlos', 'position': 'center'} %}

<p>A lo largo de la partida iremos obteniendo dinero con el que mejorar nuestro equipamiento, ya sea enfocado al sigilo (vestuario con mejoras para hacer menos ruido) o al asalto, adquiriendo armas más mortíferas y precisas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/splinter-cell-blacklist-misiones.jpg', 'alt': 'En cualquier momento podemos rejugar cualquier misión ya terminada para completar todos los objetivos o recaudar más dinero', 'position': 'center'} %}

<p>Existen una serie de misiones secundarias que están bastante enfocadas al juego cooperativo, ya sea en pantalla partida o por Internet. Lamentablemente no he podido disfrutar de ninguna de las dos maneras de jugar, por motivos evidentes. Afortunadamente, no es necesario jugar a ninguna de ellas para completar la historia principal.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/splinter-cell-blacklist-opciones-juego.jpg', 'alt': 'Me hubiera encantado probar alguna misión en cooperativo', 'position': 'center'} %}

<p>En cualquier caso, me lo he pasado muy bien jugando, menos una misión concreta en la que manejamos en primera persona a uno de los compañeros de Sam Fisher. La historia no es gran cosa, plagada de clichés y prácticamente una excusa para la acción. Las situaciones a las que nos enfrentaremos, así como los escenarios, son suficientemente variados como para que no nos aburramos. Además, todas las misiones tienen objetivos extra (portátil, buzón muerto, capturar un enemigo valioso) que, junto a la variedad de enfoques para afrontarlas, aumenta la rejugabilidad.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/11/splinter-cell-blacklist-ruta-cooperativa.jpg', 'alt': 'Si no podemos jugar con un compañero nos perderemos cosas', 'position': 'center'} %}

<p>Al hacer las fotos he visto que en la caja pone que es compatible con Kinect. No se me ocurre de qué forma, así que he buscado por Internet y parece que se trata simplemente de que podemos chistar a los enemigos con nuestra propia voz para atraer su presencia. No voy a andar sacando el Kinect de su caja y montando toda la parafernalia para probarlo.</p>

<p>Con éste he terminado 6 de los 7 juegos de la franquicia, si no contamos que Double Agent es diferente en una generación de consolas que en otra, y yo lo jugué en Xbox. Sólo me falta el de PSP y, la verdad, no sé si me motiva lo suficiente. Me encantaría que sacasen algún juego más de la serie, porque Hitman, aunque parte de premisas similares, no me gusta tanto. Además, me estoy dando cuenta de que sólo he hablado de <a href="/2004/12/juegos-splinter-cell-pandora-tomorrow.html">Pandora Tomorrow</a> en este blog, hace ya la friolera de 16 años.</p>
