---
layout: post
title: "Juegos: Star Wars Jedi: Fallen Order"
summary: "Un juego de Star Wars diferente a todo lo visto con anterioridad. Pese a sus carencias, me parece un imprescindible para todo fan de la franquicia."
header_image: /uploads/2020/12/star-wars-jedi-fallen-order-titulo.jpg
main_image: /uploads/2020/12/star-wars-jedi-fallen-order-titulo.jpg
text_date: Lunes, 7 de diciembre de 2020
tags: [análisis videojuegos, electronic arts, playstation 4, respawn entertainment, star wars]
widgets: [now-playing]
disqus_identifier: juegos-star-wars-jedi-fallen-order-ps4
disqus_url: http://blog.falvarez.es/2020/12/juegos-star-wars-jedi-fallen-order-ps4.html

---

<p>Vaya por delante que me encanta Star Wars. No quiero esconderlo, todo lo contrario, porque es un hecho que ha condicionado totalmente mi actitud a la hora de enfrentarme a este juego y, por tanto, las sensaciones que me ha transmitido y que me han impulsado a exprimirlo hasta la última gota hasta obtener el trofeo de platino. Lo reconozco, si la ambientación no fuera la de la franquicia galáctica, probablemente ni lo hubiera jugado. Pero no adelantemos acontecimientos y vayamos paso a paso.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/star-wars-jedi-fallen-order-ps4.jpg', 'alt': 'Star Wars Jedi: Fallen Order', 'position': 'center'} %}

<p>Star Wars Jedi: Fallen Order fue lanzado hace más de un año, poco antes del estreno en cines del Episodio IX. En otro momento lo habría comprado de salida, pero ahora, con poco tiempo y tantos juegos pendientes, podía esperar. Así, de paso, me beneficiaría de una bajada de precio. Curiosamente este juego no se ha visto tan rebajado como otros, si bien en estos momentos ya es sencillo encontrarlo por menos de los 30 euros que he pagado por él.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-soldados-imperiales-por-doquier.jpg', 'alt': 'Encontraremos soldados de asalto de los torpes y no tan torpes', 'position': 'center'} %}

<p>El planteamiento jugable es lo que se viene denominando un <a href="https://www.hobbyconsolas.com/reportajes/metroidvania-aprende-videojuegos-hobby-basics-603159">"metroidvania"</a>. Los ingredientes básicos son acción (combates), plataformeo (saltos), puzles (no demasiados y no demasiado complejos), exploración, subida de nivel y adquisición de habilidades. Así condensados parecen muy buenos mimbres. Sin embargo, la ejecución técnica es mediocre, y más para un título que intuyo que ha gozado de un presupuesto alto. Imagino que habría presión con la fecha de lanzamiento, para coincidir con la película.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-fase-onirica.jpg', 'alt': '¿De qué lado de la fuerza estamos en realidad?', 'position': 'center'} %}

<p>Desde aquí, apoyado en la barra del bar y con el palillo en la boca &mdash;en plan <em>cuñao</em>&mdash; diría que le falta un año más de desarrollo, para mejorar el rendimiento del motor gráfico y pulir los defectos, que tiene bastantes y bien a la vista. La mala noticia es que, a diferencia de otros estudios que sí lo han hecho con sus juegos, en éste no se han corregido los problemas de rendimiento mediante parches, por lo que tiene pinta de que se va a quedar así.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-iluminacion.jpg', 'alt': 'Los efectos de iluminación están, en mi opinión, muy logrados', 'position': 'center'} %}

<p>Jugando me he encontrado <em>bugs</em> que diría inconcebibles en un juego de este renombre. Por citar un par de los más graves, en el planeta Kashyyyk hay ocasiones en las que el juego se queda totalmente congelado, tardando minutos en cargar lo que sea que esté cargando y volver a la vida. También me ha ocurrido, en varios lugares diferentes, que el suelo "desaparece" y el personaje cae al vacío y muere. Al final de este texto podréis ver más imágenes y vídeos con algunos de los fallos que me he encontrado.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-cabina-de-la-mantis.jpg', 'alt': 'La cabina de nuestra nave, la Mantis', 'position': 'center'} %}

<p>Por otro lado, el apartado artístico me ha resultado irregular. Hay algunos personajes y objetos que están muy bien modelados, y la iluminación de algunas fases es soberbia. Pero, por otra parte, el aspecto de los wookies parece un trabajo de pricipiantes.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-modelado-cutre-de-los-wookies.jpg', 'alt': 'El modelado de los wookies es un poco... "cutre"', 'position': 'center'} %}

<p>Como avancé en el primer párrafo, reconozco que sin el respaldo de tan famosa saga no le habría dado una oportunidad. Sin embargo, siendo de Star Wars, y además contando una historia que se considera "canon" dentro de su universo, no pude hacer otra cosa que perdonarle de antemano sus defectos y dejarme atrapar por su argumento (que va de menos a más, aunque no esperemos grandes sorpresas en su desenlace) y su ambientación.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-el-primer-planeta-que-visitamos.jpg', 'alt': 'Bogano, el primer planeta que visitaremos en nuestro periplo', 'position': 'center'} %}

<p>En cuanto al juego en sí, es el típico en el que, al acabarlo, cuando echas la vista atrás, te parece que ha evolucionado en algo totalmente diferente. No sólo porque te has amoldado a su interfaz, entorno, sistema de control, etc., sino también por las propias mejoras que va obteniendo el protagonista según avanza la aventura.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-la-mantis.jpg', 'alt': 'La Mantis', 'position': 'center'} %}

<p>En este caso encontraremos varias vías paralelas de mejora. La primera, ligada al progreso de la historia de manera automática, en la que iremos recordando las enseñanzas recibidas como padawan.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-cal-padawan.jpg', 'alt': 'Flashbacks de Cal como padawan', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-nuevas-habilidades-de-cal.jpg', 'alt': 'Adquisición de habilidades de Cal', 'position': 'center'} %}

<p>La segunda, un árbol de habilidades que podremos ir desbloqueando según vayamos adquiriendo puntos de habilidad. Dichos puntos se obtienen al matar enemigos o descubrir unos coleccionables, llamados "ecos de la fuerza", que también permiten añadir información contextual a la historia.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-arbol-de-habilidades-vacio.jpg', 'alt': 'Árbol de habilidades vacío', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-arbol-de-habilidades-completo.jpg', 'alt': 'Árbol de habilidades completo', 'position': 'center'} %}

<p>Nuestro acompañante, BD-1, también irá mejorando sus habilidades conforme avanza la trama.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-nuevas-habilidades-de-bd1.jpg', 'alt': 'Adquisición de habilidades de BD-1', 'position': 'center'} %}

<p>Por último está la otra categoría de coleccionables, unas cajas desperdigadas por todo el mapeado y que nos permitirán personalizaciones puramente estéticas, tanto de nuestra vestimenta como el de BD-1, la espada láser o la nave que usamos para movernos entre los diferentes planetas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-vestuario-de-cal.jpg', 'alt': 'Personalizando nuestro vestuario', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-personalizando-la-espada-laser.jpg', 'alt': 'Personalizando nuestra espada láser', 'position': 'center'} %}

<p>El combate, como suele ser habitual, basado en esquivas, contraataques y combos, funciona bien cuando nos enfrentamos a un único enemigo, pero no me he acabado de acostumbrar cuando lo haces contra varios. En ese aspecto creo que otros títulos, como los de la franquicia Batman Arkham, lo resuelven mejor. Aun así, no deja de ser una gozada desenfundar la espada láser y liarte a coberturas y mandobles contra los soldados imperiales y otras criaturas que pueblan los planetas que visitaremos durante nuestro periplo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-luchando-contra-un-at-st.jpg', 'alt': 'Los AT-ST en realidad no son tan temibles', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-combates-epicos.jpg', 'alt': 'Disfrutaremos de combates épicos, especialmente contra algunos de los jefes', 'position': 'center'} %}

<p>Los escenarios son bastante amplios y variados. Además, contra lo que suele ser habitual en este tipo de juegos, el avance de la historia principal no te obliga a revisitar demasiadas zonas. Eso sí, no terminé de apañarme bien con el mapa en forma de holograma, y me resultó complicado orientarme en alguna ocasión.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-viajando-a-otros-planetas.jpg', 'alt': 'Visitaremos diferentes planetas durante nuestra aventura', 'position': 'center'} %}

<p>En los puntos de descanso (que me recordaban a las hogueras de Tomb Raider), es donde podemos canjear puntos de experiencia por habilidades Jedi. Asimismo, tendremos la opción de "descansar", lo que implica que recuperaremos toda nuestra vida a costa de que los enemigos que hayamos eliminado volverán a aparecer. Además, si nos matan, volveremos al último punto de descanso en el que nos detuvimos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-punto-de-descanso.jpg', 'alt': 'Punto de descanso', 'position': 'center'} %}

<p>En resumen, un juego que me deja sensaciones encontradas. Por un lado, el planteamiento es bueno, pero la factura técnica deja bastante que desear. Le he dado más cariño y comprensión de la que quizás merecía por ser un juego de Star Wars. Pero tampoco me arrepiento, porque jugando me he sentido identificado con el protagonista y me he divertido bastante, que es al final de lo que se trata. Y tenía ya ganas de cambiar de género, que al final siempre son juegos de naves o de batallas espaciales los que suelen protagonizar esta saga. En cuanto a duración, 20 horas que doy por bien invertidas. Podría haber tardado menos pero soy un poco manco.</p>

<h2>Bonus tracks</h2>

<h3>Reminiscencias de otros juegos</h3>

<p>Esto de andar por las paredes me suena de algo, ¿Prince of Persia?</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-cal-dastan.jpg', 'alt': 'Cal Dastan, el Jedi de Persia', 'position': 'center'} %}

<p>Y lo de volar a lomos de un pájaro enorme, además de la clásica escena de La Historia Interminable, me ha recordado &mdash;con pájaros más pequeños, eso sí&mdash; a The Legend Of Zelda: Skyward Sword.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-cal-link-a-lomos-de-un-pajaro.jpg', 'alt': 'The Legend of Cal: Skyward Jedi', 'position': 'center'} %}

<p>También se abusa del recurso de los pasadizos estrechos, visto en Tomb Raider o Assassin's Creed.</p>

<h3>Glitches</h3>

<p>No me esperaba que un juego de esta categoría tuviese tantos fallos técnicos, pero los tiene, por desgracia. Y después de más de un año no han sido arreglados mediante un parche. Una auténtica lástima que no habla bien ni de Respawn ni, sobre todo de Electronic Arts.</p>

<p>El típico <em>bug</em> de atravesar objetos supuestamente sólidos:</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-bug-atravesando-objetos.jpg', 'alt': 'Atravesando objetos "sólidos"', 'position': 'center'} %}

<p>El también típico fallo de detección de colisiones que permite que nuestro personaje flote:</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-bug-flotando.jpg', 'alt': 'Flotando por el aire', 'position': 'center'} %}

<p>Siguiendo con este tema, la detección de colisiones (de bordes de plataformas) no está lo suficientemente pulida:</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-bug-atascado.gif', 'alt': 'Atascado al borde de una plataforma', 'position': 'center'} %}

<p>Igual es muy rebuscado, pero intentando resolver un puzle &mdash;de una forma demasiado enrevesada, he de reconocer&mdash;, me quedé atascado entre dos puertas cerradas, y me tocó salir del juego y volver a cargar la partida:</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-bug-diseno-atascados.gif', 'alt': 'Atrapado sin solución entre dos puertas cerradas', 'position': 'center'} %}

<p>Varias veces el juego se quedó "cargando" durante minutos. Pero en esta ocasión, tuve que cerrar el juego y volver a cargarlo, porque no respondía</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-bug-juego-bloqueado.gif', 'alt': 'Bloqueado indefinidamente', 'position': 'center'} %}

<p>Y éste también fue muy raro. Subí en un ascensor a esa plataforma y los enemigos (y aliados) pasaban de mí, como si no estuviera:</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-bug-personajes-pasan-de-nosotros.gif', 'alt': 'Como si no estuviera', 'position': 'center'} %}

<h3>Curiosidades</h3>

<p>Aunque los personajes son todos nuevos, creados ex-profeso para este juego, interactuaremos con algún personaje de las películas. Uno de ellos es el excéntrico Saw Guerrera.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-saw-guerrera.jpg', 'alt': 'Saw Guerrera (otro modelado que deja un poco que desear)', 'position': 'center'} %}

<p>Alguien se sentía especialmente gracioso al traducir los nombres de los cazarrecompensan que nos acechan por los diferentes planetas:</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-gracioso-nombre-de-cazarrecompensas.jpg', 'alt': 'Ino Portuna, (des)conocida cazarrecompensas galáctica', 'position': 'center'} %}

<p>Aunque podemos volver a todos los planetas cuando queramos, hay algunas "pantallas" en las que sólo jugaremos una vez y no se podrán repetir. En una de ellas, en Kashyyyk, nos veremos manejando un AT-AT.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-manejando-un-at-at.jpg', 'alt': 'Manejando un AT-AT (después de haber trepado hasta la cabina de mando)', 'position': 'center'} %}

<h2>Actualización 02.01.2021</h2>

<p>Una vez completado el juego, y contra mi proceder habitual, vi que alcanzar el trofeo de platino podría ser algo factible. Así que me puse a ello, lo que me llevó casi la misma cantidad de tiempo que completar el juego. Por un lado me alegro, ya que la historia principal no te lleva a explorar los restos de un <a href="https://starwars.fandom.com/es/wiki/Destructor_Estelar_clase_Venator">destructor de la República</a> accidentado, en una zona que resulta bastante espectacular visualmente.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-venator-siniestrado.jpg', 'alt': 'El lugar del siniestro... espectacular', 'position': 'center'} %}

<p>Eso sí, al no existir el concepto de "viaje rápido", puede llegar a ser un poco tedioso tener que aterrizar en un planeta, moverse hasta algún punto recóndito para localizar algún coleccionable pendiente, y volver a la ubicación de nuestra nave. Cómo sólo estaba mirando la guía cuando me atascaba, o bien para ahorrarme tiempo de exploración, pero sin planificar cómo agrupar la consecución de varios trofeos de forma simultánea , eso me ha hecho invertir más tiempo del deseable. Pero bueno, puedo decir que he exprimido el juego al 100%, habiéndole dedicado cerca de 40 horas.</p>

<blockquote class="twitter-tweet"><p lang="es" dir="ltr">STAR WARS Jedi: Fallen Order<br>Una nueva esperanza (Platino)<br>Consigue todos los trofeos. <a href="https://twitter.com/hashtag/PS4share?src=hash&amp;ref_src=twsrc%5Etfw">#PS4share</a> <a href="https://t.co/8OZGuIchks">pic.twitter.com/8OZGuIchks</a></p>&mdash; Federico J. Álvarez (@falvarez) <a href="https://twitter.com/falvarez/status/1345421301620551680?ref_src=twsrc%5Etfw">January 2, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Aunque el juego da la opción de repetir la aventura en un modo más alto de dificultad, o de hacer combates personalizados contra enemigos, como si de un ring se tratase, no creo que vuelva a tocarlo, al menos en muchísimo tiempo. Y por esa parte me da pena haberle sacado todo el jugo, y que tenga tantos problemas técnicos, porque el manejo de la espada láser es muy molón y te hace sentir un Jedi.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/swjfo-desafio-de-combate.jpg', 'alt': 'Desafíos de combate', 'position': 'center'} %}
