---
layout: post
title: "Mi 2020 en videojuegos"
summary: "Resumen estadístico de mi año 2020 jugando a videojuegos."
header_image: /uploads/2020/12/estadisticas-nintendo-2020-1.png
main_image: /uploads/2020/12/estadisticas-nintendo-2020-1.png
text_date: Jueves, 31 de diciembre de 2020
tags: [nintendo, personal, videojuegos]
disqus_identifier: mi-2020-en-videojuegos
disqus_url: http://blog.falvarez.es/2020/12/mi-2020-en-videojuegos.html

---

<p>No ha estado el año como para hacer balance, ni revisar los planes hechos hace ahora 12 meses. Bastante hemos tenido con llegar hasta aquí de la mejor manera posible. Pero ya que los fabricantes de consolas (en este caso Nintendo) nos proporcionan las estadísticas de uso anuales, por aquello de compartirlas en redes sociales y darles algo de bombo, voy a dejar las mías por aquí.</p>

<p>La lista de juegos es un poco sorprendente, ya que no hay ningún juego "first" de Nintendo. Aunque tampoco es de extrañar; los grandes títulos, Zelda y Mario, ya los jugué en años anteriores, de los últimos que han sacado, todavía tengo pendientes Luigi's Mansion 3 y el remake de Zelda: Link's Awakening.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-1.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-2.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-3.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-4.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-5.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-6.png', 'alt': '', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/12/estadisticas-nintendo-2020-7.png', 'alt': '', 'position': 'center'} %}

<p>Si en algún momento Sony tiene a bien enviar la información de PlayStation, actualizaré la entrada para añadirla.</p>

<p>Del resumen de actividades deportiva que también suelo compartir, este año mejor nos olvidamos.</p>
