---
layout: post
title: "Juegos: Assassin's Creed Odyssey (PlayStation 4)"
summary: "El undécimo juego de la franquicia y el más grande y largo hasta la fecha. Casi 75 horas (81 según UbiSoft Connect) viajando por la Hélade clásica"
header_image: /uploads/2020/08/ac-odyssey-titulo.jpg
main_image: /uploads/2020/08/ac-odyssey-caja.jpg
text_date: Martes, 25 de agosto de 2020
last_update_date: Miércoles, 23 de enero de 2022
tags: [análisis videojuegos, assassin's creed, playstation 4, ubi soft]
widgets: [assassins-creed, now-playing]

---

<p>Empecé el año jugando a <a href="/2020/05/juegos-assassins-creed-origins-ps4.html">Assassin's Creed Origins</a>, hasta que lo acabé a finales de marzo. En aquel momento decidí continuar con el siguiente juego de la franquicia, Odyssey, que me ha llevado más del doble de tiempo, hasta un total de cinco meses. Si bien, en horas de juego, han sido menos del doble. No sé si hacer los dos seguidos ha sido un error, puede que sí. El tema es que me comentaron que éste me iba a gustar más y así fue, en principio. Pero en algunos aspectos no me han acabado de gustar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-caja.jpg', 'alt': 'Assassin\'s Creed Odyssey', 'position': 'center'} %}

<p>Lo primero es justificar la decisión de por qué arranqué este juego nada más terminar el anterior. Al ser juegos tan parecidos, habría sido razonable dejar un espacio entre ellos. Pero me quedé con saber más acerca del origen de los Asesinos, me encanta la cultura griega y me habían pintado muy bien el juego. Me dejé llevar.</p>

<p>Nada más empezar, tenemos que decidir si queremos jugar con Kassandra o Alexios. Elegí a la primera, por variar de tanto personaje masculino. Además, parece ser que es la verdadera protagonista del juego, siendo Alexios un añadido para permitir que los jugadores escojan un protagonista de uno u otro sexo &mdash;y no "cabrear" a cierto público, aunque creo que se ofende da igual lo que le den. También se ha implementado una nueva forma de jugar, llamada "exploración", en la que no aparecen los marcadores de las misiones en los mapas, sino que se nos dan pistas para que exploremos e investiguemos por nuestra cuenta. Empecé jugando de esa forma, pero la desestimé rápidamente, viendo que el juego se me iba a ir de madre en cuanto a tiempo empleado. Es un juego demasiado largo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-inicio.jpg', 'alt': 'Assassin\'s Creed Odyssey - Inicio', 'position': 'center'} %}

<p>También se han añadido infinidad de horas de diálogo con la posibilidad de elegir nuestras respuestas, y que dichas elecciones tengan algún impacto &mdash;menor, o al menos eso me ha parecido&mdash; en el devenir de la historia. Lo confieso, cuando llevaba ya un porrón de horas de juego, y al igual que me pasó con Origins, empecé a saltarme los diálogos, cosa que no suelo hacer. Por cierto, aprovecho aquí para hacer un comentario sobre el doblaje español (que hay que descargar aparte). Me ha parecido un poco irregular. La actuación de <a href="http://www.eldoblaje.com/datos/FichaActorDoblaje.asp?id=1325">Joël Mulachs</a> como Kassandra es soberbia; no en vano es la voz habitual de Scarlett Johansson, entre otras. Pero hay algunas otras voces que dan grima, no al nivel de <a href="https://www.doblajevideojuegos.es/contenidos/video/144">Tomás Rubio</a> pero casi.</p>

<p>La mecánica de juego es muy similar a la de Assassin's Creed Origins. Se aparta de los primeros juegos de esta saga para ofrecer una experiencia más "rolera". Se han ajustado algunos detalles, como el movimiento para bloquear ataques, que ahora se realiza combinando L1 + R2. Seguimos contando con nuestra águila que nos ayudará en misiones de reconocimiento; en esta ocasión se llama Ícaro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-icaro.jpg', 'alt': 'Assassin\'s Creed Odyssey - Ícaro', 'position': 'center'} %}

<p>Disponemos de un completo inventario, con dos diferentes armas, un arco y el vestuario y complementos adecuados para ir lo más protegidos posible. Durante toda la aventura iremos recogiendo elementos cada vez mejores con los que sustituir a los antiguos, que en cualquier caso no se deterioran con el paso del tiempo. Pero sí que tenemos un límite de objetos; si lo sobrepasamos, de repente veremos que no podemos correr, y tendremos que deshacerlos de los objetos que nos sobren, normalmente los de menor nivel.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-inventario.jpg', 'alt': 'Assassin\'s Creed Odyssey - Inventario', 'position': 'center'} %}

<p>La parte de navegación cobra mayor protagonismo. Tendremos un barco propio, la Adrastea, que podremos ir mejorando y que nos servirá para movernos entre la península y las islas. Es una mecánica muy parecida a la de <a href="/2015/02/juegos-assassins-creed-iv-black-flag.html">Assassin's Creed IV: Black Flag</a>. También podemos reclutar enemigos para nuestro barco, en vez de matarlos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-la-adrastea.jpg', 'alt': 'Assassin\'s Creed Odyssey - La Adrastea', 'position': 'center'} %}

<p>Además se han introducido variantes nuevas, como la posibilidad de debilitar el poder del mandatario local, a base de robar el tesoro, quemar silos, asesinar tropas, etc., hasta derrocarlo tras una batalla épica contra centenares de enemigos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-batalla-2.jpg', 'alt': 'Assassin\'s Creed Odyssey - Batalla', 'position': 'center'} %}

<p>O bien puede ocurrir que te lo encuentres solo paseando por el campo, con lo cual todo es mucho más sencillo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-lider-desprotegido.jpg', 'alt': 'Assassin\'s Creed Odyssey - Mandatario local de paseo por el campo', 'position': 'center'} %}

<p>Por supuesto, continúa existiendo un árbol de habilidades que podremos ir mejorando en función de nuestro estilo de juego. Cada vez que subamos de nivel, dispondremos de un punto de habilidad. La mayoría de ellas van asignadas a combinaciones de botones que podremos usar durante los combates para poder hacer uso de ellas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-arbol-de-habilidades.jpg', 'alt': 'Assassin\'s Creed Odyssey - Árbol de habilidades', 'position': 'center'} %}

<p>La historia me enganchó al principio. No quiero desvelar nada, pero siendo el típico relato en que empiezas de cero, abandonada a tu suerte, rescatada por un benefactor al que tienes que ayudar realizando pequeños trabajos hasta que llega el momento de emprender tu viaje para saber qué pasó con tus padres. Si reviso mis notas, al principio me mostraba muy entusiasmado, mucho más que tras jugar a Origins. Pero no es la sensación que me ha quedado al final. Tengo que insistir en esto: el mapa es demasiado grande y el juego es demasiado largo. En un momento, al menos para mí, la historia hace aguas, empiezas a tener que encadenar misiones para conseguir dinero y subir de nivel el personaje, y me empecé a aburrir. Llegas a ese punto de inflexión en el que podría haber dejado el juego a medias y tampoco hubiera pasado nada, pero me carcomía la posibilidad de estar perdiéndome algo, así que un poco por cabezonería seguí adelante (por eso y porque llevaba ya casi 40 horas de juego).</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-npc-borracho-vomitando.jpg', 'alt': 'Assassin\'s Creed Odyssey - Típico NPC borracho, misiones secundarias que no aportan nada y las hay por decenas', 'position': 'center'} %}

<p>Luego en la parte final mejora, lo reconozco, hasta que el ¿final? me dejó un poco descolocado. Pongo final entre interrogaciones porque digamos que hay como tres tramas principales: la de la familia, la del Culto de Kosmos (que son los malos de la película) y la de la Atlántida, que enlaza con la historia en el presente. Se terminan por separado y no hay una escena de créditos como tal. Además los finales pueden ser diferentes según tomes unas u otras decisiones. Seguro que es problema mío, que me ha faltado capacidad de atención y me he perdido o no he entendido cosas, pero afronté estos dos juegos (Origins y Odyssey) con la convicción de que me contarían el origen de la lucha milenaria entre Asesinos y Templarios, pero no me he enterado de gran cosa. La historia en el presente cada vez tiene menos peso, o eso parece en un primer momento, ya que de hecho en este juego no hace acto de presencia hasta bien avanzada la partida.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-fragmento-del-eden.jpg', 'alt': 'Assassin\'s Creed Odyssey - Eso es un fragmento del Edén, ¿no?', 'position': 'center'} %}

<p>Como me he dejado un montón de misiones por hacer, y además hay disponibles un par de DLCs, no sé si me he perdido algo relevante. Una lástima, porque es aun peor que eso. He estado viendo algunos vídeos por Internet, empezando por <a href="https://www.youtube.com/watch?v=Z8w-ey6zcBc">éste donde explican los finales del juego</a>, y no sólo es que la historia sea tan enrevesada. Tanto las misiones secundarias como los DLCs, de éste y anteriores títulos, aportan información importante, y además habría que leerse la novela del juego para saber cuál de los finales es el "bueno". Vamos, que si quieres enterarte bien de toda la trama tienes que hacer casi un máster.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-fin.jpg', 'alt': 'Assassin\'s Creed Odyssey - Fin de la Odisea', 'position': 'center'} %}

<p>La trama del Culto de Kosmos es la más "Assassin's Creed", por así decirlo, ya que consiste en ir descubriendo quiénes son y asesinarlos a todos. Para averiguar sus identidades tendremos que ir completando otras misiones, tanto principales como secundarias, gracias a las cuales conseguiremos pistas para desenmascararlos. No obstante las ejecuciones no están tan trabajadas como en anteriores capítulos. La mayoría consisten en que nuestro personaje tenga el nivel necesario para enfrentarse a ellos o, si no, darle unas cuantas estocadas, salir corriendo, despistar a los enemigos y volver a intentarlo hasta que muera. La mecánica del juego no permite planificar una ejecución de guante blanco, como sí ocurría en anteriores entregas (creo recordar que en Unity o en Syndicate se podía hacer).</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-culto-de-kosmos.jpg', 'alt': 'Assassin\'s Creed Odyssey - El Culto de Kosmos', 'position': 'center'} %}

<p>Tampoco he visto esa "integración con eventos de la historia" que se pretende en anteriores entregas de la franquicia. O quizás es mi falta de conocimiento de la historia helénica. Sí que hay algún asesinato, como el de Pericles, que entronca con la historia real, pero poco más. Eso sí, podremos interactuar con multitud de personajes de la época, como Sócrates o Herodoto, por citar un par, y tampoco faltarán los enfrentamientos con criaturas mitológicas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-charlas-con-socrates.jpg', 'alt': 'Assassin\'s Creed Odyssey - Charlas con Sócrates', 'position': 'center'} %}

<p>El manejo del caballo (Phobos) me sigue pareciendo que necesitaba pulirse un poco más. Podemos llamarlo donde estemos y siempre acude, incluso cuando estemos en una isla desierta de apenas unos metros cuadrados. Podemos guiarlo a través de montañas rocosas y se las apaña para subir y bajar. Si somos descuidados, podemos despeñarlo, y según la altura, morirá. Pero será algo temporal, porque pasados unos instantes vuelve a estar disponible. También dispone de un "GPS" que a veces no funciona, ya que no sabe llevarnos automáticamente al punto de destino o lo hace dando un rodeo impresionante.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-equilibrio-a-caballo.jpg', 'alt': 'Assassin\'s Creed Odyssey - Podemos hacer equilibrio a lomos de Phobos', 'position': 'center'} %}

<p>Hay una misión en la que escenificamos un diálogo con Sócrates que me ha parecido original y digno de mención, porque sí que ayuda a sacarte un poco de la rutina. Además, ya estaba en un momento en el que estaba haciendo misiones secundarias con el piloto automático con la única finalidad de subir de nivel a Kassandra hasta el 50, para poder enfrentarme y derrotar a los miembros del Culto que me quedaban.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-mitin-con-socrates.jpg', 'alt': 'Assassin\'s Creed Odyssey - Mitin con Sócrates', 'position': 'center'} %}

<p>Con Sócrates también hay otra escena al final, a modo de epílogo, en la que estamos hablando tranquilamente con él y, de repente, aparece un perro y nos ataca. Pensaba que era un <em>bug</em>, pero la he visto también en un par de vídeos por Internet. No sé a quién se le ocurren esas tonterías.</p>

<p>También hay un momento "tres pruebas" (fuerza, resistencia y precisión) en la isla de Pefka. La verdad es que es difícil no pensar en otros juegos como Red Dead Redemption 2, Zelda Breath Of The Wild o Tomb Raider (aquí también hay saqueo de tumbas) cuando juegas a este. Es normal y los elementos que toma prestados están bien integrados. El problema, y ya soy pesado con esto, es que hay demasiadas cosas que hacer, demasiadas variantes. El mundo es enorme y la historia, demasiado larga, se me hace complicada de seguir. Eso sí, no dejo de pensar en los millones de horas de trabajo para recrear ese mundo, sus elementos físicos, sus habitantes, la infinidad de misiones, los diálogos, el doblaje (que además en el caso de los protagonistas están duplicados, ya que podemos elegir con cuál de los dos jugar). No sé si todo ese trabajo puede llegar a ser apreciado como se merece.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-reencuentro-familiar.jpg', 'alt': 'Assassin\'s Creed Odyssey - Reencuentro familiar', 'position': 'center'} %}

<p>Centrándonos en el plano técnico, me sigue pareciendo que gráficamente está un peldaño por debajo de Uncharted 4 o Red Dead Redemption 2. No sé si es por el motor o el estilo artístico. Eso sí, la ambientación histórica es soberbia. Desde luego que tienes la sensación de estar moviéndote por la Grecia clásica, durante el conflicto entre Atenas y Esparta (la <a href="https://es.wikipedia.org/wiki/Guerra_del_Peloponeso">Guerra del Peloponeso</a>).</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-iluminacion.jpg', 'alt': 'Assassin\'s Creed Odyssey - La iluminación está muy lograda', 'position': 'center'} %}

<p>Los tiempos de carga al iniciar una misión o cuando te desincronizas &mdash;te matan&mdash; me han parecido exagerados. No sé si son los más lentos de toda la franquicia. Quizás sea porque no te devuelven al lugar donde te mataron, sino al último punto de guardado. En ese sentido, es recomendable forzar el guardado rápido a menudo, o al menos cuando intuyamos que nos vamos a enfrentar a un peligro serio, para evitar sorpresas desagradables.</p>

<p>Tenía pensado, antes de escribir estas líneas, probar alguna de las historias creadas por usuarios. Pero me he quedado sin ganas. Tampoco he probado a crear yo una, para ver cómo se hace. Después de semejante atracón, ¿a alguien le quedan ganas de seguir? Por supuesto, tampoco voy a ir a por el trofeo de platino, al menos no a corto plazo. Y eso significa que, muy probablemente, ya no lo haré, porque tengo juegos pendientes de sobra como para tener ganas de volver a éste.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-la-noche.jpg', 'alt': 'Assassin\'s Creed Odyssey - Necesito un descanso de esta saga', 'position': 'center'} %}

<p>Por resumir, le he dedicado 81 horas (74 según el juego, una barbaridad) para, eso sí, un 100% del progreso principal, que imagino que se referirá a los tres hilos argumentales comentados con anterioridad.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-tiempo-de-juego.jpg', 'alt': 'Assassin\'s Creed Odyssey - Tiempo de juego', 'position': 'center'} %}

<p>Las estadísticas, que solo se pueden consultar en UbiSoft Connect, arrojan los siguientes datos:</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-estadisticas-1.jpg', 'alt': 'Assassin\'s Creed Odyssey - Estadísticas (1)', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-estadisticas-2.jpg', 'alt': 'Assassin\'s Creed Odyssey - Estadísticas (2)', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-estadisticas-3.jpg', 'alt': 'Assassin\'s Creed Odyssey - Estadísticas (3)', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-estadisticas-4.jpg', 'alt': 'Assassin\'s Creed Odyssey - Estadísticas (y 4)', 'position': 'center'} %}

<h2>Bonus tracks</h2>

<h3>Glitches</h3>

<p>Esta vez no he visto demasiados <em>glitches</em>. Si acaso algunas texturas un poco guarreras y un cíclope que levita.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-se-ven-las-costuras.jpg', 'alt': 'Assassin\'s Creed Odyssey - A esa muralla se le ven las costuras', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-texturas-guarras.jpg', 'alt': 'Assassin\'s Creed Odyssey - Texturas cutres', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-texturas-guarras-2.jpg', 'alt': 'Assassin\'s Creed Odyssey - Más texturas cutres', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-bug-ciclope-levitador.jpg', 'alt': 'Assassin\'s Creed Odyssey - Cíclope levitador', 'position': 'center'} %}

<p>También podemos encontrar algún animal "etéreo":</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-atravesando-un-oso.gif', 'alt': 'Podemos atravesar este oso sin mayores problemas', 'position': 'center'} %}

<h3>Localizaciones históricas</h3>

<p>Ver Atenas en su esplendor impresiona, quizás (para mí) no tanto como las Pirámides o la Roma clásica. Aunque en conjunto este juego es mucho más espectacular que el anterior, que por motivos evidentes muestra parajes bastante más desérticos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-acropolis-de-atenas.jpg', 'alt': 'Assassin\'s Creed Odyssey - Atenas', 'position': 'center'} %}

<p>También visitaremos Esparta, por supuesto.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-esparta.jpg', 'alt': 'Assassin\'s Creed Odyssey - Esparta', 'position': 'center'} %}

<p>Otro punto interesante, de los muchos que encontraremos durante nuestra particular odisea, es el famoso Paso de las Termópilas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-paso-de-las-termopilas.jpg', 'alt': 'Assassin\'s Creed Odyssey - Paso de las Termópilas', 'position': 'center'} %}

<h3>Curiosidades</h3>

<p>Nuestra madre, Mirrina, está en plena forma. En una de las misiones tendremos que correr tras ella y cuesta alcanzarla, ni que fuera Filípides.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-corriendo-detras-de-mirrina.jpg', 'alt': 'Assassin\'s Creed Odyssey - Corriendo tras Mirrina', 'position': 'center'} %}

<p>Parece que los taberneros helenos ya sabían el viejo truco de echar sal a los aperitivos para provocar que consumamos más cerveza.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-el-truco-del-buen-tabernero.jpg', 'alt': 'Assassin\'s Creed Odyssey - El truco del buen tabernero', 'position': 'center'} %}

<p>Podemos escalar un montón de estatuas, como de costumbre, y apreciar el esbelto trasero de Zeus en primera persona.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/08/ac-odyssey-culo-de-zeus.jpg', 'alt': 'Assassin\'s Creed Odyssey - El culo de Zeus', 'position': 'center'} %}

<h3>Actualización 23 de enero de 2022</h3>

<p>¡TROFEO DE PLATINO!</p>

<p>Otra vez he vuelto a caer en la misma trampa del "culo veo, culo quiero". <a href="https://twitter.com/MiguelPrada">Miguel</a> se sacó el platino, así que yo detrás. En realidad tampoco me quedaba tanto, más o menos lo mismo que cuando conseguí el <a href="/2020/05/juegos-assassin-screed-origins-ps4.html">platino de Assassin's Creed Origins</a>. En aquel caso fueron 26 horas extra y en este han sido unas 23, para un total de 97 horas según el juego y 103 según UbiSoft Connect. Si bien es cierto que pensaba que tenía más tarea pendiente. También he aprovechado para disfrutar de los bellos paisajes griegos en 4K HDR, mejorando bastante, al menos en lo visual, mi experiencia anterior.</p>

<p>Aunque la mayoría consistían en recolectar objetos, <em>farmear</em> recursos para mejorar el barco y hacer de recadera, algunos trofeos que me faltaban han sido un poco puñeteros. Especialmente el que consistía en desbloquear el 100% del mapa. Ahí he invertido muchas horas, demasiadas, hasta que por fin he encontrado el punto que me faltaba, que estaba en el puerto al este de las Explanadas del Kraneion. Por lo demás, he bajado la dificultad al mínimo y consultado guías para ir a tiro hecho. Curiosamente, al juego todavía le quedan una buena cantidad de misiones por hacer que, esta vez sí, se van a quedar ahí, al menos por bastante tiempo.</p>

<p>Así que, nada, otro platino más para la colección.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/01/ac-odyssey-platino.jpg', 'alt': 'Assassin\'s Creed Odyssey - Trofeo de platino', 'position': 'center'} %}
