---
layout: post
title: "Balance de 2019"
summary: "Ya estamos en 2020. Antes de empezar a caminar vamos a echar brevemente la vista atrás al año que acaba de terminar"
text_date: Viernes, 31 de enero de 2020
tags: [blog, personal]
disqus_identifier: balance-2019
disqus_url: http://blog.falvarez.es/2020/01/balance-2019.html

---

<p>El tiempo pasa tan rápido que esta vez ni siquiera he podido escribir estas líneas antes de que acabe 2019. De hecho, lo hago sobre la campana que anuncia el final del mes de enero. En cualquier caso, vamos a realizar un breve balance.</p>

<p>Repasando la lista de <a href="/2019/01/pequenos-propositos-para-este-ano.html">propósitos para 2019</a> veo que &mdash;aunque ya lo sabía sin necesidad de leerla&mdash; he fracasado miserablemente en su cumplimiento. Más o menos a mitad de año dejé de subir por las escaleras del trabajo y ya no he vuelto a hacerlo salvo en casos muy puntuales cuando hay acumulación de gente esperando por el ascensor. Con lo del móvil, tres cuartas partes de lo mismo. Empecé bien el año pero poco antes del verano volví a caer y creo que ha ido a peor. De eso hablaré luego. Y sobre la compra de juegos... qué decir. Aunque en el tramo final de año sí que me he controlado y no he comprado nada, es cierto que unos cuantos, tanto físicos como digitales, han pasado a engordar mi ya de por sí gran lista de títulos pendientes.</p>

<p>Pero bueno, en realidad me hice a mí mismo un poco de trampa. No por los propósitos en sí, que estaban bien, sino porque estaba obviando lo más importante. En febrero llegó una personita que daría un vuelco a nuestras vidas. Y ante tal acontecimiento, era imposible saber cómo nos íbamos a reorganizar. Y, por qué no decirlo, en ciertos momentos te dejas llevar.</p>

<p>No obstante, y dejando a un lado ese gran e importante apartado de mi vida, me siento orgulloso de haber sido capaz, en el último cuatrimestre del año, de haber portado un juego que hizo Miguel a <a href="/2019/09/he-vuelto-a-programar-en-basic-como-en-los-80.html">tres de los ordenadores de 8 bit más usados en los años 80</a>. Orgulloso no tanto por el resultado, sino por haber podido organizarme y sacar tiempo para hacerlo, habiendo aprendido bastantes cosas durante el proceso, cosas que espero volver a aplicar este año. Aunque la mayoría de los detalles técnicos ya los he olvidado, por desgracia.</p>

<p>Uno de los aspectos que tengo que mejorar, quizás el más importante, es la gestión de mi tiempo libre. Para ello, la <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.wellbeing&hl=es_419">app Bienestar Digital</a> me ha abierto los ojos. En ella se puede consultar cuánto tiempo le he dedicado al móvil en total y desglosado por aplicaciones. Los resultados no me sorprenden, ya me lo imaginaba: (mal)gasto demasiado tiempo con el móvil. Así que éste pasa a ser el objetivo de este año.</p>

<p>Y básicamente eso. Si lo consigo, debería ser capaz de retomar el deporte, que lo tengo totalmente abandonado. Acabar dos o tres juegos de los largos, para no sentirme tan mal por haber comprado tantos el pasado año. Acabar un proyecto retro que tengo a medias (aunque quizás tenga que volver a empezar después de demasiado tiempo sin tocarlo). Ver si soy capaz de aprender a usar el Logic y componer algo. Y, de paso, volver a tocar algo el piano.</p>

<p>Ya que estamos, comparto mis estadísticas de Strava (este año paupérrimas)</p>

{% include 'image.twig' with {'src': '/uploads/2020/01/estadisticas-strava-2019.png', 'caption': 'Mi actividad en Strava durante 2019', 'position': 'center'} %}

<p>y de PlayStation.</p>

{% include 'image.twig' with {'src': '/uploads/2020/01/estadisticas-playstation-2019.png', 'caption': 'Mi actividad con la PlayStation durante 2019', 'position': 'center'} %}

<p>Esta vez las estadísticas del blog me las ahorro, que no quiero deprimirme. Pero no me extrañaría que sea el año más pobre desde que empecé a finales de 2004.</p>

<p>Lo dicho: ya veremos dentro de 11 meses qué tal se ha dado. ¡Feliz 2020!</p>
