---
layout: post
title: "Mi Amazfit Bit ha amanecido con la pantalla despegada"
summary: "Buen susto me he dado al despertarme y sentir algo colgando de la muñeca. Era la pantalla de mi smartwatch. ¿Qué habrá pasado?"
header_image: /uploads/2020/12/amazfit-bip-pantalla-despegada.jpg
main_image: /uploads/2020/12/amazfit-bip-pantalla-despegada.jpg
text_date: Lunes, 14 de diciembre de 2020
tags: [averías, personal, xiaomi]
disqus_identifier: amazfit-bip-pantalla-despegada
disqus_url: http://blog.falvarez.es/2020/12/amazfit-bip-pantalla-despegada.html
---

<p>Esta noche me he pegado un buen susto. Me he "despertado" (lo entrecomillo porque creo que no llegué a recuperar la consciencia completamente) sintiendo algo rozándome la muñeca. Me di cuenta de que era el <a href="/2018/09/amazfit-bip.html">reloj</a>, pero entre el sueño y la oscuridad, tampoco sabía muy bien qué había ocurrido. Me lo quité, lo dejé en la mesilla y a seguir durmiendo un rato más.</p>

<p>Ya por la mañana he visto lo que había ocurrido, no sin cierta sorpresa. La pantalla del reloj se había despegado y estaba sujeta únicamente por un cable-cinta.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/amazfit-bip-pantalla-despegada.jpg', 'alt': 'El Amazfit Bip con la pantalla apenas sujeta por un cable', 'position': 'center'} %}

<p>Como es habitual en estas situaciones, una búsqueda en Internet me aclaró las cosas; mi caso no era aislado, ya le había ocurrido a bastante gente. No está muy claro si el reloj va encajado o si el pegamento que se le aplicó en el proceso de fabricación era de mala calidad. El caso es que, entre las respuestas del foro, comentaban que se podía solucionar usando pegamento B-7000. Localicé el producto mirando en los proveedores habituales (Amazon, Aliexpress, ...) y lo compré. Tampoco era plan de tirar el reloj si por 5 ó 6 euros podía arreglarlo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2020/12/pegamento-b-7000.jpg', 'alt': 'Pegamento B-7000', 'position': 'center'} %}

<p>Procuré aplicar la cantidad indispensable de pegamento, pero me debí de pasar de cauto, porque a los dos días se volvió a levantar ligeramente, sin llegar a abrirse por completo. Una nueva mano de pegamento, más generosa en esta ocasión, y el reloj quedó listo para continuar dando servicio. Eso sí, adiós a volver a meterlo en la piscina. A ver cuánto dura esta vez, porque por lo demás sigo estando muy contento con él.</p>

<p>PS: Otro día contaré mi nefasta experiencia con un pulsómetro <a href="https://buy.garmin.com/es-ES/ES/p/83280">Garmin Forerunner 210</a> al que se le ha partido la pulsera y no se puede sustituir. Lo cual no sólo es una faena, sino que le ocurre tarde o temprano a todos los dueños de ese pulsómetro. Desde aquí un fuerte aplauso para Garmin.</p>
