---
layout: post
title: "Receta de torrijas"
summary: "Este año no ha quedado más remedio que hacerlas en casa. Si no, nos quedábamos sin comerlas"
header_image: /uploads/2020/04/torrijas.jpg
main_image: /uploads/2020/04/torrijas.jpg
text_date: Sábado, 18 de abril de 2020
tags: [recetas]
disqus_identifier: receta-de-torrijas
disqus_url: http://blog.falvarez.es/2020/04/receta-de-torrijas.html

---

<p>Hasta ahora no habíamos tenido la necesidad de hacer torrijas. Más que nada porque siempre son una excusa para visitar a la madre/suegra y tomarlas de postre o para merendar, y de paso llevarte unas pocas para desayunar en casa. O bien comerlas en el pueblo, donde solemos ir en Semana Santa. Pero este año, obviamente, ni una cosa ni la otra.</p>

<p>Así que, como no era plan de quedarnos sin comerlas, no ha quedado más remedio que hacerlas nosotros por primera vez. Me consta que no hemos sido los únicos. Os dejamos por aquí la receta que hemos seguido:</p>

<h2>Ingredientes</h2>

<ul>
    <li>Pan de torrijas.</li>
    <li>750 ml de leche (en casa gastamos semidesnatada, pero supongo que si es entera, mejor).</li>
    <li>3 huevos.</li>
    <li>Una cáscara de limón (no teníamos y echamos la de una mandarina).</li>
    <li>Canela en rama.</li>
    <li>Canela en polvo.</li>
    <li>Azúcar vainillado (una pizca, para dar sabor a la leche).</li>
    <li>Azúcar (a nosotros no nos gusta abusar, cuanta menos, mejor).</li>
    <li>Aceite de oliva (se recomienda de 0,4&deg;, pero en casa sólo tenemos virgen extra).</li>
</ul>

<p>Sí, se pueden hacer con otros ingredientes, con pan normal, etc. Pero la primera vez no era plan de pasarnos de creativos. Tampoco hicimos el jarabe que se les echa por encima en algunos sitios.</p>

<h2>Pasos</h2>

<p>Lo primero es cortar el pan en rebanadas lo suficientemente anchas como para que no se desmorone cuando lo empapemos en la leche y el huevo. Si las cortamos en diagonal, conseguiremos que sean un poco más grandes. Cortamos toda la barra y dejamos las rebanadas en una cesta.</p>

{% include 'image.twig' with {'src': '/uploads/2020/04/torrijas-01-pan.jpg', 'alt': 'Pan de torrija en rebanadas', 'position': 'center'} %}

<p>Lo siguiente será preparar la leche. Echamos en una cazuela los 750 ml de leche junto con la cáscara (de mandarina en nuestro caso), la rama de canela y un poco de azúcar vainillado. Lo llevamos a ebullición y lo dejamos enfriando con la tapa puesta para que la leche coja sabor.</p>

{% include 'image.twig' with {'src': '/uploads/2020/04/torrijas-02-leche.jpg', 'alt': 'Hervimos la leche', 'position': 'center'} %}

<p>Una vez que la leche se ha enfriado, preparamos la "cadena de montaje". En un recipiente echamos la leche, pasándola por un colador. En otro, los huevos batidos. Y, por último echamos el aceite en la sartén (abundante, sin miedo) y lo ponemos al fuego.</p>

{% include 'image.twig' with {'src': '/uploads/2020/04/torrijas-03-leche.jpg', 'alt': 'Paso 1 - Leche', 'position': 'center'} %}

{% include 'image.twig' with {'src': '/uploads/2020/04/torrijas-04-huevo.jpg', 'alt': 'Paso 2 - huevo', 'position': 'center'} %}

{% include 'image.twig' with {'src': '/uploads/2020/04/torrijas-05-sarten.jpg', 'alt': 'Paso 3 - sartén', 'position': 'center'} %}

<p>Cuando el aceite esté bien caliente, vamos pasando las rebanadas, primero por la leche, luego por el huevo y, por último a la sartén. Las vamos haciendo de poco en poco, según lo grande que sea la sartén (en nuestro caso cabían dos grandes o tres pequeñas). Si empapamos todas las rebanadas de golpe, las últimas probablemente se desmoronarán. Y si echamos demasiadas en la sartén, el aceite se enfriará y se quedarán demasiado grasientas.</p>

<p>Una vez fritas bien por ambos lados, las sacamos y las vamos colocando en una bandeja con papel de cocina para que absorba el exceso de aceite. Por último, espolvoreamos una mezcla de azúcar y canela en polvo y dejamos enfriar.</p>

{% include 'image.twig' with {'src': '/uploads/2020/04/torrijas-06-azucar-canela.jpg', 'alt': 'Mezcla de azúcar y canela para espolvorear', 'position': 'center'} %}

<p>Como cometimos el error de comprar dos barras de pan, días después hicimos una segunda tanda que no quedó tan bien como la primera. Esto suele suceder con frecuencia en la cocina; la primera vez que haces una receta pones toda la precaución y la atención de seguir todos los pasos al milímetro. Te sale bien y la siguiente vez te vienes arriba. Seguro que si volvemos a hacerlas nos salen mejor que esa segunda tanda.</p>

{% include 'image.twig' with {'src': '/uploads/2020/04/torrijas-07-resultado.jpg', 'alt': 'Torrijas listas para dejar enfriar', 'position': 'center'} %}

<p>Este año no nos hemos quedado sin comernos unas torrijas, pero para el año que viene esperemos recuperar la tradición de degustarlas en familia.</p>

<p>PS: Como esto se prolongue al final nos va a tocar aprender forzosamente a hacer el Roscón de Reyes.</p>
