---
layout: post
title: "Restauración de una Game Boy Color"
summary: "Por poco dinero podemos dejar como nueva una consola que fue lanzada al mercado hace casi 23 años. Bendito AliExpress."
header_image: /uploads/2021/04/game-boy-color.jpg
main_image: /uploads/2021/04/game-boy-color.jpg
text_date: Jueves, 29 de abril de 2021
tags: [briconsejo, game boy color, nintendo, restauracion]
disqus_identifier: restauracion-de-una-game-boy-color
disqus_url: http://blog.falvarez.es/2021/04/restauracion-de-una-game-boy-color.html

---

<p>Hace un montón de años, en plena fiebre por hacer crecer mi colección de videojuegos retro, compré una Game Boy Color. No recuerdo la fecha exacta, ni a través de qué plataforma hice el trato (eBay o algún foro, que en esa época Wallapop todavía no existía). Sí que recuerdo que quedé con el vendedor en la zona de Conde de Casal. Incluso recuerdo que me comí un par de sandwiches de Rodilla mientras esperaba. No me resultó especialmente barata, 45 € con caja. Juraría haber visto alguna en el Cash Converters por 15 € más o menos. Hace años, por descontado. Ahora están mucho más caras, ahora todo lo retro está carísimo.</p>

<p>No es que la haya usado demasiado, la verdad. Tuvo su momento en mis viajes en metro para ir a trabajar, donde recuerdo haber jugado a títulos como Star Wars Racer, Pokémon Pinball o Castlevania Adventures. Así que debió de ser por los años 2003-2004, que era cuando trabajaba en Arturo Soria. Luego la he usado también un par de veranos en la piscina. A plena luz del día es como mejor se disfruta de su pantalla.</p>

<p>El caso es que ha llegado hasta el día de hoy con ciertos achaques, algunos de los cuales ya tenía desde el momento que la compré, como ese botón Select "mordido" del que mi amigo Miguel siempre se mofa. El altavoz no funcionaba y la tapa de las pilas estaba rota (un clásico). Si bien, como digo, no estoy seguro de que estuviera así cuando la compré, o bien ha sido producto del paso del tiempo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/04/gbc-boton-select-mordido.jpg', 'alt': 'El botón select fruto de mofa, ya retirado de la consola', 'position': 'center'} %}

<p>Me dio por mirar en AliExpress, ese lugar donde se vende de (casi) todo. Y resulta que, por poco dinero, he podido comprar repuestos para todo lo que estaba roto: una <a href="https://es.aliexpress.com/item/32882428758.html">tapa nueva para las pilas</a>, un nuevo <a href="https://es.aliexpress.com/item/1005001304024362.html">juego de botones</a>, que he aprovechado para ponerlos de color azul en vez de los negros que traía, y un <a href="https://es.aliexpress.com/item/33040749280.html">altavoz</a> nuevo. En total, 5,81 €, gastos de envío incluidos, y puesto en casa en poco más de 15 días.</p>

<p>Por poco más de 6 ó 7 € venden carcasas nuevas, con su juego de botones y destornilladores. No vi necesario sustituir la mía, ya que no estaba mal. Pero también es una opción. Las hay de muchos colores y hasta el <a href="https://pokemaster.es/las-consolas-de-edicion-especial-pokemon-ar-1398/">modelo de Pikachu</a>.</p>

<p>La sustitución también es sencilla. Hay que abrir la consola, que lleva 6 tornillos de estrella de 3 puntas (Tri-Wing, <a href="https://www.google.com/search?q=tornillos+estrella+3+puntas">gracias Google</a>). Afortunadamente tenía el destornillador adecuado entre todas las herramientas que he ido atesorando durante los años.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/04/gbc-tornillos-exteriores.jpg', 'alt': 'Game Boy Color - Tornillos exteriores', 'position': 'center'} %}

<p>También es necesario soltar la placa, esta vez con 3 tornillos de estrella "normales", para poder desoldar el viejo altavoz y soldar el de repuesto. Y poco más, en 10 minutos lo tienes apañado.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/04/gbc-tornillos-interiores.jpg', 'alt': 'Game Boy Color - Tornillos interiores', 'position': 'center'} %}

<p>Una restauración que ha sido muy barata y que ha dejado la consola como nueva.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/04/game-boy-color.jpg', 'alt': 'Game Boy Color restaurada', 'position': 'center'} %}
