---
layout: post
title: "Juegos: God Of War (PS4)"
summary: "Otro de los grandes exclusivos de PlayStation 4 que tenía pendiente de jugar. Y la experiencia ha sido un poco decepcionante, la verdad. Probablemente por un problema de expectativas, no porque el juego sea malo."
header_image: /uploads/2021/07/god-of-war-cabecera.jpg
main_image: /uploads/2021/07/god-of-war.jpg
text_date: Viernes, 2 de julio de 2021
tags: [análisis videojuegos, god of war, playstation 4, santa monica studios]
widgets: [now-playing]
disqus_identifier: juegos-god-of-war-ps4
disqus_url: http://blog.falvarez.es/2021/07/juegos-god-of-war-ps4.html

---

<p>Antes de nada quiero hacer una aclaración. Normalmente, cuando comento juegos, libros o películas en este blog, intento no desvelar nada de la trama &mdash;lo que últimamente se viene llamando <em>spoilers</em>&mdash; para que un posible lector no se vea condicionado y pueda disfrutar la misma experiencia que he disfrutado yo, sin que nadie le revele las sorpresas. Pero en esta ocasión voy a hacer una excepción, ya que me veo incapaz de explicar la decepción que he sentido al terminar este juego sin hacer referencia a la trama. Eso sí, no voy a desvelar la revelación que se produce al final de la historia, que la hay. Aunque supuestamente ya es conocida por todo el mundo, sobre todo quien haya leído noticias sobre la segunda parte, que ya se encuentra en desarrollo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-menu.jpg', 'alt': 'El menú principal de God of War', 'position': 'center'} %}

<p>La historia comienza muy floja, a mi parecer, con Kratos y su hijo Atreus en su casa y con la misión de llevar a un lugar determinado las cenizas de la madre de Atreus, recién fallecida. Aunque es el típico comienzo que se incluye a modo de tutorial, para hacernos con las mecánicas del juego (algo importante, y más si cabe en este caso, en el que han cambiado radicalmente frente a los anteriores títulos de la franquicia), desde luego no tiene nada que ver con otros comienzos explosivos vistos en anteriores entregas, en los que nos enfrentábamos directamente con colosos y dioses en espectaculares combates.</p>

<p>En este punto ya me empezaba a dar pereza la relación con el chico. Y además no sabía si Kratos es el mismo de los juegos anteriores, es decir, que estamos ante una continuación de la historia, o se trata de un reinicio en toda regla, en el que nos van a contar una historia totalmente nueva, rompiendo los lazos con anteriores relatos. Más adelante veremos que, efectivamente, se trata de una continuación. Aunque, al no haber jugado a God Of War Ascension, no sé si me he perdido algo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-cofres.jpg', 'alt': 'Estos cofres sí que los he visto en anteriores entregas', 'position': 'center'} %}

<p>La forma de combatir cambia radicalmente. No me ha acabado de convencer, aunque seguramente que sea mi culpa por ser un manco y no dedicarle la atención que merece. También vengo de jugar a <a href="/2021/06/juegos-spider-man-ps4.html">Spider-man</a>, donde el sistema de lucha me gustó mucho y es muy diferente a este. Eso sí, reconozco que la intervención de Atreus con su arco añade algo de variedad y componente estratégica. Pero casi que me gustaba más el sistema de combos de los anteriores títulos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-controles.jpg', 'alt': 'Esquema de control', 'position': 'center'} %}

<p>Me tuve que obligar a seguir jugando, venciendo el sopor, hasta que llegué al lago "de la serpiente", donde la narración empieza a remontar. No empatizo nada con Atreus y su comportamiento. Si por mí fuera, lo dejaría abandonado a su suerte, por caprichoso y cansino.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-mapa.jpg', 'alt': 'El mapa de Midgard', 'position': 'center'} %}

<p>Otro punto de inflexión, siempre bajo mi punto de vista, es cuando recuperas las espadas del caos. En ese momento es cuando me convencí de que Kratos era el Kratos que yo conocía, y los combates empiezan a saber a God of War.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-espadas.jpg', 'alt': 'Las Espadas del Caos', 'position': 'center'} %}

<p>Entre combate y combate, y mientras viajamos, seremos testigos de charlas entre Kratos, Atreus y "la cabeza", en las que, además de ir desgranando el argumento del juego, se van contando historias de la mitología nórdica. Aquí también es problema mío tener un desconocimiento casi absoluto de ese tema, a diferencia de la mitología griega, que me resultaba más familiar en su momento.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-recuerdos-de-grecia.jpg', 'alt': 'Si no fuera por estos detalles, dudaríamos de si es el mismo Kratos de las anteriores entregas', 'position': 'center'} %}

<p>Y luego está el ¿final?, que sin ser tan extraño como el de <a href="/2020/08/juegos-assassin-screed-odyssey-ps4.html">Assassin's Creed Oddyssey</a>, me dejó bastante frío. He visto en otros juegos desenlaces de arcos secundarios con más enjundia. Y como, además, podemos seguir jugando, creo que no aporta nada salvo por la revelación que se hace sobre la naturaleza de Atreus.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-padre-e-hijo.jpg', 'alt': 'Atreus y Kratos', 'position': 'center'} %}

<p>El apartado técnico y artístico del juego, tanto en lo visual como en lo sonoro, está muy cuidado. Desde luego que eso no se le puede reprochar en absoluto. Cuenta con un modo foto con el que podremos sacar partido a los vistosos escenarios.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-sangre.jpg', 'alt': 'Sangre por doquier', 'position': 'center'} %}

<p>Lo empecé el pasado 6 de julio, para completar un total aproximado de 22 horas de juego. He completado la historia y un 30% de los trofeos. En este caso, obviamente, ni me planteo ir a por el platino. Sería un poco masoquista teniendo en cuenta lo poco que me ha gustado. Aunque, ¿quién sabe?, quizás si me pusiera, sería capaz de encontrar y admirar esa brillantez que muchos otros usuarios han plasmado en sus críticas y comentarios positivos. E igual aprendía algo más de mitología nórdica, que el saber no ocupa lugar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/07/god-of-war-rescatando-dragones.jpg', 'alt': 'Acabar el juego no supone hacer ni la mitad de misiones disponibles', 'position': 'center'} %}
