---
layout: post
title: "Resumen del año"
summary: "Después de un montón de años, me he animado a renovar el monitor que tengo para uso diario y abrazar el 4K"
header_image: /uploads/2021/12/resumen-2021-cabecera.jpg
main_image: /uploads/2021/12/resumen-2021.jpg
text_date: Viernes, 31 de diciembre de 2021
tags: [nintendo, personal, playstation, strava, videojuegos]
disqus_identifier: resumen-del-ano
disqus_url: http://blog.falvarez.es/2021/12/resumen-del-ano.html

---

<p>De este año poco puedo decir. Si el año pasado ya lo superamos como pudimos, este puedo decir que me ha pasado por encima. Quizás la faceta profesional ha sido la única que se ha mantenido medianamente a flote, porque en lo personal ha sido una bofetada detrás de otra. ¡Y qué complicada es la paternidad! Pero esa reflexión prefiero dejarla para otro momento, con más tiempo y tomando perspectiva.</p>

<p>A lo que ya he renunciado es a hacer planes concretos de futuro. Obviamente sigo teniendo unas metas, pero voy a intentar ceñirme más a la actitud y al día a día que a objetivos concretos, porque es muy frustrante que la realidad te los desmonte sin piedad alguna.</p>

<p>En resumen, 2021 ha sido muy duro, probablemente el más duro de mi vida, al menos que yo recuerde. Y no voy a cometer el mismo error de pensar, como el año pasado, que porque había sido un año pasado, el siguiente tendría que ser mejor porque sí. Ya veremos qué nos depara 2022. Yo me espero cualquier cosa.</p>

<p>Así que, como ya es tradición, vamos a dejar recopilados por aquí los datos de consumo de videojuegos que nos ofrecen "amablemente" tanto Nintendo como Sony, y los datos del (poco) ejercicio físico que he hecho este año, por cortesía de Strava.</p>

<p>No sé si tiene siquiera sentido indicar que en 2021 he publicado 32 entradas en el blog. Muy lejos por supuesto de mis mejores momentos, pero no deja de ser un logro seguír aquí después de 17 años. En 2019 fueron 19, 25 en 2020, así que al menos podría indicar un cambio de tendencia que debería refrendar (o no) en 2022. Aunque, para ser sincero, con el tiempo libre tendiendo a escasear cada vez más, tengo que racionalizar esfuerzos y centrarme (y concentrarme) en lo realmente importante.</p>

<h3>Nintendo Switch</h3>

<p>Este año he dedicado más tiempo a la consola híbrida que el anterior. La culpa ha sido de títulos como <a href="/2021/10/juegos-metroid-dread-switch.html">Metroid Dread</a>, <a href="/2021/11/juegos-luigis-mansion-3-switch.html">Luigi's Mansion 3</a> o <a href="/2021/03/juegos-super-mario-3d-world-bowsers-fury-switch.html">Super Mario 3D World: Bowser's Fury</a>. Sin olvidar <a href="/2021/03/juegos-the-legend-of-zelda-a-link-to-the-past-snes.html">The Legend Of Zelda: A Link To The Past</a> que, siendo de Super Nintendo, lo jugué en Switch.</p>

{% include 'components/image-webp.twig' with {'srcWebp': '/uploads/2021/12/switch-01.webp', 'srcFallback': '/uploads/2021/12/switch-01.gif', 'alt': 'Switch. Horas de juego y estadísticas globales', 'position': 'center'} %}

{% include 'components/image-webp.twig' with {'srcWebp': '/uploads/2021/12/switch-02.webp', 'srcFallback': '/uploads/2021/12/switch-02.gif', 'alt': 'Switch. Actividad mensual y juegos más jugados', 'position': 'center'} %}

<h3>PlayStation 4</h3>

<p>Los números indican que he jugado menos horas que en 2020, lo cual en principio tiene sentido viendo justo el dato anterior de Switch.</p>

{% include 'components/image-webp.twig' with {'srcWebp': '/uploads/2021/12/psn.webp', 'srcFallback': '/uploads/2021/12/psn.gif', 'alt': 'Estadísticas de uso de PlayStation en 2021', 'position': 'center'} %}

<h3>Strava</h3>

<p>Las estadísticas de Strava no incluyen los partidos de fútbol sala del jueves, aunque la temporada pasada nos quedamos en blanco, entre unas cosas y otras. Así que sólo llevamos desde septiembre, y nos está costando juntar gente; ya hemos fallado algunos días. En cuanto a correr, he intentado ir recuperando poco a poco el ritmo de entrenamientos, pero entre unas cosas y otras, no ha sido posible. Desde luego que, en cualquier caso, estoy muy lejos de la rutina que tenía en 2017 cuando <a href="/2017/04/un-clavo-saca-otro-clavo.html">corrí la maratón de Madrid</a>. Como hito interesante, una salida con la bici de carretera que amablemente me cedió Miguel. Poco menos de 70 km que me costaron la vida, pero me hicieron sentir muy bien.</p>

{% include 'components/image-webp.twig' with {'srcWebp': '/uploads/2021/12/strava.webp', 'srcFallback': '/uploads/2021/12/strava.gif', 'alt': 'Strava. Entrenamientos en 2021', 'position': 'center'} %}
