---
layout: post
title: "Juegos: Spider-Man (PS4)"
summary: "Un buen juego de superhéroes, exclusivo de PlayStation, que tenía pendiente desde el año pasado."
header_image: /uploads/2021/06/spiderman-cabecera.jpg
main_image: /uploads/2021/06/spiderman-titulo.jpg
text_date: Miércoles, 2 de junio de 2021
tags: [análisis videojuegos, insomniac games, marvel, playstation 4]
widgets: [now-playing]

---

<p>Me compré este juego sin estar del todo convencido. Había visto algunos trailers, pero el concepto que tenía de él era, más o menos, que sería un clon de los juegos de Batman cambiando de superhéroe. No obstante, ya que el título había cosechado buenas notas y buena fama, siendo uno de los exclusivos de más renombre de PlayStation 4, no me lo iba a perder &mdash;afortunadamente para mí.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-boca-abajo.jpg', 'alt': '¿Quién se resiste a un juego de súper héroes?', 'position': 'center'} %}

<p>Spider-man tiene una forma muy peculiar de balancearse entre los edificios de Nueva York, lanzando telas de araña aquí y allá, para poder llegar rápidamente a cualquier lugar donde se le requiera. A partir de esa mecánica, <a href="https://insomniac.games/">Insomniac Games</a> ha añadido elementos que ya hemos visto en otros juegos, pero los ha combinado de forma magistral, consiguiendo una experiencia que me ha parecido muy divertida de jugar. De hecho, por comparar, se me antoja un juego más redondo que <a href="/2018/07/juegos-batman-arkham-knight-ps4.html">Batman Arkham Knight</a>.</p>


{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-arbol-de-habilidades.jpg', 'alt': 'El árbol de habilidades: hazte con todas', 'position': 'center'} %}

<p>Como digo, la base de todo es el movimiento de Spider-man, que está muy logrado. Al principio cuesta cogerle el truco. Pero, cuando te vas haciendo a él, se va transformando en una coreografía, en la que vamos pulsando los botones del mando de forma rítmica y durante la cual, incluso, podemos llegar a permitirnos el lujo de ejecutar ciertas piruetas. Dominar esta técnica es clave, ya que en algunos momentos de la aventura tendremos que ser capaces de desplazarnos de forma rápida y precisa, especialmente para completar algunos objetivos secundarios. Y también, por qué no decirlo, hace que los viajes sean más amenos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-times-square.jpg', 'alt': 'Estaremos más tiempo por el aire que caminando', 'position': 'center'} %}

<p>El juego en sí implementa mecánicas de lo más variado. Una de las básicas y que primero afrontaremos consiste en reactivar las torres de comunicación, a modo de las atalayas de Assassin's Creed, para ir desbloqueando zonas del mapa e ir descubriendo los distintos objetivos. </p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-manhattan.jpg', 'alt': 'La acción transcurre en Manhattan', 'position': 'center'} %}

<p>La otra mecánica que define este juego es el combate. Basado en esquivas, y con cierta similitud &mdash;nuevamente&mdash; con los juegos de Batman desarrollados por <a href="https://rocksteadyltd.com/">Rocksteady</a>, tiene una personalidad propia gracias a los combos, diferentes movimientos de agarre y los <em>gadgets</em> y habilidades que iremos adquiriendo según vayamos progresando en la historia. Además, también podremos actuar de forma sigilosa, moviéndonos por las alturas e inmovilizando a los enemigos con nuestras redes sin ser detectados.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-suenos-raros.jpg', 'alt': 'Que no falte una misión en la que somos víctimas de una alucinación psicotrópica', 'position': 'center'} %}

<p>Respecto al combate, además de las batallas con los diferentes villanos que iremos encontrando (y derrotando), hay zonas específicas en las que nos enfrentaremos a sucesivas oleadas de enemigos. Si somos capaces de superarlas cumpliendo además determinados requisitos, obtendremos una cantidad mayor de puntos de experiencia y mejora.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-taichi-en-central-park.jpg', 'alt': 'La ciudad está llena de vida. Encontraremos a gente normal haciendo cosas de gente normal', 'position': 'center'} %}

<p>También encontraremos una serie minijuegos tipo puzle en los que tendremos que completar circuitos eléctricos o hacer casar diferentes piezas, como si estuviéramos secuenciando partículas. Estos minijuegos también nos aportarán puntos con los que adquirir nuevos <em>gadgets</em> o mejorar los que ya tenemos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-puzle-circuitos.jpg', 'alt': 'El minijuego de conectar los circuitos', 'position': 'center'} %}

<p>Después de activar todas las torres, me piqué con los coleccionables de fotos de los edificios y las mochilas, lo cual me hizo dejar de lado la historia principal y, como consecuencia lógica, tener la sensación de que los acontecimientos no estaban avanzando al ritmo esperado. Conviene ir intercalando los eventos principales con las misiones secundarias para ahorrarnos paseos de más; aunque el mapa tampoco es gigantesco y, a partir de cierto momento, se desbloquea el viaje rápido a ciertas localizaciones seleccionadas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-un-alto-en-la-historia.jpg', 'alt': 'A veces no habrá "siguiente misión", y nos podremos dedicar a explorar la ciudad y mejorar nuestras habilidades', 'position': 'center'} %}

<p>En algunas secciones manejaremos también a M.J. y a Miles Morales. En estos fragmentos la jugabilidad está más basada en el sigilo (lo cual es lógico, ya que dichos personajes no son superhéroes). La verdad es que se agradecen porque no son muy largas y sirven para romper la monotonía de la exploración, recolección y combates.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-mj-sigilo.jpg', 'alt': 'En algunos pasajes manejaremos a Mary Jane', 'position': 'center'} %}

<p>El escenario, como he comentado, no es exageradamente grande. De hecho, en algunos puntos encontraremos "barreras invisibles" que no están camufladas con elementos decorativos. Simplemente no puedes seguir andando y el personaje se da la vuelta. Como en la vida real, a veces será de día, a veces de noche, a veces estará lloviendo. No influye en la jugabilidad, pero aporta variedad visual y se agradece.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-al-borde-del-mapa.jpg', 'alt': 'Mucho cuidado con salirse del mapa', 'position': 'center'} %}

<p>La historia del juego está bastante bien. Me ha gustado; podría ser perfectamente el argumento de una película. Y, como no podía ser de otra forma, incluye tanto el cameo de Stan Lee como la escena post-créditos. El doblaje y la música también son de diez. Gráficamente, sobre todo si nos fijamos en los fondos de la ciudad, está un poco por debajo de los grandes referentes de PlayStation. Pero cuando estamos balanceándonos entre rascacielos tampoco estás atento a esos detalles.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-cameo-stan-lee.jpg', 'alt': 'El cameo de Stan Lee que no falte', 'position': 'center'} %}

<p>Una vez llegado al final del juego, como he había ido bastante por las ramas con las misiones secundarias, tenía el trofeo de platino al alcance de la mano, o eso me parecía. Pero, por no haber tenido la precaución de haber echado un ojo a alguna de las guías, estuve a punto de fastidiarlo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-acabando-la-historia.jpg', 'alt': 'El juego nos avisa antes de comenzar el acto final, por si queremos obtener más mejoras antes de afrontarlo', 'position': 'center'} %}

<p>Resulta que uno de los trofeos consiste en comprar todos los trajes de Spider-man, que son un montón. Y yo me había gastado los puntos en mejorar los <em>gadgets</em>, que viene muy bien pero no dan ningún trofeo por ello. Así que me tuve que esforzar un poco más de la cuenta para conseguir material para comprar todos los trajes, pero finalmente lo logré.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-coleccionista-de-trajes.jpg', 'alt': 'El coleccionista de trajes', 'position': 'center'} %}

<p>Empecé a jugar el pasado 11 de mayo y me he robado bastantes horas de sueño para haberle dedicado finalmente unas 36 horas hasta conseguir el ansiado trofeo de platino. Al final, como siempre me ocurre por cagaprisas, por el mismo dinero que pagué por el juego podría haber comprado ahora la versión que incluye los DLC.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-spiderselfie.jpg', 'alt': 'Sonrían a la cámara', 'position': 'center'} %}

<p>Si te gustan los juegos de acción, los superhéroes, y tienes una PlayStation 4, es un juego absolutamente recomendable. Además, es un título que ya suele ser carne habitual de rebaja. No creo que sea complicado encontrarlo por 20€ o menos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/06/spiderman-libros-repetidos.jpg', 'alt': 'Los desarrolladores hicieron copia-pega de libros y se quedaron tan a gusto', 'position': 'center'} %}
