---
layout: post
title: "Naturaleza Encendida"
summary: "El Jardín Botánico de Madrid se viste de luz y color a la llegada del invierno"
header_image: /uploads/2021/11/naturaleza-encendida-cabecera.jpg
main_image: /uploads/2021/11/naturaleza-encendida-05.jpg
text_date: Martes, 23 de noviembre de 2021
tags: [actividades, exposiciones, madrid, personal]
disqus_identifier: naturaleza-encendida
disqus_url: http://blog.falvarez.es/2021/11/naturaleza-encendida.html

---

{% include 'components/image.twig' with {'src': '/uploads/2021/11/naturaleza-encendida-05.jpg', 'alt': 'Naturaleza Encendida', 'position': 'center'} %}

<p>"Naturaleza encendida" es un montaje que decora el Jardín Botánico de miles de luces LED y que, al caer la noche, lo convierten en un lugar diferente. La decoración de este año lo hace parecer un gran océano.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/naturaleza-encendida-01.jpg', 'alt': 'Naturaleza Encendida', 'position': 'center'} %}

<p>En 2019 ya tuvimos interés en ir pero, por lo que fuera, no llegamos a comprar las entradas. El año pasado fue imposible, ya que se trataba de una de las pocas actividades que se podían hacer en medio de la pandemia, al ser al aire libre, y la demanda era máxima. Por fin, este año hemos estado avispados y sí que hemos comprado las entradas. Aunque parezca mentira, para fines de semana y fechas "clave" ya estaban todas agotadas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/naturaleza-encendida-02.jpg', 'alt': 'Naturaleza Encendida', 'position': 'center'} %}

<p>También ha sido una de las primeras actividades que hacemos con Óscar. Que, aunque todavía no tiene tres añitos, también ha tenido que pagar su entrada. Y es que he de reconocer que, aunque el montaje costará un dinero, así como tenerlo encendido (y más con los precios de la luz que nos gastamos últimamente), una vez visitado creo que no vale lo que cuesta.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/naturaleza-encendida-03.jpg', 'alt': 'Naturaleza Encendida', 'position': 'center'} %}

<p>Aun así tuvimos suerte. Pese a que estuvo lloviendo justo el fin de semana pasado, hoy el único retazo de esas precipitaciones lo formaban algunos charcos y barrizales en el trayecto. Con la lluvia y el frío, la visita hubiera consistido en pasar un rato incómodo más que otra cosa. Pero no sé, el ser de noche, el frío, la maldita pandemia que no acaba, y el tener que estar más pendientes del crío que no para (como es normal), quizás me hicieron no disfrutar del paseo como me hubiera gustado. Quizás en verano se podría afrontar de otra manera. Aunque, claro, el horario habría de ser bien diferente.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/naturaleza-encendida-04.jpg', 'alt': 'Naturaleza Encendida', 'position': 'center'} %}

