---
layout: post
title: "Juegos: Astro's Playroom (PS5)"
summary: "PlayStation 5 trae en su interior este pequeño juego/demo técnica que nos permitirá experimentar las bondades del nuevo mando DualSense"
header_image: /uploads/2022/06/astros-playroom-cabecera.jpg
main_image: /uploads/2022/06/astros-playroom-ps5.jpg
text_date: Miércoles, 1 de junio de 2022
tags: [análisis videojuegos, playstation 5, sony, team asobi]
widgets: [now-playing]
disqus_identifier: juegos-astros-playroom-ps5
disqus_url: http://blog.falvarez.es/2022/06/juegos-astros-playroom-ps5.html

---

<p>Antiguamente, las consolas solían venir acompañadas de un juego, para poder disfrutarlas desde el primer momento. Incluso algunas lo traían preinstalado en la memoria, de tal manera que, si la encendíamos sin haber introducido ningún cartucho, arrancaba dicho juego. Recuerdo el caso de la Sega Master System. El modelo que yo tengo no traía un juego, sino dos: Hang On y <a href="https://segaretro.org/Safari_Hunt">Safari Hunt</a>.</p>

<p>Otro caso diferente es, por supuesto, el de los packs de consola más juego, o las ediciones temáticas, ya que la caja suele venir personalizada con motivos del juego (y el precio se ve consecuentemente incrementado). A veces las compañías, por ahorrarse dos duros, no incluían las cajas de los juegos, sino sólo los discos (mi Xbox venía con Halo y Midtown Madness en discos metidos en sobrecitos). Y últimamente se ha puesto de moda que el juego incluido sea un código de descarga digital.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-demo-1.jpg', 'alt': 'Homenaje a la mítica Demo 1 de PlayStation', 'position': 'center'} %}

<p>En otras ocasiones que también recuerdo (al menos en los casos de PlayStation y PlayStation 2), el fabricante añadía un disco de demostraciones que, sin llegar a ser juegos completos, sí que nos permitían ir abriendo boca ante la tecnología que iban a poner a nuestra disposición.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-t-rex.jpg', 'alt': 'El T-Rex de la demo de PlayStation, aquí se ha convertido en jefe final', 'position': 'center'} %}

<p>En el caso de PlayStation 5, Sony ha decidido incluir una demostración técnica con forma de juego (corto pero intenso) que nos permite experimentar de primera mano (nunca mejor dicho) las características del nuevo mando DualSense. Y, además en mi caso, y creo que por bastante tiempo, Astro's Playroom va a ser el único título exclusivo de PS5 que vaya a jugar, ya que el resto que tengo son todos retrocompatibles o intergeneracionales.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-menu.jpg', 'alt': 'Astro\'s Playroom', 'position': 'center'} %}

<p>Lo que han hecho Sony y la gente de Team Asobi ha sido retomar/reciclar los personajes y algunas de las mecánicas de <a href="https://store.playstation.com/es-es/product/EP9000-CUSA12392_00-PLATFORMERVR00EU">Astro Bot: Rescue Mission</a> (para mí el mejor juego de PlayStation VR), y añadir nuevos personajes y elementos que sirven como excusa para implementar las características especiales del DualSense. Se podrían explicar pero, por muchos vídeos que puedas llegar a ver, no hay nada como experimentarlo por uno mismo.</p>

<p>Astro's Playroom es un juego "completo", pero muy corto. Y no es que me quiera apuntar al carro de evaluar los juegos exclusivamente por su longitud. Pero es que sabe a muy poco y te deja con muchas ganas de más. En mi caso, empecé a jugar el 26 de mayo, el 29 ya lo había terminado, y el trofeo de platino lo conseguí el 1 de junio. Ni una semana.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-platino.jpg', 'alt': 'Trofeo de platino conseguido', 'position': 'center'} %}

<p>Pero, eso sí, he gozado de cada minuto. Y es un título que todo jugador debería poder disfrutar, porque supone un avance a la hora de sentir un mando entre tus dedos que, probablemente, no se había experimentado desde la introducción de la vibración y las palancas analógicas. Es el típico juego que enseñar a los amigos para fardar de consola (si es que eso tiene sentido) o para revisitar de vez en cuando. Porque tengo mis dudas, visto lo visto hasta ahora, de que otros estudios se tomen tan en serio aprovechar las posibilidades de la consola y de los mandos en particular. El tiempo lo dirá.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-god-of-war.jpg', 'alt': 'A los robotitos también les encanta jugar a God of War (el de verdad, no la cosa esa que hicieron en 2018)', 'position': 'center'} %}

<p>Además de las mecánicas de plataformas propias de Astro Bot (para los que no lo conozcáis, el protagonista puede saltar e impulsarse en el aire durante un corto periodo de tiempo gracias a un chorro que sale de su mochila), en esta ocasión podremos enfundarnos "trajes" que nos proporcionarán habilidades y formas de jugar únicas.</p>

<p>El traje pelota nos permite rodar, como es obvio.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-traje-pelota.jpg', 'alt': 'El traje pelota se controla con la superficie táctil del DualSense', 'position': 'center'} %}

<p>El traje de mono nos permite agarrarnos a salientes para ir trepando, así como girar sobre nosotros mismos para tomar impulso y saltar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-traje-mono.jpg', 'alt': 'Con el traje de mono usaremos los salientes para trepar y balancearnos', 'position': 'center'} %}

<p>El traje de rana nos permite "cargar" los muelles con los gatillos del mando y dar saltos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-traje-rana.jpg', 'alt': 'El traje rana es muy divertido de usar', 'position': 'center'} %}

<p>Y, el traje cohete, nos permite volar por los escenarios, controlando nuestro movimiento con los propulsores, que se accionan nuevamente usando los gatillos analógicos izquierdo y derecho.</p>

<p>Los escenarios del juego están basados en las características de PlayStation 5, y dentro de ellos encontraremos continuas referencias al legado de PlayStation, principalmente a su hardware.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-museo.jpg', 'alt': 'El museo PlayStation', 'position': 'center'} %}

<p>Aunque también encontraremos referencias a los principales juegos <em>first party</em>, de una forma algo menos evidente.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-crash-bandicoot.jpg', 'alt': 'La "mascota" de Sony también tiene su homenaje aquí', 'position': 'center'} %}

<p>Hay cuatro mundos principales temáticos, cada uno de los cuales dividido en varias etapas, y con sus respectivos jefes finales. En cada uno de ellos tendremos que encontrar varios coleccionables. Además, existe una zona de pruebas contrarreloj en las que intentar ser los más rápidos del online (hay clasificaciones mundiales y de amigos), así como una habitación/museo en la que se irán exhibiendo todos los artefactos PlayStation que vayamos encontrando.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-mapa.jpg', 'alt': 'El mapa con las diferentes zonas de juego', 'position': 'center'} %}

<p>No podía faltar la máquina del gancho, donde canjearemos las monedas que vayamos recolectando por tiradas para recoger premios y artefactos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-el-gancho.jpg', 'alt': 'El ganchoooo', 'position': 'center'} %}

<p>Los tiempos de carga, gracias al SSD de la consola, son prácticamente inexistentes. Con lo cual no nos dará nada de pereza ir saltando de una zona a otra.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-ps1.jpg', 'caption': 'El juego es un continuo <em>fan service</em> de la historia de PlayStation', 'position': 'center'} %}

<p>En fin, una demostración de las capacidades de la nueva consola escenificada como un canto de amor al legado de PlayStation hasta la fecha. Algo que pocas veces se ve en una compañía como Sony (y que, me temo, pocas más veces vamos a poder ver). El verdadero reto en este caso estriba en conseguir la consola, porque el juego viene incluido.</p>

<p>Os dejo a continuación algunas capturas más. Como veis, se han modelado las distintas consolas de la familia PlayStation, así como sus accesorios más relevantes, con todo lujo de detalles. Incluso en la habitación que hace las veces de museo, podremos interactuar con algunas de ellas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-mando-ps1.jpg', 'alt': 'El mítico mando original de PlayStation, una clarísima evolución del pad de Super Nintendo', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-ps2.jpg', 'alt': 'PlayStation 2, la consola de sobremesa más vendida de la historia (hasta el momento)', 'position': 'center'} %}

{% include 'components/image.twig' with {'src': '/uploads/2022/06/astros-playroom-ps3.jpg', 'alt': 'La tercera generación de sobremesa', 'position': 'center'} %}
