---
layout: post
title: "Juegos: Super Mario Bros 3 (NES)"
summary: "Por fin me pongo con este título, para muchos el mejor de la Nintendo Entertainment System, que tenía pendiente desde hace eones"
header_image: /uploads/2022/08/smb3-cabecera.jpg
main_image: /uploads/2022/08/smb3.jpg
text_date: Sábado, 13 de agosto de 2022
tags: [análisis videojuegos, nintendo, nes, super mario]
widgets: [now-playing]
disqus_identifier: juegos-super-mario-bros-3-nes
disqus_url: http://blog.falvarez.es/2022/08/juegos-super-mario-bros-3-nes.html

---

<p>Ya avisé de que este verano me iba a poner con uno de mis juegos pendientes de la franquicia Super Mario. En concreto, Super Mario Bros 3, para muchos el mejor juego de <a href="/tags/nes/">NES</a>.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/08/smb3-pantalla-titulo.jpg', 'alt': 'Pantalla de título', 'position': 'center'} %}

<p>Sin embargo, lo que desconocía <a href="/2022/07/juegos-retro-para-este-verano.html">cuando me lo planteé</a>, pecando de retro-inculto, era que en Super Mario Bros 3 no se puede guardar la partida. ¿Y eso qué significa? Pues que te lo tienes que acabar de una sentada, o bien dejar la consola encendida entre una sesión de juego y la siguiente, entre las que pueden pasar horas... o días. Vamos, que no es algo que me pueda plantear hacer hoy por hoy. Ni jugar tantas horas seguidas, ni dejar la consola encendida tanto tiempo, con un riesgo muy grande de avería por sobrecalentamiento.</p>

<p>Sin embargo, el Everdrive <em>chinesco</em> que compré escondía una grata sorpresa: posee la funcionalidad de guardar un "snapshot". Es bastante espartano, funcionando con una combinación de botones para guardarlo y otra para cargarlo, y sólo te deja guardar uno por juego. Pero, pero para lo que yo necesitaba, suficiente.</p>

<p>Empecé a jugarlo el 6 de agosto, a un ritmo de más o menos un mundo por día (echando entre media y una hora en cada sesión de juego). En total, calculo que algo más de 5 horas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/08/smb3-mapa.jpg', 'alt': 'Mapa del juego', 'position': 'center'} %}

<p>Jugar a un juego como este, una obra maestra de su tiempo y en su plataforma, con 24 años de retraso (alguno menos si tenemos en cuenta que a España llegaría sobre el año 1991), es una espada de doble filo. Obviamente, la calidad está ahí, pero enfrentarnos a él después de tantos otros juegos de Mario posteriores, en una plataforma con las limitaciones intrínsecas que tiene Nintendo Entertainment System (el guardado de partida es una de ellas, pero no la única), hace que tengamos que ser condescendientes con según qué cosas.</p>

<p>Lo tenía que jugar y acabar porque es un clásico entre los clásicos y porque, como digo, sentó en su momento muchas de las bases (enemigos, situaciones, trajes) que han vuelto a aparecer posteriormente en sucesivas entregas. Igual que sigo teniendo pendiente acabar (y lo haré) el Super Mario Bros (no, aún no lo he hecho). Pero si tuviera que elegir un único juego de Mario, no sería este.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/08/smb3-juego.jpg', 'alt': 'Ojo con la planta carnívora', 'position': 'center'} %}

<p>Se notan las limitaciones en que las fases son más cortas de lo que estoy acostumbrado. Me sorprendí más de una y de dos veces de llegar al final de la pantalla antes de lo previsto. Además, en este juego cada pantalla se suele basar en una única mecánica para completarla. Lo cual, insisto, no le quita su gracia y lo he disfrutado en grande el tiempo que he estado jugando.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/08/smb3-chiste.jpg', 'alt': 'Qué graciosa la princesa Peach', 'position': 'center'} %}

<p>Cuando tenga un rato, tengo que buscar por Internet alguna guía de secretos y revisitarlo. Porque, aunque descubrí alguno, estoy seguro de que esconde muchísimos más, y sería una pena no disfrutarlos, ya que tengo la ocasión. Y también pegarle un vistazo a la versión mejorada que salió en el cartucho Super Mario All-Stars para SNES, que también lo tengo por ahí guardado.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/08/smb3-fin.jpg', 'alt': 'Fin del juego', 'position': 'center'} %}

<p>PS: Spoiler alert. No, al final no he jugado a Prince Of Persia este verano.</p>



