---
layout: post
title: "Ya está aquí, ya llegó, la PlayStation 5"
summary: "La nueva generación de Sony aterriza por fin (anticipadamente) en casa"
header_image: /uploads/2022/05/playstation-5-cabecera.jpg
main_image: /uploads/2022/05/playstation-5.jpg
text_date: Martes, 24 de mayo de 2022
tags: [consolas, playstation 5, sony, videojuegos, yolotengoya]
disqus_identifier: ya-esta-aqui-ya-llego-la-playstation-5
disqus_url: http://blog.falvarez.es/2022/05/ya-esta-aqui-ya-llego-la-playstation-5.html

---

<p>(Canturréese el título con la música de la Patrulla Canina)</p>

<p>Lo reconozco, y no sólo porque ya lo había comentado públicamente: mi plan con PlayStation 5 era comprarla en las navidades de 2022, cuando la situación se normalizase y pudiera ir a una tienda física y hacerme con ella. Pero no lo he cumplido, y en parte siempre me quedará cierto resquemor por ello. Desde luego que, ahora mismo, no tengo nada claro que la situación se vaya a normalizar de aquí a fin de año, con todo lo que está pasando por el mundo y, visto lo visto, lo que pueda pasar. Gran Turismo 7 se lanzó el pasado 24 de marzo, y no es que estuviera superimpaciente por jugar, pero los amigos de Polyphony Digital han abandonado (prácticamente) GT Sport. Vale, pensaréis, y yo se lo recompenso comprando su siguiente juego. Aun así, no es la única incoherencia que he cometido cone este (absurdo) movimiento.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/05/playstation-5.jpg', 'alt': 'PlayStation 5 en su cajita. Habrá que abrirla', 'position': 'center'} %}

<p>Es de dominio público que las tiendas (y los especuladores) están intentando hacer su agosto con la escasez de consolas. Los segundos, adquiriéndolas antes que nadie usando no sé qué artes oscuras, y revendiéndolas a precios obscenos. Las primeras, engordando la venta con packs indisolubles de consolas más juegos, más mandos, más todo lo que se les ocurre que tienen cogiendo polvo por la tienda. Y sí, amigas y amigos, por ese aro me ha tocado pasar si quería adquirir ahora la consola.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/05/ps5-estreno.jpg', 'alt': 'Estrenando la PlayStation 5', 'position': 'center'} %}

<p>Pero, Fede, ¿de verdad querías, necesitabas tenerla ahora mismo? ¿Por qué no esperar a diciembre? Pues por la maldita incertidumbre de no saber lo que va a pasar. Y, pudiendo tenerla ya (pagando un sobreprecio, sin duda), ¿para qué esperar? Que nadie espere una explicación racional y razonada donde no la hay. Una compra ansiosa e impulsiva de manual. Bueno, impulsiva no. Porque, aun con estos precios y estos abusos, las consolas se las quitan de las manos. He tardado meses hasta que he podido cazar la "ganga" (nótese la ironía).</p>

<p>Vamos a hablar de la consola en sí. Tampoco descubro nada si digo que PlayStation 5 es una PlayStation 4 mejorada. De hecho, es retrocompatible con casi el 100% de su catálogo. Por si fuera poco, entre la pandemia y la escasez de consolas distribuidas, la mayoría de los juegos que se publican son intergeneracionales. Lo cual quiere decir que, por mucho que se empeñen, y salvando las diferencias gráficas, es la versión de la generación pasada la que marca la pauta, por lo que no se aprovecha la potencia y las características del nuevo modelo.</p>

<p>En mi caso, todavía no he podido probar un juego puramente de PS5, así que las principales mejoras que le noto son: la velocidad en las cargas, gracias al disco SSD, la agilidad en los menús (supongo que también debido a lo anterior) y el DualSense. Es un mando ligeramente más grande y pesado que el anterior, y la respuesta háptica puede dar mucho juego, siempre que los diseñadores y desarrolladores le dediquen tiempo, claro. Bueno, estoy mintiendo. La consola viene con un juego de regalo: Astro's Playroom. Más que un juego podríamos decir que es una demostración técnica de lo que es capaz el mando Dualsense. Pero ya hablaré de él en otro momento.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/05/ps5-actualizacion.jpg', 'alt': 'Lo primero de todo, actualizar', 'position': 'center'} %}

<p>El sistema operativo va bastante fluido; espero que no lo hagan más pesado en las sucesivas actualizaciones, como ya ocurrió con los de PS3 y PS4. Además, tiene algunas funcionalidades nuevas e interesantes. La que más me ha llamado la atención, por ahora, es la posibilidad de ver vídeos sobre cómo obtener los trofeos del juego al que estás jugando. ¿Se acabó acudir a las páginas de guías y trucos?</p>

<p>Al igual que ya hice con PlayStation 3, un juego de la franquicia Gran Turismo ha sido, de alguna forma, el causante de que compre la consola, y uno de los primeros a los que voy a jugar. El otro, The Last Of Us II, que ya había empezado en PlayStation 4 pero, siendo que han sacado un parche que lleva el rendimiento hasta los 60 fps, aprovecharé para continuarlo aquí.</p>

<p>Una de las cosas que me preocupaba era el tamaño, y dónde la iba a colocar. Curiosamente, al abrirla en casa no me ha parecido tan grande como esperaba, lo cual no quiere decir que no lo sea. Finalmente la he colocado detrás del monitor. No es el sitio más cómodo cuando tienes que cambiar el disco del juego pero, por lo demás, queda bien ubicada, no me resta espacio de la mesa y me permite mantener un monitor CRT Commodore 1084S para el retro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/05/ps5-detras-del-monitor.jpg', 'alt': 'La consola queda colocada detrás del monitor', 'position': 'center'} %}
