---
layout: post
title: "Hasta siempre, 3DS y WiiU"
summary: "Ambas consolas, la cara y la cruz de la anterior generación de Nintendo, cierran sus respectivos ciclos de vida"
header_image: /uploads/2022/02/my-3ds-memories.png
main_image: /uploads/2022/02/my-wiiu-memories.png
text_date: Sábado, 26 de febrero de 2022
tags: [nintendo, personal, wiiu, 3ds]
disqus_identifier: hasta-siempre-3ds-y-wiiu
disqus_url: http://blog.falvarez.es/2022/02/hasta-siempre-3ds-y-wiiu.html

---

<p>Con el cierre de sus respectivas tiendas de juegos, las antecesoras de Switch en sobremesa y portabilidad, WiiU y 3DS respectivamente, <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/57847">llegan al final de su ciclo de vida</a>. A modo de homenaje, Nintendo ha publicado una web en la que podemos generar una imagen de recuerdo de <a href="https://my-nintendo-3ds-wiiu-memories.nintendo.com/">nuestros mejores momentos con ambas consolas</a>. En mi caso yo sigo usando la 3DS, y ocasionamente enciendo la WiiU para seguir con los dos o tres juegos que tengo pendiente de completar (aunque Paper Mario se me está haciendo bola).</p>

<p>Aquí van mis recuerdos:</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/02/my-3ds-memories.png', 'alt': 'Resumen 3DS', 'position': 'center'} %}

<p>Cantidad ingente de horas que le he dedicado al Picross de Pokémon. Y todavía me quedan horas, porque aun no he completado todos los puzles.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/02/my-wiiu-memories.png', 'alt': 'Resumen WiiU', 'position': 'center'} %}

<p>Tampoco me sorprende el podio de títulos más jugados de WiiU. Únicamente, yo hubiera jurado que la plata y el bronce deberían estar intercambiados. Y, de hecho, podría llegar a ser así más adelante, aunque no tengamos forma de comprobarlo. Porque no he completado el 100% de Capitán Toad, y me gustaría hacerlo. Mientras que dudo que siga jugando a Super Mario 3D World, más teniendo en cuenta que lo compré para Switch.</p>
