---
layout: post
title: "Tim Burton - El Laberinto"
summary: "Exposición en Madrid que recorre la obra creativa del director de cine estadounidense"
header_image: /uploads/2022/12/tim-burton-el-laberinto-cabecera.jpg
main_image: /uploads/2022/12/tim-burton-el-laberinto.jpg
text_date: Jueves, 8 de diciembre de 2022
tags: [exposiciones, personal, tim burton]
disqus_identifier: tim-burton-el-laberinto
disqus_url: http://blog.falvarez.es/2022/12/tim-burton-el-laberinto.html

---

<p>Hacía mucho que no íbamos a ninguna exposición. Básicamente, desde que nació Óscar. Así que, en estos días pre-navideños, contando con que mi mujer tenía ganas de ver esta, nos hemos animado a ir los tres al Espacio Ibercaja Delicias. Y eso que el precio de las entradas ya nos parecía, a priori, algo caro (23,50€ por adulto).</p>

<p>Una vez vista, la verdad es que se confirmaron mis sospechas. No es algo caro, es muy caro para lo que ofrece, todavía más si no eres fan incondicional de Tim Burton, como es mi caso.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/12/tim-burton-mars-attacks.jpg', 'alt': 'Mars Attacks', 'position': 'center'} %}

<p>La exposición está estructurada en forma de "laberinto", de manera que entras en una sala, contemplas los objetos allí expuestos (todos relacionados con una película concreta) y dispones de varias salidas, de las cuales debes escoger una al azar.</p>

<p>El sistema me parece un poco tramposo por varios motivos. El primero es que supone una buena manera (o sea, una excusa) para que los organizadores se hayan ahorrado elaborar una narrativa para la visita.  No todas las puertas conducen a diferentes salas; las hay que llevan a la misma. Pero el problema más grave es que, con este sistema, te dejas salas sin ver. ¿Qué ocurre si tu personaje favorito es Eduardo Manostijeras, o tu película es Mars Attacks, o Sleepy Hollow (por poner ejemplos) y, al seleccionar aleatoriamente tu camino, te quedas sin ver las salas relacionadas? Porque si quieres repetir tienes que volver a pagar entrada.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/12/tim-burton-eduardo-manostijeras.jpg', 'alt': 'Eduardo Manostijeras', 'position': 'center'} %}

<p>Además, la visita es muy corta. Nosotros la hicimos en media hora, y eso que fuimos muy despacio, tomándonos nuestro tiempo en cada uno de los objetos expuestos. A la salida, por supuesto, tenías la típica tienda de recuerdos en la que gastar todavía más dinero. Nosotros no picamos esta vez.</p>

<p>Sobre el contenido, la verdad es que había figuras muy chulas, así como bocetos dibujados por el propio Burton. En ese sentido, nada que objetar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2022/12/tim-burton-beetlejuice.jpg', 'alt': 'Beetlejuice', 'position': 'center'} %}

<p>Como digo, salimos decepcionados, obviamente muy condicionados por el precio. Hemos estado en exposiciones gratuitas que nos han resultado más satisfactorias.</p>

<p><small>Foto de portada: Fabian Morassut</small></p>
