---
layout: post
title: "11ª carrera popular Corre por el Niño"
summary: "Casi seis años después, volvemos a las carreras populares de una forma muy especial."
header_image: /uploads/2023/10/corre-por-el-nino-cabecera.jpg
main_image: /uploads/2023/10/corre-por-el-nino-dorsales.jpg
text_date: Domingo, 8 de octubre de 2023
tags: [carreras, deporte]
disqus_identifier: carrera-popular-corre-por-el-nino
disqus_url: http://blog.falvarez.es/2023/10/carrera-popular-corre-por-el-nino.html

---

<p>Hace casi seis años desde la <a href="/2017/12/san-silvestre-las-rozas-2017.html">última carrera popular que reseñé en el blog</a>, la San Silvestre de las Rozas de 2017. Aunque hemos seguido acudiendo a ese último evento deportivo del año, lo hemos hecho en la modalidad "marcha familiar", por motivos evidentes. Realmente, desde que corrí la maratón, salvo esa tradición para despedir el año, no tenía intención de volver a participar en ninguna carrera popular. Ya he cumplido mis objetivos, y los altos precios tampoco ayudan.</p>

<p>Sin embargo, estamos de vuelta. Y empleo la primera persona del plural porque, esta vez, mi hijo Óscar me acompaña. O, mejor dicho, yo lo acompaño a él en su estreno como corredor popular. La cita: 11ª carrera Corre por el Niño. El circuito: 2 km por el parque del Retiro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/10/corre-por-el-nino-dorsales.jpg', 'alt': 'Dorsales', 'position': 'center'} %}

<p>Tuve que ir "sujetándole" todo el tiempo, porque echaba a correr rápido y no paraba. Eso, y subirse a los bancos, saltar encima de los conos que se ponen los patinadores para practicar... Se le hizo cortísima la distancia, aunque en realidad sí que llegó cansado a la meta. Además de la tradicional fruta y botella de agua, para los pequeños había una medalla conmemorativa y un libro.</p>

<p>La prueba no era competitiva (es decir, no cronometrada por la organización). Completamos la distancia en unos meritorios 14'31". Teniendo en cuenta que los primeros metros los hicimos andando, porque no se podía correr de la cantidad de participantes que había, no está nada mal.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/10/corre-por-el-nino-circuito-y-tiempo.jpg', 'alt': 'Circuito y tiempo', 'position': 'center'} %}

<p>Por mi parte, muy orgulloso de Óscar, y deseando compartir más experiencias con mis hijos, para estar cerca de ellos, aprender y verlos crecer y desarrollarse. Y a ver qué tal la San Silvestre, que el año pasado los 5 km caminando se le hicieron un poco largos.</p>
