---
layout: post
title: "Visita al Museo de las Ilusiones de Madrid"
summary: "Un museo que, más que ilusionar, desilusiona."
header_image: /uploads/2023/09/museo-de-las-ilusiones-madrid-cabecera.jpg
main_image: /uploads/2023/09/museo-de-las-ilusiones-madrid.jpg
text_date: Sábado, 23 de septiembre de 2023
tags: [madrid, museo, personal]

---

<p>Hace meses que habíamos visto referencias de este museo en el que se pueden experimentar algunas ilusiones ópticas y mentales de lo más curiosas. Lo teníamos apuntado en la lista de sitios para visitar algún fin de semana que no tuviéramos planes. Hoy fue el día elegido.</p>

<p>Interiormente tenía las mismas sensaciones que cuando fuimos a ver la <a href="/2022/12/tim-burton-el-laberinto.html">exposición de Tim Burton</a>, una visita corta y un precio de la entrada demasiado elevado. Y, por desgracia, se confirmaron mis sospechas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/09/museo-de-las-ilusiones-madrid.jpg', 'alt': 'Museo de las Ilusiones de Madrid', 'position': 'center'} %}

<p>La entrada son 14€ (10€ para los niños). Al comprar la entrada se reserva la franja horaria en la que se accede (cada 20 minutos). Aunque, una vez dentro, te puedes quedar todo el tiempo que quieras. El museo es muy pequeño y en apenas 15 ó 20 minutos lo has visto.</p>

<p>Muchas de las ilusiones ya las conocía de antes, y se pueden ver en libros o por Internet. Las que requieren de algún tipo de montaje especial (con proyectores o espejos) son apenas un puñado de ellas. En cualquier caso, aunque las veas todas, y te detengas en cada detalle, más de 30 ó 35 minutos no se tarda.</p>

<p>Lo que se agradece es que todas ellas están explicadas. Y, además, se indica dónde hay que ubicarse para poder apreciarlas, así como desde dónde hacer una foto si nos apetece.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/09/museo-de-las-ilusiones-pozo-infinito.jpg', 'alt': 'El pozo infinito', 'position': 'center'} %}

<p>A la salida hay una tienda con puzles de ingenio y otros objetos relacionados. Viene muy bien para coger ideas para regalos, aunque luego es mejor comprarlos en AliExpress o similar, donde podremos encontrarlos por mucho menos dinero.</p>

<p>Por último, no recomiendo la visita con niños demasiado pequeños o, como el nuestro, a los que les vaya más el movimiento que la contemplación, ya que apenas van a poder disfrutar de lo que el museo ofrece.</p>


