---
layout: post
title: "Vamos de paseo en un auto nuevo"
summary: "Como la familia ha crecido, hemos alquilado un coche para ir de vacaciones. ¿Qué tal nos ha ido?"
header_image: /uploads/2023/09/auto-nuevo-cabecera.jpg
main_image: /uploads/2023/09/auto-nuevo.jpg
text_date: Sábado, 2 de septiembre de 2023
tags: [coche, personal, viajes]
disqus_identifier: vamos-de-paseo-en-un-auto-nuevo
disqus_url: http://blog.falvarez.es/2023/09/vamos-de-paseo-en-un-auto-nuevo.html

---

<p><em>Sí, ya sé que la letra de la canción no es así, pero así de mal la aprendí de pequeño...</em></p>

<p>El año pasado ya hicimos los viajes con el maletero del coche hasta los topes. Así que, desde que supimos que íbamos a tener otro retoño, estaba claro que se iba a quedar pequeño. No sé cómo hacían nuestros padres y abuelos para viajar con la familia, porque el Peugeot 308 tampoco es un coche diminuto. Bueno, mis padres sí, llevaban una baca llena de maletas. Pero si a nuestro equipaje le sumas la cuna de viaje, la bañera, el carro, etc., pues no hay manera. </p>

<p>Además, ya hace un par de años tuvimos una avería que casi nos deja tirados, y que nos costó hacer un buen puñado de kilómetros con el "culete apretado". Aunque costó unas cuantas visitas al taller, ya debería estar arreglada, pero uno ya va con la mosca detrás de la oreja. Y es que, pese a que no tiene demasiados kilómetros, ya tiene una edad.</p>

<p>Nos lo han dicho varias personas: <em>"Ahora cambiaréis de coche, ¿no?"</em>. Pues la verdad es que no es buen momento. El 308 se ha quedado pequeño ahora y sólo para los viajes. Como mucho viajamos cuatro veces al año, y algunas veces coincidimos con los abuelos, así que podemos repartir trastos. Pero, por lo demás, para el día a día resuelve la papeleta perfectamente. Económicamente no me apetece gastar dinero en otro coche. ¡Están carísimos! Y, además, no está claro por qué tecnología apostar. Uno de gasoil no lo quiero ni en pintura. Un eléctrico no es viable, ni por aparcamiento con cargador, ni por autonomía para viajar (que es justo el problema que queremos resolver). Y un híbrido... Vamos, que ni idea. Y, como digo, quizás dentro de unos años volvamos a caber los cuatro en el coche. O no se podrá viajar, o quién sabe.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/09/308-vs-5008.jpg', 'alt': 'Peugeot 308 y Peugeot 5008, frente a frente (lado a lado)', 'position': 'center'} %}

<p>Ya llevo tiempo echando cuentas mentalmente. Así por encima, por lo que cuesta ese coche más grande que habría que comprar, podemos alquilarlo para las vacaciones durante los próximos veinte años. Con la ventaja de que, cada vez, tendríamos acceso potencialmente a un modelo nuevo. Sin necesidad de estar atado al mismo, pudiendo repetir o cambiar si uno no nos convence, y accediendo a las nuevas mejoras que se vayan implementando.</p>

<p>Para este verano, la elección la teníamos más o menos clara: un Peugeot 5008. <strong>Automático</strong>. Tonterías las justas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/09/5008.jpg', 'alt': 'Peugeot 5008', 'position': 'center'} %}

<p>La experiencia ha sido globalmente satisfactoria. Aunque era un coche relativamente nuevo (con 8.000 kilómetros), no era último modelo. Obviamente, el salpicadero y los controles han ido evolucionando, pero siendo de la misma marca que nuestro coche, no ha sido nada difícil hacerse con él. Lo más extraño, el cambio automático y su comportamiento, que no se parece en nada a mi forma de conducir. En las cuestas arriba va todo el rato ajustando marchas, para no quedarse demasiado bajo de par. Y en las rectas y cuestas abajo, si levantas el pie no retiene nada, con lo que te obliga a frenar. Yo estoy muy acostumbrado a jugar con el cambio de marchas para usar lo justo el pedal de freno. Eso fue lo que más me "molestó" del coche. Lo otro que no me convence es la pantalla táctil para ciertas cosas. Pero, bueno, tampoco la usé apenas. Lo de conectar el móvil por Android Auto está muy bien. Y seguro que me dejé cosas por descubrir, pero el objetivo era hacer el viaje cómodamente.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/09/5008-salpicadero.jpg', 'alt': 'Salpicadero del Peugeot 5008', 'position': 'center'} %}

<p>Porque, por lo demás, el coche resultó una delicia. Mucho espacio interior. Mi mujer pudo ir cómodamente entre nuestros hijos en el asiento de atrás (en el 308 es imposible). Poder meter las cosas en el maletero sin jugar al Tetris. Hablamos de un coche para un viaje, claro. No para el día a día en ciudad, ya que es enorme (para mi gusto).</p>

<p>No sé cuándo será la próxima oportunidad. Pero, hoy por hoy, nuestra opción será volver a alquilar. Dependiendo del destino, ya veremos si repetimos vehículo o nos da por probar otro diferente.</p>
