---
layout: post
title: "Juegos: Kirby Y La Tierra Olvidada (Switch)"
summary: "Jugamos y terminamos la primera entrega en 3D del simpático y rosado personaje de Nintendo."
header_image: /uploads/2023/05/kirby-y-la-tierra-olvidada-cabecera.jpg
main_image: /uploads/2023/05/kirby-y-la-tierra-olvidada.jpg
text_date: Domingo, 14 de mayo de 2023
tags: [análisis videojuegos, kirby, nintendo, switch]
widgets: [now-playing]

---

<p>Tiene narices que, de todos los juegos que hay de Kirby, desde su estreno en la Game Boy, y teniendo disponibles algunos (el de WiiU, los que vienen en la NES y SNES Mini, los del online de Switch), he tenido que estrenarme con la primera entrega en 3D. La vida es así...</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/05/kirby-y-la-tierra-olvidada-titulo.jpg', 'alt': 'Kirby Y La Tierra Olvidada', 'position': 'center'} %}

<p>En su planteamiento me ha recordado bastante a los juegos de Yoshi (Wolly World, Crafted World), en cuanto a la distribución en fases no demasiado largas que no son difíciles de superar (sin llegar a ser un paseo). Si bien son títulos en los que, si queremos encontrar todos los secretos, ya no resulta tan sencillo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/05/kirby-y-la-tierra-olvidada-boss.jpg', 'alt': 'Durante la aventura nos enfrentaremos a diversos "jefes finales"', 'position': 'center'} %}

<p>La mecánica básica consiste en que Kirby puede comerse a los enemigos y obtener sus habilidades. También puede tragarse ciertos objetos del escenario y "convertirse" en ellos. De esa manera, tendremos que enfrentarnos a zonas de plataformeo, algunos puzles (no demasiado complicados) y, además de los enemigos básicos, a jefes finales al terminar cada área. Además, recolectando puntos podemos potenciar las diferentes habilidades. Al terminar cada fase, se nos mostrará un resumen de nuestro desempeño, y si hemos realizado o no las tareas "adicionales" (que, a priori, no sabemos cuáles son). Este detalle supone un acicate para rejugar cada uno de los niveles hasta obtener el 100% (o los suficientes puntos para mejorar las habilidades de Kirby).</p>

<p>Gráficamente se ve bastante bien. Sólo me ha chirriado un poco que, a cierta distancia, las animaciones van a una tasa de frames más baja (para optimizar el rendimiento). No es desde luego el único juego que emplea ese truco, pero por el motivo que sea, se nota demasiado. Aunque no afecta en ningún modo a la jugabilidad, por supuesto. Es un juego muy bonito y agradable de jugar. Las melodías son súper pegadizas, de esas que se te quedan en la cabeza y te sorprendes a ti mismo tarareándolas en cualquier otra circunstancia.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/05/kirby-y-la-tierra-olvidada-escenarios.jpg', 'alt': 'Los escenarios son variados y muy bonitos', 'position': 'center'} %}

<p>Empecé a jugar el 5 de abril y, durante la Semana Santa, le puede dedicar algo más de tiempo de lo habitual. Además, jugando en compañía de mi hijo, lo cual siempre se agradece. Luego lo dejé aparcado unos días hasta que lo retomé para terminarlo hoy, 14 de mayo. No dispongo de la cifra exacta, pero le he dedicado algo más de 10 horas, viendo el final pero sin completarlo al 100%.</p>

<p>Si te gustan los juegos de plataformas en 3D con algo de acción y puzles, este juego no te va a defraudar.</p>
