---
layout: post
title: "Visita al Museo Estación de Chamberí"
summary: "Fuimos a ver la estación fantasma del Metro de Madrid"
header_image: /uploads/2023/07/museo-estacion-chamberi-cabecera.jpg
main_image: /uploads/2023/07/museo-estacion-chamberi.jpg
text_date: Sábado, 8 de julio de 2023
tags: [madrid, metro, museo, historia]

---

<p>En los años 90 usaba bastante más el transporte público que ahora. Aunque siempre me ha gustado más el autobús, reconozco que el metro suele ser más rápido. Hoy día, casi todo el mundo va mirando el móvil, escuchando música, jugando, leyendo o viendo películas. Pero, en aquella época, lo más normal era ir mirando a las musarañas (aunque yo era de los que devoraba libros o el rarito que jugaba a la Game Boy).</p>

<p>El caso es que, no sé si por casualidad o porque ya había leído algo al respecto, una de las muchas veces en las que arrimaba la nariz para poder ver más allá del cristal del vagón, me pareció ver lo que parecía el andén de una estación en medio del túnel, sin iluminación alguna. Efectivamente, se trataba de la <a href="https://museosmetromadrid.es/museos/estacion-de-chamberi/">antigua estación de Chamberí</a>, situada entre las paradas de Bilbao e Iglesia de la Línea 1.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/07/museo-estacion-chamberi-taquillas.jpg', 'alt': 'Así eran las taquillas del metro de Madrid en los años 50', 'position': 'center'} %}

<p>Hasta el año 2008 no se pudo visitar. Sin embargo, el hecho de que se tapiaran sus accesos, permitió que permaneciera en un estado de conservación razonable.</p>

<p>Con el Metro de Madrid me une una relación familiar, ya que dos hermanos de mi abuela trabajaron en él: Ángel picando los túneles y Miguel de revisor; recuerdo haberle visto una vez, bien pequeñito, abriendo y cerrando las puertas desde el vagón de cabecera, en uno de aquellos trenes con unas bombillas que iban perdiendo intensidad a la par que el motor aceleraba. Qué distinto era el Metro de entonces del de ahora.</p>

<p>Este fin de semana no teníamos nada planeado, y como hacía tiempo que quería visitar la estación, y a mi hijo le encantan los trenes (de muy pequeño uno de sus pasatiempos favoritos era sentarse a verlos pasar) nos animamos toda la familia a ir a conocerla. Para llegar hasta allí, fuimos hasta Alonso Martínez y, desde allí, una pequeña caminata por Santa Engracia, con una ligera pendiente hacia arriba, hasta llegar a la plaza de Chamberí.</p>

<p>No obstante, casi nos quedamos con las ganas, porque resulta que las entradas, aun siendo gratuitas, se <a href="https://www.giglon.com/todos?idEvent=visita-guiada-estacion-de-chamberi">han de reservar con antelación</a>. Aunque quizás por eso de la gratuidad, y por la poca seriedad del personal, hay gente que las reserva y luego no acude, con lo que en cada turno quedan varias vacantes. Nos aprovechamos de esa circunstancia para poder entrar en el último pase matinal de visitas, a eso de las 13.20h.</p>

{% include 'components/image.twig' with {'src': '/uploads/2023/07/museo-estacion-chamberi-publicidad-azulejo.jpg', 'alt': 'La publicidad se pintaba sobre azulejo', 'position': 'center'} %}

<p>La visita es guiada y dura una media hora, en la que atravesaremos las taquillas y bajaremos hasta uno de los andenes (el del sentido norte). Podremos contemplar la decoración como estaba en el momento de su clausura, y detalles muy curiosos, como los antiguos tornos de salida (que se abrían al pisar una placa metálica), la oficina del jefe de estación o los carteles publicitarios <strong>en azulejo</strong>. Es como un pequeño viaje al pasado que sólo se ve truncado cada vez que pasa uno de los modernos trenes que circulan actualmente por la Línea 1.</p>
