---
layout: post
title: "Juegos: The Messenger (Switch)"
summary: "Un juego de acción plataformas indie al que hace años que tenía ganas, y que me ha sorprendido muy gratamente."
header_image: /uploads/2024/08/the-messenger-cabecera.jpg
main_image: /uploads/2024/08/the-messenger.jpg
text_date: Domingo, 25 de agosto de 2024
tags: [análisis videojuegos, indie, nintendo, plataformas, neo-retro, switch]
widgets: [now-playing]

---

<p>The Messenger es un juego que ha estado mucho tiempo en mi lista de juegos "deseados" en la eShop de Nintendo. Pero, por unas cosas u otras, especialmente por tener siempre una pila enorme de juegos pendientes, nunca me había animado a jugarlo. El caso es que, hace unos meses, varios de los participantes en el <a href="https://t.me/+VwZDjhistdg2L_9m">grupo de Telegram de RetroManiac</a> empezaron con él, y fue la conjunción del "culo veo, culo quiero" con una estupenda oferta a 5€ lo que hizo que, por fin, acabara en la tarjeta MicroSD de mi Nintendo Switch. Además, este verano coincidió que no me llevé ninguna de las consolas clásicas al pueblo, para jugar en 28" de glorioso CRT, así que ya estaban todos los ingredientes: a falta de 16 bits, a nadie le amrga un juego de acción/plataformas con sabor retro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/the-messenger-pantalla-inicio.jpg', 'alt': 'Pantala de inicio', 'position': 'center'} %}

<p>Un juego de ninjas siempre está bien. Sin embargo, es un subgénero con el que tengo cierta relación de amor/odio. Me encantan juegos como Saboteur (el de Spectrum, no el de Xbox 360) o Shinobi. Otros, como Shadow Warriors, me hicieron sufrir como un perro y gastar demasiadas monedas de cinco duros. Nunca jugué a clásicos como Ninja Gaiden, ni el de NES ni el afamado título de Xbox. Y he jugado a otros, como Ninja Five-O, de Game Boy Advance, o The Mark Of The Ninja, en la propia Switch que, aunque me gustan, tampoco me han terminado de enganchar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/the-messenger-shump-dragon.jpg', 'alt': 'En The Messenger tienen cabida muchos géneros. Hasta los shoot\'em ups', 'position': 'center'} %}

<p>La principal mecánica del juego es lo que yo denomino <strong>"saltigolpe"</strong>. El protagonista puede saltar y golpear enemigos y objetos con su katana. Al golpear algo, tiene la posibilidad de hacer otro salto. Es como una especie de "salto doble" pero que requiere de una pequeña dificultad técnica para ser ejecutado. Si no dominamos la técnica, es muy difícil que lleguemos a acabar el juego. Por otro lado, es algo que estaremos usando constantemente, así que no será por falta de práctica.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/the-messenger-pixelart.jpg', 'alt': 'El juego hace alarde de un pixelart muy bonito', 'position': 'center'} %}

<p>Para ser un juego de acción/plataformas, la historia narrada no es un mero relleno. Tiene cierto interés, da que pensar. Además, los diálogos gozan de un sentido del humor ciertamente peculiar, que nos arrancará alguna que otra carcajada (además de las de mi hijo cada vez que me mataban y sonaba una inconfundible tonadilla, a la vez que el inefable Guapifeo me rescataba otra vez más).</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/the-messenger-guapifeo.jpg', 'alt': 'Nos hartaremos de pagar deudas a Guapifeo', 'position': 'center'} %}

<p>No quiero desvelar ninguna sorpresa, porque yo me he llevado unas cuantas jugando, que añaden mucho valor a la experiencia. Sólo voy a decir que, en un momento dado, el desarrollo de la partida cambia de estilo. Es cierto que puede llegar a suponer un poco de bajón; a mí me ocurrió, pero ya se encarga la historia de engancharte para que sigas jugando hasta el final.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/the-messenger-humor.jpg', 'alt': 'Los diálogos están salpicados con un humor muy particular', 'position': 'center'} %}

<p>He de reconocer, a toro pasado, que en <a href="https://www.youtube.com/watch?v=qJf9edBS0TQ">el trailer de lanzamiento</a> se muestran casi todas las mecánicas y características más importantes del juego. Sin embargo, al menos a mí me costó apreciarlas. Es decir, una vez jugado y terminado, el juego me ha parecido mucho mejor de lo que me esperaba. El diseño de niveles me ha parecido muy competente y el doble estilo artístico retro, simulando juegos de 8 y 16 bits, no es que esté muy logrado, es que además sirve para un propósito en la propia narrativa del título.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/the-messenger-cerca-del-final.jpg', 'alt': 'Debo de estar cerca del final', 'position': 'center'} %}

<p>Estuve poco más de un mes con él. Lo empecé a mediados de julio y lo acabé el 25 de agosto, no sin cierto sufrimiento, ya que me quedé atascado un par de días en una de las últimas fases. Estuve a punto de dejarlo. En total, más de 20 horas de juego y diversión, contando con el DLC, con el que me puse posteriormente, y que acabé pero no al 100%.</p>

{% include 'components/image.twig' with {'src': '/uploads/2024/08/the-messenger-tiempo-empleado.jpg', 'alt': 'Estado la última vez que guardé partida', 'position': 'center'} %}

<p>No quiero desvelar nada más. De verdad, si os gustan los juegos de acción/plataformas, compradlo y jugadlo. Es, sin lugar a dudas, <strong>de lo mejor que he jugado en los últimos años</strong>. Y siendo un juego independiente, con algunos años a su espalda, se puede encontrar fácilmente por un puñado de míseros euros en casi cualquier plataforma, por lo que la relación calidad/precio tiende a infinito.</p>
