---
layout: post
title: "Fotos de ayer y de hoy"
summary: "De siempre me ha encantado mirar fotos de lugares. Fotos antiguas y fotos recientes. Y mucho más interesante resulta poder contemplar el mismo lugar con el paso del tiempo, comparando fotos realizadas con la misma perspectiva en distintos momentos temporales."
header_image: /uploads/2009/05/368733.jpg
main_image: /uploads/2009/05/368733.jpg
text_date: Domingo,  3 de mayo de 2009
tags: [fotografía,personal]

---
<p>De siempre me ha encantado mirar fotos de lugares. Fotos antiguas y fotos recientes. Y mucho más interesante resulta poder contemplar el mismo lugar con el paso del tiempo, comparando fotos realizadas con la misma perspectiva en distintos momentos temporales.</p>

<p>Luis Pérez hace algo parecido en su blog, en la sección "<a href="http://luipermom.wordpress.com/category/fotografia/alcala-de-henares-ayer-y-hoy/">Alcalá de Henares Ayer y Hoy</a>". A mí me gustaría hacer algo parecido, si tuviera tiempo... De momento me conformo con una prueba que hice hace algún tiempo a partir de una foto que encontré en el <a href="http://www.20minutos.es/museo-virtual/foto/1144/">Museo Virtual de 20minutos.es</a>.</p>
{% include 'components/image.twig' with {'src': '/uploads/2009/05/368733.jpg', 'alt': '', 'position': 'center'} %}

<p>Conozco perfectamente el sitio. ¡Y tanto! Es justo enfrente de la casa de mis padres. Así que me bajé la cámara e hice la siguiente foto.</p>
{% include 'components/image.twig' with {'src': '/uploads/2009/05/117590242-b58e2d16e1-b.jpg', 'alt': '', 'position': 'center'} %}

<p>El barrio ha cambiado mucho en estos últimos 30 años. A ver si saco un hueco para rescatar fotos propias antiguas y hacer la versión moderna.</p>

<p>Si os gusta este tema, os propongo algunos enlaces interesantes:</p>
<ul><li><a href="http://gestiona.madrid.org/nomecalles/Inicio.icm">Nomecalles</a>, ofrece un mapa con fotos por satélite (como Google Maps u otros servicios) con la particularidad de que también se pueden consultar fotos antiguas.</li>
<li><a href="http://kurioso.wordpress.com/2009/03/16/madrid-entre-ayer-hoy/">Madrid entre ayer y hoy</a>, montajes hechos con fotos antiguas y modernas.</li>
</ul>
