---
layout: post
title: "Juegos: Journey (PS4)"
summary: "Un ¿juego? que nos propone un viaje muy especial a los mandos de nuestra consola."
header_image: /uploads/2017/02/journey-cabecera.png
main_image: /uploads/2017/02/journey-psstore.png
tags: [análisis videojuegos, playstation 4, playstation plus]
widgets: [now-playing]
---

<p>No tengo muy claro cómo enfocar esta reseña. Desde luego que <a href="http://thatgamecompany.com/games/journey/">Journey</a> es un videojuego diferente. Tanto que hasta me he planteado si debería calificarlo como videojuego. Algo dentro de mí me empuja a no hacerlo, pero si lo pienso fríamente, no tengo argumentos. Diría que Journey es una experiencia audiovisual interactiva. Pero, ¿acaso no es esa la definición de un videojuego?</p>

<p>Journey es un título que apareció durante el ya lejano 2012 y que fue protagonista de titulares en los medios especializados precisamente por ofrecer una propuesta tan diferente a lo habitual. La verdad es que tenía curiosidad por probarlo, sin haber leído demasiado sobre él, sólo por el revuelo que había causado. Pero me daba pereza pagar por él, teniendo tantos otros juegos pendientes. No obstante, hace un par de meses (creo) llegó a mi biblioteca de juegos gracias a los "alquileres" de PlayStation Plus. En concreto, la remasterización para PS4, ya que el original fue lanzado para PlayStation 3. Como sabéis, los juegos que Sony "regala" mensualmente no son tal, sino que sólo están disponibles mientras mantengas tu suscripción al corriente de pago. De todos los que llevo acumulados, éste es el primero que pruebo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/02/journey-psstore.png', 'alt': 'Journey: PlayStation Store', 'position': 'center'} %}

<p>Como su propio nombre indica, Journey nos propone un viaje de algo menos de dos horas de duración. Un viaje hacia una alta cumbre que, al principio, aparece en el horizonte del paisaje. Las mecánicas de nuestro avatar son bastante simples: caminar, saltar y recoger fragmentos de una especie de pañuelo que hará que nuestros saltos puedan hacernos llegar más alto. También tendremos que resolver algunos puzzles de poca enjundia para ir avanzando.</p>

<p>Las indicaciones que da el juego sobre la mecánica son mínimas pero intuitivas. Con todo y con eso, no es necesario consultar el manual de instrucciones. Que, como en todos los juegos de descarga digital (y cada vez más los físicos, por desgracia) es una simple página web.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/02/journey-instrucciones.png', 'alt': 'Journey: "manual de instrucciones"', 'position': 'center'} %}

<p>La dirección artística es muy buena, tanto visual como sonoramente, y se me antoja que conforma la base de esta experiencia. Por eso me resisto a calificarlo como un videojuego al uso. No por su definición formal, como comentaba anteriormente, sino por la sensación que transmite. Completar nuestro viaje no supone ningún desafío más que dedicarle el tiempo requerido. Yo apenas lo he completado en un par de sesiones, y mucha gente lo hará del tirón. Su rejugabilidad depende más de nosotros que del propio juego. Si bien se integra con el sistema de trofeos de la consola, salvo que queramos aspirar al 100% tampoco tenemos mucho más que hacer.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/02/journey-trofeo-final.png', 'alt': 'Journey: trofeo por acabar el viaje', 'position': 'center'} %}

<p>Un detalle que sí que me ha gustado es que encontraremos durante nuestro periplo a otros viajeros online con los que coincideremos en los diferentes escenarios, si bien no disponemos de herramientas para comunicarnos con ellos. Sus nombres aparecerán al finalizar la aventura.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/02/journey-companeros.png', 'alt': 'Journey: compañeros de viaje', 'position': 'center'} %}

<p>En resumen, una experiencia diferente que dudo que hubiera probado si hubiera tenido que pagar explíctamente por ella (obviamente pago la cuota de PS+, así que gratis, gratis no me ha salido). Artísticamente se le pueden hacer pocos reproches, pero yo no formo parte de su público objetivo. Eso sí, su <a href="https://www.youtube.com/watch?v=M3hFN8UrBPw">preciosa banda sonora</a> ya está ocupando un lugar preferente en mi iPod. La podéis <a href="http://austinwintory.bandcamp.com/album/journey-bonus-bundle">descargar gratuitamente</a> de la web.</p>
