---
layout: post
title: "¡Hasta siempre, Zotac! Gracias por todo"
summary: "Llegó la hora de jubilar el hardware que empleo como mediacenter. Adiós Zotac, hola Raspberry Pi 3."
header_image: /uploads/2017/07/zotac.jpg
main_image: /uploads/2017/07/zotac.jpg
tags: [cacharreo, hardware, mediacenter, ordenadores, personal]

---
<p>Por fin ha llegado el momento de renovar el hardware que empleo como mediacenter, que ha estado sirviendo fielmente durante más de 6 años, las 24 horas al día. Este momento <a href="/2016/01/mantenimiento-del-mediacenter-zotac-zbox.html">ya se veía venir desde hace un año y medio</a> e, irremediablemente, ha llegado.</p>

<p>Cuando adquirí este Zotac como mediacenter, bastaba con adquirir un disco duro y memoria de la capacidad que deseásemos, así como instalar un sistema operativo de nuestra elección para echarlo a andar. En su momento compré un disco de 500 gigas y 2 gigas de RAM, que eran cantidades más que suficientes para el uso que le iba a dar, como así se ha demostrado durante todos estos años. Como sistema operativo, Ubuntu en diferentes versiones, siempre con <del>XBMC</del> Kodi como software principal. Como veis, el cacharrito está muy bien equipado en cuanto a posibilidades de conectividad.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/07/zotac-caracteristicas.jpg', 'alt': 'Características Zotac', 'position': 'center'} %}

<p>Realmente el equipo todavía es funcional, pero el ruido del ventilador ha vuelto a aparecer en relativamente poco tiempo y volver a reemplazarlo no hará otra cosa que ocultar durante unos meses un problema recurrente. Parece claro que no está diseñado para estar 24 horas encendido.</p>

<p>Así que, disponiendo de una Raspberry Pi que adquirí en el pasado "Black Friday", voy a proceder a su relevo. Sólo he tenido que añadir una "tarjeta de sonido" para poder disponer de una salida óptica que conectar a mi equipo 5.1, una cajita para resguardar ambas placas y un <em>hub</em> USB alimentado para poder dar potencia a los dos (que serán tres) discos duros externos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/07/rpi.jpg', 'alt': 'Raspberry Pi 3 como mediacenter', 'position': 'center'} %}

<p>Espero sacar tiempo para explicar cómo he montado todo el invento. Pero tampoco prometo nada; también tenía esa idea  cuando instalé el Zotac y, después de esos más de 6 años, no ha pasado más que de un texto en borrador en mi disco duro. Eso sí, esas notas que tomé me han servido en su mayoría para configurar la Raspberry.</p>

<p>En fin, amigo Zotac, gracias por todos los momentos vividos. De momento te guardaré en tu embalaje original que todavía conservo y espero encontrar para ti algún uso interesante en el futuro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/07/zotac.jpg', 'alt': 'Zotac ZBox HD-ID11', 'position': 'center'} %}
