---
layout: post
title: "Expo Wars"
summary: "Visitamos la exposición de material privado de Star Wars con motivo del estreno de 'Los Últimos Jedi'. Demasiado cara para lo que ofrece."
header_image: /uploads/2017/12/expo-wars.jpg
main_image: /uploads/2017/12/expo-wars.jpg
tags: [exposiciones, personal, star wars]
---

<p>Uno de los regalos que me hizo mi mujer por mi cumpleaños fueron las entradas para ir juntos a ver <a href="http://expowars.es/">Expo Wars</a>. Se trata de una exposición que, oportunamente, se ha hecho coincidir con el estreno de la última película de la saga: "Los Últimos Jedi".</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/12/expo-wars-entradas.jpg', 'alt': 'Entradas Expo Wars', 'position': 'center', 'caption': 'Entradas Expo Wars'} %}

<p>En la exposición, que se ha montado en uno de los vestíbulos del <del>Palacio de los Deportes</del> Wizink Center, podemos contemplar diversas figuras de personajes y naves de las películas, así como algunas fotos firmadas por los actores protagonistas. Todo el material, tengo entendido, proviene de varias colecciones privadas. Por tanto, no es una exposición auspiciada por la propia Lucasfilm.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/12/expo-wars-lucha-en-el-trono.jpg', 'alt': 'Lucha ante el trono del Emperador', 'position': 'center', 'caption': 'Lucha ante el trono del Emperador'} %}

<p>Aunque la exposición me ha gustado, me ha parecido un tanto escueta, y más teniendo en cuenta el precio de las entradas (14 euros por persona). Apenas nos ha llevado 15 ó 20 minutos visitarla por completo a un ritmo muy pausado. Supongo que el sitio es caro de alquilar, y tampoco había ninguna venta de merchandising con la que incrementar los ingresos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/12/expo-wars.jpg', 'alt': 'Diorama de Tatooine', 'position': 'center', 'caption': 'Diorama de Tatooine'} %}

<p>Creo que, de haberlo sabido con anterioridad, no hubiera hecho por asistir. Y es que en mi memoria todavía estaba la <a href="http://www.europapress.es/nacional/noticia-star-wars-the-exhibition-reunira-madrid-total-250-piezas-utilizadas-saga-george-lucas-20081107114343.html">Star Wars Exhibition</a> que tuvo lugar a finales de 2008 y principios de 2009 en el centro de exposiciones Arte Canal. Aquella sí que fue una exposición "oficial" y, en cualquier caso, mucho más interesante que ésta.</p>

<p>Os dejo un <a href="https://photos.app.goo.gl/AAhv1jR7b6ATrzP98">enlace al álbum de fotos que hicimos</a>. Y, de propina, otro al <a href="https://photos.app.goo.gl/o6pTisPAJmuqDhLb6">álbum de las que hice en su día en la Star Wars Exhibition</a>.</p>

<p>En resumen, mejor gastarse el dinero en el <a href="https://vandal.elespanol.com/juegos/ps4/star-wars-battlefront-ii/39008">Battlefront II</a>, por ejemplo. O en ver la última película, si no lo habéis hecho.</p>

<p>Bonus track: Las erratas me persiguen.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/12/expo-wars-erratas.jpg', 'alt': 'Expo Wars: busca la errata', 'position': 'center', 'caption': 'Expo Wars: busca la errata'} %}
