---
layout: post
title: "San Silvestre Las Rozas 2017"
summary: "Un año más, y van siete desde 2011, despedimos el año corriendo."
header_image: /uploads/2017/12/dorsales-san-silvestre-las-rozas-2017.jpg
main_image: /uploads/2017/12/dorsales-san-silvestre-las-rozas-2017.jpg
tags: [carreras, personal]
---

<p>Terminamos el año con dos entradas en el blog, evento que no sé si ha ocurrido alguna vez en sus años de historia y que, desde luego, cada vez sería más raro que ocurriese, visto el pobre ritmo de publicación que llevo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/12/dorsales-san-silvestre-las-rozas-2017.jpg', 'alt': 'Dorsales San Silvestre Las Rozas 2017', 'position': 'center', 'caption': 'Dorsales San Silvestre Las Rozas 2017'} %}

<p>Pero no podemos terminar el año sin nuestra ya tradicional carrera de San Silvestre, y ya van siete con la de este año. Seguimos abonados a la <a href="/2016/12/san-silvestre-las-rozas-2016.html">cita de Las Rozas</a> por los mismos motivos que años anteriores: horario y ubicación. Además, en esta ocasión han añadido una nueva distancia de 5 kilómetros, que a Patricia le ha venido muy bien porque el año pasado la rodilla le dio la lata en la distancia de 10 y este año no quería arriesgar.</p>

<p>Ayer fuimos a por los dorsales y la bolsa del corredor venía con el tradicional "alpiste para pájaros" y un paquete de pasta para cocinar, que servirá para comer algún día en el curro. Las camisetas de este año han sido de color verde.</p>

<p>Por lo demás, buen ambiente. El speaker ha comentado que es la segunda carrera de la Comunidad de Madrid en cuanto a número de corredores, sin dar el dato exacto. En cualquier caso, el ritmo en la carrera, por lo general, ha sido bastante lento. Supongo que se habrá apuntado mucha gente que no suele correr y a la que hasta un 10.000 se le hace cuesta arriba, lo cual está muy bien para que todo el mundo tenga su oportunidad.</p>

{% include 'components/image.twig' with {'src': '/uploads/2017/12/ambiente-san-silvestre-las-rozas-2017.jpg', 'alt': 'Ambiente San Silvestre Las Rozas 2017', 'position': 'center', 'caption': 'Ambiente San Silvestre Las Rozas 2017'} %}

<p>Como punto negativo, ha vuelto la niebla y el frío de hace un par de años. Además, al ser la distancia más corta, el recorrido no pasaba por el pueblo sino que se limitaba exclusivamente al Pinar de Las Rozas. Y otra cosa que ha cambiado es que la meta no estaba ubicada dentro del estadio de atletismo, una sensación que siempre gusta.</p>

<p>Pero bueno, nuestro objetivo era mantener la tradición de despedir el año juntos con una carrera popular de San Silvestre y así ha sido. Ya veremos qué nos depara el año que viene (que, además, ya no cae en fin de semana). Dejo la marca, 33'53" como una simple referencia, para que quede constancia. Ya sabéis que es lo de menos.</p>

<p>Que paséis buena noche y os deseo un muy feliz 2018.</p>
