---
layout: post
title: "Título del post"
summary: "Resumen del post"
header_image: /uploads/1970/01/imagen-de-cabecera.jpg
main_image: /uploads/1970/01/imagen-principal-usada-en-metadatos.jpg
tags: [tag_1, tag_2, tag_3]
draft: true

---
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu mauris, laoreet sed aliquet at, finibus nec turpis. Maecenas in varius urna, sit amet facilisis ex. Praesent vulputate egestas metus quis sagittis. Duis in elit diam. Phasellus sagittis leo quis pellentesque pharetra. Mauris gravida, sem a laoreet rutrum, tellus eros posuere purus, eu malesuada tortor nisl non massa. Fusce pellentesque purus vitae ante venenatis sodales. Sed ultricies odio eget vehicula posuere. Phasellus in interdum urna. Praesent tristique et orci vitae ullamcorper. Ut lorem ligula, varius scelerisque malesuada sit amet, iaculis vitae nibh. Suspendisse magna enim, dictum non nisi eget, ultricies cursus neque. Pellentesque porttitor at sem ut consectetur. Vestibulum vitae orci cursus, suscipit metus sit amet, aliquam tortor.</p>

{% include 'components/image.twig' with {'src': '/uploads/1970/01/img-fluid.jpg', 'alt': 'Ésta es una imagen centrada con comportamiento responsive', 'position': 'center'} %}

<p>Suspendisse pulvinar ut dolor sit amet feugiat. Vestibulum convallis lobortis leo, ut pharetra mi ornare sed. Integer eget mauris euismod, tincidunt nisl vitae, auctor nisl. Nam nibh quam, aliquam vitae congue ut, rutrum vitae erat. Curabitur sed consectetur quam. Maecenas ornare feugiat volutpat. Pellentesque sit amet convallis nibh.</p>

<p>A continuación, un vídeo embebido con formato 16/9 y comportamiento responsive</p>
<div class="embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.youtube.com/embed/IbzgJF53LRI" frameborder="0" allowfullscreen></iframe></div>

<p>Aenean ligula sapien, rutrum nec tellus at, sagittis tristique dui. Fusce facilisis orci ex, non consectetur dui imperdiet at. Proin tellus nunc, consectetur et mi eget, malesuada vestibulum enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Curabitur sagittis tellus quam. Etiam sit amet urna vitae metus convallis maximus. Mauris at blandit lacus, eu varius nulla.</p>

<p>Eliminar el parámetro draft = true para publicar el post.</p>
