---
layout: post
title: "Juegos: The Legend Of Zelda Link's Awakening (Nintendo Switch)"
summary: "Remake de un clásico de una saga que, si te gusta, hay que jugarlo sí o sí"
header_image: /uploads/2026/01/tloz-links-awakening-switch-cabecera.jpg
main_image: /uploads/2026/01/tloz-links-awakening-switch.jpg
tags: [análisis videojuegos, nintendo switch, remake, zelda]
widgets: [now-playing, zelda]
---

<p>Parece mentira que hayan pasado más de 6 años desde que compré el juego y no haya sido hasta ahora cuando he encontrado el momento de ponerme con él. Lo compré en 2019, en su edición coleccionista, que, además de costarme 80 pavazos, me costó un triunfo encontrar. Era una época loca en la que cada edición especial tenía un precio superior a la anterior y que, aun así, se agotaba como pan caliente. Supongo que seguiremos igual, pero yo ya me he bajado de ese tren. Lo de que las ediciones coleccionista de ahora, en pleno declive del formato físico, son las ediciones normales de antaño, lo dejamos para otro día.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/01/tloz-links-awakening-switch-titulo.jpg', 'alt': 'Pantalla de título', 'position': 'center'} %}

<p>Es un remake del clásico que se lanzó para Game Boy allá por 1993, aunque la edición física que yo poseo es la DX, una actualización que se lanzó en 1998, al calor de la, por aquel entonces, nueva Game Boy Color, y que incorporaba color en sus gráficos y una nueva mazmorra por explorar. Si os digo lo que pagué por ella en 2011, os da la risa. Ahora te piden lo que quieran —aunque probablemente unas 3 veces más sería un precio justo—. Por otra parte, parece mentira que Nintendo fuera capaz de meter este juego en una Game Boy, pero lo hizo. Tiene poco que envidiar a <a href="/2021/03/juegos-the-legend-of-zelda-a-link-to-the-past-snes.html">A Link to the Past</a>, corriendo en un hardware muchísimo más modesto. Precisamente, uno de los motivos que me ha llevado a postergar su disfrute ha sido su mal rendimiento en algunos momentos. Y es que, amigos, se han perdido las buenas costumbres de optimizar los juegos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/01/tloz-espada.jpg', 'alt': 'El momento de recuperar la espada siempre es especial', 'position': 'center'} %}

<p>Ahora que tengo la Nintendo Switch 2, y que han lanzado un parche de actualización gratuito para esta consola, sí que me he lanzado a disfrutarlo. Y lo he hecho como un enano. Han sido 17 horas —entre el 9 y el 27 de enero de 2026— de “auténtica experiencia Zelda” —la clásica, no la de Breath of the Wild y su secuela—. Y no es un “ataque gratuito”. A Tears of the Kingdom le he metido más de 90 horas y lo dejé a medias por aburrimiento. No es este el caso, sino todo lo contrario. La exploración no se ha hecho pesada, las mazmorras han resultado muy entretenidas y variadas, y las conversaciones con los NPC tenían sentido, ya que una de las misiones transversales consiste en ir intercambiando objetos con ellos. Normalmente, nos pedirán algo que necesitan y, cuando se lo llevemos, nos darán algo a cambio, que será solicitado por otro personaje. Así, iremos encadenando trueques.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/01/tloz-enemigos.jpg', 'alt': 'No faltarán los bosses de las mazmorras', 'position': 'center'} %}

<p>Los enemigos de cada mazmorra son bastante asequibles, pero algunos tienen su gracia. Las dos últimas mazmorras me han costado un poco más, pero no es el caso de esos juegos que inclinan exponencialmente la curva de dificultad al llegar al final. Un poco más de atención, maña y pensamiento lateral, y se superan sin problema.</p>

<p>Al ser, digamos, un <em>spin-off</em> de la saga —al menos en cuanto a historia—, la trama resulta autoconclusiva, y tampoco es que aporte demasiado. En esta ocasión, ni siquiera hay una princesa a la que ayudar. Navegando por el mar, una tormenta nos hace naufragar y vamos a parar a la playa de una isla. No os cuento más: tenéis que jugarlo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/01/tloz-animal-crossing.jpg', 'alt': 'El nuevo estilo gráfico, a lo Animal Crossing, le sienta realmente bien', 'position': 'center'} %}

<p>Esta versión del juego incluye la <a href="https://zelda.fandom.com/es/wiki/Mazmorra_del_Color">mazmorra extra de la versión de GBC</a> y la posibilidad de crear y jugar nuestras propias mazmorras. Pero no esperéis algo al nivel de Mario Maker: es una funcionalidad algo más limitada, solo se puede acceder entrando en una de las casas del mundo del juego y la manera de compartir mazmorras con otros es almacenándolas en un amiibo. El juego tiene un final secreto si cumplimos con cierto requisito, y tampoco he encontrado todos los objetos coleccionables, ni falta que hace para terminarlo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/01/tloz-club-nintendo.jpg', 'alt': 'El teléfono de ayuda me parece un gran homenaje al Club Nintendo de la época pre Internet', 'position': 'center'} %}

<p>La mayoría del tiempo he jugado en modo portátil, aprovechando la generosa pantalla de la Switch 2, cosa que mis ojos agradecen. De hecho, ya al final lo probé en el monitor 4K y casi me pareció que se veía “raro”; demasiada definición.</p>

<p>Así que otro Zelda para la saca. Otro que me ha gustado. Ya van quedando menos.</p>
