---
layout: post
title: "Juegos: Princess Peach Showtime (Nintendo Switch)"
summary: "Veamos que nos ofrece este título protagonizado por la Princesa Peach"
header_image: /uploads/2026/02/princess-peach-showtime-switch-cabecera.jpg
main_image: /uploads/2026/02/princess-peach-showtime-switch.jpg
tags: [análisis videojuegos, nintendo switch, peach]
widgets: [now-playing]
---

<p>Aunque suelo hacerme con casi todos los títulos <em>first-party</em> de Nintendo, reconozco que compré este juego pensando más en mis hijos que en mí mismo. Sin embargo, al final he acabado jugándolo y, aunque no va a ser mi juego favorito del año, su enfoque tranquilo, su baja dificultad y su duración contenida —8 horas— me han hecho pasar un buen rato.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/02/princess-peach-showtime-switch-titulo.jpg', 'alt': 'Pantalla de título', 'position': 'center'} %}

<p>La diferencia con otros juegos relajados, como los de la saga Yoshi, es que, en este, la princesa Peach irá poniéndose diferentes disfraces que le permiten interpretar a distintos personajes —el juego tiene lugar en un teatro—. Cada personaje tiene sus propias habilidades, lo que se traduce en diferentes mecánicas jugables.</p>

<p>No es el primer juego de la princesa que comento por aquí, pero sí que ha llovido mucho desde que hablé de aquel <a href="/2010/10/juegos-super-princess-peach-nintendo-ds.html">Super Princess Peach</a> para Nintendo DS.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/02/princess-peach-showtime-disfraces.jpg', 'alt': 'Cada uno de los disfraces implica nuevas mecánicas de juego', 'position': 'center'} %}

<p>Cada escenario tiene su propio traje —en realidad, hay más escenarios que trajes—, pero tendremos que usar todos ellos para completar el juego. A lo que me refiero es a que no es como otros títulos en los que empleamos más las habilidades que se adaptan mejor a nuestro estilo de juego. Aquí, cada escenario tiene su traje; esto es, sus mecánicas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/02/princess-peach-showtime-bosses.jpg', 'alt': 'No faltarán jefes finales a los que tendremos que enfrentarnos', 'position': 'center'} %}

<p>La dificultad es baja, creo que apta para los más pequeños de la casa. Aunque es cierto que, en algunos puntos, he llegado a atascarme un rato porque no sabía qué tenía que hacer. Solo hay tres botones en uso: salto, acción y pose. Las mecánicas, como he comentado, son de lo más variado: desde las más plataformeras, como el traje de ninja, hasta la de detective o la de repostera. Seguro que reconoceremos situaciones vistas en otros juegos; es lo que tiene esta mezcla de estilos.</p>

<p>Probablemente tendremos que repetir algunos escenarios para recolectar todos los objetos. Yo no lo he hecho antes de acabar con la enemiga final y ver los títulos de crédito. Pero, como es habitual, después se abre la opción de seguir jugando en modo completista, pudiendo repetir cualquiera de las fases hasta descubrir todos sus secretos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/02/princess-peach-showtime-fin-fase.jpg', 'alt': 'Una cosa es pasarse cada fase y otra, bien distinta, es recopilar todos sus secretos', 'position': 'center'} %}

<p>No sé en la Switch; he leído que presenta algunos pequeños problemas de rendimiento. Desde luego, en la Switch 2 va muy fino. Sin llegar, eso sí, al tope gráfico que alcanzan otros juegos más ambiciosos de la compañía.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/02/princess-peach-showtime-creditos.jpg', 'alt': 'Pantalla de título', 'position': 'center'} %}

<p>Una experiencia un poco diferente, tranquila y fácil, pero también disfrutable si no se le ponen expectativas demasiado elevadas.</p>
