---
layout: post
title: "Juegos: Ryse Son Of Rome (Xbox One)"
summary: "Un título de romanos, espectacular en lo visual, pero que hace aguas en lo jugable"
header_image: /uploads/2026/04/ryse-son-of-rome-xboxone-cabecera.jpg
main_image: /uploads/2026/04/ryse-son-of-rome-xboxone.jpg
tags: [análisis videojuegos, crytek, microsoft, xbox one]
widgets: [now-playing]
---

<p>Es cierto que mi primera intención al hacerme con la Xbox One era, principalmente, jugar con capacidades mejoradas a los títulos retrocompatibles de Xbox y Xbox 360. Pero a nadie le amarga un dulce, y, aunque la mayor parte del catálogo la tengo cubierta con juegos multiplataforma que ya poseo en PlayStation, hay un puñado de exclusivos que sí que me hacían ojitos, y justo ahora creo que es un buen momento para hacerse con ellos a buen precio. Uno de los que me llaman la atención es, precisamente, Ryse: Son of Rome.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/04/ryse-menu-campana.jpg', 'alt': 'La campaña se divide en 8 actos', 'position': 'center'} %}

<p>En este caso voy a intentar ser breve con la crónica, así que voy a ir al grano, citando los aspectos más relevantes. Visualmente, es muy resultón. Pero, en cuanto a mecánicas, resulta muy pobre. El combate es tremendamente repetitivo, y la acción es un pasillo: iremos avanzando en la trama sin remisión. No hay exploración, más allá de recoger algunos objetos coleccionables, ni misiones secundarias. La trama, por cierto, le da cien patadas a los libros de historia, ya que los personajes que se presentan, pese a que algunos de ellos existieron en la realidad, aparecen con relaciones inventadas o en períodos históricos que no les corresponden.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/04/ryse-ambientacion.jpg', 'alt': 'La ambientación gráfica nos sumerge en el Imperio Romano como pocos juegos habían conseguido hasta el momento', 'position': 'center'} %}

<p>He leído que el proyecto <a href="https://www.vidaextra.com/accion/igual-no-recuerdas-ryse-of-rome-comenzo-siendo-proyecto-para-xbox-360-aqui-tienes-prueba-8-minutos">se inició en Xbox 360</a>, pero luego se movió a Xbox One. Quizás sea ese el motivo: le pudieron dedicar más recursos a los gráficos, pero la jugabilidad no se ajustó ni se añadieron nuevas características.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/04/ryse-historia.jpg', 'alt': 'La historia, además de mezclar elementos sobrenaturales, es totalmente inventada', 'position': 'center'} %}

<p>Me lo he tomado con calma, ya que empecé a jugarlo el 29 de enero. Por desgracia, parece que este juego no registra estadísticas de tiempo, así que no tengo el dato exacto. Pero, si hacemos caso de <a href="https://howlongtobeat.com/game/14345">Howlongtobeat</a>, indica que anda sobre las 7 horas. Es una cifra que me cuadra.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/04/ryse-combate.jpg', 'alt': 'El combate se hace demasiado monótono y repetitivo', 'position': 'center'} %}

<p>El juego me ha dejado un regusto agridulce, ya que el planteamiento podría haber dado mucho más de sí. Ojo, por si no ha quedado claro: no me quejo de que sea un juego corto, sino de que su desarrollo sea totalmente lineal —lo cual tampoco es un defecto en sí mismo—, pero, al ser tan repetitivo, llega a hacerse pesado. Ojalá hubiera más juegos de acción de romanos.</p>