---
layout: post
title: "Estado del blog en 2026"
summary: "Metapost para comentar el estado actual del blog"
header_image: /uploads/2026/07/estado-blog-2026-cabecera.jpg
main_image: /uploads/2026/07/estado-blog-2026.jpg
tags: [blog, metapost, personal]
---

<p>Estado del blog: <strong>"catatónico"</strong>. Podría resumirlo con esta palabra y quedarme tan ancho.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/07/estepicursor.gif', 'alt': 'Vacío. La nada...', 'position': 'center'} %}

<p>El caso es que <a href="/2023/10/situacion-del-blog-en-2023.html">ya pasé por una etapa similar hace unos años</a>. Me he tirado <strong>casi 9 meses sin actualizarlo</strong>. Tenía varios posts escritos a medias, o simplemente esbozados. Pero no terminaba de encontrar el tiempo ni las ganas de redactarlos en condiciones, poner las imágenes en el caso de los análisis de videojuegos, buscar los enlaces, revisarlos, corregirlos y publicarlos. Al final del año pasado me dejé llevar, y la primera mitad de este año ha sido muy intensa. Entre el trabajo, la familia y algún que otro proyecto, he llegado a junio con la lengua fuera.</p>

<p>No sé si seré capaz de salir de esta inacción, o finalmente terminará muriendo. Me gustaría pensar que no, pero sólo el tiempo lo dirá. Ahora bien, si tengo que ceñirme a los hechos, hagamos un repaso:</p>

<ul>
    <li><strong>Costes de mantenimiento</strong>: ahora mismo sólo tengo que pagar la anualidad del dominio falvarez.es. El alojamiento me lo brinda amablemente el equipo de <a href="https://www.speccy.org/">speccy.org</a>. Esto no supone un problema.</li>
    <li><strong>Ganas de escribir</strong>: en estos tiempos de IA, me estoy aferrando a intentar redactar de mi puño y letra —o, más bien, de mi dedo y tecla— la mayor cantidad de texto que puedo. Escribir implica pensar. Y cuando dejas de pensar, el cerebro se atrofia. El blog me ofrece la mejor excusa para escribir sobre cualquier tema, aunque no lo lea nadie.</li>
    <li>Hablando de IA, estoy empezando a usar <a href="https://opencode.ai/">Opencode</a> como herramienta para agilizar algunas tareas domésticas de programación. Gracias a ello, en un rato, he conseguido modernizar el entorno de desarrollo del blog y hacerlo un poco más amigable. Eso reduce también la fricción a la hora de ponerme a escribir.</li>
    <li>Me he comprado un ordenador nuevo. <a href="/2012/07/primeros-pasos-con-mac-osx.html">Mi antiguo equipo ya cumplió 14 años</a>, y aunque lo he estirado al máximo posible, los últimos años ya he estado usando principalmente el ordenador de la empresa (con su permiso). Sin embargo, el (pequeño) tamaño de su disco duro y las últimas certificaciones de seguridad que se están implementando corporativamente, ya hacía insostenible la situación. Un ordenador nuevo siempre supone un chute de motivación a la hora de emprender nuevos proyectos o, más en mi caso, retomar los que tenía abandonados o a medio gas.</li>
    <li>Seguiré jugando, leyendo y viendo películas, y seguiré dejando constancia por aquí, con mayor o menor extensión y detalle. Ese fue el motivo del nacimiento de este blog, y uno de los que lo ayudan a seguir vivo, pese a que Internet ha cambiado casi por completo en estos más de 20 años.</li>
</ul>

<p>Tampoco ayuda que el blog <a href="https://www.google.com/search?q=site%3Ablog.falvarez.es">haya desaparecido por completo de Google</a>. No sé qué demonios ha pasado. La <em><a href="https://search.google.com/search-console/about">Search Console</a></em> no da pistas. O, si las da, no sé interpretarlas. Si antes ya había pocas posibilidades de que alguien leyera esto, ahora se acercan peligrosamente a cero. Bien es cierto que nunca he escrito aquí pensando en hincharme a visitas y lectores. Lo hago principalmente por mí. Con todo y con eso, es triste estar condenado al ostracismo sin siquiera ser consciente del pecado cometido. Y más después de 22 años de vida. Pocas páginas en Internet pueden presumir de tanta longevidad.</p>

{% include 'components/image.twig' with {'src': '/uploads/2026/07/blog-desindexado-de-google.jpg', 'alt': 'Si no estás en Google no existes', 'position': 'center'} %}

<p>Además, este problema tiene un efecto colateral: el <a href="/search.html">buscador interno del blog</a> está basado en Google. Así que, como bien habéis podido deducir, ahora mismo no sirve para nada. Veámoslo por el lado positivo, esto me supone un empujón para implementar, por fin, un buscador interno propio, y devolverle a Google su misma indiferencia. Por lo menos, <strong>en el resto de buscadores los contenidos siguen estando indexados</strong>. Quien no se consuela es porque no quiere.</p>

<p>No sé, quiero pensar que <strong>el vaso está medio lleno</strong>.</p>