---
layout: post
title: "Lecturas: Neun"
summary: "Un regalo inesperado de los Reyes Magos de este año que me ha sorprendido gratamente."
header_image: /uploads/2021/01/neun.jpg
main_image: /uploads/2021/01/neun.jpg
last_update_date: 2022-01-29
tags: [lecturas, manga, nazis, tsutomu takahashi, ucronía]
widgets: [now-reading]

---

<p>Estas pasadas navidades estaba cotilleando por la sección de libros y cómics de la FNAC cuando la portada de un manga me llamó la atención. ¡Un manga de nazis! Puede estar bien. Y se ve que alguno de los Reyes Magos estaba sintonizando mi frecuencia, porque el 6 de enero fue uno de los regalos que me cayeron. Se trata de Neun, de <a href="https://ramenparados.com/persona/tsutomu-takahashi/">Tsutomu Takahashi</a>.</p>

<p>El pasado sábado aproveché que tuve que coger el transporte público (debido a la gran nevada), para llevármelo y darle una lectura. Bueno, en realidad, para leérmelo entero, que es lo que tienen los mangas; en un rato te los ventilas. Quizás por eso no he seguido de mayor con esa afición que tenía de pequeño por los tebeos; leo tan rápido que tendría la casa repleta de ellos y la cartera vacía.</p>

<p>Yo no entiendo mucho de esto, pero el estilo de los dibujos me parecía un poco alejado de los mangas que he leído hasta la fecha. Me encantaría que alguien me pudiese ilustrar al respecto, porque igual estoy diciendo una tontería. Y la historia está bien, una ucronía en la que, obviamente, el punto de partida trata de captar tu interés, pero habrá que ver cómo se desarrolla. De primeras no hay nada muy sorprendente hasta que en una página te encuentras esto:</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/01/neun-chica.jpg', 'alt': 'Una exuberante chica', 'position': 'center'} %}

<p>Y piensas: "bueno, ya están los japoneses con sus perversiones, que siempre decimos de las películas españolas, y no somos los únicos". Lo tomas como una licencia artística y sigues leyendo, hasta que, ¡oh, sí! ¡Esto sí que mola!</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/01/neun-chica-nazi-katana.jpg', 'alt': 'Una exuberante chica... con una katana', 'position': 'center'} %}

<p>¿Una espía en la Alemania nazi con ascendencia japonesa y una katana? Esto sí que no me lo esperaba. ¿Para cuando dices que sacan el videojuego?</p>

<p>Parece que <a href="https://www.normaeditorial.com/catalogo/manga/serie/neun2">Norma Editorial</a> ha empezado la traducción de este manga hace relativamente poco tiempo, y de los seis tomos de los que consta (si no me equivoco), de momento sólo han traducido tres. Así que habrá que tener paciencia e ir adquiriéndolos según los vayan publicando. De momento ya tengo el segundo.</p>

<h3>Actualización 29 de enero de 2022</h3>

<p>Como era de prever, finalmente me he hecho con los seis tomos. He dejado mis impresiones en <a href="/2022/01/lecturas-neun-1-6.html">esta entrada del blog</a>.</p>
