---
layout: post
title: "Juegos: Little Nightmares (PS4)"
summary: "Juego independiente con una ambientación muy particular y una mecánica minimalista, que me ha entretenido sin llegar a cautivarme."
header_image: /uploads/2021/02/little-nightmares-cabecera.jpg
main_image: /uploads/2021/02/little-nightmares.jpg
tags: [análisis videojuegos, bandai namco, indie, playstation 4, tarsier studios]
widgets: [now-playing]

---

<p><a href="https://es.bandainamcoent.eu/little-nightmares/little-nightmares">Little Nightmares</a> es un juego independiente de Tarsier Studios, publicado por Bandai Namco allá por el año 2017. Yo no lo conocía, como tantos otros juegos, tanto independientes como de gran presupuesto y compañías grandes. Atrás, muy atrás, quedaron los tiempos del Spectrum en los que me sabía de carrerilla tanto los nombres la mayoría de los juegos existentes como de sus programadores y las compañías editoras.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/02/little-nightmares-capitulos.jpg', 'alt': 'Podremos rejugar capítulos terminados para obtener todos los secretos (y trofeos de PSN)', 'position': 'center'} %}

<p>Mi amigo Miguel andaba jugando con él y lo comentó por el chat. Así que, en unas rebajas en mayo del pasado 2020, lo pillé por 4 eurillos. Cometí el error de no comprar la edición con los DLCs, pero bueno, cosas que pasan.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/02/little-nightmares-manoslargas.jpg', 'alt': 'Hay que esconderse para que no nos pillen', 'position': 'center'} %}

<p>Al principio me recordaba a otros juegos como Limbo o Inside, pero no, es diferente. Y tampoco me enganchó tanto como aquellos &mdash;a las pruebas me remito. Le habré dedicado un poco menos de 5 horas pero han pasado 9 meses desde que empecé a jugarlo hasta que lo he terminado, siendo como es un título que en un fin de semana tonto te lo juegas entero de cabo a rabo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/02/little-nightmares-escapando-a-la-carrera.jpg', 'alt': 'Correr es de cobardes, pero son los que sobreviven', 'position': 'center'} %}

<p>Desde luego lo que más llama la atención es su ambientación. Da mal rollo; en ocasiones muy mal rollo. No estamos hablando de sustos &mdash;que alguno hay&mdash; sino más bien de la sensación que transmite la estética de los personajes, los escenarios, y el planteamiento de algunas situaciones.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/02/little-nightmares-cocinero.jpg', 'alt': 'El cocinero: como te coja, te cocina', 'position': 'center'} %}

<p>Aparte de eso, el juego es minimalista en cuanto a su narrativa. Vas descubriendo lo que puedes hacer a medida que avanzas. No hay conversaciones, no hay descripciones, no hay <em>cutscenes</em>. Los controles son sencillos: saltar, agacharse, agarrar objetos, encender un mechero, correr y poco más. Con un poco de habilidad y fijándote en el entorno es fácil avanzar. Aunque me he encontrado un par de veces la típica situación en la que no sabes que hacer, cuando lo mejor es dejarlo y, en la siguiente partida, lo ves mucho más claro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/02/little-nightmares-colgando.jpg', 'alt': 'Tendremos que colgarnos y balancearnos para llegar a donde queremos', 'position': 'center'} %}

<p>Justo este mes sale su segunda parte. Yo de momento voy a pasar. Tengo bastantes juegos pendientes y ni su mecánica ni su historia me han cautivado lo suficiente como para dejarme con ganas de más.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/02/little-nightmares-final.jpg', 'alt': 'Hasta aquí mi experiencia con Little Nightmares', 'position': 'center'} %}
