---
layout: post
title: "¡Me han regalado un MSX2!"
summary: "Cuando tienes amigos que no te mereces, pueden ocurrir sorpresas como ésta."
header_image: /uploads/2021/05/msx2-header.jpg
main_image: /uploads/2021/05/msx2.jpg
last_update_date: 2021-05-20
tags: [msx, personal, retroinformática]

---

<p>En los años 80 había cuatro plataformas que, con más o menos cuota, se repartían el mercado de los microordenadores en España, con el permiso de otras opciones más minoritarias. Dichas plataformas eran ZX Spectrum, Amstrad CPC, Commodore 64 y MSX. De pequeño tuve un Spectrum y, cuando empecé a coleccionar retroinformática, uno de mis objetivos era hacerme con, al menos, un ejemplar de cada. Es una meta que ya conseguí hace muchos años, afortunadamente. Porque si tuviera que ponerme ahora, tendría que invertir muchísimo más dinero. De hecho, recuerdo haber comprado el Spectrum +3 y el Commodore 64 no demasiado caros, algo así como 60€ el primero y 40€ el segundo. El Amstrad CPC 6128 que tengo es de mi amigo Miguel Jiménez. Pero el MSX que poseo, un Sony HitBit 75P, la verdad soy incapaz de recordar cómo llegó hasta mis manos.</p>

<p>Como no dispongo de un reproductor de cintas funcional, estuve tiempo jugando sólo a los 4 ó 5 cartuchos que tengo (que no están nada mal). Hasta que me lié la manta a la cabeza y compré el <a href="https://msxcartridgeshop.com/VientoSur/flashrom/index.html">MegaFlashRom</a> de Manuel Pazos. Es una suerte de "Everdrive" en el que podemos, mediante una tarjeta MicroSD, cargar tanto juegos en formato cartucho como en disco, además de algunas otras funcionalidades. Me las prometía muy felices con la idea de poder disfrutar de títulos como el mítico Metal Gear. Pero, ¡ay, ignorante de mí! Resulta que muchos de los juegos más relevantes del estándar japonés no son compatibles con la primera versión, sino con los MSX2, más potentes y más caros.</p>

<p>Esto debió de ser allá por 2013, y en aquel mismo momento me propuse comprar un MSX2. Aunque resultó ser un propósito poco firme en realidad. El tiempo ha ido pasando y todo el material retro se ha ido encareciendo hasta límites obscenos en algunos casos. Recientemente hice, digamos, un "último intento" de localizar algún ordenador MSX2 en venta. Encontré uno en Wallapop por 220€, y escribí al vendedor a ver si aceptaba negociar el precio. Tenía pensado ofrecerle 200€, que ya es más del doble de lo que me hubiera costado si me lo hubiera tomado en serio en 2013. En cualquier caso, muchísimo dinero para algo que, con suerte, voy a usar 2 ó 3 veces al año, como mucho. Antes de contactar con el vendedor le pregunté a mi amigo Pedrete, conocedor de la plataforma MSX, para que me comentase qué le parecía el ordenador en venta. Y ahí quedó la cosa.</p>

<p>Esta mañana ha llamado el cartero al telefonillo. No estaba esperando nada, y pensé para mis adentros: "una multa no puede ser, que tampoco salgo de casa". La duda duró lo que tardó el cartero en subir a casa. Y cuál fue mi sorpresa al verlo salir del ascensor con una caja en un carrito. Eso sí que no me lo esperaba.</p>

<p>Cuando metí la caja dentro y vi el remitente, enseguida empecé a elaborar una teoría. En la etiqueta venía el nombre de mi amigo Pedrete, y si habéis leído los párrafos anteriores, dos más dos son cuatro.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/05/msx2-nms-8250.jpg', 'alt': 'MSX 2 Philips NMS 8250', 'position': 'center'} %}

<p>Efectivamente. Dentro de la caja venía un MSX2. En concreto, un <a href="https://www.msx.org/wiki/Philips_NMS_8250">Philips NMS 8250</a>. Que, por resumir, era el MSX2 que tenía Pedrete antes de comprarse un <a href="https://twitter.com/eterdep/status/1373223367352975364">Panasonic FS A1</a>. En coña le dije que, ya que tenía dos, que me vendiera el antiguo. Y va el mamón y me toma la palabra. No sólo no me lo vende, sino que me lo regala. He intentado pagárselo pero no se deja. Con tiempo tendré que urdir alguna argucia para compensarle.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/05/msx2-nms-8250-cpu.jpg', 'alt': 'MSX 2 Philips NMS 8250 - CPU', 'position': 'center'} %}

<p>Desafortunadamente, el ordenador ha llegado un poco cascado por las esquinas. Es a lo que te arriesgas al hacer un envío de este tipo. Pero bueno, de antemano ya no estaba en buen estado, y no es nada que no pueda arreglarse con un poco de pegamento. Por lo demás funciona perfectamente. Es un buen trasto, tanto de tamaño como de peso. Como se puede ver en la foto, tiene "forma de PC". Es decir, la CPU por un lado y el teclado por otro. Si puedo elegir, me gustan más los microordenadores que llevan todo integrado en el teclado. Pero siendo un regalo, no tengo queja ninguna.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/05/msx2-nms-8250-teclado.jpg', 'alt': 'MSX 2 Philips NMS 8250 - Teclado', 'position': 'center'} %}

<p>Ahora ya no tengo excusa para no ampliar la <a href="/2013/03/tutorial-megaflashrom-scc-sd.html">guía de uso del MegaFlashRom</a> que escribí en su momento y que, por motivos evidentes, se centraba exclusivamente en los MSX primitivos, quedando en el tintero muchas funcionalidades interesantes.</p>

<p>Atribuciones: Foto del ordenador descargada de <a href="https://www.msx.org/wiki/Philips_NMS_8250">https://www.msx.org/wiki/Philips_NMS_8250</a></p>

<h2>Actualización 20.05.2021</h2>

<p>Qué mejor manera de estrenar el ordenador que jugando a Mutants From The Deep, lo último de Locomalito y Gryzor87.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/05/mutants-from-the-deep-msx.jpg', 'alt': 'Mutants From The Deep', 'position': 'center'} %}

