---
layout: post
title: "Juegos: Metroid Zero Mission (GBA)"
summary: "Coincidiendo con el lanzamiento de Metroid Dread, exploramos el comienzo de la historia de Samus en este remake de la primera entrega para Game Boy Advance"
header_image: /uploads/2021/10/metroid-zero-mission-cabecera.jpg
main_image: /uploads/2021/10/metroid-zero-mission.jpg
tags: [análisis videojuegos, game boy advance, metroid, nintendo]
widgets: [metroid, now-playing]

---

<p>El pasado mes de julio reservé la edición coleccionista de <a href="/2021/10/juegos-metroid-dread-switch.html">Metroid Dread</a>. Me bastó saber que, nuevamente, era el estudio <a href="https://www.mercurysteam.com/">Mercury Steam</a> quien estaba detrás, siendo los desarrolladores del único capítulo de la franquicia que he jugado hasta ahora: <a href="/2020/04/juegos-metroid-samus-returns.html">Metroid Samus Returns</a>.</p>

<p>Acercándose la fecha de lanzamiento, y para preparar un poco el ambiente, ¿por qué no empezar a jugarlos todos en orden? Al menos los que son en dos dimensiones, ya hay una serie de títulos para <a href="/tags/gamecube/">GameCube</a> y <a href="/tags/wii/">Wii</a> &mdash;la saga Prime por denominarla de alguna forma&mdash; que tienen un desarrollo tridimensional en primera persona.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-zero-mission-menu.jpg', 'alt': 'Metroid Zero Mission', 'position': 'center'} %}

<p>Lo lógico sería empezar por el primero de la serie, que lo tengo disponible tanto en la NES Mini como en la <a href="/tags/switch/">Switch</a>. Sin embargo, no nos engañemos, es un título duro de jugar hoy día, como muchos de los de la época. Afortunadamente, años más tarde se desarrolló un <em>remake</em> para <a href="/tags/game boy advance/">Game Boy Advance</a>, titulado Metroid Zero Mission, que no sólo actualiza los gráficos y mecánicas del juego, sino que también ofrece contenido adicional (una vez que llegamos a lo que era el final original) y que sirve para ahondar en la historia de Samus, amén de incorporar algunas nuevas mecánicas interesantes.</p>

<p>Por lo tanto, aunque soy partidario de jugar los juegos que pertenecen a una misma serie siempre en el orden en que se lanzaron (no en el orden cronológico de las historias que se relatan), en este caso, siendo un <em>remake</em>, puedo hacer una excepción, saltarme el primero y empezar por aquí.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-zero-mission-ingame.jpg', 'alt': 'Metroid Zero Mission', 'position': 'center'} %}

<p>Este cartucho no lo tengo original. Lamentablemente, cuando la Game Boy Advance estaba en boga yo ni conocía estos juegos. Intentar adquirirlo ahora de segunda mano implica estar dispuesto a gastar una cantidad obscena de dinero, un esfuerzo que no estoy dispuesto a realizar.</p>

<p>El juego, como no puede ser de otra forma, incorpora todos los elementos que caracterizan a la franquicia: el hecho de ir potenciando nuestras habilidades según vamos avanzando, tener que explorar los escenarios para encontrar caminos más o menos ocultos por los que seguir avanzando, tener que revisitarlos una vez que vamos progresando, los enemigos "finales" y la cuenta atrás huyendo de un escenario en destrucción.</p>

<p>Pero, además del control más afinado, la ventaja de este cartucho es que tendremos la oportunidad de guardar la partida cada poco, lo cual siempre es de agradecer cuando estamos jugando con una consola portátil. Y más en mi caso, que suelo realizar sesiones cortas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-zero-mission-tiempo-empleado.jpg', 'alt': 'Metroid Zero Mission: Tiempo empleado', 'position': 'center'} %}

<p>Como veis, no es un juego demasiado largo; creo que está en línea con lo que se puede esperar de un juego de la época. Me ha llevado un poco menos de 4 horas llegar al final habiendo encontrado la mitad de los objetos ocultos, aunque creo que el tiempo efectivo habrá sido mayor. Si no me equivoco, se descuenta el tiempo de las veces que mueres (que en mi caso han sido unas pocas). A mí, desde luego, me ha gustado bastante y me ha parecido un buen aperitivo antes de enfrentarme a Metroid Dread. Además, una vez terminado, se desbloquea también la posibilidad de jugar al Metroid original.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-original-gba.jpg', 'alt': 'Metroid original desbloqueado al terminar Zero Mission', 'position': 'center'} %}
