---
layout: post
title: "Juegos: Metroid Dread (Switch)"
summary: "Ya que compré el juego de salida, y teniendo en cuenta que tampoco es imprescindible jugar a los anteriores, ¿por qué no disfrutarlo ya a la par que todo el mundo?"
header_image: /uploads/2021/10/metroid-dread-cabecera.jpg
main_image: /uploads/2021/10/metroid-dread.jpg
text_date: Sábado, 30 de octubre de 2021
last_update_date: Miércoles, 3 de noviembre de 2021
tags: [análisis videojuegos, metroid, nintendo, switch]
widgets: [metroid, now-playing]

---

<p>Aunque después de terminar <a href="/2021/10/juegos-metroid-zero-mission-gba.html">Metroid Zero Mission</a> he empezado a tontear con Metroid Fusion y Super Metroid (habiendo avanzado más con el primero que con el segundo), siguiendo con el plan de ponerme con los juegos de la franquicia en orden, el hecho de ver a un montón de contactos que estaban disfrutando de lo lindo con este último lanzamiento me hizo reconsiderar mi decisión; ya que al principio de cada juego te resumen más o menos la historia previa (que, por tanto, ya conozco) y que tampoco es necesaria para entrar en harina (aunque sí que es posible que me pierda algún detalle), ¿por qué no disfrutar yo también con este juego? Dicho y hecho.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-dread-caja-coleccionista.jpg', 'alt': 'Caja de la edición coleccionista', 'position': 'center'} %}

<p>Como comenté previamente, reservé la edición coleccionista, que incluye un bonito libro de arte, y me ha salido por un pico. No sé si es el juego más caro de mi colección, pero desde luego que es uno de los más caros.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-dread-libro-de-arte.jpg', 'alt': 'Libro de arte de la edición coleccionista', 'position': 'center'} %}

<p>Una vez terminado puedo decir que ha cumplido con las expectativas desde el momento en que lo reservé. Se nota la base plantada en <a href="/2020/04/juegos-metroid-samus-returns.html">Metroid Samus Returns</a> pero obviamente mejorada. Ya que, en este caso, se trata de un argumento original que continúa la historia de Samus tras los acontetimientos de Metroid Fusion.</p>

<p>El diseño de niveles me parece una auténtica obra de ingeniería, planteados de tal forma que tienes que explorar para ir avanzando mientras vas mejorando tus habilidades y desbloqueando nuevas zonas. Y, sin embargo, me da la impresión de que el juego es más guiado y lineal de lo que parece, ya que no estás obligado a repetir zonas en exceso, salvo que quieras recoger el 100% de los objetos, que no ha sido mi caso. Tengo conocidos que dicen haberse quedado atascados en ciertos puntos. A mí no me ha ocurrido de manera prolongada; sí que es cierto que en algunos sitios me he tenido que parar a pensar y mirar el mapa para ver por dónde podía seguir.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-dread-zonas.jpg', 'alt': 'Visitaremos diferentes zonas del planeta, cada una con sus características', 'position': 'center'} %}

<p>También quiero mencionar el diseño de los combates con los "enemigos finales" que vamos encontrando. Me ha gustado su planteamiento y la forma en que, en la primera pelea te dan hasta en el cielo de la boca y, según te vas quedando con sus mecánicas, cada vez eres capaz de prolongar más el combate hasta acabar con ellos. No soy muy amigo de comparar unos juegos con otros, pero en este caso me quiero saltar la regla para hablar de Blasphemous, otro juego al que le he echado muchas horas y que creo que voy a abandonar sin terminarlo justo porque este tipo de combates no están bien medidos. Siempre en mi opinión y con toda mi humildad de jugador bastante manco, por supuesto.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-dread-boss.jpg', 'alt': 'Los jefes finales son casi todos enormes y tienen sus propios patrones de combate', 'position': 'center'} %}

<p>Aunque la consola permite suspender la partida en cualquier momento, también contamos con múltiples puntos de guardado, así que este aspecto no será un problema si disponemos de poco tiempo seguido para jugar.</p>

<p>Por sacarle alguna pega, que las tiene (no hay juego perfecto), el añadido de las zonas E.M.M.I., que es la gran novedad de esta entrega, finalmente no ha resultado lo que yo esperaba. Por un lado te obligan a ir demasiado rápido (quizás era lo que pretendían, al romper el ritmo de juego), pero por otro me ha costado poner en práctica un enfoque de sigilo para superarlas. Igual es cosa mía. Movernos de una zona a otra del planeta supone unos tiempos de carga bastante altos. Gráficamente está bien resuelto, pero me parece que no llega al nivel de pulimiento de otros títulos de la consola, especialmente los propios first-party de Nintendo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-dread-emmi.jpg', 'alt': 'Los E.M.M.I., esos robots odiosos', 'position': 'center'} %}

<p>Es curioso que he tardado menos en acabar este juego que lo que tardé en su momento en acabar <a href="/2020/04/juegos-metroid-samus-returns.html">Samus Returns</a>; quizás porque ya conozco un poco mejor las mecánicas y me desenvuelvo mejor con ellas. En cualquier caso, aunque el contador marca 9h04'56", el control parental de la consola (que tengo activado precisamente para estas cosas) indica que he estado algo más de 16 horas con él.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-dread-tiempo-empleado.jpg', 'alt': 'Tiempo empleado en completar el juego con el 41% de los objetos', 'position': 'center'} %}

<p>Lo mejor es que no tienes que hacer caso de mi opinión, sino que puedes ir a la eShop, descargar la demo y formarte tu propia opinión. Ojalá se pudiera hacer con todos los juegos. A mí me ha gustado mucho, y con una duración contenida, que permite disfrutar del juego sin llegar a aburrir. Y siempre puedes ir a por el 100% de los objetos o jugar una nueva partida en nivel difícil para desbloquear todos los coleccionables.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/10/metroid-dread-recompensas.jpg', 'alt': 'Recompensas desbloqueadas - Sólo una de seis', 'position': 'center'} %}

<h3>Actualización 3 de noviembre de 2021</h3>

<p>Justo en uno de los canales de YouTube a los que estoy suscrito ha publicado este vídeo interesantísimo en el que se explica la sensación de linealidad que he tenido al jugar a este Metroid, y los trucos que los diseñadores de niveles han empleado.</p>

<div class="embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.youtube.com/embed/5pop-cc9kmY" frameborder="0" allowfullscreen></iframe></div>
