---
layout: post
title: "Juegos: Luigi's Mansion 3 (Switch)"
summary: "La segunda parte me gustó, y esta tercera no ha sido menos. Fun fact: todavía no me he acabado la primera."
header_image: /uploads/2021/11/luigis-mansion-3-cabecera.jpg
main_image: /uploads/2021/11/luigis-mansion-3.jpg
tags: [análisis videojuegos, luigi, nintendo, switch]
widgets: [now-playing]

---

<p>Luigi y su aspiradora de fantasmas con linterna incorporada vuelven a protagonizar una aventura contra el malvado Rey Boo, esta vez ambientada en un hotel encantado. Se trata de un juego muy continuista con la <a href="/2017/12/juegos-luigis-mansion-2.html">entrega anterior</a>. Tanto en personajes como en desarrollo y mecánicas. La aspiradora/sopladora, el "desoscurizador" y la "estrobombilla" ya las conocíamos. En esta ocasión contaremos, además, con el desatascador, el propulsor y nuestro alter-ego, Gomiluigi, que nos ayudarán a superar los nuevos retos que se plantean.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/lm3-rey-boo.jpg', 'alt': 'El Rey Boo vuelve a ser el villano de esta historia', 'position': 'center'} %}

<p>El desatascador podemos lanzarlo contra ciertos objetos y luego, con la aspiradora, tirar de él. El propulsor nos permite dar un "golpe de aire"; que moverá todos los objetos que tengamos cerca. Gomiluigi es un clon de Luigi, que podremos manejar a nuestro antojo, y que está hecho de un material especial (y altamente flexible) que le permite colarse por rendijas por las que Luigi no puede acceder.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/lm3-gomiluigi.jpg', 'alt': 'Luigi y Gomiluigi tendrán que hacer equipo en multitud de ocasiones', 'position': 'center'} %}

<p>El juego de 3DS ya era bastante bueno. No obstante, estas nuevas mecánicas le dan una vuelta de tuerca (especiamente Gomiluigi, que además puede ser controlado por un segundo jugador en modo cooperativo), y tanto los puzles como los enfrentamientos con los jefes son bastante ingeniosos. Quizás en algún punto podamos quedarnos atascados, pero normalmente se soluciona con el "desoscurizador", ya que habrá algún objeto que estará oculto a simple vista y tendremos que revelarlo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/lm3-boton-ascensor.jpg', 'alt': 'Tendremos que recuperar todos los botones del ascensor hasta poder llegar a la última planta', 'position': 'center'} %}

<p>Por lo demás, la ambientación está muy lograda, con un escenario diferente en cada uno de los 15 pisos del hotel. Gráfica y sonoramente muy pulido. Y, si nos quedamos con ganas de más, siempre tenemos la posibilidad de intentar encontrar el 100% de joyas ocultas (seis en cada planta), el multijugador online (que funciona bastante bien, aunque me costó encontrar alguna partida las dos veces que lo he intentado) y, si estamos dispuestos a pagar más, un DLC con contenido adicional.</p>

<p>A partir de cierto punto, tendremos la posibilidad de teletransportarnos de forma automática a la guarida del profesor Fesor, desde la cual tendremos acceso a las diferentes opciones.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/lm3-guarida-profesor-fesor.jpg', 'alt': 'La guarida del profesor Fesor', 'position': 'center'} %}

<p>Os recomiendo que llevéis siempre algunos huesos para que, en caso de muerte, nuestro fiel amigo Ectochucho nos resucite (a cambio de uno de ellos). Si no lo hacéis y se os da mal, veréis la fatídica pantalla de fin de partida.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/lm3-game-over.jpg', 'alt': 'Game over, Luigi', 'position': 'center'} %}

<p>En algunas fases se hace un poco repetitivo, como cuando nos tenemos que enfrentar a cierto gatito, lo cual nos obliga a tener que volver a recorrer ciertos niveles y alarga la duración de una manera un tanto artificial. Pero, por lo general, es bastante variado en situaciones como para que la experiencia resulte amena.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/lm3-gatito.jpg', 'alt': 'Terminaréis odiando a este "adorable" gatito', 'position': 'center'} %}

<p>El juego está trufado de buen humor, guiños y referencias. Una de ellas es el propio mapa del juego, al que se accede mediante el Virtual Boo, un homenaje a la <a href="http://retromaquinitas.com/virtual-boy/">Virtual Boy</a>, la fracasada consola de Nintendo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/lm3-virtual-boo.jpg', 'alt': 'Virtual Boo', 'position': 'center'} %}

<p>Casi al final llegaremos a un punto de no retorno, a partir del cual ya sólo queda enfrentarnse a Rey Boo para completar el juego. Se nos avisa por si queremos dar la vuelta y completar más desafíos, buscar fantasmas, comprar huesos o lo que estimemos oportuno.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/11/lm3-punto-de-no-retorno.jpg', 'alt': 'A partir de aquí estamos cerca del final (y no podremos volver atrás)', 'position': 'center'} %}

<p>En definitiva, un título de acción más puzles, apto para todos los públicos, que obviamente engancha por la diversión que proporciona, no por la historia que sirve de hilo conductor. En mi caso he empleado 14h47' en completarlo, sin haber encontrado a todos los fantasmas ni joyas ocultas.</p>

<p>PS: No me he acabado todavía la primera entrega. El año pasado lo cogí con ganas en su versión original de GameCube, avancé más que la vez anterior, pero volví a dejarlo a medias. Aunque la base del juego es la misma, no termina de engancharme. No descarto volver a intentarlo, pero ahora mismo no veo el momento de hacerlo.</p>
