---
layout: post
title: "Juegos: Shadow Of The Tomb Raider (PS4)"
summary: "Un fin de trilogía un tanto decepcionante (para mí)."
header_image: /uploads/2021/12/sottr-cabecera.jpg
main_image: /uploads/2021/12/shadow-of-the-tomb-raider-ps4.jpg
tags: [análisis videojuegos, crystal dynamics, lara croft, playstation 4, square enix, tomb raider]
widgets: [now-playing]

---

<p>Otro de los juegos que tenía pendientes desde hace bastante tiempo es este Shadow Of The Tomb Raider. Perteneciente a la trilogía que arrancó en 2013 con el reboot de Tomb Raider, cerrando su arco narrativo.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/shadow-of-the-tomb-raider-ps4.jpg', 'alt': 'Shadow Of The Tomb Raider', 'position': 'center'} %}

<p>Empecé a jugar de manera algo tímida el 20 de noviembre. Y ya me puse con él en serio a raíz de tener el <a href="/2021/11/renovacion-monitor-para-ordenador-y-consolas.html">nuevo monitor 4K con HDR</a>. De primeras noté que el juego se veía mucho más nítido a la par que "oscuro", y tardé algunas sesiones en acostumbrarme y calibrarlo a mi gusto.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-menu-principal.jpg', 'alt': 'Menú principal', 'position': 'center'} %}

<p>La verdad es que no es un título que me haya enganchado, y si lo he terminado ha sido un poco por inercia. Aunque apenas recordaba la historia de las entregas anteriores, sí que tenía recuerdos de las mecánicas (especialmente el tiro con arco) y, en general, me dejaron un poso de satisfacción. No me he parado a pensar con detenimiento si este juego es tan diferente a los anteriores, tanto en ambientación como en historia y jugabilidad, pero el caso es que se me ha hecho hasta pesado en algunos tramos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-rappel.jpg', 'alt': 'Haciendo rappel por las rocas', 'position': 'center'} %}

<p>Releyendo lo que escribí sobre los dos juegos anteriores me doy cuenta de que no es tan diferente. Al menos, los elementos característicos siguen ahí. Una puesta en escena cinematográfica, con un notable apartado gráfico y sonoro (mención especial al doblaje). Un sistema de <em>checkpoints</em> muy amable con el jugador. El instinto de supervivencia para detectar los puntos de interés en el escenario. La combinación entre acción (tiroteos), sigilo, plataformeo y puzles.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-zona-de-plataformeo.jpg', 'alt': 'Zona de plataformeo', 'position': 'center'} %}

<p> Los puntos de experiencia y la recolección de materiales para mejorar tanto nuestras habilidades como las armas que portamos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-arbol-de-habilidades.jpg', 'alt': 'Árbol de habilidades', 'position': 'center'} %}

<p>Los campamentos, que sirven tanto de punto de mejora como de viaje rápido. </p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-campamento.jpg', 'alt': 'Campamento', 'position': 'center'} %}

<p>Incluso tiene su fase de <em>flashback</em>, en la que controlaremos la voluntad de una jovencísima Lara para descubrir más detalles de su pasado. En resumen, no solo comparte elementos y mecánicas con los anteriores títulos, sino también con muchos otros juegos contemporáneos a los que acostumbro a jugar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-flashback.jpg', 'alt': 'Nuevamente tendremos ocasión de rememorar la infancia de Lara', 'position': 'center'} %}

<p>También hay zonas de "mundo abierto" en las que se nos ofrecen misiones secundarias, exploración de tumbas y la típica recolección de objetos. Quizás en este juego me han parecido más evidentes que en los anteriores. Pero, en cualquier caso, no son necesarias para seguir la trama y, al menos en mi caso, no me han ofrecido ningún aliciente para enfrascarme en ellas.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-ciudad-actividades.jpg', 'alt': 'La ciudad está llena de actividades por hacer', 'position': 'center'} %}

<p>Entonces, si es tan continuista, ¿qué es lo que falla? Pues no lo tengo claro. Puede ser un problema mío, de momento personal. Digo esto porque, al final, no es tan diferente de otros juegos con los que he estado últimamente y me han enganchado bastante más. Por otro lado, curioseando por Internet he visto que los analistas le han otorgado a este la puntuación más baja de los tres juegos. Así que no es únicamente mi culpa; algo han tocado que ha descuadrado un poco la fórmula.</p>

<p>Un detalle que ya he visto en otros juegos, como <a href="/2021/06/juegos-spider-man-ps4.html">Spider-Man</a> o <a href="/2021/11/juegos-luigis-mansion-3-switch.html">Luigi's Mansion 3</a> sin ir más lejos, es la existencia un punto de no retorno tras el cual se "cancela" el mundo abierto y nos acercamos al final de la historia. Luego, dependiendo del caso, podremos seguir haciendo misiones o habremos terminado. En este caso, podremos continuar, aunque yo no lo he hecho, como os podéis imaginar.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-punto-de-no-retorno.jpg', 'alt': 'A partir de aquí se acabó el mundo abierto, y nos acercamos al final', 'position': 'center'} %}

<p>Como he dicho, empecé sobre el 30 de noviembre, por lo que le he dedicado menos de un mes. Ignoro eso sí cuál ha sido el cómputo exacto de horas, ya que no se ofrece ese dato en las estadísticas. Sólo sé que he completado un 68%. Teniendo en cuenta que he pasado por alto la mayoría de misiones secundarias, es posible que el juego no tenga tanto contenido disponible como pudeira parecer.</p>

{% include 'components/image.twig' with {'src': '/uploads/2021/12/sottr-porcentaje-completitud.jpg', 'alt': 'Porcentaje de completitud', 'position': 'center'} %}

<p>Una vez más, la parte multijugador la he obviado, así que no me puedo pronunciar sobre ella. En resumen, tercera parte de una trilogía que, en su conjunto he disfrutado, aunque esta entrega en concreto la he terminado más por cubrir el expediente que porque me haya gustado realmente.</p>
