---
layout: post
title: "Publicidad dinámica en los videojuegos"
summary: "Hace ya tiempo que en los videojuegos se practica el \"product placement\", con marcas de la vida real. Un claro ejemplo son los juegos de fútbol, en los que se reproducen tanto las vallas publicitarias como los patrocinadores de las indumentarias de los distintos equipos."
header_image: /uploads/2010/01/publi-1.jpg
main_image: /uploads/2010/01/publi-1.jpg
tags: [videojuegos]

---
<p>Hace ya tiempo que en los videojuegos se practica el "<a href="http://es.wikipedia.org/wiki/Publicidad_por_emplazamiento">product placement</a>", con marcas de la vida real. Un claro ejemplo son los juegos de fútbol, en los que se reproducen tanto las vallas publicitarias como los patrocinadores de las indumentarias de los distintos equipos.</p>

<p>Fue precisamente probando la demostración de <a href="http://www.konami-pes2010.com/">Pro Evolution Soccer 2010</a> donde vi que le habían dado una vuelta de tuerca a la publicidad en los videojuegos. Aprovechando la conexión a Internet de las consolas actuales, en la repetición de una jugada me apareció un anuncio de una película, <a href="http://www.20minutos.es/cine/cartelera/pelicula/30370/la-huerfana/">La Huérfana</a>, que se estrenaba en aquel momento (hace algunos meses).</p>

{% include 'components/image.twig' with {'src': '/uploads/2010/01/publi-1.jpg', 'alt': '', 'position': 'center'} %}

<p>Pido disculpas por la calidad de las fotos, que es un poco lamentable.</p>

{% include 'components/image.twig' with {'src': '/uploads/2010/01/publi-2.jpg', 'alt': '', 'position': 'center'} %}

<p>No me parece mal que se exploren estas vías. El problema que le veo es que no creo que redunde en una reducción de precios para el jugón, sino más bien en un aumento de beneficios para aquellas compañías que sean capaces de vender estas campañas a los anunciantes.</p>
