---
layout: post
title: "Medio Maratón Villa de Madrid 2014"
summary: "Hoy me he sacado otra espinita que tenía clavada. Esta no era una espinita muy dolorosa pero sí que llevaba mucho tiempo ahí, probablemente más de 10 años. Una época en la que bajar a correr ya era una de mis actividades deportivas, en la que ya me había planteado participar en alguna carrera. Pero todavía eran planes, aun no había concretado nada."
header_image: /uploads/2014/04/dorsal.jpg
main_image: /uploads/2014/04/dorsal.jpg
tags: [carreras, personal]

---
<p>Hoy me he sacado otra espinita que tenía clavada. Esta no era una espinita muy dolorosa pero sí que llevaba mucho tiempo ahí, probablemente más de 10 años. Una época en la que bajar a correr ya era una de mis actividades deportivas, en la que ya me había planteado participar en alguna carrera. Pero todavía eran planes, aun no había concretado nada.</p>

<p>Recuerdo que en 2005, justo después de cambiar de trabajo, conocí a César, el que fuera nuestro comercial de Akamai, y entre reunión y reunión me comentaba que iban a correr ese año la Media Maratón de Madrid. En aquella época me veía muy lejos de poder conseguir ese objetivo. Además, ocurrió algo que me hizo cogerle mucho respeto a esa prueba. Una maldita casualidad. La persona que me sustituyó en <a href="http://m.anuncios.com/interactiva/nuevos-anuncios/1010195012101/renault-megane.1.html">Órbital</a>, David Mirasierra, a quien no tuve la ocasión de conocer, <a href="http://elpais.com/diario/2005/04/11/madrid/1113218673_850215.html">falleció súbitamente</a> compitiendo justo en esa prueba.</p>

<p>Años más tarde, en 2008, por fin corrí y acabé <a href="/2008/06/carrera-liberty.html">mi primera carrera popular</a>. Y es cierto que engancha. A objetivo cumplido, nuevos objetivos por plantearse. Pasé de querer acabar un 10.000 a hacerlo en menos de 50 minutos, cosa que se puede decir que conseguí en la Liberty de 2013 (no hice menos de 50, sino que <a href="/2013/05/vi-carrera-liberty.html">clavé ese tiempo</a>).</p>

<p>Por tanto, quedaba un reto por cumplir, que era correr y acabar una Media Maratón. Llevo varios años madurando la idea, pero entre la fractura de peroné y algún otro contratiempo, no había encontrado el momento de prepararme y hacerlo. Hasta este año, cuando decidí apuntarme con bastante antelación (en noviembre). No se ha torcido nada desde entonces y el jueves pude pasar a recoger mi camiseta y mi dorsal.</p>

{% include 'components/image.twig' with {'src': '/uploads/2014/04/dorsal.jpg', 'alt': '', 'position': 'center'} %}

<p>Pese a la cantidad de participantes, más de 20.000 según la organización, la salida no es tan lenta como puede resultar en la San Silvestre Vallecana. A las 09.15 h se dio el pistoletazo de salida y poco antes de las 09.30 h estaba cruzando el arco de salida.</p>

{% include 'components/image.twig' with {'src': '/uploads/2014/04/mediamaraton.jpg', 'alt': '', 'position': 'center'} %}

<p>La carrera se me ha hecho menos dura de lo que esperaba, si bien es la primera vez que corro una distancia tan larga. Como el objetivo era terminar, la táctica tenía que ser obligatoriamente conservadora, en especial durante la primera parte, que es casi toda cuesta arriba hasta llegar a Plaza de Castilla, sobre el kilómetro 9.</p>

<p>Al llegar al kilómetro 10 he recordado todas las populares de 10.000 que he acabado y cómo me sentía, solo que hoy todavía me quedaba más de la mitad de distancia por recorrer. A diferencia de otras carreras, hoy sí que he hecho uso tanto del avituallamiento líquido como del gel de glucosa. Y así, pasito a pasito, he llegado a la meta. Haciendo la "vuelta rápida" en el kilómetro 18 (cierto es que era cuesta abajo, pero casi finalizando la carrera). Y con menos cansancio de que esperaba, aunque se va haciendo notar conforme transcurre la tarde.</p>

<p>Lo que sí que he visto en esta ocasión ha sido más gente siendo atendida médicamente, y eso que no hacía calor especialmente, es más, ha sido una mañana muy agradable atmosféricamente hablando. Lo cual me ha hecho ir bastante pendiente del pulsómetro y rebajar el ritmo inmediatamente cuando veía que alcanzaba o superaba las 170 ppm.</p>

<p>Mi cronómetro marcaba un <a href="http://www.endomondo.com/workouts/319185265/1888854">1h57'35"</a>, a un ritmo de 5'30" el kilómetro. La medición oficial final 1h57'27" (5'34" por kilómetro). Lo dicho, muy contento para ser la primera vez.</p>

<p>¿Próximos retos? Volver a hacer un 10km por debajo de 50' y una media maratón por debajo de 1h45'. ¿La maratón? Hoy lo pensaba y creo que no es una cuestión sólo de físico, sino de mente. Ya veremos.</p>
