---
layout: default
title: Archivo
generator: pagination
use:
    - posts
---
{% set year = '0' %}

<h1>Archivo</h1>
{% for post in page.pagination.items %}
{% set this_year %}{{ post.date | date("Y") }}{% endset %}
{% if year != this_year %}
  {% set month = '0' %}
  {% set year = this_year %}
{% endif %}
{% set this_month %}{{ post.date | localizeddate('none', 'none', locale, timezone, 'MMMM') | capitalize }}{% endset %}
{% if month != this_month %}
  {% set month = this_month %}
  <h2>{{ month }} {{ year }}</h2>
{% endif %}
    <div class="row">
        <div class="col-md-5">
            <div class="media">
                <div class="media-left"><a href="{{ site.url }}{{ post.url }}"><img class="media-object img-responsive"  src="{{ post.main_image }}"></a></div>
            </div>
        </div>
        <div class="col-md-5">
            <h3 style="margin-top: 0;"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.summary }}</p>
        </div>
    </div>
    {% if loop.last != true %}<hr>{% endif %}
{% endfor %}
<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        <ul class="pager">
            {% if page.pagination.next_page %}<li class="next"><a href="{{ site.url }}{{ page.pagination.next_page.url }}">Entradas anteriores <span aria-hidden="true">&rarr;</span></a></li>{% endif %}
            {% if page.pagination.previous_page %}<li class="previous"><a href="{{ site.url }}{{ page.pagination.previous_page.url }}"> <span aria-hidden="true">&larr;</span> Entradas siguientes</a></li>{% endif %}
        </ul>
    </nav>
{% endif %}
</div>
