---
layout: static
permalink: /colaboraciones-retromaniac.html
title: Colaboraciones en la revista RetroManiac Magazine
---

<h2>Mayo 2023</h2>

<div class="row">
    <div class="col-md-5">
        <a href="https://www.retromaniacmagazine.com/2023/05/impresiones-con-color-pals-un.html">{% include 'components/image.twig' with {'src': '/uploads/retromaniac/color-pals.jpg', 'alt': 'Color Pals', 'position': 'center'} %}</a>
    </div>
    <div class="col-md-7">
        26.05.2023
        <a href="https://www.retromaniacmagazine.com/2023/05/impresiones-con-color-pals-un.html"><h3>Impresiones con Color Pals; un puzle/plataformas sin aderezos para tu consola de última generación</h3></a>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <a href="https://www.retromaniacmagazine.com/2023/05/impresiones-con-murtop-cuando-dig-dug-y.html">{% include 'components/image.twig' with {'src': '/uploads/retromaniac/murtop.jpg', 'alt': 'Murtop', 'position': 'center'} %}</a>
    </div>
    <div class="col-md-7">
        22.05.2023
        <a href="https://www.retromaniacmagazine.com/2023/05/impresiones-con-murtop-cuando-dig-dug-y.html"><h3>Impresiones con Murtop. Cuando Dig Dug y Bomberman se dan la mano</h3></a>
    </div>
</div>

<h2>Abril 2023</h2>

<div class="row">
    <div class="col-md-5">
        <a href="https://www.retromaniacmagazine.com/2023/04/impresiones-con-astronite-el.html">{% include 'components/image.twig' with {'src': '/uploads/retromaniac/astronite.jpg', 'alt': 'Astronite', 'position': 'center'} %}</a>
    </div>
    <div class="col-md-7">
        05.04.2023
        <a href="https://www.retromaniacmagazine.com/2023/04/impresiones-con-astronite-el.html"><h3>Impresiones con Astronite; el metroidvania patrio de 1 bit</h3></a>
    </div>
</div>

<h2>Marzo 2023</h2>

<div class="row">
    <div class="col-md-5">
        <a href="https://www.retromaniacmagazine.com/2023/03/impresiones-con-pixel-cup-soccer-futbol.html">{% include 'components/image.twig' with {'src': '/uploads/retromaniac/pixel-cup-soccer.jpg', 'alt': 'Pixel Cup Soccer', 'position': 'center'} %}</a>
    </div>
    <div class="col-md-7">
        06.03.2023
        <a href="https://www.retromaniacmagazine.com/2023/03/impresiones-con-pixel-cup-soccer-futbol.html"><h3>Impresiones con Pixel Cup Soccer; fútbol arcade, pero también con profundidad</h3></a>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <a href="https://www.retromaniacmagazine.com/2023/03/analisis-de-anniversary-wonder-boy.html">{% include 'components/image.twig' with {'src': '/uploads/retromaniac/anniversary-wonder-boy-collection.jpg', 'alt': 'Anniversary Wonder Boy Collection', 'position': 'center'} %}</a>
    </div>
    <div class="col-md-7">
        02.03.2023
        <a href="https://www.retromaniacmagazine.com/2023/03/analisis-de-anniversary-wonder-boy.html"><h3>Impresiones con Anniversary Wonder Boy Collection; la colección definitiva de la saga</h3></a>
    </div>
</div>

<h2>Febrero 2023</h2>

<div class="row">
    <div class="col-md-5">
        <a href="https://www.retromaniacmagazine.com/2023/02/analisis-de-wings-of-bluestar-shootem.html">{% include 'components/image.twig' with {'src': '/uploads/retromaniac/wings-of-bluestar.jpg', 'alt': 'Wings Of Bluestar', 'position': 'center'} %}</a>
    </div>
    <div class="col-md-7">
        06.02.2023
        <a href="https://www.retromaniacmagazine.com/2023/02/analisis-de-wings-of-bluestar-shootem.html"><h3>Análisis de Wings of Bluestar, shoot'em up bullet hell de desplazamiento lateral</h3></a>
    </div>
</div>

<h2>Noviembre 2022</h2>

<div class="row">
    <div class="col-md-5">
        <a href="https://www.retromaniacmagazine.com/2022/11/analisis-de-super-woden-gp-arcade-de.html">{% include 'components/image.twig' with {'src': '/uploads/retromaniac/super-woden-gp.jpg', 'alt': 'Super Woden GP', 'position': 'center'} %}</a>
    </div>
    <div class="col-md-7">
        23.11.2022
        <a href="https://www.retromaniacmagazine.com/2022/11/analisis-de-super-woden-gp-arcade-de.html"><h3>Análisis de Super Woden GP; arcade de conducción a la vieja usanza</h3></a>
    </div>
</div>

<h2>Abril 2022</h2>

<div class="row">
    <div class="col-md-5">
        <a href="https://www.retromaniacmagazine.com/2022/04/40-aniversario-sinclair-zx-spectrum.html">{% include 'components/image.twig' with {'src': '/uploads/retromaniac/40-aniversario-sinclair-zx-spectrum.jpg', 'alt': '40 aniversario Sinclair ZX Spectrum', 'position': 'center'} %}</a>
    </div>
    <div class="col-md-7">
        24.04.2022
        <a href="https://www.retromaniacmagazine.com/2022/04/40-aniversario-sinclair-zx-spectrum.html"><h3>40 aniversario Sinclair ZX Spectrum</h3></a>
    </div>
</div>
