---
layout: post
title: "Juegos: Super Mario Galaxy (Wii)"
summary: "Estamos ante un juego que marcará historia y que, probablemente, lo esté haciendo desde el mismo momento de su lanzamiento. Desde luego, para mí lo ha sido. Ha sido el primer juego de Mario para una consola que me he comprado el día de su salida."
header_image: /uploads/2008/02/super-mario-galaxy-urmrgay.jpg
main_image: /uploads/2008/02/super-mario-galaxy-urmrgay.jpg
tags: [análisis videojuegos, nintendo, super mario, wii]
widgets: [now-playing]

---
<p>Estamos ante un juego que marcará historia y que, probablemente, lo esté haciendo desde el mismo momento de su lanzamiento. Desde luego, para mí lo ha sido. Ha sido el primer juego de Mario para una consola que me he comprado el día de su salida.</p>

<p>Tras unos días de espera, mientras me terminaba el Resident Evil 4 para Wii, por fin le hinqué el diente. La verdad es que me esperaba bastante, porque todo el mundo estaba poniendo al juego por las nubes. Y no me defraudó en absoluto.</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/02/super-mario-galaxy-urmrgay.jpg', 'alt': '', 'position': 'center'} %}
<p>Desde el primer momento hasta el enemigo final, parece mentira, pero Nintendo ha conseguido dar una vuelta de tuercas más a los plataformas tridimensionales, que ya se encargaron de redefinir con Mario 64 (juego de lanzamiento de Nintendo 64 que era tan bueno que condicionó en gran medida todos los proyectos similares que se completaron y cancelaron para aquella consola). Parecía que estaba todo inventado, pero jugar con la gravedad y con escenarios esféricos añade un punto más de diversión.</p>

<p>El control con el mando de Wii y el nunchuck me parece perfecto. El hecho de no tener que mantener las manos juntas para jugar es una ventaja y una comodidad, al menos para mí. Realmente con 4 botones controlamos todas las posibilidades, que son muchas. Una vez llevemos un rato jugando, el manejo es tan intuitivo que nos olvidaremos por completo de los mandos y estaremos sumergidos en un mundo esférico tridimensional.</p>

<p>En su contra, qué puedo decir. Aunque para mí hoy en día no es tampoco un defecto imperdonable (ya que no dispongo de demasiado tiempo para jugar), sí he de reconocer que el juego es fácil. Apenas hay puzzles que te hagan estrujarte los sesos y los "jefes finales" son bastante fáciles de batir.</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/02/galaxy-8-5b060907-5d.jpg', 'alt': '', 'position': 'center'} %}
<p>Es un juego que no puede faltar en la estantería de cualquier amante de los juegos de plataformas. Su longitud es bastante interesante (calculo que habré tardado unas 20 horas a ojo en obtener 120 estrellas) y también es rejugable (no voy a contar cómo para no estropear la sorpresa, aunque se trata de un secreto a voces en Internet).</p>
