---
layout: post
title: "Mi escritorio de casa y el del trabajo"
summary: "Ahora que ya lo tengo más o menos organizado como quería, es el momento de mostrar mi escritorio de casa, y hacer una comparación con el del trabajo."
header_image: /uploads/2008/02/2217793568-f86d967671.jpg
main_image: /uploads/2008/02/2217793568-f86d967671.jpg
tags: [personal]

---
<p>Ahora que ya lo tengo más o menos organizado como quería, es el momento de mostrar mi escritorio de casa, y hacer una comparación con el del trabajo.</p>

<p>Éste es el de casa:</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/02/2217793568-f86d967671.jpg', 'alt': '', 'position': 'center'} %}
<p>Y éste es el del trabajo:</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/02/2263652954-f20dbd8c6f.jpg', 'alt': '', 'position': 'center'} %}
<p>¿Qué os parecen? La verdad es que me gustaría tener uno como el de casa en el trabajo, con los altavoces para escuchar música y las pijaditas (como la lámpara de lava y esas cosas), pero no es plan (aparte de que ya me ha desaparecido alguna cosa de encima de la mesa.</p>

<p>¿Os animáis a poner alguna foto de los vuestros?</p>
