---
layout: post
title: "Recableando la colección"
summary: "Ahora que la colección de retroinformática (ordenadores y consolas) está más o menos acabada, para lo que quería tener, es momento de tener todo el material bien clasificado, ordenado, limpio y, sobre todo, en orden de marcha."
header_image: /uploads/2008/05/img-0005.jpg
main_image: /uploads/2008/05/img-0005.jpg
tags: [videojuegos,electrónica]

---
<p>Ahora que la colección de retroinformática (ordenadores y consolas) está más o menos acabada, para lo que quería tener, es momento de tener todo el material bien clasificado, ordenado, limpio y, sobre todo, en orden de marcha.</p>

<p>Uno de los temas importantes en los que quiero incidir es el cableado. Hay una diferencia abismal entre ver un equipo conectado por Vídeo Compuesto y verlo por RGB. No digamos ya usar Vídeo por Componentes, aunque ninguna de las máquinas antiguas permiten esta opción.</p>

<p>He comenzado por el ZX Spectrum. Si bien ya tenía un cable RGB, era demasiado largo y las soldaduras no estaban muy finas que digamos. El esquema es el siguiente:</p>
<ul><li><a href="http://www.speccy.org/magazinezx/index.php?revista=3&seccion=5">Cable RGB para Spectrum +2A/B y +3</a></li>
</ul><p>En las fotografías que muestro a continuación se ve cómo luce el Spectrum +2A en el monitor TFT:</p>

<p>Primero, el chiringuito completo.</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/05/img-0005.jpg', 'alt': '', 'position': 'center'} %}
<p>Una vista de la pantalla.</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/05/img-0006.jpg', 'alt': '', 'position': 'center'} %}
<p>Detalle.</p>
{% include 'components/image.twig' with {'src': '/uploads/2008/05/img-0011.jpg', 'alt': '', 'position': 'center'} %}
<p>Aquí está la lista de montajes (que iré actualizando) y que voy a usar para dotar de conectividad RGB a todos los equipos que pueda ya que, por ejemplo, Nintendo64 no permite usar vídeo RGB:</p>
<ul><li><a href="http://members.optusnet.com.au/eviltim/gamescart/gamescart.htm#megamstr">Cable RGB para Sega Master System/Megadrive</a></li>
<li><a href="http://www.mmmonkey.co.uk/console/sega/md-stereo-scart.htm">Cable RGB y sonido estéreo para Megadrive/NeoGeo</a></li>
</ul>
