---
layout: post
title: "Conciertos: John McLaughlin y Spyro Gyra (Viajazz 2008)"
summary: "Me está costando empezar esta entrada, porque quiero contar muchas cosas y no sé cómo estructurarlo todo. Así que, como se suele decir, empezaré por el principio."
header_image: /uploads/2008/07/2658870970-6dc6c4f104.jpg
main_image: /uploads/2008/07/2658870970-6dc6c4f104.jpg
tags: [música,jazz,personal]

---
<p>Me está costando empezar esta entrada, porque quiero contar muchas cosas y no sé cómo estructurarlo todo. Así que, como se suele decir, empezaré por el principio.</p>

<p>Por resumir la historia y no resultar demasiado ñoño, allá por el año 1996, cuando todavía trabajaba en la orquesta, mi gran amigo y mejor batería, Carlos, me dejó una cinta de cassette que contenía, en cada cara, un disco de unos tales <a href="http://www.spyrogyra.com/">Spyro Gyra</a>. Fue "amor a primera escucha". Llegué a romper aquella cinta de tanto ponerla. Desde entonces, no he dejado de comprar sus discos. Tengo todos los que se han publicado en España (que yo sepa), y cada disco que sacan (suelen publicar uno por año) voy a comprarlo sin dudarlo.</p>

<p>Spyro Gyra son un grupo norteamericano de jazz fusión (o smooth jazz, como lo califican otras personas) que llevan tocando desde mediados de los años setenta. De la formación original, sólo perduran Jay Beckenstein y Tom Schuman. No obstante, pese a la evolución lógica que han tenido desde sus comienzos hasta la actualidad, me gustan todos y cada uno de los discos. Alguno de ellos, como Road Scholars, no me canso de escucharlos (de hecho, ese disco en concreto está rayado de tanto ponerlo en el coche).</p>

{% include 'components/image.twig' with {'src': '/uploads/2008/07/2658870970-6dc6c4f104.jpg', 'alt': 'Spyro Gyra en ViaJazz 2008', 'position': 'center'} %}

<p>Periódicamente he seguido su página web, donde publican las fechas de sus conciertos, para ver si se acercaban por España, pero siempre ha sido en vano... hasta este año. Os podéis imaginar la emoción al enterarme, a través de Juan Pedro, otro gran amigo, de que iban a actuar el 10 de julio en Villalba. Desde que supimos la fecha, estábamos impacientes por saber cuándo se iban a poner a la venta las entradas. Desde luego que no estábamos dispuestos a perdernos la ocasión. El precio de las mismas, 25€, no es demasiado alto (teniendo en cuenta, por ejemplo, que este año las entradas de los conciertos de julio en Conde Duque, a los que llevamos años siendo asiduos, rondan los 60€.</p>

<p>Antes del plato fuerte, al menos para mí, actuó John McLaughlin, en formación de cuarteto, con batería, bajo y teclados. Aunque está claro que también son unos virtuosos, la música que hicieron me resultó demasiado "dura", y no me gustó demasiado (al menos como para escucharla en casa, si bien sí que disfruté de ella).</p>

<p>La verdad es que soy incapaz de describir cómo me sentí durante el concierto. Escucho su música casi a diario, conozco todas sus canciones, así que era como escuchar la banda sonora de mi vida interpretada por sus autores originales. Un lujo. El repertorio se ciñó prácticamente a su último disco. La actuación comenzó con Jam Up y siguió con Get Busy y Simple Pleasures. Terminaron con dos bises, Daddy's Got A New Girl Now y no recuerdo la otra (qué rabia).</p>

<p>La hora y media de música supo a muy poco, pero lo más increíble estaba por llegar. Tras acabar el concierto, y después de un rato "revoloteando" por allí, los componentes del grupo volvieron a salir. Scott Ambush se sentó al borde del escenario y se puso a hablar con todos los que estábamos allí. ¡Son personas normales! De hecho, mejores músicos y más sencillos que muchos de los "artistas" que vemos por la tele y en los medios de comunicación.</p>

<p>Me puede traer el disco que más me gusta, Road Scholars, firmado por ellos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2008/07/img-0146.jpg', 'alt': 'Road Scholars dedicado por mi grupo favorito', 'position': 'center'} %}

<p>Para terminar, aquí está el <a href="https://photos.app.goo.gl/oEbvQ1FbokDPYcRM9" title="Viajazz 2018">album de fotos del concierto</a>, así como algunos vídeos:</p>

<div class="embed-responsive embed-responsive-4by3"><iframe width="560" height="315" src="https://www.youtube.com/embed/?listType=playlist&list=PLF5F8FA830427D213" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
