---
layout: post
title: "San Silvestre Las Rozas 2015"
summary: "Otro año que acaba y otro año que despedimos corriendo. En nuestro caso es una tradición que arrancó en 2011 y, por tanto, es la quinta vez que lo hacemos. Tras las tres primeras experiencias, muy gratas, corriendo la San Silvestre Vallecana, el año pasado ya optamos por un plan alternativo, corriendo en el Circuito del Jarama. Y, como ya anticipaba en aquella ocasión, esta vez no hemos repetido, sino que hemos optado por una de las carreras matinales que se celebran el 31 de diciembre en algunos de los municipios cercanos a Madrid."
header_image: /uploads/2015/12/sslasrozas.jpg
main_image: /uploads/2015/12/sslasrozas.jpg
text_date: Jueves, 31 de diciembre de 2015
tags: [carreras,personal]

---
<p>Otro año que acaba y otro año que despedimos corriendo. En nuestro caso es una tradición que arrancó en 2011 y, por tanto, es la quinta vez que lo hacemos. Tras las tres primeras experiencias, muy gratas, corriendo la <a href="https://www.sansilvestrevallecana.com/">San Silvestre Vallecana</a>, el año pasado ya optamos por un plan alternativo, <a href="/2014/12/i-san-silvestre-del-jarama-2014.html">corriendo en el Circuito del Jarama</a>. Y, como ya anticipaba en aquella ocasión, esta vez no hemos repetido, sino que hemos optado por una de las carreras matinales que se celebran el 31 de diciembre en algunos de los municipios cercanos a Madrid.</p>

{% include 'components/image.twig' with {'src': '/uploads/2015/12/sslasrozas.jpg" width="600', 'alt': '', 'position': 'center'} %}

<p>La mañana ha amanecido que no sabíamos si ir a correr o coger bañador, crema bronceadora y pasarnos por la playa. Como ya teníamos pagados los dorsales, hemos optado por la carrera. Y parece que no éramos los únicos locos que íbamos a despedir el año corriendo y un poco pasados por agua, con lo bien que se estaba en la camita calentitos.</p>

{% include 'components/image.twig' with {'src': '/uploads/2015/12/dorsalessslasrozas.jpg" width="400', 'alt': '', 'position': 'center'} %}

<p>En cuanto a la carrera en sí, la verdad es que nos ha gustado bastante. El <a href="https://www.endomondo.com/users/1888854/workouts/latest">recorrido</a> es variado, saliendo del recinto ferial, atravesando el centro del pueblo y terminando corriendo por el pinar. La verdad es que ha estado chulo y había algo de ambiente al atravesar el centro, lo cual no está mal teniendo en cuenta lo desapacible de la mañana. También es un detalle que gusta terminar la carrera en la pista de atletismo, como si de unos profesionales se tratase.</p>

<p>Respecto a la organización, todo muy bien salvo por el pequeño detalle que no repartieron las camisetas con la bolsa del corredor, sino que las han dado hoy a la llegada a meta. Aparte de la lógica aglomeración de gente, la talla S ya se había acabado, cuando supuestamente la habíamos reservado al hacer la inscripción. Pero nada grave.</p>

<p>Como sabéis, el objetivo de mi mujer es terminar la carrera, y el mío, acompañarla. Así que el tiempo 1h03'48" (a expensas de la clasificación oficial) es más una anécdota que otra cosa.</p>

<p>¡Feliz 2016 a todos!</p>
